[2018-01-29 12:27] deadeert commented on #407
Will try this today. Thanks

[2018-01-30 06:17] iromise opened #410 "find_fake_chunk and malloc_chunk bug with chunksize 0x7f or similar size"
### Description
When I am using find_fake_chunk and malloc_chunk nearby malloc_hook, i just get the following error

[code]

### Steps to reproduce
Use any dynamic linked binary with heap action, and remember the chunk size should be 0x7f or similar size.

### My setup

ldd (Ubuntu GLIBC 2.23-0ubuntu10) 2.23

### bug location(maybe)
I think it is because the size of chunk near malloc_hook is 0x7f

[2018-01-31 19:27] zachriggle opened #411 "GDB 8.1 Improvements"
It looks like there are some goodies, particularly “starti” and “ptype” offsets.

https://sourceware.org/ml/gdb/2018-01/msg00026.html

[2018-01-31 21:24] disconnect3d commented on #411
Is this issue about using `starti` for `entry` (`start`) commands?
What about `ptype`? Use `dt` as an alias for `ptype`?

I mean, for GDB>=8.1 ofc

[2018-02-01 15:32] disconnect3d commented on #407
Closing as this should be the solution.

[2018-02-01 15:32] #407 closed, assigned to nobody

[2018-02-01 16:46] carstein opened #412 "utf8 decoding error"
### Description
Context is not correctly displayed due to utf8 decoding error.

Traceback (most recent call last):
  File "/home/carstein/Tools/pwndbg/pwndbg/commands/__init__.py", line 109, in __call__
    return self.function(*args, **kwargs)
  File "/home/carstein/Tools/pwndbg/pwndbg/commands/__init__.py", line 200, in _OnlyWhenRunning
    return function(*a, **kw)
  File "/home/carstein/Tools/

[2018-02-01 16:49] anthraxx commented on #412
Python2 is a bitch, you will need to set proper utf8 LC types, there is a hint somewhere what needs to be done

[2018-02-01 16:52] disconnect3d commented on #412
@anthraxx you probably meant this:
https://github.com/pwndbg/pwndbg/blob/6a1fdb282ed34fd7c6579b16ea111a8a11de226d/gdbinit.py#L23-L34

@carstein can u check if that's the issue?

[2018-02-01 16:53] carstein commented on #412
Hey, if you are talking about launching it via:
$ LC_ALL=en_US.UTF-8 PYTHONIOENCODING=UTF-8 /opt/bin/gdb
tried, does not help

[2018-02-01 16:56] anthraxx commented on #412
Are you sure it's enabled in locals and locals were regenerated afterwards? Try exporting the env vars instead, before calling gdb.
Also try setting LC_CTYPE via export.
Try playing around in your environment if Python2 can't use utf8 then it's én environmental issue.

[2018-02-01 17:05] carstein commented on #412
Checked locales and reganeration before
python is able to use utf8 (tested)
[code]

I've started looking into the code more closely and it is interesting in a sense, that pwndbg is able to construct half of the banner for registers
but fails on the second part (after [ REGISTERS]) in ```colored/__init__.py```
52: banner = ljust_colored(banner, width, str(config.banner_separator))

So, rjust_colore

[2018-02-01 17:11] anthraxx commented on #412
Nice info, not so much if my theory is correct. Let me test some things and great a PR, if my theory fails we are back at investigating 😄

[2018-02-01 17:20] disconnect3d commented on #412
@anthraxx that's an issue on our side, investigating too :P

[2018-02-01 17:21] anthraxx commented on #412
It's a possibly half consumed sequence of bytes, already on it 😉

[2018-02-01 17:33] anthraxx commented on #412
So Python2 configuration values do not guarantee the type, therefor returning a raw string with Unicode sequence will result in being splitted wrongly in between the sequence instead of logically per character like python3 or Python2 with correct decoded unicode type.
I will test my work around and submit a temporary PR until the Parameter configuration type thingies in #404 land in the tree, they

[2018-02-01 17:36] disconnect3d commented on #368
Btw the length of display is controlled by `pwndbg/__init__.py:set print elements 15`

I think 15 is way too low, it is a bit annoying sometimes BUT we do it a bit on purpose not to overextend the screen (e.g. go to another line).

We should probably set it to something bigger like 100 or 200 and when we display something in our UI, truncate the strings on our own (if needed).

[2018-02-01 17:42] disconnect3d commented on #406
@br0ns Hey, thx for reporting the issue and sry for so long reply.

All the regs are specified here:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/regs.py#L109-L110

So... for x29 and x30 we have to change `range(29)` to `range(31)`, for the rest, just add them?

Would you mind sending a PR that would fix that?

[2018-02-01 19:37] zachriggle commented on #406
@bruce30262 see the above comment <-- @disconnect3d mentioned @br0ns by accident

I would prefer that the $FP register is hidden behind a setting similar to $EFLAGS and $LR register:

https://github.com/pwndbg/pwndbg/blob/869e8320e123f4fe2d039a31c12ee8c7be7a54d3/pwndbg/commands/context.py#L107-L108

[2018-02-01 19:40] zachriggle commented on #368
I agree that it would be nice to display strings as long as possible without wrapping, but I'm not sure how to implement it gracefully.

[2018-02-01 20:01] zachriggle opened #414 "Pwndbg Bugreport"
It would be useful if Pwndbg could generate a bugreport on its own.  This would give users something nice to copy-paste into the bug-report.
Included information might include:

- Pwndbg commit or release
  - Since installation requires `git`, we should be able to `git -C log -1 --oneline`
  - Find install directory via `os.path.dirname(pwndbg.__file__)`
- GDB version
  - Get path via `os.readlink

[2018-02-01 20:16] zachriggle opened #415 "ANSI Colors, Strings, String Lengths"
It looks like we've done some work where we are concerned about the display-width of a string that is colored with escape codes.

I suggest that rather than dealing with this via `colored_ljust` or similar, that we should just declare a subclass which is returned by all of the colorizing tools.

This would also add some flexibility for future stuff.  Consider something like the snippet below (usin

[2018-02-01 20:19] zachriggle commented on #411
More or less, yes.  If the GDB version is high enough, we should use `starti` instead of the current `start` logic which attempts to find the "real" entry point.

For `dt` specifically, I'm not sure.  The current format mimics the actual `dt` format used by Windbg.  I haven't seen the `8.1` output with offsets, so I don't know what it looks like.

[2018-02-01 21:19] anthraxx commented on #415
sure we can do a base class, but ljust does more then just formatting, it padds an arbitrary lenghed string to a very max of a given length (f.e. very useful for banner length adjustment or orher things).
Also in my humble opinion we have several cases where we have nested colors and i don't see why we should break that just because of the sake of doing it differently.

[2018-02-01 21:40] zachriggle commented on #415
This describes `str.ljust` pretty well.  Why aren't we just using `str.ljust`?

[code]

It looks like the only case that matters is using more than one character, which we don't actually need anywhere (e.g. `'x'.ljust(30, 'yz')`)

Perhaps I misunderstood the purpose, and also now I can't find the issues / PR that had the ANSI length considerations.

[2018-02-01 21:49] disconnect3d commented on #415
@zachriggle the problem is there with colored/escaped things e.g.:
[code]

[2018-02-01 22:14] zachriggle commented on #415
Yep, thus the suggestion to implement a class that does this ~= transparently.

We'll have to override / wrap a few methods which strip type information, e.g. `ljust`.

[code]

[2018-02-01 23:04] anthraxx commented on #415
Again: it doesn't work with arbitrary lengthed optional padding strings. Like if you want to pad a possible 3 character padding to a max of 8 you will get a string with length of 6. This doesn't work to keep a fixed length required for correct line length and. Columns alignment it just works for single characters

[2018-02-01 23:20] zachriggle commented on #415
Also TIL about https://github.com/jonathaneunice/colors/ (`pip install ansicolors`)

[2018-02-02 03:22] bruce30262 commented on #406
@disconnect3d  in Aarch64 x30 = LR, which is already shown in the context, so we only have to show x29.
However I'm not sure if I use
[code]
or use
[code]
to show x29. I've tested both code and the result looks the same. I prefer the latter though.

@zachriggle According to line [114~117 in context.py](https://github.com/pwndbg/pwndbg/blob/869e8320e123f4fe2d039a31c12ee8c7be7a54d3/pwndbg/commands/c

[2018-02-02 03:32] disconnect3d commented on #406
I am not into aarch64 but:

seems more verbose to me so I am fine with that.

Its a new github feature, if you paste a link to proper file with some code lines as a parameter, it will render it as a code. E.g. @zachriggle's post contains this link:
[code]

[2018-02-02 06:35] anthraxx commented on #415
There is also colorama https://pypi.python.org/pypi/colorama
Anyway, we need a wrapper around configs of ours, we shall never reference colors explicitly ever, but reference configuration keys that pull in the colors, either named features like nearpc or output types like warn. So we should never directly use those in the code anyway.

[2018-02-02 06:52] bruce30262 commented on #406
@disconnect3d  @zachriggle  I've created a [PR](https://github.com/pwndbg/pwndbg/pull/418), please take a look.

[2018-02-02 07:07] anthraxx commented on #415
I feel like i'm the theme/color guy :joy_cat: ... so gonna hack together a PR that we can use as a base for such cases aware of better formatting string stuff, proper multi char ljust, colored len aware and nesting like we already support and consums configs instead of hard enforced colors.
You can assign me this issue if you like

[2018-02-02 08:56] disconnect3d commented on #406
Fixed in #418 by @bruce30262 , thx :heart:

[2018-02-02 08:56] #406 closed, assigned to nobody

[2018-02-02 08:58] #412 closed, assigned to anthraxx

[2018-02-02 18:46] zachriggle commented on #406
This should be gated by a configuration point, `show-retaddr-reg`

[2018-02-03 05:52] bruce30262 commented on #406
@zachriggle yes, I forgot to mention I've enable the config to always show the LR register :P

[2018-02-17 12:13] mdebski commented on #387
Hi,

may I ask why did you close it? I believe this is a valid feature request. In fact I just started exploring on how this could be implemented.

[2018-02-17 12:14] disconnect3d commented on #387
@mdebski idk, reopening!

[2018-02-20 17:01] OranShuster opened #419 "Showing disasm code lines before the current line?"
First of all i need to say that this made my gdb interaction much MUCH more pleasant and you have my infinite thanks.

Now, went over the ```config``` and issues and couldn't find how to start the ```nearpc``` (disasm) view to start *before* the current code line
Many time you get to a breakpoint and you really want to know what happened in the immediate past
Is this possible or is this a feature

[2018-02-20 18:13] zachriggle commented on #419
Not linearly.

When stepping through, Pwndbg will remember the "previous" instruction for every given instruction, and display those.

Reverse-disassembling from an arbitrary point is difficult because:

* Those instructions may not have been executed (e.g. we jumped to `$pc`)
* Variable-width architectures (e.g. Intel) may result in us showing the wrong instructions

This is probably something we

[2018-02-21 13:53] OranShuster commented on #419
I just came here to clarify that i see that this only does that for certain situations

So i have 3 questions-
1.Assuming we set a breakpoint and ```continued``` to it, this is not equivalent to "fast stepping" through them?
2. Reverse-disassembling should be simpler if debug symbols are available?
3. the only reason i asked for this is that "vanilla" gdb does this. for instance, in its "graphical

[2018-02-21 22:13] zachriggle commented on #419
Landing on a breakpoint, Pwndbg has no idea what was executed before the instruction it landed on (unless it's landed there before, via single-stepping).  No, this is not equivalent to single-stepping.

Reverse-disassembling is not any easier with symbols, unfortunately.  Symbol information does not encode instruction boundaries.

If you can find the code of how vanilla GDB handles this, I'd love

[2018-02-22 21:49] mdebski commented on #387
Added initial support in #420. It only works if program is compiled with -lpthread, as otherwise gdb cannot access thread-local variables. I don't know yet how tls works without pthread (tcache is still enabled), will look into this.

[2018-02-26 18:34] Eterna1 opened #424 "Command bins is not working properly"
### Description

Hello, this commit [6a640e8](https://github.com/pwndbg/pwndbg/commit/6a640e8ff29d4bdb957008b552621d894557e291
) has broken down `bins` command.

### Steps to reproduce

Here is the simple test:

[code]

Set beakpoint on `foo` function and when it has been hit, type `bins` command.
Here is the result of the command after this commit: [pastebin](https://pastebin.com/v5ETCFL1)
Here i

[2018-02-28 13:49] Eterna1 commented on #424
Can this commit be just reverted ?

[2018-03-01 18:01] disconnect3d commented on #424
@Eterna1 It could be, for a hotfix, if the issue happened on stable branch, but it appears only on dev (so, as a dev, one can revert it by themselves - if you really need a working dev version).

Lets aim for fixing this, as the idea of the changes is fine.

[2018-03-01 18:01] disconnect3d commented on #424
@AlexAltea would you be willing to help with that?

[2018-03-02 11:16] AlexAltea commented on #424
I'm not familiar with the `bins` command. What exactly is the issue here? According to your snippets it seems as if my commit caused `smallbins` and `largebins` to be non-empty and `unsortedbin` to contain a different value in `all`. I don't even grasp why would my patch change that behavior.

@disconnect3d If this is my commit's fault, then I'd definitely try to debug and fix it myself, starting

[2018-03-04 10:37] disconnect3d commented on #424
@AlexAltea I am not sure if that's ur fault but it seems like so :s

I really need to prepare myself a setup for working with heap stuff...

[2018-03-09 14:04] cebrusfs commented on #398
Both issues are fixed by #404 so close this issue.

[2018-03-09 14:04] #398 closed, assigned to nobody

[2018-03-09 14:12] cebrusfs commented on #264
#369 support the basic functions for bare metal and #385 recover the page information from ELF and use them for de-reference.
The remaining problem is the thumb supporting on $xspr and $cspr, but I don't have time/plan to fix it in short time. I think it is better to let people who are interested to do that?

[2018-03-12 11:14] reyammer opened #425 "pwndbg gets stuck when executing gdbscripts/commands that contain continue"
### Description

When defining (and exec) commands that contain a "continue", pwndbg gets stuck (while vanilla gdb does not). Here is a test case.

Consider this simple program:
[code]

Consider this simple gdb script:
[code]

Current result: when foo is called and the breakpoint is hit, pwndbg gets stuck beyond recovery (and the program's execution is not resumed).

Expected result: I would expec

[2018-03-14 15:17] motazreda commented on #387
@mdebski sorry for closing it, my bad maybe by mistake :), and really thanks for the implementation

but a small question, are you sure that it works if the code compiled with lpthread ?
to be honest, I am not sure but I think it works by default without adding -lpthread option.

[2018-03-15 13:15] J-Phi1123 opened #426 "ida.py inside pwndbg crashes spectacularly when you are using Fiddler proxy (127.0.0.1:888)"
### Description

While running Fiddler and pwndbg simultaneously, ida.py makes a call to an RPC within ida and tries to connect at 127.0.0.1:8888. Fiddler accepts the connection and returns a Fiddler error which causes pwndbg to crash.

### Steps to reproduce

Start Fiddler and run gdb.
Watch Fiddler call out to 127.0.0.1:8888 /RPC2
*** Crash ****

The crash is happening within ida.py, line 57 _id

[2018-03-16 08:11] Bluekezhou opened #427 "bug of function get_load_segment_info in readelf.py"
when I got readelf result like below
[code]
the function crashed at line 65
[code]
the reason is in the regex format
[code]
I mean, "0x" should not a absolute prefix of align number

[2018-03-19 10:03] Bluekezhou opened #428 "command ez crashed in the newest dev version"
when I tried to write a string into memory, I got two crashed errors
[code]
It seems that the data should be encoded with UTF-8 encoding format.

Here is my system version,
[code]

[2018-03-20 17:33] disconnect3d opened #429 "Pwndbg failing with GDB using language different than English"
### Description

After installing pwndbg with a GDB that uses Spanish language we do fail on detecting whether `osabi` is Linux.

This happens after launching GDB:
https://prnt.sc/itwf3u

And this is the return of `show osabi` for GDB with spanish language:
[code]

This is the code responsible for failure:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/abi.py#L127-L140

[2018-03-20 17:48] disconnect3d commented on #429
The proper way to retrieve this should be `gdb.parameter('osabi')` but unfortunately when a GDB parameter has a default value, the Python API returns an empty string.

This is already a known bug for GDB for 7 years, ... :
https://sourceware.org/bugzilla/show_bug.cgi?id=12188

[2018-03-23 18:39] #429 closed, assigned to disconnect3d

[2018-03-24 17:42] disconnect3d commented on #428
Thanks a lot for reporting this issue. It should be fixed by https://github.com/pwndbg/pwndbg/pull/432

[2018-03-24 18:13] #428 closed, assigned to disconnect3d

[2018-03-24 18:20] disconnect3d commented on #427
Hey, thanks for reporting this bug!

For me it happens only on machine with GDB with Py2 (but its probably unrelated to Py version, see below):

Launched on `/bin/ls` binary:
[code]

[2018-03-24 18:29] disconnect3d commented on #427
To clarify the bug report even further, the bug comes from the fact that the `Align` value presented in `readelf ...` output doesn't always have a prefix of `0x`.

Example output for two different readelf versions can be seen below (`#` is a comment):

[code]

The regex in our code matches the second line of the presented outputs.

[2018-03-24 18:51] #427 closed, assigned to disconnect3d

[2018-03-24 18:52] disconnect3d commented on #427
The pointed out issue has been fixed by https://github.com/pwndbg/pwndbg/pull/433 ; but I have found another issue that relates strictly to binaries without PIE. Gonna open another issue.

[2018-03-24 19:03] disconnect3d opened #434 "xinfo command doesn't show File(Disk) info on non-PIE binaries"
### Description

The comparison done between `rva` and `segment["VirtAddr"]` shown below is not good for targets compiled without PIE: https://github.com/pwndbg/pwndbg/blob/c0755b9616de497e3ce863093e8e089aa412c847/pwndbg/commands/xinfo.py#L63-L72

To sum up my findings - for the first segment which is the interesting one:
* `rva` is a subtraction of passed address and the objfile first page
* on P

[2018-03-25 10:32] mak commented on #424
So the difference now is that `chain.get` pushes address before checking a `hard_stop` limit in the past was the other way around and since bins are initialized with their corresponding address  loop was terminated returning empty list

if current semantics of `chain.get` is preferable then easy fix will be to check value in bins before resolving a chain, or add a flag to `chain.get` that wont app

[2018-03-25 11:29] mak commented on #410
Actually there was another but `heap.global_max_fast` was returning an address instead of value.
Checking for `non_main_arena` is not a bug, its a proper behavior for normal chunk, there should be a way to signal that chunk is not normal so this path can be skipped

[2018-03-25 15:05] iromise commented on #410
yeah, we just need some check.

[2018-03-26 12:05] veritas501 commented on #424
try this patch for `get` in `pwndbg/chain.py`

[code]

[2018-04-02 15:54] ripples-alive opened #436 "command eX crashed in the newest dev version"
### Description

When I tried to write some value into memory, I got crashed errors.

[code]

Seems it's related to PR #432 .
`data` is already bytes (generated by `codecs.decode`), except in `ez` command.

[2018-04-03 15:37] disconnect3d commented on #436
Hey,

Thanks for reporting this. Seems this issue was made by my last patch.
Let me fix that soon.

[2018-04-03 16:05] #436 closed, assigned to disconnect3d

[2018-04-04 01:27] iromise commented on #410
As it is fixed, closed.

[2018-04-04 01:27] #410 closed, assigned to nobody

[2018-04-10 15:10] deadly-platypus opened #438 "pwndbg cannot show source when debugging Linux kernel"
### Description

When debugging the kernel through QEMU's remote gdbserver, `pwndbg` cannot show the source, but only the disassembly.  However, vanilla gdb has no problem displaying the source while debugging.  In fact, if I start a remote debugging session, and then hit <Ctrl+2>, I can see the source.

### Steps to reproduce

1. Start QEMU as a gdbserver:
[code]

2. Start gdb with the `vmlinux`

[2018-04-10 15:12] disconnect3d commented on #438
Hey, thanks for the bug report!

@deadly-platypus could you please provide all the necessary files to launch it and have the sources?

[2018-04-10 15:15] disconnect3d commented on #426
@J-Phi1123 There are some `config` options to modify IDA RPC host/port address:
[code]

which should let you work with both the tools.

[2018-04-10 15:15] #426 closed, assigned to nobody

[2018-04-10 15:24] deadly-platypus commented on #438
Is there an email address I can send stuff to?

[2018-04-10 15:29] disconnect3d commented on #438
Can u share it publicly through some Google drive or another site like this?

On Tue, Apr 10, 2018, 10:24 PM Derrick McKee <notifications@github.com>
wrote:

[2018-04-10 15:45] deadly-platypus commented on #438
I guess listing the steps here will work.  Warning, this process will take up a lot (>4 GB, I think) of storage space.

1. Install QEMU, either from [source](https://github.com/qemu/qemu) or from your favorite package manager.

2. Build the Linux kernel with debug symbols
  a. `git clone https://github.com/torvalds/linux`
  b. `cd linux && make defconfig && make menuconfig`
  c. Ensure that `kerne

[2018-04-10 15:49] disconnect3d commented on #438
Thanks I will check it out tomorrow :)

On Tue, Apr 10, 2018, 10:45 PM Derrick McKee <notifications@github.com>
wrote:

[2018-04-17 17:39] disconnect3d commented on #438
Eh, will come back to it in some days. If osmeone else is willing to contribute, feel free to do so (if you need help, ping me on irc; [this](https://github.com/pwndbg/pwndbg/blob/dev/DEVELOPING.md) might be helpful too).

[2018-04-17 18:57] benediktwerner opened #440 "Ida Pro xmlrpc error when starting pwndbg without IDA"
I am running `pwndbg` on WSL and don't have IDA Pro installed. The latter causes an error on every startup when `pwndbg` checks for IDA Pro. This results in an error message (`[!] Ida Pro xmlrpc error`) followed by the stack trace of the causing error, which when looking at the code seems to be the intended behaviour. I feel this isn't what should be happening in this case. If I don't have IDA run

[2018-04-17 19:16] disconnect3d commented on #440
Personally I am okay with adding a config file as current version also prints out meesage each time variable is set through `.gdbinit` which might be annoying if someone changes a lot of variables.

As for 1) we could solve it by showing this traceback when `verbose-exceptions` parameter is set.

@zachriggle would you make the decision? :P

[2018-04-17 19:44] benediktwerner opened #441 "Ida Pro xmlrpc error when using pwndbg without IDA"
I am running `pwndbg` on WSL and don't have IDA Pro installed, which regularly leads to errors when pwndbg tries to connect to it. I just merged a fix that prevents pretty much all errors when IDA is disabled via `set ida-enabled off` (#439) but it's still quite bad if the option is not disabled, which is the default. Also, it's not that easy to find that option, so I feel like the behavior still

[2018-04-17 19:46] #441 closed, assigned to nobody

[2018-04-17 19:53] benediktwerner commented on #441
Fail, I somehow thought I deleted the other issue I wrote when I wanted to take another look at the problem so I opened another one, even though I actually sent it. You can just ignore this 😅

[2018-04-18 15:13] pullp opened #443 "heap don't show thread's heap"
### Description
recently I use pwndbg to dbg a program which call malloc in a thread, but after malloc, I use heap to
show the heaps and I don't see the chunk malloced by the thread, only the chunks in the main arena

### Steps to reproduce
here's the c source code
[code]

I first set a breakpoit at  `printf("11ptr: %p\n", ptr);` in threadFunc.
then run to the breakpoint
then use heap instruction,

[2018-04-29 09:21] SoWhereAreYou opened #445 "After update to glibc 2.27 the allocing of heap is strange"
I download the kali 2018.1 and directly install pwndbg
I want to test a pwn of ctf topic
It is the writeup of it
http://tacxingxing.com/2018/02/20/pwnabletw-secretgarden/
And Here is the topic named secretgarden
https://pwnable.tw/challenge/
I found i can't  use the unsorted bin to leak the address of libc
And I test the exp in my friend’s ubuntu with glibc 2.23
Everything is true
I saw the heap ，

[2018-04-30 14:44] hzshang opened #446 "Unable to debug process in docker with gdb of host"
### Description
when I attach a process in a docker using gdb of host, it shows the following errors.
However, gdb-peda works fine.

[code]

### My setup

pwndbg> version
Gdb:      GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Python:   3.5.2 (default, Nov 23 2017, 16:37:01)  [GCC 5.4.0 20160609]
Pwndbg:   1.0.0 build: 0323e76
Capstone: 4.0.1024
Unicorn:  1.0.1

[2018-04-30 19:27] disconnect3d commented on #446
@hzshang hey, thanks for reporting the issue. Would you mind looking on how to fix that?

[2018-04-30 20:35] disconnect3d commented on #446
@hzshang The `gdb attach` into binary run in a docker container **works for me** (```docker run --rm -it -v `pwd`:/task ubuntu bash``` and `sudo gdb ./a.out` - then pidof and attach).

From your stacktrace it seems that your problem comes from IDA Pro integration.
Did you use IDA Pro at that time or had some server on port 8888 (this is the port we try to connect to automatically)?

You can always

[2018-05-01 03:04] hzshang commented on #446
Thanks for support, I expose port 8888 for ncat service.  I replace the port  and it works.

Maybe it's not a bug, sorry for mistake.

[2018-05-01 21:09] disconnect3d commented on #446
Np, enjoy! ;)

[2018-05-01 21:09] #446 closed, assigned to nobody

[2018-05-02 17:36] disconnect3d commented on #445
Hey, thanks for reporting the issue.
What version of pwndbg did you try? Can you try it on last pwndbg dev branch?

[2018-05-03 09:03] disconnect3d commented on #424
@veritas501 Thx for posting the patch! In the future please use pull requests for that :P (I have missed this one somehow :/).

I am going to check whether chain/telescope functionality works fine after those changes and merge it if it works.

[2018-05-03 09:26] disconnect3d commented on #424
@veritas501 After your proposed patch the `set dereference-limit 0` -> `context` crashes.

Anyway, I have applied a fix proposed by @mak - by addding an `include_start` keyword argument to the `chain.get`. This lets us prevent adding the start address to the chain inside *bins commands.

The PR can be found here: https://github.com/pwndbg/pwndbg/pull/450

As the problem has been fixed, I am closin

[2018-05-03 09:27] #424 closed, assigned to nobody

[2018-05-03 17:02] disconnect3d commented on #443
Hey! Thanks for reporting the bug. I just have checked and indeed, there is a problem.

I am not really into the heap stuff and its implementation in pwndbg that much. Would you like to try fixing this?

[2018-05-03 17:04] disconnect3d opened #451 "Other arenas are not marked as heap (and so we color them badly)"
When looking on #443 I have noticed that vmmap colors second thread's heap memory as data instead of heap.

This can be observed on the screen below:
https://i.gyazo.com/80dc95f1bc0bb5415e4bd5f792f5d542.png

[2018-05-03 20:25] disconnect3d commented on #438
Hey, I finally got it launched. The thing is... it might require some work to make it work properly, but lets see what are the problems:

1) `ERROR: Could not find ELF base!` - this comes from `get_ehdr` which tries to find ELF magic.

2) Just on the first break, the `stack` memory page is wrong:
[code]
At start the SP register is 0 and [we read it and decrease it by 0x1000 here](https://github.co

[2018-05-03 21:17] disconnect3d commented on #425
The bug occurs only if `silent` is present in the script. I am not sure yet what does it change.

[2018-05-03 21:20] disconnect3d commented on #13
Let me leave it here: https://en.wikipedia.org/wiki/Delay_slot

[2018-05-03 21:23] disconnect3d commented on #438
Also, things described here might be helpful: https://github.com/pwndbg/pwndbg/issues/168

[2018-05-03 21:30] disconnect3d commented on #353
I guess this bug is not valid anymore so I am closing this issue. I have double checked that and IDA Pro rpc works for me.

[2018-05-03 21:30] #353 closed, assigned to nobody

[2018-05-03 21:31] disconnect3d commented on #415
@anthraxx bump :P

[2018-05-03 21:41] #391 closed, assigned to disconnect3d

[2018-05-03 21:53] disconnect3d commented on #218
I don't think so we need backups on both sides. Honestly I would rather try not to introduce local and remote config paths. If those are really needed, they can probably be figured out automatically.

[2018-05-04 06:27] Alexeyan opened #454 "When Using IDA: Exception: maximum recursion depth exceeded while calling a Python object"
### Description

While pwndbg on its own works, i tried the IDA-connection today and stumbled upon a few errors and exceptions.

[code]

First issue was that args returned `None` in this instance, which made `args.insert` fail, so i added the check to further investigate
[code]

My guess would be that pwndbg tries to disassemble at the rebased address, since the binary is a position-independent ex

[2018-05-04 06:35] disconnect3d commented on #440
@benediktwerner bump, are you going to work on that issue?

[2018-05-04 06:37] disconnect3d commented on #454
Hey,

What Python version do you use in IDA? Also, the IDA is on Windows and pwndbg on a VM, right?

Can you also provide result of `start` with `set exception-verbose on` invoked before?

[2018-05-04 06:40] Alexeyan commented on #454
Python 2.7.10 (default, Oct  6 2017, 22:29:07)
[GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.31)]
IDAPython 64-bit v1.7.0 final (serial 0) (c) The IDAPython Team <idapython@googlegroups.com>

It's actually IDA Pro on MacOS Host and pwndbg in Linux Guest
On the current dev branch:
[code]
And after fixing the result 'None'-check:
[code]

[2018-05-04 06:49] disconnect3d commented on #454
@Alexeyan Any chance to debug this together? Can you get into irc? #pwndbg on freenode

[2018-05-04 08:30] disconnect3d commented on #454
It seems the bug doesn't appear after https://github.com/pwndbg/pwndbg/pull/455

There is another problem tho: IDA might hang on decompiling `_start` for the first time. But it seems more like an IDA problem - a workaround would be to trying decompiling it manually so it caches that it cannot do it...

[2018-05-04 08:30] #454 closed, assigned to disconnect3d

[2018-05-04 09:40] disconnect3d commented on #387
The tcache support has been added by @mdebski so I am closing it. Thanks!

[2018-05-04 09:40] #387 closed, assigned to nobody

[2018-05-04 09:42] disconnect3d commented on #316
We are not going to support heap stuff when using rr for now so I am closing it.

If anyone is willing to help, feel free to reply so I can assign you to this task and reopen it.

[2018-05-04 09:42] #316 closed, assigned to nobody

[2018-05-04 13:43] benediktwerner commented on #440
Pretty sure this was fixed by #442. I just forgot to close it ;)

[2018-05-08 10:08] bruce30262 opened #460 "[Bug] pwndbg shows incorrect stack context"
### Environment
* Ubuntu Linux 16.04 64 bit
* latest version of pwndbg (`1.0.0 build: 824dd96`) (edit: add pwndbg version)

--------------------------

### Details
In some binaries, pwndbg will show the incorrect stack context, for example (sorry for not providing the testing binary, it requires a lot of settings to run this binary and the VM is pretty large) :
![1](https://user-images.githubuserc

[2018-05-09 18:45] disconnect3d commented on #460
Hey, thanks for reporting the bug!

It would be good to be able to reproduce it somehow :/. Any chance to work this out together using a TeamViewer or other screen sharing? If so, ping me at freenode irc (same nick).

Maybe it is due to caching something that shouldn't be cached. Could you check if problem exists after disabling cache? This can be done by:
[code]

Is it latest `dev` branch? Its be

[2018-05-10 03:00] bruce30262 commented on #460
Hello @disconnect3d ,

Due to our company policy I'm afraid I can't do that :(

**Disabling the cache actually fixes the issue ! But this slows pwndbg down (  a lot !  )**

Yes

Here it is:
[code]

Here's my color-theme setting ( from [here](https://github.com/bruce30262/CTF/blob/408406a2ad90c406910359f5d80c77f71a8e42d1/debugger/.gdbinit_pwndbg#L19-L27) ):
[code]
Feel free to copy that and push it

[2018-05-10 05:19] bruce30262 commented on #460
@disconnect3d I've been debugging for a while, and found that this issue is related to **multi-thread** problem.

-----------------------------
testing binary ( arch : x64 ):
![test_thread](https://user-images.githubusercontent.com/4478350/39852986-2f197bec-5452-11e8-9d89-4f38be38d338.jpg)

source code:
[code]

While doing the `while(ooo--);` operation, I stopped pwndbg ( ctrl-c ) and take a look

[2018-05-10 05:37] disconnect3d commented on #460
Thanks a lot for debugging this. The problem probably comes from the fact on how we fetch registers. From regs.py :
[code]

I guess that we have to either use only the old way (parse and eval) or find out if GDB API has something for retrieving frame from current thread and not just 'newest' (I can't see it right now as I am writing from my phone :p).

[2018-05-10 05:45] disconnect3d commented on #460
Hm or it probably comes from the fact we cache registers not to fetch them multiple times. We do invalidate the cache on a stop event, we probably should also check if there is some thread changed event OR we could make the thread id a cache key (not sure how to do that atm tho).

[2018-05-10 08:15] zachriggle commented on #460
I was expecting caching to be the issue. I don’t think GDB has a built-in
event for detecting thread swaps — I think we can check every time the
prompt shows?

We’ll likely need another cache / event for threading. I’m honestly sad /
surprised that switching threads doesn’t issue a stop event.
On Thu, May 10, 2018 at 12:45 AM Disconnect3d <notifications@github.com>
wrote:

[2018-05-10 09:09] bruce30262 commented on #460
Sounds good. `events.before_prompt` should do the trick.

[2018-05-11 15:12] iddm commented on #440
I have just downloaded the `pwndbg` from the **dev** branch and installed it and I see exactly the same error. Also, I can not run the file because there a lot of other errors which don't allow me to use gdb at all:

[code]

I am on ubuntu 16.04.3, gcc 7.11.

[2018-05-11 15:20] disconnect3d commented on #440
This is because we automatically try to connect to IDA rpc on
localhost:8888. You can disable this by 'set ida-enabled off'

On Fri, May 11, 2018, 10:12 PM Victor Polevoy <notifications@github.com>
wrote:

[2018-05-11 15:24] iddm commented on #440
Thanks for such a fast response. Can I do this in the `.gdbinit`?

Also, when I try to turn it off I have this:

[code]

[2018-05-11 15:32] disconnect3d commented on #440
Yeah it should be fine to put it in .gdbinit.
It might be that you will get the error once...this is sth we are going to
figure out (or maybe we fixed it already, I don't remember and can't check
atm).

On Fri, May 11, 2018, 10:24 PM Victor Polevoy <notifications@github.com>
wrote:

[2018-05-11 15:38] iddm commented on #440
No, this does not work for me. All of the things I have posted before persist even so.

[2018-05-11 16:24] disconnect3d commented on #440
Yeah I just checked and sth is wrong with that parameter. As a workaround just change IP or port e.g. set ida-rpc-port 12345.

EDIT: This was not true, I checked wrong version.
On Fri, May 11, 2018, 10:38 PM Victor Polevoy <notifications@github.com>
wrote:

[2018-05-11 18:26] disconnect3d commented on #440
@vityafx

The log you pasted shows `Pwndbg:   1.0.0 build: 8ecaa67` which is not the latest dev version (it's ~3 months old).

I also checked it once again on latest dev version and it works fine. Please update pwndbg to the latest dev version (from this repo :P) and use `set ida-enabled off`.

We might actually think of changing the default port to something more non-standard as it seems many peo

[2018-05-11 18:26] #440 closed, assigned to benediktwerner

[2018-05-11 19:04] zachriggle commented on #440
I vote port 31337 ;)

On Fri, May 11, 2018 at 1:26 PM Disconnect3d <notifications@github.com>
wrote:

[2018-05-11 20:53] disconnect3d commented on #460
Should be fixed by https://github.com/pwndbg/pwndbg/pull/463.

Thanks a lot for reporting this and for help in finding out what is the issue :1st_place_medal:.

If we ever meet in real life, don't forget to ask for a :beer: :).

[2018-05-11 21:29] zachriggle commented on #460
We may want to add the register_changed event for this too.

Also, before_prompt (and others) may break older GDB versions.

Does this still work with Ubuntu 16.04?

[2018-05-12 02:26] disconnect3d commented on #460
@zachriggle Good question. I forgot to check it out on older GDBs.

And so... not really:
[code]

But it should be fine to reset the prompt cache inside prompt hook for older GDBs. Patch incomming.

[2018-05-12 02:41] bruce30262 commented on #460
@disconnect3d @zachriggle  bad news, this doesn't work on Ubuntu 16.04 :(

[code]

Also, although this works on Ubuntu 17.10 & Ubuntu 18.04, It still have some bugs.
For example, there are 3 threads, and I'm at thread 1.
Now I switch to thread 2 by entering `thread 2`, pwndbg will switch to thread 2 but shows thread 3 ( the newest thread's ) stack context:
<img width="447" alt="default" src="https

[2018-05-12 03:07] zachriggle commented on #460
Register_changed is also not in 7.7 IIRC.

We should be able to get the “same” thing by using our prompt_hook routine
to trigger the event.
On Fri, May 11, 2018 at 9:41 PM Bruce Chen <notifications@github.com> wrote:

[2018-05-12 03:55] disconnect3d commented on #460
Trying to make it work on https://github.com/disconnect3d/pwndbg/tree/fix-before-prompt-on-old-gdb
But it seems it caches regs too much atm

[2018-05-12 04:39] disconnect3d commented on #460
@bruce30262 I have merged https://github.com/pwndbg/pwndbg/pull/464 which seems to work fine for me. Could you check it out?

[2018-05-12 04:55] bruce30262 commented on #460
@disconnect3d  tested on Ubuntu 16.04 & 18.04 with the test_thread binary, both of them work really well ! ( Haven't test on those libFuzzer binary though, have to wait until Monday , but I think we're good )

[2018-05-12 04:56] disconnect3d commented on #460
@bruce30262 Thanks :100: !

Will close it for now. Feel free to reopen if this happens again.

[2018-05-12 04:56] #460 closed, assigned to nobody

[2018-05-12 06:22] zachriggle commented on #460
Thanks for all the work guys! ❤️
On Fri, May 11, 2018 at 11:56 PM Disconnect3d <notifications@github.com>
wrote:

[2018-05-12 08:01] iddm commented on #440
I have just installed `pwndbg` successfully on archlinux (https://www.archlinux.org/packages/community/any/pwndbg/) but I don't know how to find out the commit hash as you do, the output is very short:

[code]

P.S. Everything works well on archlinux :)

[2018-05-12 16:22] benediktwerner commented on #440
The package is clearly outdated. The build date says `2018-03-25 10:33 UTC`. You can try messaging the maintainer and maybe he will update it, but the most relliable way is probably to simply install `pwndbg` from github: https://github.com/pwndbg/pwndbg#how

You most likely will have to adjust the `setup.sh` script a little bit as it was written for Ubuntu but I guess simply replacing `apt-get in

[2018-05-12 16:24] disconnect3d commented on #440
The package maintainer is @anthraxx I believe ;). We will update the
package as soon as we make next release. I will make it soon, just want to
push some fixed before that.

On Sat, May 12, 2018, 11:23 PM Benedikt Werner <notifications@github.com>
wrote:

[2018-05-12 16:29] benediktwerner commented on #440
Side note: It looks like you can only view the commit hash if you installed pwndbg from github.

[2018-05-14 08:42] vityafx commented on #440
There is definitely a problem. I repeated the same thing twice: cloning and running `./setup.sh`, all the time the version is old (1.0.0 build: 8ecaa67) and not the latest from the `dev` branch, even though I am on it and I fetched everything.

[2018-05-18 10:16] danielnehrig opened #468 "High Sierra Successful install but Error on GDB start"
### Description
Python Error on gdb startup
[code]

### Steps to reproduce
High Sierra
gdb --version 8.1 installed over brew
followed install instructions
setup exit code 0

### My setup
gdb --version
8.1

python --version
Python 2.7.15

pwndbg on current HEAD
commit c3e32375e125430f63d8b72e38cc7fff86702e59

High Sierra 10.13.4
2.7.15 (default, May  1 2018, 16:44:08)
[GCC 4.2.1 Compatible Apple LL

[2018-05-18 10:20] disconnect3d commented on #468
@inet-pwnZ Hey,

Thanks for reporting the bug. Can you show the result of `show osabi` command inside GDB on your system?

[2018-05-18 10:21] danielnehrig commented on #468
[code]

[2018-05-18 10:24] disconnect3d commented on #468
@inet-pwnZ I have applied a hotfix in https://github.com/pwndbg/pwndbg/pull/469

Can you try after that?

[2018-05-18 10:24] danielnehrig commented on #468
Pulled hotfix
now it's working

[2018-05-18 10:26] #468 closed, assigned to nobody

[2018-05-27 00:02] Matir opened #472 "TypeError exception raised on up/down commands."
### Description

When running the command `up` or `down` with an integer argument, the following exception is raised:

[code]

### Steps to reproduce

Open any binary and attempt to do `up 2` during debugging.

### My setup

pwndbg> version
Gdb:      7.12.0.20161007-git
Python:   3.6.5rc1 (default, Mar 14 2018, 06:54:23)  [GCC 7.3.0]
Pwndbg:   1.0.0 build: f69b81e
Capstone: 4.0.1024
Unicorn:  1.0.

[2018-05-27 13:26] #472 closed, assigned to nobody

[2018-05-27 13:26] disconnect3d commented on #472
Thx!

[2018-05-30 10:30] andigena opened #476 "The reverse- commands of rr stop working after a SIGSEGV when used with pwndbg"
### Description

When running rr with pwndbg and encountering a SIGSEGV in the debugged application, the reverse- commands of rr stop working. After executing them, the same context is printed as before, rip and the other registers/memory remains in the same state, etc. (see the attached session below).

If I disable pwndbg, they work fine in the same situation. They also work with pwndbg when the

[2018-05-30 10:32] disconnect3d commented on #445
We have added glibc's allocator tcache support recently. If there is something else to be done please open a new issue. Thanks.

[2018-05-30 10:32] #445 closed, assigned to nobody

[2018-05-30 10:38] disconnect3d commented on #476
Hey, thanks for reporting this. I will take a look on that tomorrow.

[2018-05-31 22:17] disconnect3d commented on #476
We've both investigated it today and talked on irc, the problem is caused by `gdb.parse_and_eval` invoked here:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/commands/context.py#L371-L375

We use this code to display to the user that something has happend with debugging program (it exited, segaulted etc) AFTER we display context. GDB does it by default but it does it before the context and so m

[2018-06-01 01:21] disconnect3d commented on #476
I have also asked about how to detect rr here: https://mail.mozilla.org/pipermail/rr-dev/2018-May/000626.html

[2018-06-01 01:22] disconnect3d commented on #476
@andigena Could you review the PR above? I have also applied a fix for a recently introduced bug that made context registers RIP display wrong in some cases ( https://github.com/pwndbg/pwndbg/pull/477 ).

[2018-06-01 09:41] andigena commented on #476
I just did, thanks for quickly fixing this!

[2018-06-01 09:47] #476 closed, assigned to disconnect3d

[2018-06-13 10:17] andigena opened #481 "new_objfile caching prevents event dispatching"
### Description

I noticed that the [caching for new_objfile events](https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/events.py#L153) actually prevents the calling of event handlers for that event, except for the first one registered. In effect, only the `_start_newobjfile` handler is called for new object files, none of the others.

### Steps to reproduce

Clone [this fork](https://github.com/and

[2018-06-14 18:39] #434 closed, assigned to nobody

[2018-06-18 18:16] kluo84 opened #484 "pwndbg checksec command"
### Description

I recently use pwndbg and got the error when I run checksec command. I am not sure how to fix this error? any ideas? Thank you.

### Steps to reproduce

pwndbg> checksec
Traceback (most recent call last):
  File "/opt/pwndbg/pwndbg/commands/__init__.py", line 109, in __call__
    return self.function(*args, **kwargs)
  File "/opt/pwndbg/pwndbg/commands/__init__.py", line 189, in _

[2018-06-18 19:17] zachriggle commented on #484
...is there a command named `checksec` installed on your machine?

[code]

The `pwndbg` command just shells out to whatever is installed.

[2018-06-18 19:17] #484 closed, assigned to nobody

[2018-06-19 12:09] #451 closed, assigned to nobody

[2018-06-19 12:12] disconnect3d commented on #443
Fixed with PR #479.

[2018-06-19 12:12] #443 closed, assigned to nobody

[2018-06-20 15:09] #481 closed, assigned to nobody

[2018-06-21 19:42] 0xcc77 opened #488 "Wrong context regs display on [remote?] targets that use multiple threads"
### Description

While I was debugging a 32-bit process on an ARM Android device, I sometimes noticed that atleast one of the register addresses in pwndbg view is wrong.
This has happened several times for different registers.

Examples (happened in two different debugging sessions):
[code]

It happened to me again today while debugging so I tried to ask about this in the IRC channel before openin

[2018-06-22 11:05] disconnect3d commented on #488
@hencohen This is a remote-debugging session, isn't it?
Does it happen only if the app has multiple thread?

[2018-06-22 12:40] 0xcc77 commented on #488
@disconnect3d that's correct, It is a remote-debugging session.
I can't be sure as it's hard to notice when this happens but when it happened to me I indeed was debugging a multi-threaded process

[2018-06-27 09:51] andigena commented on #425
I seem to be encountering this without `silent`:

[code]

And gdb cannot be recovered. After disabling pwndbg:

[code]

I was able to work around this by replacing `continue` with `python gdb.execute('continue')` but this isn't recommended as far as I'm aware.

[2018-06-30 14:03] sven337 commented on #353
I have the same problem as the original poster, so maybe this should be reopened? I'm available on IRC.

[2018-06-30 19:53] sven337 opened #491 "[feature request]Ida: display pseudocode around $rip, not whole function"
### Description

pwndbg will talk to Ida to get the full pseudocode dump of the function being run. When that function is long, this is not good. It would be better to only display 10 or 20 lines around the current value of $rip. I do not know how to implement that myself but I believe it should be possible since Ida itself is able to do that when using tab in disassembly view.

[2018-07-06 06:08] bash-c opened #494 "tab completion fails in pwndbg"
### Description

When I type `star` and `tab` in pwndbg, I suppose a completion to `start`.
[code]
But it appears like:
[code]
No completion appears but a real tab is inserted in pwndbg, while in peda and gef tab completion works well. It confused me alot. I will appreciate it if anyone would help me with it.

### My setup

And the following information may be useful:
[code]

[2018-07-06 13:21] plusls commented on #353
The lastest pwndbg does have this problem.

[2018-07-07 02:43] zachriggle commented on #494
I expect this has to do with the colorized prompt, again.

On Fri, Jul 6, 2018 at 1:09 AM M4x <notifications@github.com> wrote:

--

*Zach Riggle*

[2018-07-07 08:12] disconnect3d commented on #494
@zachriggle what do you mean? the pwndbg prompt or user's shell prompt?

I can't reproduce this on my machine, tab completion works fine for me :f

[2018-07-07 08:15] disconnect3d commented on #491
I am not sure if I understand what is the problem here. Is it too long code display or is it that we transfer too much stuff between IDA and Pwndbg?

I believe the first thing should be configurable by one of those config parameters:
[code]

[2018-07-07 08:21] sven337 commented on #491
It's more complicated than this - the problem is that the decompile call to Ida doesn't take a PC as argument, so it will decompile the whole function. You'd want to display only 10 lines around PC, but since you can't know which line corresponds to PC, it's the whole decompiled function that gets displayed.
This has to be fixable since the Ida interface is able to jump from one line of assembly t

[2018-07-07 09:01] disconnect3d commented on #488
I will try to reproduce it using the example provided by @bruce30262 at https://github.com/pwndbg/pwndbg/issues/460#issuecomment-387954695 using qemu-aarch64.

If someone wants to help with this:
* you need a gdb that supports targeting aarch64 arch (see `set arch <tab>` to check which archs does ur gdb support) - one can install `gdb-multiarch` package on Ubuntu or build such gdb from source usin

[2018-07-07 12:47] disconnect3d commented on #488
TLDR: I have debugged it a bit and I think I found the issue. I also found two other issues (see point 0) which I will address later on. I am going to push the fix to `dev`. @hencohen please check whether it works for you or not.

---

0. To debug this binary compiled for qemu, one need to comment out those two lines: https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/vmmap.py#L153-L154 - otherwise

[2018-07-07 12:51] #488 closed, assigned to disconnect3d

[2018-07-07 14:40] bash-c commented on #494
I record a [video](https://asciinema.org/a/JOkoDjwOv39t47PXmFXQqpmb2) of my situation when using `zsh`. And things get the same when using `bash` or `sh`.  It's not a small bug while annoys me a lot.

[2018-07-08 09:31] disconnect3d commented on #494
@0x01f Not sure if that is going to help yet but can you show the output of `show configuration` or `gdb --configuration`?

[2018-07-08 09:43] disconnect3d commented on #491
I have spent some time on this and I couldn't find anyything in idaapi for that purpuse :/.

However another approach could be dumping IDA information into dwarf debugging symbols and loading them in GDB.

Probably this could be used: https://github.com/ALSchwalm/dwarfexport

@sven337 would you check this out and if it works fine, add it to pwndbg?

[2018-07-08 10:00] sven337 commented on #491
I have used this years ago and found it not reliable, but I cannot remember why.
... or maybe it was another project, this one seems recent.

[2018-07-08 10:08] disconnect3d commented on #325
I have retested this on `arm-linux-gnueabi` and ` arm-linux-gnueabihf` and the `program stopped` issue doesn't appear anymore. There are still some other issues with some commands but that being said I am going to close this. Lets solve bugs in seperate PRs or issues.

#### Tested on
[code]

* compiled e.g. as `arm-linux-gnueabi-gcc-8 ./test2.c -ggdb`
* qemu launched e.g. as `qemu-arm -g 4444 -L /

[2018-07-08 10:08] #325 closed, assigned to nobody

[2018-07-08 13:40] disconnect3d opened #497 "Refactor common code"
There are pieces of code that we reuse across the codebase which could be moved to one place.

- [ ]  zeroing hex numbers as in https://github.com/pwndbg/pwndbg/pull/496#discussion_r200819294 :
[code]
- [ ] unpacking values using `struct` module instead of e.g. `pwndbg.arch.unpack` https://github.com/pwndbg/pwndbg/blob/5b9671f28466d66a5f3ce7f5761a9c918d0eb334/pwndbg/commands/heap.py#L360-L366

[2018-07-09 04:59] bash-c commented on #494
@disconnect3d Yes the output is
[code]

[2018-07-09 22:57] disconnect3d commented on #408
I have looked on it and I think we can't really do anything here.

I didn't find a way to detect those warnings. I have asked about that on irc on gdb channel on freenode. I am going to reopen this if someone points out something.

That being said I am closing this as WONTFIX (or rather CANTFIX here, huh).

[2018-07-09 22:57] #408 closed, assigned to nobody

[2018-07-09 23:07] disconnect3d commented on #494
The config looks fine (it is the same as on my machine).

I tried to reproduce it in a docker container but I stepped on another problem: I had tab completion but not for Pwndbg names - for example `sta` completed to `staticmethod` (wut? might be related to havin ipython installed).

Uh, we should have asked for that earlier but what is the content of your `~/.gdbinit`? Is it just `source pwndbg_d

[2018-07-11 14:33] bash-c commented on #494
@disconnect3d
I'm sorry for replying so late because of an examination.
I add some my own stuff to my `~/.gdbinit` but when I use only `source pwndbg_dir/gdbinit.py` , completion still doesn't work.
And I tried your suggested solutions, unluckily they didn't make a difference...
But thanks all the same for your enthusiasm.

[2018-07-17 18:47] offlinemark opened #503 "Colors not friendly for light terminal"
hi!

### Description

The colorscheme hides brackets in x64 asm when viewed on a light color scheme

### My setup

macos, iterm2, solarized light colors (i happen to be ssh'd into a vm in these pictures)

i tried looking in `theme` for a config for this, but couldn't quickly find one, any tips?

![image](https://user-images.githubusercontent.com/2467355/42838741-94c5c36c-89cf-11e8-8881-078f11329b9

[2018-07-17 19:11] zachriggle commented on #503
You should be able to change the colors of pretty much anything, Pwndbg has extensive theming support.  Check the `theme` command to see what you can change.

It looks like the code syntax highlighting specifically relies on `pygments`, and its built-in styles.  The default is `monokai`.

https://github.com/pwndbg/pwndbg/blob/0f5b028e2eb55e69beb276384f1e277c99ac2538/pwndbg/color/syntax_highlight.p

[2018-07-17 21:25] offlinemark commented on #503
i see, thanks so much for the quick response. for anyone looking later, `default` looks great with solarized light!

`set syntax-highlight-style default`

[2018-07-17 21:25] #503 closed, assigned to nobody

[2018-07-20 23:41] osiixy opened #504 "TUI - ugly & raw console escape and control sequences"
When I switch to tui mode (eg. tui enable)
the tui not resize itself and the prompt
is full of control sequences:
 ^A^[[31m^[[1m^Bpwndbg> ^A^[[0m^[[31m^[[0m^B

[2018-07-21 07:05] disconnect3d commented on #504
It seems that tui mode doesn't care about control sequences... :/
You can do `set disable-colors on` to prevent them from appearing but this will also don't show any colors etc.

[2018-07-21 09:21] osiixy commented on #504
Ok, that fixes the prompt.
However the resize issue remains.

[2018-07-21 09:25] osiixy commented on #504
That's sad that is needed to disable colors,
if it cannot be achieved to use colors with TUI
it could be turned on & off automatically between
switching back and forth TUI mode at least.

[2018-07-29 20:39] #343 closed, assigned to disconnect3d

[2018-07-29 20:57] disconnect3d commented on #411
This is how `ptype` with offsets looks like compared to `dt`:

[code]
In action (compiled with `-ggdb`):

[code]

vs `dt`:
[code]

@zachriggle What do you think?

[2018-08-09 14:58] necrose99 commented on #296
**@Pentoo** or **@Gentoo**
https://gpo.zugaina.org/dev-util/unicorn , hanndled by
[#Pentoo](https://github.com/pentoo/pentoo-overlay) overlay.
 https://github.com/pwndbg/pwndbg/blob/dev/requirements.txt
dev-libs/unicorn-bindings
dev-python/future
dev-util/unicorn

etc... etc..

**setup.py , tox.ini (deps in requirements.txt py versions acceptable) much cleaner**..  thus ebuild , thus distro deps h

[2018-08-09 15:30] necrose99 commented on #296
[code]

so long as the eclass see's **setup.py** , done and done..   , else ebuild needs a lot of work ...

, cd dev-util/pwndbg  ebuild pwndbg-$curent-ver.ebuild rpm
how nice I can even get a generic RPM for my redhat chums  /var/tmp/portage/$packagename/RPMS
, fakeroot Alien ... deb etc... convert pkg to deb,,, (minor added bonus, perhaps why chromeos @ google likes gentoo build system..)

howev

[2018-08-11 09:05] Mem2019 opened #507 ""bins" command shows that small bin is empty but actually it's not"
when small bin point to somewhere on heap but the content is all zero, the bins command shows that the small bin is empty, but actually it is not empty.
![default](https://user-images.githubusercontent.com/20660269/43990056-7d82ce44-9d88-11e8-8380-4a23276f2577.png)
This has made me fail to solve one chanllenge in one CTF :(

[2018-08-13 05:21] disconnect3d commented on #507
Hey,

Thanks for reporting this issue!

@andigena @Segflow could you take a look at this?

[2018-08-13 05:22] disconnect3d commented on #504
switching back and forth TUI mode at least.

I believe there is no GDB's event for that so we cannot hook in here (see https://sourceware.org/gdb/current/onlinedocs/gdb/Events-In-Python.html).

That being said, I am afraid we cannot do anything in here, so I am closing the issue.

Feel free to add comments here or work on that - I would be happy to accept a PR that handles this properly (this migh

[2018-08-13 05:23] #504 closed, assigned to nobody

[2018-08-13 05:30] disconnect3d commented on #296
@anthraxx @zachriggle as we mentioned it already somewhere in the past we can also make pwndbg not requiring dependencies 'by default' and enable certain features when they are installed.

Anyway, this only delays the problem of installing dependencies ;).

@necrose99 I don't understand your post. If you want to add an install script for other distro to pwndbg, feel free to send a PR. This will al

[2018-08-13 07:20] Segflow commented on #507
@Mem2019 can you attach the binary please?

[2018-08-13 12:32] Mem2019 commented on #507
[offbyone.tar.gz](https://github.com/pwndbg/pwndbg/files/2282929/offbyone.tar.gz)
Here are the binary, the exploit that cause the problem, and the libc that is being used

[2018-08-15 15:47] wonderkun opened #508 "when I run tests.sh after installation，I get this error !"
__________________________test_entry_no_file_loaded __________________________

    def test_entry_no_file_loaded():
        # This test is just to demonstrate that if gdb fails, all we have left is its stdout/err
        output = run_gdb_with_script(binary='not_existing_binary', pyafter='entry')

        expected = 'not_existing_binary: No such file or directory.\n'
        expected += HELLO

[2018-08-15 15:51] wonderkun opened #509 "When I use gdb.attach(p) by pwntools , I run heap command, I get this error!"
[code]
my linux kernal version:
[code]

[2018-08-16 11:31] #508 closed, assigned to nobody

[2018-08-16 11:33] disconnect3d commented on #509
Can you share your pwndbg version and pwntools code that presents this issue?

[2018-08-16 11:51] wonderkun commented on #509
[code]
I download pwndbg yesterday.

[code]

error info
[code]

[2018-08-16 14:06] wonderkun commented on #509
[code]
why addr = pwndbg.symbol.address('global_max_fast') is None , which lead this error !

This error only happen when I use  gdb.attach(p) by pwntools, when I use `gdb ./programe`  without this error!

[2018-08-16 14:22] wonderkun commented on #509
I know what happened .....
1. I start a process when I give a LD_PRELOAD  env. This error occurs.
[code]
without LD_PRELOAD env, without this error!

[2018-08-16 16:56] disconnect3d commented on #494
@0x01f can you try to play with those https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/__init__.py#L127-L144

e.g. remove them - and see if that helps?

[2018-08-16 18:55] zachriggle commented on #509
As a side-note, you want to use `LD_LIBRARY_PATH` in this case, not `LD_PRELOAD`.

That said, it shouldn't mess up `pwndbg` unless you actually end up with two copies of libc loaded into your process.

[2018-08-16 20:55] zachriggle commented on #494
FWIW tab-completion works for me, specifically with `sta` providing `start`.

Here's my config:

[code]
[code]

[2018-08-18 19:38] disconnect3d commented on #509
Hmm.. so is there any issue or can we close it?

[2018-08-18 19:38] disconnect3d commented on #507
bump; @Segflow have you looked at it?

[2018-08-18 21:26] Segflow commented on #507
@disconnect3d couldn't replicate the error.
@Mem2019 can you please add a call to `pause()` in your script so I know exactly at what step you got that state?

[2018-08-19 02:45] #509 closed, assigned to nobody

[2018-08-19 12:00] bash-c commented on #494
FInally I solved it by reinstalling gdb.
And now my config:
[code]
But I still don't know the reason.(Maybe because of the diffenence between gdb.8.2.5 and gdb.7.12.0?)
Anyway, my life become great again and thank you a lot.

[2018-08-19 21:49] FilipDjurkoviccc opened #510 "Python Error"
When I run program I got this

![screenshot from 2018-08-19 23-44-46](https://user-images.githubusercontent.com/37014351/44313520-869f1180-a40a-11e8-8260-a98a1e91a77e.png)

[2018-08-20 13:43] bash-c opened #511 "repeating last command fails when pressing enter in pwndbg"
### Description
We have just solved the problem of [tab completion fails in pwndbg](https://github.com/pwndbg/pwndbg/issues/494) and this time a new problem occured.

We know that if we press enter in gdb, the last command will repeat. But it fails in my gdb with pwndbg(without .gdbinit from pwndbg it works normally). When I press enter, it's just an enter to a new  line with no command repeating.

[2018-08-20 13:43] #494 closed, assigned to nobody

[2018-08-20 18:50] FilipDjurkoviccc commented on #510
help?

[2018-08-20 18:51] disconnect3d commented on #510
Have you used `setup.sh` to install pwndbg?

[2018-08-20 18:59] disconnect3d commented on #511
@0x01f Just installed pwndbg on a fresh Ubuntu 18.04 and enter works fine :|.

[code]

I am afraid this issue might be related to Deepin or its fancy console?
Can you check how does it behave e.g. in `terminator` console?

PS: I will check this out on recent GDB version - maybe they changed something between 8.1 and 8.2.

[2018-08-20 22:14] FilipDjurkoviccc commented on #510
yes

[2018-08-20 22:16] FilipDjurkoviccc commented on #510
I fixed it
I uninstall ubuntu and install Kali Linux and it works :)

[2018-08-21 08:40] bash-c commented on #511
Yep I agree with it.
I copied my config to another machine(ubuntu 17.10 with gnome-terminal) and it works well.
Now I'm considering other distributions. Thank you.

[2018-08-21 15:29] #511 closed, assigned to nobody

[2018-08-21 20:50] FilipDjurkoviccc opened #512 ""Python setup.py egg_info" failed with error code 1 in /tmp/pip-req-build-ii9xmr00/bindings/python"
When I download pwndbg and run ./setup.sh I got this. **On linux mint**. Help?

[code]

[2018-08-21 21:44] disconnect3d commented on #512
One of the solutions provided in:
https://stackoverflow.com/questions/14426491/python-3-importerror-no-module-named-setuptools

should help you. Reopen/comment if it doesn't work.

[2018-08-21 21:44] #512 closed, assigned to nobody

[2018-08-22 10:33] cebrusfs opened #513 "Can the `regs` module support frame selection of gdb?"
Currently, the `regs` will [fetch the latest frame of the current thread](https://github.com/pwndbg/pwndbg/blob/c188ed37f7fc882a02bcf7fd9897c3ef427c3944/pwndbg/regs.py#L252). Then, some part in `context` rely on the this. (For example, `nearpc` and `stack`). But [the source code displaying relies on the selected frame](https://github.com/pwndbg/pwndbg/blob/c188ed37f7fc882a02bcf7fd9897c3ef427c3944/

[2018-08-22 20:31] #510 closed, assigned to nobody

[2018-08-26 00:54] necrose99 commented on #296
I'm saying gentoo ebuild python eclass in bash
will take setup.py and build it...
with deps etc..

by adding a  universal   setup.py  its a win for everyone..

[2018-08-26 01:00] necrose99 commented on #296
the api's pick up setup.py ... wala..   @blshkv cleaned up my messy https://github.com/pentoo/pentoo-overlay/tree/master/app-exploits/routersploit  had it a setup py.... (was crude ugly at first..) no setup.py so more scripting to get it packaged etc..

https://gist.github.com/philippeowagner/6826498 will generate a setup.py template...

anycase no matter if its a windows user Bsd user , setup.py

[2018-08-26 01:35] blshkv commented on #296
guys, the way how you "support" OS installation is wrong. It should be platform independent and should definitely exclude ```sudo <pkg manager> install``` or any other sudo commands.
Please convert it to a proper setup.py using distutils.
Here is a nice example (but not complete, they haven't added requirements.txt yet) of the recent wifite migration:
https://github.com/derv82/wifite2/issues/102

[2018-08-26 09:26] matrix1001 opened #514 "Better radare2 support"
# Problem
r2 works well on pwndbg. !!BUT!! when it comes to PIE enabled binarys, r2 cannot find the right address.
# My fix
[code]
I add in PIE check, and recalculate the address.
# Result
[code]
As you can see, r2 works properly with PIE.
# Suggestion
r2 is really useful when using pwndbg, although few people use it at present. I got an idea about transport all data including memory and register

[2018-08-26 22:54] properchopsticks opened #515 "typo in the pwndbg help list"
### Description
hi, there appears to be a typo in the help menu of pwndbg. whenever you access the 'pwndbg' command to see the help list some of the commands that should have the word 'breakpoint' have 'breapoint' instead.

[...]
bc                   Clear the breapoint with the specified index.
bd                   Disable the breapoint with the specified index.
be                   Enable the br

[2018-08-27 08:04] #515 closed, assigned to nobody

[2018-08-27 08:04] disconnect3d commented on #515
Thanks for reporting this. Fixed on dev :).

[2018-08-27 08:11] disconnect3d commented on #514
Hey,

Thanks for reporting this issue!

Can you send a Pull Request with your changes so we will be able to test this out on your branch?

[Here is some info on how to do that](https://help.github.com/articles/creating-a-pull-request/) :)

[2018-08-28 13:13] Mem2019 commented on #507
last `add("A\n", 0x310)` causes the state

[2018-08-28 13:29] Mem2019 commented on #507
[code]
to be specific

[2018-08-31 12:29] adamtanana opened #517 "GOT command returns wrong addresses"
Running on latest dev version

Issue found running binary with PIE enabled, ASLR disabled, NO RELRO
Running the `got` command returns wrong addresses for the GOT.
I think it may have something to do with there only being two mapped regions for the binary, rather than 3 as usual.

Example from below: The real `settbuf@GOT` address is `0x56559cb4`. `got` command says it is `0x5655acb4`. A 0x1000 (ex

[2018-09-01 21:14] GrosQuildu opened #518 "probeleak error"
[code]
and crash when the args are swaped

[2018-09-01 21:18] disconnect3d commented on #517
Gonna fix it in a few days

[2018-09-01 21:18] disconnect3d commented on #518
Gonna fix it in a few days

[2018-09-01 22:06] disconnect3d opened #519 "Add _chk functions"
This should show a bit different arg names:

[code]

Functions to support:
* [x] `__printf_chk` (https://github.com/pwndbg/pwndbg/pull/528)
* [ ] `ts_chk`
* [x] `poll_chk`
* [x] `read_chk` (#536)
* [x] `recv_chk`
* [x] `fdelt_chk`
* [x] `fgets_chk`
* [x] `fread_chk` (#536)
* [ ] `twd_chk`
* [x] `ppoll_chk`
* [x] `pread_chk` (#536)
* [x] `fgetws_chk`
* [ ] `tcwd_chk`
* [x] `memcpy_chk`
* [x] `memse

[2018-09-02 16:26] disconnect3d opened #520 "Set regs command"
This is horrible:
[code]

I want to be able to do `setregs rax,rbx,rcx,rdx 0xffff`

[2018-09-02 16:35] disconnect3d opened #521 "Display source code filename"
Sometimes we can deduct source code filename, so we should display it in the banner:
[code]

e.g.
[code]

[2018-09-02 17:05] anthraxx commented on #521
Taking into account how long these are or could be it could be a better idea to just display a line containing path/filename before listing the source code?
IMO it may look odd, taking into account that the banner label can be left, center or right aligned.

[2018-09-03 00:45] disconnect3d commented on #521
Totally forgot about this.

Yeah, we should probably display the filename (or path) above/below OR maybe instead of `SOURCE (CODE)`?

[2018-09-03 00:46] disconnect3d commented on #507
@Segflow how is that with the example above?

[2018-09-10 09:03] adamtanana commented on #517
Any updates?

[2018-09-10 09:05] disconnect3d commented on #517
@adamtanana No; but I will look at this today or tomorrow.

[2018-09-11 11:49] disconnect3d commented on #517
@adamtanana Can you provide ur binary or a minimal [not] working example?

It seems everything works fine for this:
[code]

When I am stopped/breakpointed on `foo`:
[code]

[2018-09-12 00:36] disconnect3d commented on #518
@GrosQuildu do u think of any upper limit for the size of items one would like to display?
Or maybe we could detect the address by checking if the value lies in one of the vmmap...

Neither of the solutions is best as one can create its own vmmap like [0, 1000] (start, end address).

[2018-09-12 00:47] disconnect3d commented on #513
@cebrusfs what is your opinion on that? :)

The best option would probably be having two modes of operation for that.
The easiest option to implement is probably highlighting changed registers even if they change between changing frames (I believe this will work out of the box).
On the other hand showing changed regs only on next/step is also useful...

Imho this is not *that big deal*, so I would

[2018-09-12 00:50] disconnect3d commented on #491
Comming back to this topic, if someone is willing to add this, please send a PR.

The thing can be done in IDA>=7.1 using more or less this code:
[code]

However, I can't work on that as I don't have IDA atm.

[2018-09-12 21:05] hexhexD opened #523 "Python exception under gdb-8.2-2"
### Description
Hi,

I just recently updated gdb to 8.2-2 on Arch. Now pwndbg commands will trigger the warnings below:
[code]
And gdb changelog mentioned various Python API enhancements.

### Steps to reproduce

### My setup

[2018-09-12 22:42] GrosQuildu commented on #518
Everything that lies on valid page should be shown by default imho. Maybe optional arg like [max offset from the address]?

[2018-09-12 22:57] disconnect3d commented on #523
Hey, thanks for the issue. I will try to dive into that in a free time.
As I am occupied with a lot of stuff recently, it might take few days or 1-2 weeks :(.

If you are willing to help, I would be happy to help/answer questions here or in #pwndbg freenode irc channel.

PS: from gdb changelog
[code]

[2018-09-13 02:41] F1r opened #524 "Exception occured search Invalid mode (CS_ERR_MODE) (<class 'capstone.CsError'"
### Description
When I try to use pygdbmi to interact with pwndbg and init gdb by the command as follows:
        init_cmds = ["set exception-verbose on",
                     "source ~/.gdbinit",
                     "set print element 0",
                     "attach {}".format(str(self._pid)),
                     "set charset ASCII"]
, the error as follows occured when i use search command pro

[2018-09-13 02:49] F1r commented on #524
It works well in Debian, but this error occured when I use ubuntu16.04.
I install pwntools in the way provided by official and install pwndbg by ./setup.sh.

[2018-09-13 05:40] hexhexD commented on #523
Sounds good. I'll give it a try.

[2018-09-13 08:25] disconnect3d commented on #524
The capstone version should be fine. What's the target binary/arch? That would be weird but maybe capstone doesn't support it? Did you use the same pygdbmi/target binary on Debian and Ubuntu?

Offtopic: It's probably good to update GDB to 8.1 (8.2 seems to be not working yet).

[2018-09-14 00:53] F1r commented on #524
Thanks! I upgrade my gdb by building it from source and it indeed solves this problem.
Actually, this problem is caused by gdb version.
Thanks again!

[2018-09-14 00:53] #524 closed, assigned to nobody

[2018-09-14 15:54] cebrusfs commented on #513
@disconnect3d I think my proposal 1. is useful in most of cases. I will follow this design. Unfortunately, I just find out `pwndbg.regs.changed` does not work when start working on this issue.

It seems `pwndbg.regs.last` will be updated when gdb stop/continue, and always keep the latest value. But it is for memorizing the previous registers values and then generating the change list `pwndbg.regs.

[2018-09-14 15:59] disconnect3d commented on #513
Pwndbg.events are just wrappers for gdb events. I can't look at the code
right now but as far as I remember if you decorate a function with
particular event this function will be fired on this gdb event.

You could try adding some prints here and there or 'import pdb;
pdb.set_trace()' (or even ipdb instead of pdb, if you have it installed,
however ipdb might not always work here).

I will try to l

[2018-09-14 18:10] disconnect3d commented on #513
Btw just to kill one of the possible causes: the problem is not done because of caching as `pi pwndbg.memoize.memoize.caching=False` changes nothing and the problem persists.

[2018-09-14 18:17] disconnect3d commented on #513
@cebrusfs I have tried to debug it a little bit but I can't find the cause. Probably the easiest way to go in here is to make a `git bisect <commit-when-it-worked>` and find out the commit that caused it to stop working.

EDIT: Not sure how much you are into git; so TLDR: Git bisect lets you to make a binary search over versions (git commits) and mark them as "working" and "not working". This lets

[2018-09-16 19:27] disconnect3d commented on #518
For reference: https://github.com/pwndbg/pwndbg/pull/525

[2018-09-16 19:27] disconnect3d commented on #517
@adamtanana bump? :(

EDIT: @adamtanana sent me a binary through email and posted here about that, but I deleted personal info from here.

[2018-09-18 12:16] #521 closed, assigned to disconnect3d

[2018-09-18 21:22] #520 closed, assigned to disconnect3d

[2018-09-18 22:20] disconnect3d commented on #514
@matrix1001 bump, are you going to work on that?

[2018-09-18 22:34] disconnect3d commented on #519
Some of them can be inspected e.g. here https://github.com/lattera/glibc/find/master (click `t` and search for `_chk`).

[2018-09-19 12:12] adamtanana commented on #517
Hey!
I've just sent you the binary I was using to your email `dominik.b.czarnota+dc@gmail.com`

[2018-09-19 18:32] zachriggle commented on #517
FYI, you can attach any file to GitHub by renaming it to e.g. `.jpg` and drag / drop it on the comment box.

[2018-09-19 22:18] disconnect3d commented on #517
@zachriggle thx for editing @adamtanana post and removing my e-mail (it can be found on the internet, but it's better to keep it at one place, not many :P). But github lets people see post edits, so I removed the post.

The binary [remove `.zip` from its name]:
[sploitwarz.zip](https://github.com/pwndbg/pwndbg/files/2398895/sploitwarz.zip)

[2018-09-19 23:02] disconnect3d commented on #518
Done in https://github.com/pwndbg/pwndbg/pull/525!

[2018-09-19 23:02] #518 closed, assigned to GrosQuildu

[2018-09-20 10:21] disconnect3d commented on #517
@adamtanana hey, #531 should work for you. Could you please check it out? Its always good to double check things :).

[2018-09-20 12:13] adamtanana commented on #517
Works perfectly!

[2018-09-20 13:06] #517 closed, assigned to disconnect3d

[2018-09-21 12:51] GrosQuildu opened #532 "nextcall with symbol bug"
### Description

after nextcall with unknown symbol/address (like nextcall lol) gdb won't run again

### Steps to reproduce
[code]

### My setup

GNU gdb (Debian 7.12-6) 7.12.0.20161007

[2018-09-21 13:56] disconnect3d commented on #532
TODO:
* we need better docs what does the argument for `nextcall`, `stepcall`, etc. do
* this needs to be fixed - maybe we should check if given argument is a valid address or a symbol that resolves to valid address?

By valid address I mean `a mapped address`.

@GrosQuildu Are you going to work on that, so I can assign you to the task?

[2018-09-21 18:14] zachriggle commented on #532
This is an issue with symbol resolution in dynamically loaded libraries --
the address can't be known ahead of time, and you can't know if the symbol
will exist at all until runtime.

Take a look at "set breakpoint pending" and the "Breakpoint.pending"
attribute.

All that said, none of that should matter with "nextcall" since we stop on
EVERY call instruction (in the current frame) and check for

[2018-09-21 21:04] rcx commented on #523
In `pwndbg/commands/__init__.py`, `check_repeated`.

[code]
last_line = `warning: bad breakpoint number at or near '0'` rather than expected output

[code]

But regular 'show commands' is ok???

[code]

This is stupid. Regression from gdb's side? Probably due to this changelog item:

[code]

GDB sucks.

[2018-09-21 21:31] rcx commented on #523
Temporary workaround, just make the function `return False` or `True`.
We need a fix from GDB folks, ugh.

[2018-09-21 23:15] GrosQuildu commented on #532
Agreed, can't do forward checks.
The problem seems to be related to temporary breakpoints (setted at pwndbg/next.py:75). Changing internal arg to False reveals that the last temporary breakpoint is never deleted (and is in libc). After manual deletion program can be started again.

But internal breakpoints have negative numbering (check with `maint info breakpoints`) and seems to be irremovable :D

[2018-09-29 10:07] ttimasdf commented on #264
I've got a hacky solution regarding the usage of $xpsr. I've just take a short look of pwndbg's code so I'm not sure if i'm adding the right piece at the right place.
Cortex-M series don't have a $cspr register but a similar $xspr instead. The [bit offset](http://infocenter.arm.com/help/topic/com.arm.doc.ddi0413d/ch02s02s02.html) indicating Thumb mode is also different than that with $cspr. This c

[2018-09-29 20:20] bennofs commented on #523
This is gdb bug https://sourceware.org/bugzilla/show_bug.cgi?id=23669. It was caused by commit 56bcdbea2bed ("Let gdb.execute handle multi-line commands") in GDB.

Note that this commit broke other things in pwndbg as well. For example, all commands executed though `execute` are now added to the last-command history, so `s` followed by `ENTER` now doesn't work anymore (since pwndbg's hooks execute

[2018-09-30 20:53] disconnect3d commented on #414
@GrosQuildu can you extend the `bugreport` command with the debugged file? I think this should also be optional with e.g. `--attach-debugged-file` flag.

[2018-09-30 20:58] disconnect3d commented on #523
Thanks for inspecting this. It seems we have to wait a little bit more for a GDB release :(.

[2018-10-01 20:13] GrosQuildu commented on #507
[bin_at function](https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/heap/ptmalloc.py#L468) gets pointer from bin[index] and returns list without it (`include_start=False`). So when bin[index]->fd is 0, it thinks that the bin is empty.

Fix may be like that:
[code]
checking 'bk' offset as in malloc function.
The change will change ordering, from:
[code]

to
[code]

But that shouldn't matter, I thing

[2018-10-02 17:44] cubistplay opened #534 "failed building wheel for capstone"
I am trying to install pwndbg to my ubuntu 16.04.

Installation worked so well a year ago in other server(same ubuntu version).

But install fails with error. Maybe I am missing some requirements.

when i run setup.sh, it says

[code]

 What am I missing? What should I do?

[2018-10-03 06:07] adamtanana opened #535 "Heap issues"
### Description
Issues with heap command on ubuntu 18.04

### Steps to reproduce

Program
[code]

Gdb session history:
[code]

When printing bins it prints incorrect values (there should be one thing in fast bins) and also prints an error
`Error fetching tcache. GDB cannot access thread-local variables unless you compile with -lpthread.
Exception occured: tcachebins: Cannot access memory at addres

[2018-10-03 23:01] GrosQuildu commented on #535
Can't reproduce. Can you provide libc version (`ldd --version`) and full stacktrace (with `set exception-verbose on`)?

[2018-10-03 23:04] adamtanana commented on #535
Stack trace:
[code]

My ldd version is:
[code]

[2018-10-04 01:06] disconnect3d commented on #535
@adamtanana It is also worth to mention the compilation flags you used. I assume you used `-g` or `-ggdb` as you use `n` command (or `next`) which jumps over a source code instruction instead of assembly instruction.

@GrosQuildu This might be the reason why you couldn't reproduce.

---

Below is my log.
[code]

The position where I am after running the commands given in the issue:
[code]
or in as

[2018-10-04 01:07] disconnect3d commented on #535
I also believe that this:
[code]
is a valid response, but it is not good - from an UX point of view - that we show an exception too.

[2018-10-04 01:47] adamtanana commented on #535
Compiled with

Both show same output
`Error fetching tcache. GDB cannot access thread-local variables unless you compile with -lpthread.`)

On another note I just noticed that when running `fastbins` w/out errors, it should show one chunk in the fastbin list shouldn't it?

However it shows the empty list
[code]

[2018-10-04 02:08] disconnect3d commented on #534
Hey, thanks for reporting the issue!

I just installed pwndbg inside a docker container with Ubuntu 16.04 image (on x86-64 machine) and it works for me.

The steps I did:
* `docker run --rm -it --privileged ubuntu:16.04 bash`
* `apt update && apt install git`
* `git clone https://github.com/pwndbg/pwndbg.git`
* modified `setup.sh` and removed all occurences of `sudo` [there is no sudo inside my co

[2018-10-04 02:08] #534 closed, assigned to nobody

[2018-10-04 02:12] disconnect3d commented on #519
Good to read here:

https://github.com/pwndbg/pwndbg/pull/528#issuecomment-422644418

https://github.com/pwndbg/pwndbg/pull/536#issuecomment-426627327

[2018-10-04 03:02] adamtanana commented on #535
My colleague running the following versions gets the correct output however
[code]

[2018-10-04 10:39] cubistplay commented on #534
Thank you for answering my issue!

However I cannot install pwndbg yet... sorry...
I tried on docker and my aws server.

down below are full logs.
I think the problem is from capstone.

--------------------------------------------------------------------------
AWS server
: Linux pyramorphix 4.4.0-1069-aws #79-Ubuntu SMP Mon Sep 24 15:01:41 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu 16.04.5 LTS

[2018-10-04 11:05] disconnect3d commented on #534
Idk yet. What is your gcc version? https://github.com/radare/radare2/issues/8540 had somewhat similar issue and they suggest bugged gcc version.

The compilation works for me on:
[code]

Btw can you try other Ubuntu version?

[2018-10-04 11:06] disconnect3d commented on #534
Also, can you monitor your ram usage? This https://github.com/aoh/radamsa/issues/46 suggests that such thing may occur when you are out of ram when compiling. Huh...

[2018-10-04 11:08] cubistplay commented on #534
[code]
oh i think RAM might be an issue
I'm using aws t2.nano which has 0.5 GiB RAM

[2018-10-04 11:16] disconnect3d commented on #534
@cubismic I have created a docker image containing pwndbg on ubuntu 16.04, you can use it as:

[code]

**Note that [unofficial] docker images downloaded from the net are kinda insecure**. One can change the underlying image at any given point of time (so the next time someone pulls it, it might contain something different).

I based the image on `ubuntu:16.04` and installed only `vim` and pwndbg i

[2018-10-04 11:33] GrosQuildu commented on #535
In glibc 2.27 fastbin chunk goes to tcachebin first, so doesn't appear in fastbin list. So that part is correct (afaik, may be wrong ;) ). Your's colleague must use older glibc version.

As for tcache error, @disconnect3d corretly pointed that the error is valid, gdb can't find info about tcache, check with:
[code]
Recompile binary with `-lpthread`, then in gdb run this [two commands](https://sour

[2018-10-04 11:59] disconnect3d commented on #535
@Segflow @mdebski @andigena can you guys help here?

[2018-10-04 15:23] cubistplay commented on #534
RAM was the problem!
I upgraded my RAM from 0.5GB to 1GB and installation succeed at once.
Thank you for your advise!

[2018-10-04 15:24] disconnect3d commented on #534
You are welcome o/

[2018-10-09 00:11] rcx opened #538 "brva doesn't work if the target is a symlink."
[code]

[2018-10-09 02:25] disconnect3d commented on #538
Hey, thanks for reporting this!

Can you check out if https://github.com/pwndbg/pwndbg/pull/539 works for you and review this PR?

I hope the added comments are helpful and make things more clear, so if someone plays with this or any more bugs happens here it is easier to play with the code and understand what's going on.

[2018-10-09 09:26] rcx commented on #538
Awesome work on the fast response to this. Just reviewed the PR and it LGTM. See my comment there for more details.

[2018-10-11 21:34] disconnect3d commented on #296
@blshkv

How would you then require users to install given native libaries? Ask them to do so?

Your suggested solution does have this in readme:

So yeah, you ask users to install things anyway. I understand the approach but I don't like it personally., I want pwndbg to be **one click installable**.

This problem could be solved by creating a package per linux distro but unfortunately we don't ha

[2018-10-11 21:56] disconnect3d commented on #296
Anyway, thanks to @ClaudiaJKang's #540 PR we now support both ubuntu and fedora in `setup.sh`.  We will accept PRs to support other distros inside of `setup.sh`.

If you want ur distro to be supported, please send us a PR or start a new issue.

I would be also glad if you add a Dockerfile that can be used to test your distro.

[2018-10-11 23:42] blshkv commented on #296
@disconnect3d

lmgtf? https://stackoverflow.com/questions/28949136/checking-native-dependency-library-is-installed-in-python-setup-py the solution seems to check for required headers (after checking the first link), may be others.

BUT, users should not "install" it manually. The software must be in a distro repository and users should run the standard "apt-get install pwndbg" or similar command.

[2018-10-11 23:57] blshkv commented on #296
btw, I'm not sure how apt-get works but by running ```apt-get install libXXX``` you are be probably polluting user's system because these dependencies will not be uninstalled automatically after user removes pwndbg.

You should also write an uninstall script then :scream:  :sob: (kidding).

[2018-10-15 03:04] lometsj opened #545 "cannot use pwndbg on manjaro"
i found two package by `pacman -Ss pwndbg`:pwndbg and pwndbg-git
unfortunately,i can't use either of it

both occur error when i try to run gdb:
[code]
it seems like str(style) returns a none type object.
could u please help me about it.

[2018-10-16 07:54] disconnect3d commented on #545
@anthraxx any ideas here?

[2018-10-16 07:56] anthraxx commented on #545
Yeah just close it, there was a python dep usage bug in the dependency list it should hit repo soon

[2018-10-16 08:21] disconnect3d commented on #545
Kk, thanks!

[2018-10-16 08:21] #545 closed, assigned to nobody

[2018-10-16 08:31] disconnect3d commented on #296
@blshkv While I may not be a big fan of something personally, I will still accept it if it is a good idea. I never said that distro packages are bad. I said that we don't or may not have manpower to do that and so it might not be our #1 concern.

See e.g. that we closed https://github.com/pwndbg/pwndbg/pull/541.

@blshkv If you are willing to help in this case, please send a PR. Just keep in mind

[2018-10-16 08:33] #296 closed, assigned to nobody

[2018-10-16 13:57] mzfr opened #548 "Cannot install on KDE neon"
### Description
I am trying to install pwndbg on KDE neon and I cannot install it. When I run `./setup.sh` I am getting
[code]

### My setup

GDB version
[code]

python version
[code]

[2018-10-16 21:50] disconnect3d commented on #548
@mzfr Hey, can you check if https://github.com/pwndbg/pwndbg/pull/549 works for you?

[2018-10-16 21:57] #507 closed, assigned to nobody

[2018-10-17 16:33] #548 closed, assigned to disconnect3d

[2018-10-18 04:32] chensem opened #550 "can't print the fastbin"
i use the fastbin command , it doesn't work

![image](https://user-images.githubusercontent.com/27469499/47131526-ab601a00-d2d1-11e8-95f3-c2c62727849e.png)
![image](https://user-images.githubusercontent.com/27469499/47131532-b9ae3600-d2d1-11e8-9999-8214c252222b.png)

[2018-10-18 09:08] #550 closed, assigned to nobody

[2018-10-18 09:09] disconnect3d commented on #550
@chensem why closing this?

[2018-10-18 17:54] chemmi opened #551 "setup.sh for unknown distros is (partially) broken"
The setup.sh for unknown distros (like kali) is partially broken.
This is due to the fact that it exits too early.
The relevant part is:
https://github.com/pwndbg/pwndbg/blob/ab46a7943fd1362c66bff4d085cdd0f5ee42e5ea/setup.sh#L62-L70
This can be fixed by moving =exit= into the else-branch.
One may use =exit 1= instead.

[2018-10-19 06:06] Aloxaf commented on #340
A simple way to make pwndbg work on Arch Linux based on @bennofs 's solution
[code]

[2018-10-19 10:47] disconnect3d commented on #340
@Aloxaf you mean to make pwndbg work with glibc/heap?

@anthraxx you might consider adding this to the distro packages.

[2018-10-19 10:50] anthraxx commented on #340
i don't see what recompiling GDB in Arch would achieve, it already links to pthread. And for glibc we need to wait for debug symbol support (which is being worked on)

[2018-10-19 12:21] Aloxaf commented on #340
@disconnect3d Yes. But it's not something new, I just renewed the way to get debug symbols.
@anthraxx You are right, I haven't noticed that  before and thought it was a problem with GDB.
It's great to hear that debug symbol support is being worked on, rebuild glibc everytime it updates is really troublesome.

[2018-10-19 22:02] bennofs commented on #523
The other bug that is relevant for pwndbg is this one: https://sourceware.org/bugzilla/show_bug.cgi?id=23714. If you build from git, include the patch there and pwndbg should work with new gdb.

[2018-10-20 13:09] ZetaTwo commented on #230
With my PR merged this now means that an attempt to override an existing GDB command will throw an exception. There is a whitelist for commands which are allowed to override existing commands which currently contains: "up", "down", "pwd", "search", "start".

[2018-10-20 13:12] disconnect3d commented on #230
Done in #543, thanks again @ZetaTwo o/ :beers:

[2018-10-20 13:12] #230 closed

[2018-10-21 16:41] disconnect3d commented on #535
Hey,

@Segflow @mdebski @andigena

I have fixed some bugs regarding tcache in https://github.com/pwndbg/pwndbg/pull/552 and added a its address retrieval when binary is compiled w/o `-lpthread`. If someone could look on it, check if it works on your machine and make a code review, I would be pleased! :)

[2018-10-22 21:16] disconnect3d commented on #535
I believe that:
* the missing fastbin is an invalid bug - the bin went to tcache instead
* the tcache bug has been fixed with #552 - and we also try to display it when binary is compiled without `-lpthread`

So I am closing it for now. o/

[2018-10-22 21:16] #535 closed, assigned to nobody

[2018-10-22 21:17] disconnect3d commented on #551
@chemmi oh, thanks for catching this. Gonna fix it now o/

[2018-10-22 21:20] #551 closed, assigned to nobody

[2018-10-24 08:54] equation314 opened #555 "The return address register not restored when initializing the Emulator"
### Description

The return address register not restored for non-x86 arches when initializing the `Emulator` class, and cause `pc` to be set to `0x0` after the `ret` instruction.

Here is the [https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/emu/emulator.py](https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/emu/emulator.py), line 144~146:

[code]

~~#556  is the reason of hanging.~~

### Steps to

[2018-10-24 09:51] disconnect3d commented on #555
Hey,

Thanks for reporting this issue. As a quick workaround you can disable emulation by `set emulate off`.

Since you already looked over the code, can you find a fix for that and send us a PR, please?

[2018-10-24 10:01] disconnect3d commented on #555
Also, any chance that you could prepare and push a docker image that would contain qemu + pwndbg from git, so it is easy to validate the issue and a fix for it?

Note that you can do it e.g. by:
* creating a docker image based on some official image - e.g. ubuntu: `docker run --rm -it --cap-add SYS_PTRACE ubuntu:18.04 bash`, the `--cap-add` part is crucial, so you can use `ptrace` inside of the co

[2018-10-24 10:05] equation314 opened #556 "The unicorn aarch64 emulator hangs when start from the address 0x0"
### Description

This is a bug of unicorn. The second parameter `until` of `uc.emu_start()` is always `0`, it cause hanging when the first parameter `begin` is also `0`, according to [https://github.com/unicorn-engine/unicorn/issues/1038](https://github.com/unicorn-engine/unicorn/issues/1038).

Here is the [https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/emu/emulator.py](https://github.com/pwndbg

[2018-10-24 10:12] disconnect3d commented on #555
Also note that debugging a Linux kernel might not work properly, see https://github.com/pwndbg/pwndbg/issues/438 for more info.

It would be cool to make it possible, but I simply don't have time to add support for it. I would be happy to merge a PR with that.

[2018-10-24 10:16] disconnect3d commented on #556
Nice catch. Not sure if we can do anything with it except of waiting for an upstream fix?

[2018-10-24 10:29] equation314 commented on #555
I will send a PR and try to push a docker image soon.

And I'm debugging [a simple OS kernel](https://github.com/s-matyukevich/raspberry-pi-os) for Raspberry Pi instead of Linux.

[2018-10-24 12:49] equation314 commented on #556
Sorry, the latest unicorn (unreleased) fixed this.

[2018-10-24 12:49] #556 closed, assigned to nobody

[2018-10-26 04:43] SoWhereAreYou opened #558 "How could I use the pwndbg without update?"
I'm sorry I can't read the english well. I'm a chinese student. The question is that when I use the pwndbg，the glibc will update to the glibc 2.27. So the t-cache of the glibc will open and I can't use the unsorted bin of Linux heap. How could I use the pwndbg without update?My system is Kali with glibc 2.25.I want use pwndbg in a lower version glibc，like 2.23 or 2.25.

[2018-10-27 08:59] init13 opened #560 "is there a bug in pwndbg/pwndbg/commands/heap.py?"
when i use 'fastbins' it tell me TypeError: 'int' object is not subscriptable,so i checked the heap.py. if i change chain_fd[0] into chain_fd it can correct show me the fastbins, but will it chain_fd is not INT type in some case ?
![heap](https://user-images.githubusercontent.com/35521617/47601767-e10aae80-da07-11e8-94bc-aca597ab81ca.png)
![heap2](https://user-images.githubusercontent.com/35521617

[2018-10-28 01:09] JD1412 opened #561 "运行gdb之后报如下错误该怎么办？Exception: Cannot override non-whitelisted built-in command "argv""
[code]

[2018-10-28 01:14] disconnect3d commented on #558
Hey,

What is your case?

As you say that:

And later that your glibc is 2.25.

So is it that you want to debug a binary and use glibc 2.27 under that binary? If so, see GDB's `set env` command (e.g. this may help: https://stackoverflow.com/questions/10448254/how-to-use-gdb-with-ld-preload ).

[2018-10-28 01:20] disconnect3d commented on #561
There is no `argv` command in GDB. I assume this might be related to your language settings, however I am not sure.

It seems that this code:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/commands/__init__.py#L26-L41

returned a set that an `'argv'` item in it.

Can you show the output of `help all` command in gdb without pwndbg?

As a quick workaround you can e.g. comment that code out.

EDIT:

[2018-10-28 01:22] disconnect3d commented on #560
Can you provide a minimal working example?

cc: @GrosQuildu can you look over it? :p

[2018-10-28 01:30] JD1412 commented on #561
root@kali:~# gdb
GNU gdb (Debian 8.1-4+b1) 8.1
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-linux-gnu".
Typ

[2018-10-28 01:32] JD1412 commented on #561
And then??

[2018-10-28 01:34] disconnect3d commented on #561
Oh, I think we can even get it better: can u edit ur post and put the
output of this in there:
[code]

On Sun, Oct 28, 2018, 2:30 AM jd1412 <notifications@github.com> wrote:

[2018-10-28 01:35] SoWhereAreYou commented on #558
Hello,I just want to say I wanna use pwndbg in a more low version glibc, like 2.25 or 2.23 in kali， but when I set up pwndbg，it always update my glibc to 2.27. I' m confused.

[2018-10-28 01:36] disconnect3d commented on #561
As a workaround please comment the linked function above. I am going to
look over this issue tomorrow.
(If you want you can look over or debug it and send us a PR, I'd be happy
to review and merge it)

On Sun, Oct 28, 2018, 2:32 AM jd1412 <notifications@github.com> wrote:

[2018-10-28 01:37] JD1412 commented on #561
gdb$ pi import gdb; print(repr(gdb.execute('help all', to_string=True)))
'\nCommand class: aliases\n\nni -- Step one instruction\nrc -- Continue program being debugged but run it in reverse\nrni -- Step backward one instruction\nrsi -- Step backward exactly one instruction\nsi -- Step one instruction exactly\nstepping -- Specify single-stepping behavior at a tracepoint\ntp -- Set a tracepoint at s

[2018-10-28 01:41] ZetaTwo commented on #561
Can you also please post the contents of your .gdbinit file?

[2018-10-28 01:47] JD1412 commented on #561
I follow this web page "https://blog.csdn.net/aptx4869_li/article/details/81566541" to install the pwndbg,before this I had succeed three times,And I don't know why this time was failure。

This is my ".gdbinit" file:
[code]

[2018-10-28 02:14] JD1412 commented on #561
Maybe I think i know hwo to fix it.
I just delete all of the .gdbinit file except
[code]
It could works normally,but I don't know why.
Could you tell me which commend of the .gdbinit file  lead to this problem?
And I am truely thankful your team to solve the problem from users,
Improtantly,thank you vrey much

[2018-10-28 02:43] ZetaTwo commented on #561
Yes, it seems you have installed the gdbinit project from here: https://github.com/gdbinit/Gdbinit
You can see that it creates a conflicting command at this line: https://github.com/gdbinit/Gdbinit/blob/master/gdbinit#L426

Basically, some new changes made these two projects incompatible.

[2018-10-28 02:56] init13 commented on #560
[code]
btw i installed peda and libheap before, but i commented it in .gdbinit.

[2018-10-28 02:59] JD1412 commented on #561
OK ,I understand.
Thank you very much.

[2018-10-28 11:53] init13 commented on #560
well....., i found another problem in here,this time i just want execute the example in "https://github.com/shellphish/how2heap/blob/master/glibc_2.25/fastbin_dup_into_stack.c" i set the break point in line 38.i check the heap when program interrupt at line 38,it tell me "ValueError: too many values to unpack (expected 3)"
![bins](https://user-images.githubusercontent.com/35521617/47615419-7b8eee8

[2018-10-28 11:55] disconnect3d commented on #560
-Also are you using the latest dev branch?-
EDIT: Nvm, see below.

On Sun, Oct 28, 2018, 12:53 PM init13 <notifications@github.com> wrote:

[2018-10-28 13:03] GrosQuildu commented on #560
My fault, fix in #563

[2018-10-28 16:11] disconnect3d commented on #560
@init13 shall be fixed by #563, can u check it out?

[2018-10-28 16:11] #560 closed, assigned to nobody

[2018-10-28 17:12] init13 commented on #560
yes,thank you very much!!

[2018-10-29 20:12] bennofs opened #564 "portable helper to inject syscall into target process"
**EDIT from disconnect3d: pls see my comment below. This is fairly easy to implement as of now (2024.04)**

It would be nice to have a way to inject arbitrary syscalls into target processes that:

* works across all arches supported by pwndbg
* works on stripped, static binaries (as long as they have an instruction to perform a syscall somewhere)
* works with gdbserver / remote target

Use cases:

[2018-10-31 02:03] zachriggle commented on #564
Sounds like a cool idea to me.  I think a generic code-injection feature is also useful, and could be built on top of this (via invoking mmap/munmap).

I think we the most robust way to do it (i.e., works with dynamically-linked and statically-linked, does not require symbols) is...

1. Save all register values and the contents of the memory mapping pointed to by `$sp` that will get overwritten on

[2018-10-31 09:42] thinkycx opened #565 "pwndbg displays not well in docker tmux"
### Description

Hello , I use the latest verison of pwndbg.
When I use it in docker , I use tmux and run the gdb.
It displays not well like the picture bellow.
Could you fix it ?

![image](https://user-images.githubusercontent.com/13138128/47779435-0e22ce00-dd34-11e8-87d0-ec34db235103.png)

[2018-10-31 09:47] disconnect3d commented on #565
Hmm I have used pwndbg with tmux before and it worked fine.

Can you share your tmux configuration?

[2018-10-31 09:47] disconnect3d commented on #561
@ZetaTwo thx for looking into it.

[2018-10-31 09:47] #561 closed, assigned to nobody

[2018-10-31 09:55] thinkycx commented on #565
I use the default tmux and only add mouse settings in it
[code]

[2018-11-01 10:09] disconnect3d commented on #564
That's a really great idea. ++++

We could also think of an utility of injecting given library into the process, like load glibc into target process that is statically linked to be able to invoke glibc functions if we don't have symbols for them.

Offtopic: gdb has also convenient functions - i.e. its own version of `strcmp` - in case you don't have glibc or symbols: https://sourceware.org/gdb/onl

[2018-11-01 13:36] thinkycx commented on #565
[code]
After I clear tmux's configuration, it still displays not well.
I think that it might be pwndbg's output problem with tmux.
Is this a bug？

After I change to peda, it works well.
Wish pwndbg will work well with tmux in future.

[2018-11-01 14:16] disconnect3d commented on #565
I will check it out today on my setup. I still feel it worked before... :S

On Thu, Nov 1, 2018, 3:11 PM thinkycx <notifications@github.com> wrote:

[2018-11-01 14:16] disconnect3d commented on #565
Can u show ur gdbinit file?

On Thu, Nov 1, 2018, 3:15 PM Dominik Czarnota <dominik.b.czarnota@gmail.com>
wrote:

[2018-11-02 00:15] disconnect3d commented on #565
![image](https://user-images.githubusercontent.com/10009354/47886848-bde36300-de3c-11e8-86ad-deaa31a295e0.png)
it still works for me. I used tmux on a remote machine, not sure if that matters?

Also, my tmux version is 2.6 - maybe it is the problem?

[2018-11-02 04:44] thinkycx commented on #565
**Thanks for your reply.**
At last, I figure out the problem is tmux.
**Tmux version 2.1 does't work well with pwndbg.**
And I change my tmux to the lastest version next-2.9 and 2.6 is both ok as can be seen in your picture.

My bash script for compiling the lastest tmux is here:
https://gist.github.com/thinkycx/8323b10474c2c9d35cc16c6355a56259

[2018-11-02 04:44] #565 closed, assigned to nobody

[2018-11-02 10:40] disconnect3d commented on #558
@SoWhereAreYou do i understand correctly that `setup.sh` updates your libc version?

As said before, you can still launch a process with an old version of libc, so... just do it? Or is it that we retrieve glibc version based on the system one and not the one loaded in library?

[2018-11-02 22:48] vvb10 opened #566 "could not find a terminal binary to use"
Whenever I try to run pwn debug --exec i get the error `Could not find a terminal binary to use. Set context.terminal to your terminal`

I am running arch with gnome3 as a desktop environment

this is probably something really simple but i cannot figure out how to make it work

[2018-11-02 22:54] disconnect3d commented on #566
This is not related to pwndbg, but to [pwntools](https://github.com/Gallopsled/pwntools/), so I am closing this as invalid.

Anyway, I usually launch pwntools debugging using a Python script like:
[code]
where I set my terminal to tmux and also splitting a window in it.

I believe that you might need to set the `context.terminal` thing in some global config. I guess this documentation page may hel

[2018-11-02 22:54] #566 closed, assigned to nobody

[2018-11-02 23:05] zachriggle commented on #566
Man, I forgot I even wrote that config stuff!

Thanks for the links, Disconnect3d

On Fri, Nov 2, 2018 at 5:54 PM Disconnect3d <notifications@github.com>
wrote:

--

*Zach Riggle*

[2018-11-04 05:13] SoWhereAreYou commented on #558
@disconnect3d Your undertanding is right. Well，I don't know how use a process with certain glibc...Can you teach me that? And It change may system‘s only glibc. But I found a way to deal with it. I set up the Ubuntu 16.04.And the updating don't update my system glibc. So it's seem to the Kali should undertake the obligation？All in all，if setup the pwndbg in Kali，it will change the system glibc. Th

[2018-11-05 13:11] XVilka commented on #514
@matrix1001 don't hesitate to open an issue in radare2 repo if something is missing/required/not working properly.

[2018-11-07 08:38] matrix1001 opened #568 "bug in heap command"
### Description

Bug of command heap

### Steps to reproduce

This bug is due to a strange alignment strategy in newer version of 32 bit glibc.

In a nutshell, the first 16 bytes of heap is 0 in glibc-2.26 (32bit), glibc-2.27 (32bit).

As a result, while parsing heap, the first chunk has size 0 and trigger stop.

### My setup

No need for setup, just check those two glibc.

![image](https://user-i

[2018-11-08 12:20] disconnect3d commented on #568
I believe the reason of this is thread cache and that a lot of bytes in there belong to `tcache_perthread_struct`, see https://github.com/pwndbg/pwndbg/pull/552#issuecomment-431706323

The `tcache_perthread_struct` structure layout can be seen here -  https://github.com/bminor/glibc/blob/master/malloc/malloc.c#L2898-L2902 , it starts with `char[64]` and then has `tcache_entry*[64]`.

[2018-11-08 15:19] matrix1001 commented on #568
I doubt that.

Check this (32bit libc-2.26).

![image](https://user-images.githubusercontent.com/32097922/48207747-49647300-e3ac-11e8-9b5a-adf2bb89fe98.png)

So I believe the reason is `_int_malloc`.

And a bug view.
[code]

[2018-11-11 14:26] #555 closed, assigned to nobody

[2018-11-11 18:03] TheAifam5 opened #570 "[AArch64 & QEMU] GDB and Qemu crashes together while connecting to QUEMU gdb stub"
### Description
I seen similar issue like https://github.com/pwndbg/pwndbg/issues/85.
I tested with the official one `aarch64-linux-gnu-gdb` and the `gdb-multiarch` package and the same issue occurs.

After connecting the GDB to the QEMU, they crash with `segmentation fault` and `abort` errors.

### Steps to reproduce
- Start QEMU using: ` qemu-system-aarch64 -M raspi3 -kernel kernel8.img -d in_as

[2018-11-19 03:36] bash-c commented on #570
I meet something like this. I got the following when debugging a mips binary
[code]

At first I thinks there is something wrong with gdb-multiarch(`GNU gdb (Ubuntu 8.1-0ubuntu3) 8.1.0.20180409-git`), but finally I found that using gdb-multiarch without any plugin woks well.

[2018-11-22 19:32] gymgit commented on #523
I still experience this issue on arch with up to date `gdb` and `gdb-multiarch` as a temporary work around I suggest adding the following exception case:

[code]

[2018-11-22 21:53] disconnect3d commented on #523
@gymgit can u send a pr with this workaround? if there is a way, pls check a gdb version too (i think we have this somewhere in the codebase).

[2018-11-22 22:31] disconnect3d opened #574 "Add xuntil command from peda"
[code]

e.g. `xuntil <expr>` where expr is an address/symbol; as a result we want an one time breakpoint + continue with given arguments.

I think we can also extend it with running the program if it is not started yet.

[2018-11-23 20:13] TheAifam5 commented on #523
@disconnect3d Its actually flagged as "RESOLVED FIXED", so should be in the next release.

[2018-11-24 11:16] FilipDjurkoviccc opened #576 "How to use common gdb when installed pwngdb?"
How to use common gdb when installed pwngdb?
I want to use common gdb, but not to uninstall pwndbg

[2018-11-24 11:17] disconnect3d commented on #576
Just comment out the 'source .../gdbinit.py' line in your ~/.gdbinit script.

On Sat, Nov 24, 2018, 12:16 PM Itra7 <notifications@github.com wrote:

[2018-11-24 15:47] #576 closed, assigned to nobody

[2018-11-26 03:15] ckxckx opened #577 "command repeat fails when pressing enter in "target remote" mode"
### Description

Using ENTER to repeat previous command is OK when I debug with pwndbg locally. However, when I try to debug kernel by "target remote: port", the repeat function goes fail.

You see, when pwndbg is disabled, raw gdb's command repeat function still works well in "target remote" mode.

So, is there any thing to do with the bug?

ps: Although I test gdb on Mac OS now, I believe the bu

[2018-11-26 10:29] thinkycx opened #578 "pwndbg will not display source code when source code has chinese characters"
When use directory glibc source in gdb(directory /root/Pwn/glibc/glibc-2.23/malloc),  it will display the source code in pwndbg like this:
![image](https://user-images.githubusercontent.com/13138128/49008442-cb280f00-f1a8-11e8-9bd9-7bae523ecbfa.png)

However, **when I add Chinese characters in souce code like this**, pwndbg will not display it . Is this a bug? Will you fix it?
![image](https://use

[2018-11-26 10:41] disconnect3d commented on #578
Yes it is a bug. Can you show an example of those chars here on GitHub?

On Mon, Nov 26, 2018, 11:29 AM thinkycx <notifications@github.com wrote:

[2018-11-26 10:45] thinkycx commented on #578
OK. You can paste the Chinese code below in any code.
[code]
@disconnect3d

[2018-11-27 08:45] #578 closed, assigned to nobody

[2018-11-27 08:46] disconnect3d commented on #578
@thinkycx Please try with latest dev, should be fixed now :)

[2018-11-27 09:33] thinkycx commented on #578
It works! Thank you man!  Your **bug fixing** speed is very fast!
![image](https://user-images.githubusercontent.com/13138128/49072100-751ba000-f26a-11e8-89fb-711ea98c295b.png)
@disconnect3d

[2018-11-29 02:47] ladreamist commented on #514
Is it intended behavior that the loading of the binary and the program counter doesn't reflect the state of the debugee? I've for the moment made a quick personal fix like so
https://github.com/n00bSec/pwndbg/commit/400502bc2787f4bf7004a542156ca9c6cc28db67
to make it more consistent with the already debugged binary.

The program counter thus also reflects the current PC of the debugee.

At the mom

[2018-11-29 03:40] matrix1001 commented on #514
@n00bSec Well, I forgot to close this issue after PR. Original problem is that `r2` command does not support PIE. I checked your fix. It's also an option.

[2018-11-29 03:40] #514 closed, assigned to nobody

[2018-11-30 15:12] itszn commented on #511
I just pulled the latest on ubuntu16, previously had been working fine on the same box. Now hitting enter after nexti or stepi does not repeat the command. This is over ssh as well.

[2018-11-30 15:21] iDTer opened #580 "Exception: Cannot override non-whitelisted built-in command "heap""
**Description**
`For help, type "help".
Type "apropos word" to search for commands related to "word".
Traceback (most recent call last):
  File "~/pwndbg/gdbinit.py", line 36, in <module>
    import pwndbg # isort:skip
  File "/home/idter/pwndbg/pwndbg/__init__.py", line 31, in <module>
    import pwndbg.commands.heap
  File "/home/idter/pwndbg/pwndbg/commands/heap.py", line 85, in <module>
    de

[2018-11-30 16:17] disconnect3d commented on #580
It means you have some other plug-in installed that defines heap command in
.gdbinit.

On Fri, Nov 30, 2018, 4:24 PM iDTer <notifications@github.com wrote:

[2018-11-30 17:22] ysf commented on #574
Is this needed with break_on_next(address) and break_next_call ? Or is this required for PEDA compatibility?

[2018-12-01 02:09] iDTer commented on #580
I think so, but i don't konw which plug-in installed that defines heap command in .gdbinit, anyway thank you!

[2018-12-03 12:55] #580 closed, assigned to nobody

[2018-12-04 16:28] disconnect3d commented on #574
I was asked to add this. Not sure what do you ask by:

I guess this functionality might use one of those functions

[2018-12-09 23:26] FrancescoMagliocco commented on #577
I can confirm that this is an issue when just debugging regularly as well.  It's rather annoying, but seems like it could be a simple fix.  Really looking forward to a fix for this.

[2018-12-09 23:32] disconnect3d commented on #577
@FrancescoMagliocco Can you give some more details? Repeating commands with enter works for me.

I believe this bug is related to #523 - i.e. it happens only on gdb 8.2.

[2018-12-09 23:33] disconnect3d commented on #577
@ckxckx It works for me with gdb 8.1. I believe this is related to gdb 8.2 bug.

[2018-12-09 23:47] FrancescoMagliocco commented on #577
I'm trying to downgrade gdb but I can't seem to find the exact string version to use with `apt-get`.  I've done `apt-cache showpkg gdb` but it just shows gdb 8.2-1

Quickly just removing the .gdbinit from ~ on Debian/Buster.  Commands seem to be repeating.

When I updated pwndbg, all I did was pull from the repo, and ran setup.sh again..  Could that be the reason why commands are not being repeate

[2018-12-10 00:10] disconnect3d commented on #577
@FrancescoMagliocco I usually build gdb by myself. The steps are more or less (adjust e.g. python path or number of CPUs to use for compilation (the `-j` flag to `make`)):
[code]

[2018-12-10 14:28] JX-Zhang98 commented on #509
Emmm...sorry,  I meet the same problem that if I use a designated libc , error occurs when checking the heap.

But I didn't what you mean to solve this error ,actually
No matter what I do like this , error exists.

- env = {"LD_PRELOAD":os.path.join(os.getcwd(), "./libc_64.so.6")}
  io = process('./secretgarden', env=env)
- io = process('./secretgarden', env={'LD_PRELOAD': './libc_64.so.6'})

But

[2018-12-13 03:59] Cryptoshade opened #581 "r2: 'NoneType' object has no attribute 'cast' (<class 'AttributeError'>)"
### Description

This happens when i initiate r2 after loading a binary in pwndbg
I have tested both in  wsl and a 64bit ubuntu machine same behavior sorta

### Steps to reproduce

1. Load a binary
2. Run r2
Exception occured: r2: 'NoneType' object has no attribute 'cast' (<class 'AttributeError'>)
Traceback (most recent call last):
  File "/root/reverse/pwndbg/pwndbg/commands/__init__.py", line 1

[2018-12-14 05:54] vitapluvia commented on #366
![one-year-later](https://user-images.githubusercontent.com/2328639/49984938-f3d93400-ff1e-11e8-8fa5-4e0e11645697.jpg)

Sorry for the late reply!  Work has been busy, and haven't had a chance to look further into this issue.

@disconnect3d it is just a feature request because I couldn't find the area to change within `pwndbg` 😄

After going through some pwnables recently, I realized it would be ea

[2018-12-14 22:53] dmtrygrey commented on #356
For 4.18.0-kali3-amd64:

[2018-12-19 17:20] disconnect3d commented on #581
@anthraxx can you check this out?

[2018-12-26 02:16] thinkycx opened #583 "It's hard to use pwndbg to search strings and integers"
It's hard to use pwndbg's search.

It seems that you have rewrite search function.  I can use `search -s /bin/sh` to search strings and it has warining here.
 Besides, it's hard to search integer such as `search -p 0x464c457f`.
[code]
![image](https://user-images.githubusercontent.com/13138128/50428967-6b7f6980-08f6-11e9-8a4b-06bbfbdf3f98.png)

Peda does a nice work here.
compare to peda:
![image]

[2018-12-26 05:16] zachriggle commented on #583
As far as I know, the warning is emitted by GDB internally and can’t be
silenced.

On Tue, Dec 25, 2018 at 8:16 PM thinkycx <notifications@github.com> wrote:

--

*Zach Riggle*

[2018-12-26 07:09] zachriggle commented on #583
As far as I know, the warning ("Unable to access...") is emitted by GDB internally and can’t be silenced.  We should probably look into it, though.

You can also search by any size of integer you prefer, with the `search` command -- see `help search` for more information!  You can pass in e.g. `-1` or `-2` for sizes.

What would you recommend to improve the current functionality!

[2018-12-26 07:13] zachriggle commented on #583
Apparently `help search` does not display the full ability of the command -- `search --help` does.  This might be something we look into -- maybe just add a reference to that.

In any case, here's the supported flags:

[code]

[2018-12-26 07:28] thinkycx commented on #583
It works even though it still have the warnings.
`warning: Unable to access 16000 bytes of target memory at 0x7ffff7bd4d03, halting search.`

Thank you for your help.

![image](https://user-images.githubusercontent.com/13138128/50436858-aa2b1900-0922-11e9-91d2-a871070c8b06.png)

[2018-12-26 07:46] zachriggle commented on #583
I'm glad that everything still worked out for you!

I think you may also be using an older version of GDB or Pwndbg, I don't actually see those errors emitted anywhere.  Can you try with a newer GDB?

I'm using...
[code]

[code]

~~Notably, PEDA doesn't appear to find all of the references.~~  Update: Yes it does.

[code]

[2018-12-26 07:58] thinkycx commented on #583
I run gdb in ubuntu 16.04 and the gdb version is 7.11.1.  So,  it seems that the warning is related with the gdb version.
[code]

I'm sorry that  I don't have ubuntu 18.04 at present. Maybe I will upgrade my ubuntu soon .
Thank you for your help.

[2018-12-26 15:32] #583 closed, assigned to nobody

[2019-01-04 07:33] sudhackar commented on #581
I can help here. When the program is not running we can start r2 with default parameters without any address. @disconnect3d I'll send a PR today if that's okay?

[2019-01-04 11:19] #581 closed, assigned to nobody

[2019-01-04 12:04] disconnect3d commented on #581
Sure, thanks!

On Fri, Jan 4, 2019, 8:33 AM Sudhakar Verma <notifications@github.com wrote:

[2019-01-05 09:43] Aloxaf commented on #523
gdb 8.2.1 has been released: http://lists.gnu.org/archive/html/info-gnu/2018-12/msg00013.html
This bug seems to have been fixed.

[2019-01-06 04:36] daehee87 opened #585 "repeating memory dump by pressing enter in pwndbg"
Im not sure if this is a bug or intended feature or my mistake
but there is something I find very uncomfortable in pwndbg since ubuntu 18.04

while dumping the memory content, I could simply type something like
"x/30gx 0x601000". This shows 30 QWORDS starting from 0x601000.
afterwards, if I press enter again, it shows NEXT 30 QWORDS adjacent to the
previously shown dump. This is a basic gdb featur

[2019-01-06 09:32] sudhackar commented on #585
What is the gdb version on both machines?

[2019-01-06 13:35] sudhackar commented on #585
I just verified this. This is not due to pwndbg, its on gdb.

[code]

I have a 8.2 built with source and it works fine

with pwndbg
[code]

without pwndbg
[code]

Follow [this](https://github.com/pwndbg/pwndbg/issues/577#issuecomment-445590185) and build. It should resolve your issue.

[2019-01-07 11:38] daehee87 commented on #585
ah, sorry I didn't checked if vanilla gdb does the same thing.
that helps!
thank your for reply!
thanks for making pwndbg~!

On Sun, Jan 6, 2019 at 10:35 PM Sudhakar Verma <notifications@github.com>
wrote:

[2019-01-07 11:40] #585 closed, assigned to nobody

[2019-01-07 15:08] disconnect3d commented on #523
@Aloxaf Thx for noticing this! I am closing the issue then.

[2019-01-07 15:08] #523 closed, assigned to nobody

[2019-01-07 16:29] Inc0n opened #586 "Pwndbg in Docker. Python Exception <class 'AttributeError'> module 'pwndbg' has no attribute 'commands'"
### Description
pwngdb seems to have issues with docker
pwngdb installed on ubuntu 18.04 in dokcer
run `gdb`
[code]

### Steps to reproduce
by starting gdb up with an executable passed as argument
[code]
setting a break point and run will produce the following
[code]
program code
[code]

### My setup
gdb - GNU gdb (Ubuntu 8.1-0ubuntu3) 8.1.0.20180409-git
os   - Ubuntu 18.04 docker
python 3.6.7
pwn

[2019-01-07 16:39] Inc0n commented on #586
this issue is linked with this [issue](https://github.com/pwndbg/pwndbg/issues/561#issuecomment-433671551) cause by using this [gdbinit](https://github.com/gdbinit/Gdbinit)
by [deleting everything but](https://github.com/pwndbg/pwndbg/issues/561#issuecomment-433670465) `source /root/pwndbg/gdbinit.py` will fix the issue

[2019-01-07 16:40] #586 closed, assigned to nobody

[2019-01-12 23:54] disconnect3d commented on #577
Shall be fixed on gdb 8.2.2

[2019-01-12 23:54] #577 closed, assigned to nobody

[2019-01-13 00:01] disconnect3d opened #587 "Context disasm crashes when trying to show dereferenced call address"
Enhancing a disassembled instruction fails if it is an indirect call and the address cannot be dereferenced/retrieved.

The issue can be reproduced with a binary created from assembly:
[code]

Or, full testcase (assuming `nasm` is installed):
[code]

Current result:
[code]

Expected result - display disasm:
[code]

or `INVALID DEREF` or sth like this.

[2019-01-13 00:24] #587 closed, assigned to disconnect3d

[2019-01-24 23:50] disconnect3d commented on #229
I've decided to skip the `beta` branch as it probably wasn't used at all, even by me and I usually run on dev.

I will keep just two branches for now: dev and stable.

I have also added wiki and a page on how to make a release, so we won't have to remind ourselves how to do certain steps: https://github.com/pwndbg/pwndbg/wiki/Making-a-release

This being said I think the issue can be closed and so

[2019-01-24 23:50] #229 closed

[2019-01-24 23:57] zachriggle commented on #229
The intent of the beta branch is not really that anybody uses it, but
rather to give commits some bake time before they hit stable.

I recommend sticking with a one-release delay (which is what the beta
branch is, effectively) so that bugs can be fixed before they hit general
release.

[2019-01-25 00:19] disconnect3d commented on #229
This is a good idea but it introduces the need to update beta and dev separately... I think we can revisit this when we (hopefully) have more long-standing contributors.

[2019-01-25 00:29] zachriggle commented on #229
The idea is that all bug-fixes will go into the oldest branch that's supported, and you just merge between them.  Merges for bugfixes should be ~painless.  `stable` -> `beta` merges should be extra painless.

In any case, you're doing all the work so I support your decision ❤️ I just wanted to provide context / justification for having the branch in the first place.

[2019-01-29 16:05] syndrill opened #592 "Feature: piebase as vars (ie. $piebase, $rva)"
Would be nice to have this in feature lists. I always do this manually by using
[code]
Then accessing .bss or other relative offset, with
[code]

[2019-01-31 07:48] syndrill commented on #592
I'm kind of new to this project. Is there any part of this to look at first? There are some implementations I have been thinking,
1. by executing `set $rva = some_offset` every `piebase` command executed, this can't be foolproof though. What will happen when ASLR activated and program restarted?
ref: https://github.com/scwuaptx/Pwngdb/blob/master/pwndbg/pwngdb.py#L72
2. by executing `set $rva = so

[2019-02-03 04:29] disconnect3d commented on #592
Hey, although we have this kind of feature as a gdb function (e.g. `p/x $rebase(0x1234)` and also `breakrva 0x1234` as for setting a breakpoint), I still find it useful (and it should probably make the `$rebase` function obsolete/deprecated).

This should be set within a program start event, so you must write a function and decorate it with `pwndbg.events.start` as in https://github.com/pwndbg/pwn

[2019-02-12 03:41] zachriggle opened #595 "Integration of Pwntools"
Now that Pwntools has a dual Python2/3-compatible branch [dev3](https://github.com/Gallopsled/pwntools/tree/dev3), we should investigate integrating it into Pwndbg.

I duplicated lots of functionality when writing Pwndbg, or just outright copy-pasted from pwntools.  Integration is currently very loose, and just shells out to e.g. `pwn shellcraft` command-line tools.

Pwndbg will remain wholly sepa

[2019-02-12 16:18] anthraxx commented on #595
I see where you are coming from. but if we replace core parts of pwndbg with calls to pwnlib, it becomes a hard dependency which makes is currently npita to properly maintain on a distro level as pwnlib has lot more dependencies and force `sortedcontainers<2.0` etc, which is very bad for Arch packaging f.e.

EDIT: in general I like the idea and we could add proper debruijn pattern support like oth

[2019-02-13 11:01] zachriggle commented on #595
@anthraxx definitely a good point on introducing dependencies.  I have no problem blocking integration on that.

[2019-02-17 01:24] blshkv opened #598 "setup.py: provide a platform independent setup.py"
I'm not sure if I need to explain, but there is a universal way to handle the installation and uninstallation of a python package using setup.py. It can co-exist with the current setup.sh. In fact setup.sh could call setup.py at some point (after all deps are installed, etc)

This mechanism (using setup.py) is used by all linux distributions so it would allow to push latest releases of pwndbg almo

[2019-02-17 16:36] disconnect3d commented on #598
We already had some discussion regarding setup script  (https://github.com/pwndbg/pwndbg/issues/296#issuecomment-430149413) and I think that's good idea to create setup.py. It's also probably not that hard to do so.

Would you mind sending a PR adding this and modifying the setup.sh so it would use it instead? The setup.sh is probably still needed for things "not covered" by Python part: e.g. libc

[2019-02-18 00:22] blshkv commented on #598
Sorry, I don't have time for the initial change. But I will definitely test and help to fix any bugs later

[2019-02-20 12:12] piotrzarycki commented on #598
I will take care of it

[2019-03-05 14:17] disconnect3d commented on #568
I believe it was fixed with https://github.com/pwndbg/pwndbg/pull/571

[2019-03-05 14:17] #568 closed, assigned to nobody

[2019-03-07 03:33] r00kie-0 opened #599 "error in pwndbg debug with mips64"
when i debug with mips64, it goes wrong. `file` command check the file is:
[code]

when debug with gdb, it reports:
[code]

how can i do to solve the problem?

[2019-03-07 11:57] disconnect3d commented on #599
Hey,

are you debugging a linux ELF binary, or is it some kind of a system image? I assume the former as the binary is busybox but it's still good to ask.

Also, do you use gdb that supports target architecture? See `show arch` (and then `set arch` to a proper one). If your gdb doesn't have the one you need (mips64?) you might want to install  `gdb-multiarch` (there should be such package on debia

[2019-03-13 16:32] duckythescientist opened #600 "Incorrect symbol resolution in remote targets"
### Description

Symbol address resolution seems to be incorrect (inconsistently?) for remote targets. This is an issue with both `gdbserver` and `qemu-user` methods of executing the binary.

With a native gdbserver, `main` resolves correctly, but another symbol (`my_symbol`) in main resolves incorrectly. Gdb has the correct offset from `main` for `my_symbol`, though. After I execute `file native.

[2019-03-23 21:08] dipanjan commented on #511
I am facing the same issue on `Ubuntu 18.04.2 x86_64`, `pwndbg` commit `0f4e31e72a10320670f04616041ab800fc9cadf1`

[code]

[2019-03-24 10:12] pullp commented on #511
I am facing the same issue on ubuntu 18.10 x86_64

when I hit ENTER gdb will repeat the last instruction(I have test n ni s si) if I don't use pwndbg otherwise it just show a new line.

environment infomation:
➜    uname -a
Linux pwn 4.18.0-16-generic #17-Ubuntu SMP Fri Feb 8 00:06:57 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

pwndbg> show version
GNU gdb (Ubuntu 8.2-0ubuntu1) 8.2
....
This GDB was

[2019-03-24 20:14] disconnect3d commented on #511
Can you guys try on the latest release of GDB? The 8.2.0 had some bugs which we talked about in https://github.com/pwndbg/pwndbg/issues/523. I believe it might be it...

You can build particular GDB version as in:
[code]
Please note that you need to specify proper python path and this might require some additional libs e.g. `libreadline` (install from apt). It also installs the GDB to `/usr` as sp

[2019-03-25 09:53] oowl opened #601 "'NoneType' object has no attribute 'cast' (<class 'AttributeError'>"
### Description
This happens when i initiate target remote mips qemu enviroment after loading a binary in pwndbg
I have tested both in archlinux machine

### Steps to reproduce
1.load  binary in gdb in x86 pc
  `gdb-mutliarch vulu`
2.`qemu-mips-static -g 1234 vulu`
3. `target remote 127.0.0.1:1234`
then
[code]

Gdb session history:

### My setup

Platform: Linux-5.0.3-arch1-1-ARCH-x86_64-with-arch

[2019-03-25 09:59] disconnect3d commented on #601
Hey,

thanks for reporting this.

Loud thinking: the report generation should somehow display available architectures (as in `set arch <tab>`), current architecture, language, osabi and gnutarget.

Can you attach the binary you used?

[2019-03-25 10:04] disconnect3d commented on #600
Hey,

thx for reporting this. I don't really have time to dive into it right now; I will try to look at this again next week.

This being said, I found the `file` command in gdb buggy sometimes - e.g. using it many times and attaching/running different binaries shown weird results. Can you see if this behaviour persists if you use `gdb ./binary` instead of `gdb -ex ./binary`? Also, if this is rela

[2019-03-25 13:01] iromise opened #602 "Enter do not repeat the last command"
### Description
when using gdb 8.2 on Ubuntu 16.04,  the enter do not repeat last command.

### Steps to reproduce
1. install gdb 8.2 on ubuntu 16.04
2. gdb any program.
3. enter `starti`
4. enter `si`
5. enter `enter`

the fifth command do not repeat `si`.

### My setup
[code]

[2019-03-25 13:04] pullp commented on #602
this problem has been reported before.
https://github.com/pwndbg/pwndbg/issues/511#issue-352141391

[2019-03-25 15:08] iromise commented on #602
sorry..

[2019-03-25 15:08] #602 closed, assigned to nobody

[2019-03-26 17:04] alissonbezerra commented on #574
I'd like to take care of it as a first contribution.

[2019-03-26 17:23] disconnect3d commented on #574
@alissonbezerra That's great! If you need any help feel free to write here or e.g. on freenode irc #pwndbg (or PM me there - disconnect3d).

[2019-03-27 14:11] pullp commented on #511
Thanks a lot. GDB 8.1  don't have such problem.
besides, I also need to install `texinfo` from apt to make gdb.

Maybe this is really a gdb's bug as I refered to gdb's commit history and saw this:
[Fix gdb/TUI behavior in response to [Enter] keypress](https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;h=b17c4cd078e2d1d8951951016815e474fb133780)

[2019-03-30 23:50] AdamVanScyoc opened #607 "Cyclic utlity no longer working"
### Description
The "cyclic" utility, accessed from within an open GDB (pwndbg) session, has apparently regressed and no longer works.

`pwndbg> cyclic 1`
`Traceback (most recent call last):
  File "/usr/local/bin/cyclic", line 7, in <module>
    from pwnlib.commandline.common import main
ModuleNotFoundError: No module named 'pwnlib'
`

### Steps to reproduce
Open a pwndbg/gdb session with a valid

[2019-03-31 00:02] AdamVanScyoc commented on #607
My mistake; needed to clone and pull latest version of the checksec script from here: https://github.com/slimm609/checksec.sh

[2019-04-01 08:15] disconnect3d commented on #607
Hey,

cyclic is a command installed with pwntools (https://github.com/Gallopsled/pwntools). I have checked it and it works on my machine.

It seems like some python virtual(?) environment problem - can you try e.g. reinstalling pwntools?

Since this is not a pwndbg issue, I am closing it.

[2019-04-01 08:15] #607 closed, assigned to nobody

[2019-04-10 19:54] stnevans commented on #344
Is this still worth doing? I would be willing to take a crack at it if so.

[2019-04-11 09:03] zachriggle commented on #344
Always a worth it!

On Wed, Apr 10, 2019 at 2:54 PM Stuart Nevans Locke <
notifications@github.com> wrote:

--

*Zach Riggle*

[2019-04-11 12:42] sudhackar opened #609 "bp breaks on pie binaries before run"
### Description
In the windbg commands while setting a breakpoint using `bp` the address is converted to int

https://github.com/pwndbg/pwndbg/blob/ca17c6dbb0d1bc40ef060331aa48dad0675c5df9/pwndbg/commands/windbg.py#L297

using `pwndbg.inthook.xint`. This verifies if the argument is actually an address but in case of pie binaries it could be possible that the address is loaded later and then the ar

[2019-04-11 12:44] disconnect3d commented on #609
Thanks for reporting this. Woa, this is an interesting bug.

Would you mind working on a fix for this?

[2019-04-11 12:46] sudhackar commented on #609
Sure Yea. I'll try to send a PR.

[2019-04-12 02:25] stnevans commented on #344
I wrote something that seems to work.
It generates the following for your example:
[code]
It also seems to be working for my examples with pointers, arrays, and recursively pointing structs.
The reason I forward declare the typedef is in case of mutually dependent structs with pointers to each other (I can't actually figure out if this can be done with ctypes, so I can't guarantee it works in that

[2019-04-14 12:45] 5n0wfish opened #611 "bug in remote target"
Description

Bug in target remote in qemu of linux kernel
Steps to reproduce

 l use pwndbg to remote the linux kernel running with qemu（64bit）and in qemu l use a netlink socket for interprocess communication .

I put a breakpoint in the kernel function of the netlink socket, and then started the communication program. When the program ran near the breakpoint, gdb crashes.
.

My setup
ubuntu 16.04

[2019-04-15 11:58] disconnect3d commented on #611
@luyut This seems rather as a GDB or QEMU's gdbserver bug and not like a Pwndbg bug. Does it work without Pwndbg? It might do so because standard GDB doesn't fetch much things from QEMU by default...

Please try updating your GDB and/or QEMU (so it uses newer version of gdbserver) and check again. That's much easier to check then to _look for a (probably) hard to reproduce bug_ :S.

[2019-04-19 15:48] obilodeau opened #612 "IDA Integration: exceptions.OverflowError long int exceeds XML-RPC limits"
### Description

IDA Integration fails with some binaries throwing the following exception when trying to reach your first breakpoint:

[code]

I don't understand what is crashing the binary. I thought it was because it was a PIE executable but I've tried on other binaries and it doesn't crash.

Here's the full stacktrace:

[code]

### Steps to reproduce

1. Open binary in IDA Pro
1. Run the `ida_

[2019-04-19 16:10] obilodeau commented on #612
I understand how to reproduce it now. You need to debug the binary in IDA first. Addresses stored within IDA will have their base all shifted by `0x5555...` which is larger than the RPC's `int32` wire protocol.

So a workaround, if you face this issue, is to restart with a fresh idb.

[2019-04-19 16:20] obilodeau commented on #353
Same here:

[code]

[code]

[2019-04-21 08:45] CarloMara commented on #570
Same problem here,

@TheAifam5  by any chance does your elf have any custom sections or non standard relocations? Mine does and I'm suspecting that's the problem, as works with _normal_ elfs.

Carlo

[2019-04-21 09:52] CarloMara commented on #570
So, this is probably a common case of every day bit rot.

[PEP479](https://www.python.org/dev/peps/pep-0479/) changed the way `StopIteration` works, as now it raises a `RuntimeError` when triggered. This of course is non backwards compatible, but it was fairly trivial to to fix, as the PEP author took grate care to illustrate how to deal with old broken code.

I'll send a PR to get this fixed, I'm

[2019-04-21 12:27] disconnect3d commented on #570
This issue should be fixed with #613.

[2019-04-21 12:27] #570 closed, assigned to nobody

[2019-04-21 13:03] disconnect3d commented on #612
Oh, that's interesting. Thanks for investigating this.

So... is there anything we can do here?
Can we detect that the base address is binary on the IDA side and "fix it"?

[2019-04-21 13:04] disconnect3d commented on #611
I am closing this as there is no activity here :'(

[2019-04-21 13:04] #611 closed, assigned to nobody

[2019-04-21 13:05] disconnect3d commented on #601
@attenuation ping?

I am closing this for now. Please reopen if you can add some more information so it is possible to reproduce this issue.

[2019-04-21 13:05] #601 closed, assigned to nobody

[2019-04-21 13:17] disconnect3d commented on #599
@r00kie-0 ping? I am closing this due to no activity here and not much information regarding the setup so it is not possible to reproduce this.

Please reopen and attach your binary along with your setup (e.g. output of `version` and `bugreport` commands).

[2019-04-21 13:17] #599 closed, assigned to nobody

[2019-04-21 13:23] disconnect3d commented on #558
So the easiest way to launch a process with different glibc is to have a full-system-environment with that glibc. With the existence of docker it is usually super easy to do so by doing:
[code]

This will launch a docker container with the current directory mounted to `/task` on ubuntu:16.04 (so glibc 2.23). You will be `root` inside the container with `SYS_PTRACE` capability, which lets you use p

[2019-04-21 13:23] #558 closed, assigned to nobody

[2019-04-21 13:28] disconnect3d commented on #600
Btw this: `qemu-x86_64 -L /usr/arm-linux-gnueabi` feels wrong - i.e. you mismatch the  qemu target architecture with `-L` target architecture (x86-64 vs arm-gnueabi).

[2019-04-21 13:36] disconnect3d commented on #600
Also the symbol stuff is related to the fact there is PIE + qemu/gdb not handling this properly.

I am not sure if we can do sth about that in pwndbg...

---

Below an example.

[code]
and in another console:
[code]

[2019-04-21 13:36] #600 closed, assigned to nobody

[2019-04-21 13:38] #538 closed, assigned to nobody

[2019-04-21 13:45] disconnect3d commented on #513
@cebrusfs are you going to work on that?

After re-reading this issue I think that maybe we should *just disable highlighting changes and enhancements* when we are on anything else than the current frame.

Otherwise things might be tricky - for displaying the code we don't want to show that particular memory has "this value" as it can have different value than it had previously when the program wa

[2019-04-21 13:46] disconnect3d commented on #592
@zeroload Hey, are you going to work on this?

[2019-04-21 14:26] TheAifam5 commented on #570
@CarloMara its not a “elf” format. Its just a kernel from scratch for Raspi3. I provided a link to the tutorial which has a LD file and prebuild image if you interested.

[2019-04-22 05:45] cebrusfs commented on #513
No. I am busy on my own stuff recently. It would be great if anyone can take over this.

[2019-04-23 13:29] syndrill commented on #592
Uh.. yeah. I totally forgot about this. Sorry, I don't think I could work on this.

[2019-04-23 23:04] stnevans commented on #609
As I was looking at some other unrelated things, I stumbled across this as well.

To debug this a bit more, I added the following right before [pwndbg/inthook.py:42](https://github.com/pwndbg/pwndbg/blob/93aabaa5fb9aa806eab8cd5017739673500c1cac/pwndbg/inthook.py#L42)
[code]
Here is the output I got:
[code]

To me, it appears that prior to running the binary, pwndbg has the wrong typeinfo. It seems

[2019-04-23 23:27] stnevans opened #614 "Cannot break on a symbol from a shared library"
## Description
Pwndbg makes it impossible to set breakpoints on symbols from shared libraries that haven't yet loaded. This is because we run `set confirm off` in [\_\_init\_\_.py](https://github.com/pwndbg/pwndbg/blob/93aabaa5fb9aa806eab8cd5017739673500c1cac/pwndbg/__init__.py#L130)

### Steps to reproduce
[code]
Expected behaviour:
[code]

### My setup
Gdb:      7.11.1
Pwndbg:   1.1.0 build: 93a

[2019-04-23 23:44] stnevans commented on #614
I was looking for a way to get around not running `set confirm off` in the init as it's very nice, but I can't see anything that wouldn't require a large amount of work.
The initial thing that came to mind was making commands called "b","br","bre","brea", and "break" which just call gdb.Breakpoint() on their argument.
The issue with doing this is that it appears that the command parsing itself act

[2019-04-24 03:19] stnevans commented on #609
Sorry to be replying again, but I found something new.
I'm still not sure why gdb.lookup_type behaves the way it does.
Even still, we can fix this by generating correct typeinfo when the binary is loaded. The reason we currently do not get correct typeinfo is that the [update method in typeinfo.py](https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/typeinfo.py#L46) only listens for the start and sto

[2019-04-25 00:22] disconnect3d commented on #614
Hmm, that's an interesting point. I think I used to see  that `Make breakpoint pending on future shared library load? (y or [n])` question asked by gdb with pwndbg many times, but I can't reproduce it huh.

The potential problem with `set breakpoint pending on` is that if users mistype a function name they  will not end up in it... It might be annoying.

Since you checked it, why can't we sett `se

[2019-04-25 00:26] disconnect3d commented on #609
Don't be sorry for replying! That's great that you contribute!

Can it be a bug withing gdb itself? I sometimes stumbled upon certain things not working properly or working a bit differently e.g. for PIE binaries or remote debugging. It could have been a GDB issue or this typeinfo thing...

Regarding the potential fix, I think it is okay if we just subscribe to one more event.

[2019-04-25 00:54] stnevans commented on #614
That's true.

I actually think we could do `set confirm on`. I assumed there was some reason that pwndbg turned confirm off in the first place though, and presumably doing this would negate that. I'm not really sure of this though. I'm also not sure exactly what the value of `confirm` changes.

[2019-04-25 01:03] evil7 opened #615 "Install error with ubuntu 19.04 x64"
Hi.
Thx for this nice gdb addon first.
But I found some error when `./setup.sh` in ubuntu 19.04 x64.
Is that must I change OS to 16.04?
### Description

can't found `setuptools` happend when I installing used `./setup.sh`.

### Details

[code]

### Others

[code]

[2019-04-25 01:26] stnevans commented on #609
Thanks. I'm new to contributing on github so just trying to feel out the etiquette.

This behavior doesn't actually appear unique to PIE binaries, it's just that no one tries breaking on high addresses for non-pie binaries.

I'll open a pull request.

[2019-04-25 03:10] evil7 commented on #615
whatever I just changed OS to ubuntu 16.04 x64 few mins ago... 🔨

[2019-04-25 03:10] #615 closed, assigned to nobody

[2019-04-25 05:11] evil7 commented on #615
done. found it. need `apt install gcc psutil` but they are missing when I reinstall OS.

[2019-04-25 16:12] #609 closed, assigned to nobody

[2019-04-25 16:13] disconnect3d commented on #615
Can you contribute to setup.sh and add there the `gcc psutil` packages when we do `apt get ...`?

[2019-04-25 17:47] stnevans commented on #425
I looked at this a little more. You don't need pwndbg to reproduce this bug, just any python program that runs `gdb.execute()` during a stop event and `continue` in your commands to run after a breakpoint is hit.
From my analysis, it appears that running `gdb.execute` inside a handler for a stop event results in the commands the user defined to run after the breakpoint being hit executing. If the

[2019-04-26 03:06] stnevans opened #617 "Got doesn't work on all pie binaries"
### Description
The `got` command sometimes fails to work for pie binaries. This happens when the entry point does not exist in the lowest page in memory.
This is because the got addresses should be rebased relative to the lowest page, but currently the got command assumes that the entry point must be in the lowest page in memory.
Here's the relevant code:
https://github.com/pwndbg/pwndbg/blob/2f3

[2019-04-26 10:13] disconnect3d commented on #617
Fixed in  #618

@stnevans jfyi there is a cool feature on github that let's us automatically close issues with merged PRs if you put e.g. `fixes #<issue id>`in the PR (or commit?) topic/description - https://help.github.com/en/articles/closing-issues-using-keywords :)

[2019-04-26 10:13] #617 closed, assigned to nobody

[2019-04-26 10:16] disconnect3d commented on #614
@zachriggle @anthraxx @gsingh93  do you possibly know why do we do `set confirm off`? :D

[2019-04-26 13:41] nop-90 opened #619 "Remote debugging fails with 'g' packet reply too long"
Hi,

While debugging a program on an ARM virtual machine (Qemu) using remote debugging, GDB tried to follow a program fork as I explicitly configured with follow-fork-mode but pwndbg failed to properly parse the contents of the gdb server response for the command `show osabi`. It received 328 bytes instead of 168 bytes.
I tried on vanilla GDB and it didn't failed.

Thanks,

### Description
[code]

[2019-04-29 19:13] disconnect3d commented on #619
Does this error happen if u do `pi gdb.execute('show osabi', to_string=True)` when debugging remotely without pwndbg?

[2019-04-30 09:28] nop-90 commented on #619
I should precise that I use gdb-multiarch

Here's what it does :
[code]

[2019-05-01 10:02] mzr opened #623 "pwndbg.proc.exe returns wrong path"
### Description

When using pwntools `gdb.debug()`:
[code]

It works when I call gdb directly (without gdbserver).

### My setup

[code]

Also tested with Ubuntu 16.04 docker container, and Ubuntu 14.04 docker container.

### Steps to reproduce

1. Create `script.py`:

[code]

2. `echo '#include <stdio.h>\n int main(){ puts("a"); return 0;}' | gcc -xc -o bin -`
3. `./script.py`
4. Execute `got` in

[2019-05-02 02:54] stnevans commented on #532
I looked into this a bit more.
The cleanest way I could think of to fix this was to have some function that clears all temporary internal breakpoints on program termination.

The first thing I thought of was to listen for the exit event. However it seems that gdb doesn't necessarily send the exited event even if a process is terminating.

The only event that seemed to be reliably sent after progra

[2019-05-02 14:45] NyaMisty opened #626 "IDA Integration: <type 'exceptions.RuntimeError'>:Function can be called from the main thread only"
### Description

From IDA 7.2, all function marked as THREAD_SAFE in SDK will be checked if they are called on the main thread

### Steps to reproduce

Pwndbg together with IDA 7,2

### My setup

Newest Pwndbg (commit #af4d6fbe5af12ce2b25476ee65020613483809bc), IDA Pro 7.2 windows

### Possible Fix
I've changed the L133 of ida_script.py from
```server.register_function(decompile)  # overwrites ida

[2019-05-02 15:17] NyaMisty opened #627 "Don't activate the IDA view when stepping in the pwndbg"
### Description

By default the pwndbg will execute Jump(ea) function when we step to a new instruction. However the idc.Jump(ea) function calls the
`inline bool jumpto(ea_t ea, int opnum=-1, int uijmp_flags=UIJMP_ACTIVATE)`
internally with the default parameter. You can see the UIJMP_ACTIVATE is the default flag and this will instruct the IDA to activate the target view, which will grab the focus

[2019-05-02 19:23] stnevans commented on #419
@zachriggle If you're still interested how vanilla gdb does this, here it is:
https://github.com/bminor/binutils-gdb/blob/502c64b9ac12cf2a35d3cb55c51e2eefd33a2494/gdb/tui/tui-disasm.c#L116-L128

Essentially, gdb looks for the first symbol before the pc that when disassembled from that point on, the entire tui would be filled. If you don't have symbols, gdb cannot disassemble before $pc because it

[2019-05-03 14:15] NyaMisty commented on #491
I've tested your code on IDA 7.2. Basically it worked very well. It requires the user to open the pseudocode widget, or the `find_item_coords` will return False and fail.
Currently I placed this snipped into the ida_script.py, because this code snippet does a bunch of API request, and are called every time the context shows. Would you agree with me?

[2019-05-03 14:36] disconnect3d commented on #491
@NyaMisty yeah, please send a PR. If you could also provide some demo to show it works it would be awesome too but we can skip that :P

[2019-05-03 14:38] disconnect3d commented on #623
Fixed in #624!

[2019-05-03 14:38] #623 closed, assigned to mzr

[2019-05-03 14:50] disconnect3d commented on #619
Hmm... we should probably have some mode to track all the GDB API calls. Maybe we should mock all gdb functions when initializing pwndbg to add some logging?

With sth like this:
[code]

@nop-90 Could you try to hack this in and show a log? (And maybe send a PR adding this with an `if 0` so it is easy to add it in for debugging)

[2019-05-03 14:52] disconnect3d commented on #626
Hey, thanks for reporting the issue. Can you send a PR with that fix?

[2019-05-03 14:54] disconnect3d commented on #627
Yay, I literally had a love-hate relationship with pwndbg<->ida integration as sometimes I had this issue and sometimes I hadn't. I never had time to investigate it deeply why it happens so here we are!

Please, send a PR and thanks a lot for this!

[2019-05-03 14:55] disconnect3d commented on #614
@stnevans Let's just throw `set confirm on` (or remove setting  it off  it if it's  default or sth).

If it breaks something we can always revert it.

[2019-05-03 15:20] NyaMisty commented on #491
![image](https://user-images.githubusercontent.com/5344431/57147371-fec33100-6df9-11e9-946c-78d59eede7c2.png)
Small demo here~ You can see that the the comment corresponds with the pseudocode part :)

[2019-05-03 15:35] NyaMisty commented on #626
Sure~ PR already sent, I'll close issue.

[2019-05-03 15:35] #626 closed, assigned to nobody

[2019-05-03 15:37] NyaMisty commented on #627
Haha, time is money. And Hex-Rays team does need to improve their documentation. :D

[2019-05-03 15:37] #627 closed, assigned to nobody

[2019-05-03 15:40] NyaMisty commented on #491
PR already submitted~ My pleasure to contribute code for pwndbg 👍

[2019-05-06 12:34] nop-90 commented on #619
I added this into my gdbinit.py with some minor change as isinstance of 'function' didn't work on my python but it didn't work at all. GDB took 3 years to load and crashed with a MemoryError.

[code]

I tried to circumvent the problem by just adding the decorator to the execute function of gdb but it made too much logs with 'info file' command results taking all the place. I can give you the entir

[2019-05-07 22:23] disconnect3d commented on #619
Regarding:

https://stackoverflow.com/questions/624926/how-do-i-detect-whether-a-python-variable-is-a-function
Probably a `callable(obj)` is way to go here but `isbuiltin` might also be okay?

I also wonder if `to_string=...` or `from_tty=...` might make some problems here...

Maybe the gdbserver also has some debug flag?

[2019-05-07 22:29] disconnect3d opened #632 "Overwriting up and down commands breaks list command"
The `up` and `down` commands can be used to move between stack frames. We currently overwrite them in `commands/ida.py` in order to trigger IDA Pro focus:
https://github.com/pwndbg/pwndbg/blob/a46052c4efe42b01a61c0b04dd8d231a8b3b0179/pwndbg/commands/ida.py#L43-L85

While we debug a binary with source code available and we use `up` and `down` commands, both `context` and `info frame` looks good - a

[2019-05-07 22:29] disconnect3d commented on #632
I have tried implementing our `up` command as:
[code]
to execute the real `up` command, but it doesn't work - it ends up with a recursion error.

[2019-05-07 22:34] disconnect3d commented on #632
Oh, another thing we do during `up` and `down` is to display our own backtrace e.g.:
[code]

instead of the GDB's default one.

[2019-05-07 22:36] disconnect3d commented on #632
[code]

Assuming that our users **should have readline installed** we could probably remove `up` and `down` commands overwrite and change `before_prompt` to check if the executed command was `up` or `down` - and show backtrace and then the prompt.

Though, I am not sure about this solution yet...

There is also an assumption I made here that when the hook is called, the readline history is already

[2019-05-07 23:24] disconnect3d commented on #632
Okay, I found the issue and a workaround thx to https://stackoverflow.com/a/42461158 :

So... it seems that a GDB's `up` command does the same as `frame` would do: it sets the cursor/current line location for `list` command while the `pi gdb.selected_frame().older().select()` Python API call does set upper frame **but does not set the current code line for `line` command**.

This can be seen below

[2019-05-08 00:19] disconnect3d commented on #632
Ok, to sum up my investigation - the reason why this happens is because of GDB.

The `up` command does notify observers about `USER_SELECTED_FRAME` event happening while the Python API's `gdb.Frame.select()` does not. This can be seen below.

[`up` command in gdb/stack.c](https://github.com/bminor/binutils-gdb/blob/master/gdb/stack.c#L2395-L2400):
[code]

[The `gdb.Frame.select()` method](https://

[2019-05-08 04:43] stnevans commented on #619
Are both /bin/tool and whatever you were debugging before /bin/tool started the same architecture? (i.e.) both 32 bit?

From what I saw when reading the gdb source, this error occurs when the architecture gdb believes it is debugging doesn't match with what it actually is. (reference: https://github.com/bminor/binutils-gdb/blob/97dfbaddad2b5acf3dd9f2c3e0135b89bde1cbf8/gdb/remote.c#L8001)

[2019-05-08 05:01] #632 closed, assigned to disconnect3d

[2019-05-08 09:08] nop-90 commented on #619
I used that at first but it also crashed. I used builtin to reduce the perimeter of the functions affected but it also didn't work.

I will try without this parameter tomorrow

I'm reversing a firmware so every binary present should use the same architecture and the kernel i'm using to emulate is for ARMv7 (so it shouldn't conflict with AArch64) and I told GDB to set architecture to ARM so it shou

[2019-05-08 10:51] orenht opened #634 "Display readable errors when debugging with stripped libc"
### Description

This is related to #509, I believe it's the same problem he had there.
When you debug a program that loads a libc without debug symbols, various heap commands don't work (because you need to display the inner variables).
When I enter a command such as `heap`, it throws an exception:
[code]

It would be nice if it was showing a nice error message that says something along the lines

[2019-05-08 14:43] disconnect3d commented on #634
Hey, thanks for reporting this. Yeah, we should definetely improve it.

Would you @orenht or @mzr like to try to improve it and send a PR? (I ask @mzr too as I know he works a bit on libc stuff recently :P).

[2019-05-08 16:10] mzr commented on #634
Currently pwndbg doesn't support heap commands without libc's debug symbols. I agree that there should be some clear message saying that.

In order to make it work right now, one solution is to find debug symbols for the given libc manually. It is possible for commonly known libc builds (eg Ubuntu has package `libc6-dbg` with separate debug symbols for corresponding libc package). Having that, you

[2019-05-08 22:58] disconnect3d opened #636 "Context displays wrong registers values for frames other than the newest one"
There are two bugs regarding displaying of registers:
1. Wrong registers read
2. Improper caching

### Wrong registers read

We read registers from `newest_frame` instead of `selected_frame` - as a result, we display registers not from the current frame. This happens only for GDB>=7.9 as can be seen below.

To see this - break somewhere in a deep call, then do `up 2`, then display `context regs` a

[2019-05-08 23:03] disconnect3d commented on #614
@stnevans bump, can you send a PR with that? :)

[2019-05-08 23:06] disconnect3d commented on #612
@obilodeau Could you please check whether it is possible to retrieve an offset instead of rebased address in IDA, so maybe we could use that instead?

Or we could `try/except` this error and inform the user that this particular thing might be the catch/issue?

[2019-05-08 23:08] disconnect3d commented on #532
I can't think of a feature that would use temporary internal breakpoints between program launches, so I think we are fine with your proposed solution :).

Heh, if that is true, that is sad :'(
Could we check that without pwndbg and report this to GDB?

[2019-05-08 23:12] disconnect3d commented on #519
I didn't have time to push this further.
I merged https://github.com/pwndbg/pwndbg/pull/536 which was a starting point for this issue.

If anyone is willing to help with this, just say! :)

[2019-05-09 05:35] #636 closed, assigned to disconnect3d

[2019-05-09 08:27] nop-90 commented on #619
GDBserver (with --debug --remote-debug)
[code]

GDB client (with debug remote 1)
[code]
I've added debug flags on gdbserver and located the part where it failed. I don't know what the libthread_db.so does but it seems to be important and probably not linked to pwndbg. I use a statically linked gdbserver on my firmware but it's dependent on the libthread of the platform and the gdb i'm using is pro

[2019-05-09 18:50] stnevans commented on #636
It looks like `__getitem__` functions as a wrapper for `__getattr__` when you ask for a string (e.g.) "rax". Otherwise it uses arch_to_regs. Do you know why getitem uses arch_to_regs whereas getattr uses get_register()?

[2019-05-09 23:09] stnevans commented on #619
@nop-90 I agree that the root problem is probably not linked to pwndbg.
I'm not totally sure that libthread_db.so is the root of the problem. I don't really see how an undefined symbol or libthread_db.so not opening would lead to the error you are getting, but I suppose it's possible.

If it's just the line `abi = gdb.execute('show osabi', to_string=True).split('\n')[0]` that causes an error, you

[2019-05-10 08:07] nop-90 commented on #619
@stnevans I'm not sure myself about this but it was the only sign of an error that I saw. I looked elsewhere and this error appears quite a lot, so it's probably not linked to that particular error.

By replacing abi with a fixed string, it works. Thanks, this will at least make my life easier when putting breakpoints inside threads.

No I just cut where it was crashing there is a lot more after (

[2019-05-10 13:58] thonsun opened #640 "How can fit the print of "heap" or download previous version of pwndbg"
### Description

I First learn heap exploit,when I know the pwndbg for gdb can use command as "heap" so on can help me view the memory of heap malloc convenience.But when I try to use pwndbg to analyse,I find the current pwndbg "heap" show the informations does not fit the picture showd on "Feature.md" in this project.Something wrong such as FASTBIN not PREINUSE and the size of the malloc_chunk is

[2019-05-10 14:40] thonsun commented on #640
![hep](https://user-images.githubusercontent.com/48125432/57535309-88cc4600-7374-11e9-9142-59f286ce95a5.png)

[2019-05-10 14:41] thonsun commented on #640
but the Feature.md print as
<img width="138" alt="heap_heap" src="https://user-images.githubusercontent.com/48125432/57535418-c335e300-7374-11e9-86b8-3f9bde0bc7df.png">

[2019-05-10 16:31] disconnect3d commented on #640
The FEATURES.md is a bit outdated as of now. We have to refresh it one day.

For  previous versions of pwndbg either use the release tab or clone  the repo and checkout older commit.

Regarding printing in hex vs decimal: idk  when  it changed but I'd  prefer hex as well, so I'd be happy  to merge a PR changing  this back.

[2019-05-10 16:31] #640 closed, assigned to nobody

[2019-05-10 21:39] stnevans commented on #532
Just looked at this a bit more. Looks like I was wrong about the exited event not being sent. I was confused because I `set debug-events on` but there was no indication of a exited event being shown. It turns out this is because we do `gdb.execute('continue', from_tty=False, to_string=True)`, which results in the debug information being captured by the `to_string=True`.
This might be worth fixing

[2019-05-12 06:10] stnevans commented on #491
Closing this because it seems #630 fixes this.

[2019-05-12 06:10] #491 closed, assigned to nobody

[2019-05-12 11:35] expend20 opened #644 "pnwdbg can't access memory which is accessible"
### Description

![image](https://user-images.githubusercontent.com/36543551/57581640-e40c4e80-74c2-11e9-87f5-3937e0c66944.png)

[code]

### Steps to reproduce

1. download the binary https://mega.nz/#!HXhWxQ7I!fctFGwr-Gcg-G_gSvcyUGjM1jgYKLU_ePdTXHA1s7iw
2. run gdb `gdb ./gloryhost`. Create file with name `flag` in current directory, the binary won't run otherwise.
3. setup break `b *0x555555888E3

[2019-05-12 23:16] stnevans commented on #644
This is an interesting bug.
@expend20 if you want a quick workaround, it seems that gdb 7 doesn't have this bug (or at least the following version).
[code]
From a quick inspection, this looks like this is because pwndbg.typeinfo.long is the wrong type. It appears that gdb.lookup_type('long') returns something earlier, but after running `fin` as suggested by @expend20 , `gdb.lookup_type('long')` re

[2019-05-12 23:24] disconnect3d commented on #644
Yeah, that is super interesting. Thanks a lot for this example. This seems either like a bug in GDB or GDB fetches types from the binary memory somehow.

This could also be resolved if we removed a `stop` event from here:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/typeinfo.py#L48

however I am going to try to track how GDB resolves the types first.

[2019-05-12 23:27] #532 closed, assigned to stnevans

[2019-05-12 23:37] disconnect3d commented on #644
An interesting point here:
- on breakpoint, gdb thinks the language the binary was written in is C
- after fini, it thinks it is Rust

Can be seen via `gdb -q -x script ./gloryhost` with this `script`:
[code]

[2019-05-12 23:54] disconnect3d commented on #644
Just to have full information here:

1) The `long` type is fetched in `typeinfo.py`:
https://github.com/pwndbg/pwndbg/blob/6747be234132b0a7ea2a93c8aea39f0e3bb0ccbf/pwndbg/typeinfo.py#L46-L53
We do fetch `long` then `int` then `i32`. Afair we do this for C and then Go language.

2) This is fetched every time GDB stops. We could remove this and cache this for entire run but I am not sure about this

[2019-05-13 03:09] stnevans commented on #644
Here are some of my thoughts:

Is there a reason why we make `module.long` the `i32` type instead of `i64`? It seems like on many platforms, `i64` would be the better choice.

Is there ever a time we would want to cast to something other than the largest size available in `int()`? I can't think of any cases, and if so that would support using `i64` over `i32`.

I had the same thought. I don't thin

[2019-05-13 05:13] stnevans opened #645 "FileNotFoundError not defined for python2"
### Description
When a binary has debug symbols but the file cannot be found, a FileNotFoundError occurs if python3 is in use. The issue is that python2 doesn't seem to have FileNotFoundError.
The relevant code is here:
https://github.com/pwndbg/pwndbg/blob/6747be234132b0a7ea2a93c8aea39f0e3bb0ccbf/pwndbg/commands/context.py#L250-L253

### Steps to reproduce
Use python2. Follow the steps in #644.

[2019-05-13 05:43] stnevans commented on #645
I'm also not totally sure: are we trying to support python2 and python3? Or just python3?

[2019-05-13 11:18] disconnect3d commented on #634
Added in #635  - thanks!

[2019-05-13 11:18] #634 closed, assigned to nobody

[2019-05-13 11:20] disconnect3d commented on #645
We are targeting both Py2 and Py3 for now. I am thinking more towards supporting only Python 3 but we should discuss it first, so at least one more release will support both Py2 and Py3.

`IOError` is more broad, but it should be fine here.

[2019-05-13 11:22] disconnect3d commented on #645
Fixed in https://github.com/pwndbg/pwndbg/commit/60a1a722f44d12a8133a274d494c7b4b462600b2
(should have made a better commit log :()

[2019-05-13 11:22] #645 closed, assigned to nobody

[2019-05-13 11:30] disconnect3d commented on #644
I think it would be perfect to have it exactly the same type/size as it is in the given language.

That's a good question. I can't think of any edge cases too, so I agree that it is probably better to use a biggest int type instead. This way, we could probably also remove `typeinfo.long` and just use `typeinfo.i64` (or anything that would correspond to the biggest signed int type).

See https://gi

[2019-05-13 18:41] stnevans commented on #644
Thanks.

Sure.
I still wonder what you think about implementing a `ptr()` function essentially equivalent to `int()` except that it guarantees all values are unsigned. I've encountered inthook being non intuitive because if passed a raw address, it can end up converting it to a signed value, requiring us to and with `pwndbg.arch.ptrmask`

[2019-05-13 19:10] disconnect3d commented on #644
Oh, sorry for not replying to this. I assume we would then nuke the inthook completely and live with `ptr`. I like the idea, so we can do that :).

[2019-05-13 20:44] stnevans commented on #644
I don't think we can entirely nuke the idea of inthook because of signed parameters. There might be other cases (maybe reading memory). Still, creating something like `ptr` could be a step towards moving away from using inthook.

[2019-05-13 20:59] zachriggle commented on #644
The reason for overloading to ulong is because GDB is dumb and thinks
pointers are signed types, and (fuzzy memory here) we can’t cast to some
native types in some circumstances.  Git logs should have more info.  We
would have to do some changes to start using E.g. ulong_ptr or similar if
we removed this.

The reason for running the hook on every stop is likely related to QEMU /
remote types not h

[2019-05-13 21:22] stnevans opened #646 "xuntil doesn't work with PIE binaries before being run"
`xuntil` was added in #604 and works except that it doesn't work with PIE binaries before being run.
This is because it expects an int argument. I'll look into using sloppy parsing.

[2019-05-13 21:23] stnevans commented on #574
Looks like this can be closed. If anyone thinks this should be reopened, feel free.

[2019-05-13 21:23] #574 closed, assigned to nobody

[2019-05-14 00:47] Ne0Lux-C1Ph3r commented on #644
Hello just go look, it's like for speedrun. Just I was out and could not finish the ctf.
See the date and enjoy!!!!!
https://github.com/o-o-overflow/dc2019q-gloryhost

And for the rest!!!!!

https://github.com/o-o-overflow

SPEEDRUN!!!

c00l.

Thanks

[2019-05-15 17:09] mzr opened #647 "ropper command gives unintuitive addresses"
When the debugged process is running, ropper command dumps memory using `gcore` and then passes that core dump to ropper like this: `ropper --file coredump`.
It results in the addresses of gadgets being offsets in the coredump file.

`ropgadget`, and `rop` commands seem to handle that well.

I don't see an easy way to fix that. There is `-I` flag in ropper which lets us specify base address, but i

[2019-05-15 23:38] stnevans commented on #614
@disconnect3d I'm honestly not sure if it's worth doing this. I played around a little bit, and the following message is annoying.
[code]
Given that no one had ever complained about it before this, it also doesn't seem like a major issue. It might be worth just closing the issue and leaving it so that anyone who wants to send breakpoints on unloaded shared library functions can see how to do so.

[2019-05-20 10:48] #646 closed, assigned to stnevans

[2019-05-23 23:23] #614 closed, assigned to stnevans

[2019-06-02 05:00] stnevans commented on #619
I guess we should close this issue?
From what I see, it doesn't seem like something we can really fix from pwndbg. The fact that executing `show osabi` causes issues seems more like a gdb problem and not so much a pwndbg problem.

If anyone has further insight on this issue, feel free to reopen it.

[2019-06-02 05:02] stnevans commented on #513
@disconnect3d  did #636 address any of this?

[2019-06-05 10:48] disconnect3d commented on #513
We do support thread/frame changing and it seems we highlight registers that differs from latest frame (not sure if it's always from selected thread or cached).

I think this is good for now and we can close it.

[2019-06-11 01:37] #513 closed, assigned to nobody

[2019-06-28 14:38] SilvaMatteus commented on #598
Is a PR still interesting? I see that this issue is marked as a good first issue.
I have been using pwndbg and I want to start contributing. Maybe this could be my first step.

[2019-06-29 04:24] stnevans commented on #598
I would tend to say yes, the installation process could be improved to work on more distros.
I'm not really sure how setup.py works, or how easy it would be to convert [setup.sh](https://github.com/pwndbg/pwndbg/blob/dev/setup.sh) to use it.
pwndbg depends on a couple packages (some are not necessarily 100% required for it to run, but help with some things. e.g. libc-dbg for heap).

[2019-06-30 04:37] zachriggle commented on #598
Unfortunately there's not a 100%-agnostic way to do `pip install pwndbg` or `python setup.py` which ensures an optimal experience.  A good example of this is installation of `libc` debug symbols (i.e. `apt-get install libc6-dbg`).

In particular, the biggest issue is that Pwndbg **must** be installed with the same Python package directory as the one linked to with GDB, which may not be the default

[2019-06-30 08:04] blshkv commented on #598
I think setup.py is designed specifically to solve such problems. First of all, if you have gdb linked against python2 but python2 is not installed - this is a broken setup. User's should use a system package manager to keep the env in sane state.

Secondly, ```pip{2,3}``` and python{2,3} can be used with setup.py to build against a specific version, so it should not be an issue.

[2019-06-30 08:20] zachriggle commented on #598
I don’t disagree, but the fact of the matter is these setups exist and are not uncommon.  This was particularly the case for some Ubuntu distrust which shipped a py2 installed but linked GDB against py3 (or vice versa, I forget).

You can probably find more info by searching past issues.

[2019-06-30 08:27] blshkv commented on #598
That's why i dont use Ubuntu :-). At Gentoo, it will be recompiled automatically

[2019-06-30 18:52] zachriggle commented on #598
I think in the immediate term it might be easier to contribute a Gentoo-compatible set of commands to `setup.sh`.

A great many of our users are on Ubuntu, and this is what you get on 16.04:

[code]

As you can see, Ubuntu 16.04 (and possibly 18.04) include a GDB linked against `python3.5`, and do include `libpython3.5`, but do not actually include a `python3.5` interpreter.  This is not something

[2019-06-30 23:07] blshkv commented on #598
@zachriggle you are looking at the problem from a wrong angle or don't understand the issue. Your setup.sh is basically a hack for a user while I'm talking about packaging the tool for a distro properly so that it would be possible to install it using a standard command ```apt install pwndbg```. In order to make our life easier, we (package maintainers of each distro) need the setup.py. Once creat

[2019-06-30 23:24] blshkv commented on #598
Please also see: https://github.com/laramies/theHarvester/issues/52 where we managed to get rid of their ```install.sh``` hack too.
The end results is there: https://github.com/pentoo/pentoo-overlay/blob/master/net-analyzer/theHarvester/theHarvester-3.0.6_p20190415.ebuild and shorten version looks like this:
[code]
The distutils script runs setup.py automatically so we don't need to do anything at

[2019-06-30 23:31] SilvaMatteus commented on #598
The issue seems to be more complicated than I thought. I am studying for a test (the last test before I get my graduation degree \o/) right now, but I'll think about that soon.

[2019-07-04 15:33] SilvaMatteus commented on #598
@blshkv, I think I understood your point. I'll start in this direction.
Do you think this is still a good first issue? Could I count on your help if I get stuck? :)

[2019-07-10 14:53] Bluekezhou opened #659 "Is there any function that can filter command output like grep?"
When I was debugging the kernel, sometimes I need to print a huge structure which I don't need most of them, so I want to know whether there is some way to do this?

[2019-07-10 19:13] zachriggle commented on #659
Unfortunately GDB doesn’t really do piping / redirection in a simple way.
Your best bet is to use the Python interactive shell and
gdb.execute_command() or similar

On Wed, Jul 10, 2019 at 9:53 AM Blueke Zhou <notifications@github.com>
wrote:

--

*Zach Riggle*

[2019-07-11 17:32] thinkycx opened #660 "Cannot get correct context when debug an ARM64 binary"
## env
pwndbg latest
ubuntu 16.04
ARM64 gdbserver latest (8.3)
aarch64-linux-gnu-gdb (gcc-linaro-7.4.1-2019.02-x86_64_aarch64-linux-gnu)

## problem
When I use aarch64-linux-gnu-gdb and gdbserver to debug a ARM64 binary remotely, I cannot get the context of the remote binary, here is the error log. Is there anybody knows why?
[code]

[2019-07-11 17:43] disconnect3d commented on #660
It seems that `pwndbg.regs.cpsr` is `None`.

Can you show output of `info regs all` in GDB when debugging that target?

[2019-07-12 07:33] thinkycx commented on #660
Yes. Here is the output:
[code]

[2019-07-12 12:21] disconnect3d commented on #659
I don't think it is possible for us to deal with it as of current GDB API :(.

If you come up with any solution, either reopen or send a PR.

[2019-07-12 12:21] #659 closed, assigned to nobody

[2019-07-12 12:23] disconnect3d commented on #660
(I edited your post and removed `info registers all` from it as it turned out the relevant info is in `info regs` so it wasn't needed)

Hmm... it seems there is `cpsr` register.  So it's somehow `pwndbg.regs.__getattr__` that is failing.

I also don't like this:
[code]
I think the last two should fail in this case (I did this on amd64 target).

[2019-07-12 12:25] disconnect3d commented on #660
@thinkycx Can you show: `pi print(pwndbg.regs.last)`? This might require doing `pi import pwndbg` first.

[2019-07-12 12:26] disconnect3d commented on #660
You can also try to add some debug print to https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/regs.py#L300-L301

Like
![image](https://user-images.githubusercontent.com/10009354/61128056-47a9fc80-a4b1-11e9-838c-2e7a544035fa.png)

[2019-07-12 15:10] thinkycx commented on #660
Here is the original print:

Some info maybe helpful:
[code]
Output1:
[code]

I tried again and the output2:
[code]

[2019-07-15 07:37] alichtman opened #661 "pwndbg.com seems fishy"
### Description

I went to the website linked in the repo one-line description, and saw this:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/20600565/61201215-b0070280-a698-11e9-9bfe-47743618ecff.png">

Should this link be removed?

[2019-07-15 10:44] disconnect3d commented on #660
So it seems like the `value = value.cast(pwndbg.typeinfo.ptrdiff)` failed? Can you make prints in between to confirm it? Or remove the `try: ... catch: ...` and invoke `set exception-debugger on` and try to debug what is failing.

Can you also show output of `show language` and `pi print(pwndbg.typeinfo.ptrdiff)`?

[2019-07-15 10:47] disconnect3d commented on #661
Thanks for reporting this, link removed!

We forgot to renewal the payment for the domain and it got snatched by someone :(.

[2019-07-15 10:47] #661 closed, assigned to nobody

[2019-07-16 10:30] thinkycx commented on #660
After I remove the try catch and invoke the set exception-debuffer on , the output is :
[code]

Also I add some print, after that I try to remote connect to it.
[code]

Output:
[code]

[code]

[2019-07-23 02:25] t3ls opened #662 "subprocess.CalledProcessError: Command '['/usr/local/bin/checksec', '--file', '/tmp/xxx']' returned non-zero exit status 2."
[code]

when checksec running in python3 pwntools environment, raise a failure. Here's the reason:
[code]

So modify pwndbg/pwndbg/wrappers/checksec.py: 19 with:
`cmd = [get_raw_out.cmd_path, local_path]`

Then it will be solved

[2019-07-24 22:27] xx55x opened #664 "Registers no longer show changes"
### Description

In pwndbg release 2017.02.01 build: 1ab3de0, when registers changed while debugging a program, there would be an asterisk near the changed register which could be customized with context-register-changed-marker and context-register-changed-color.

These config options are still available, however in later releases (both 2018.07.29 and 2019.01.25)  there doesn't seem to be anything

[2019-07-27 23:57] disconnect3d commented on #664
I confirmed the bug. I think it should be fairly easy to fix this.

Would you like to work on that? I am on vacation so I might not have time to jump on it :P.

[2019-07-28 00:02] disconnect3d commented on #662
Seems like it may be clash of checksec from checksec.sh repo and from pwntools...

Can you see if this is the case?

[2019-07-28 03:04] xx55x commented on #664
I understand no problem.

I’ve tried however I’m honestly still a beginner . I’m learning though I’ll see if I can try again when I understand more

[2019-07-28 06:12] xx55x commented on #664
Oh shit I fixed it, it was a lot simpler than I expected. Once I read the guides I'll submit it

[2019-07-29 01:26] t3ls commented on #662
Nope, I think it just the checksec from python3-pwntools doesn't accept the `--file` arg. So simply modify the command with `if else` would be ok

[2019-07-29 09:48] disconnect3d commented on #662
That's exactly what I mean, the https://github.com/slimm609/checksec.sh does accept and require the `--file` flag while pwntools' checksec does not.

We should probably detect which one is there and either pass the flag or not :f.

[2019-07-29 16:11] bet4it opened #667 "Support to display all the registers"
Currently, we only display part of registers in some architectures such as PowerPC.
This is the registers will be displayed:
https://github.com/pwndbg/pwndbg/blob/88723a8c0a88369fa2dd267d1fb5c63464db55cb/pwndbg/commands/context.py#L145-L148
Some registers such as `regs.misc` aren't included here:
https://github.com/pwndbg/pwndbg/blob/88723a8c0a88369fa2dd267d1fb5c63464db55cb/pwndbg/regs.py#L182-L18

[2019-07-30 05:50] t3ls commented on #662
Agree with you, so I rechecked the checksec.py in python3-pwntools (https://github.com/Gallopsled/pwntools), detect the arg parse bug. Unfortunately, the project is not maintained anymore. I will close this issue.

[2019-07-30 05:50] #662 closed, assigned to nobody

[2019-07-30 22:04] disconnect3d commented on #667
Hey, that seems reasonable to add. Would you mind sending a PR for that?

[2019-07-31 04:50] bet4it commented on #667
I don't understand why should we do it in the current way, and I think the patch will involve many changes, which may change the original purposes of some code, so it's better to change it by yourself :smile:

[2019-08-08 01:09] stnevans commented on #667
So the reason we don't show the misc registers is that they are things that you wouldn't want spamming the context.
In the case of amd64, the misc registers are things such as the segment registers or smaller pieces of registers such as ax. Printing those out in the context every time would unnecessary as they seldom change or are relevant.

I think a good solution would be to add another configur

[2019-08-08 02:00] bet4it commented on #667
One problem is that registers of PowerPC are separated into different parts, so even if I can make some changes to display all the registers, they are displayed in a weird sequence rather than `r0`~`r31`

[2019-08-12 15:49] thinkycx opened #668 ""Cannot execute this command while the target is running.""
## env
arm64 binary
pwndbg latest

## problem

When I set a breakpoint and set a command with it, the pwndbg will raise an error. It seems like the  `info file` command is executed. Do you know why? Thank you.

gdb settings:
[code]

root cause
[code]

[2019-08-13 06:09] stnevans commented on #668
We recently changed the way the is_remote check is done. Can you see if this still occurs on the latest commit of pwndbg?

[2019-08-13 06:17] thinkycx commented on #668
Yes. I have tried again, the pwndbg commit id :
[code]

log
[code]

[2019-08-13 09:59] disconnect3d commented on #668
Just to be sure, can you check if this happens on a previous commit, that doesn't include the `is_remote` change? :D

[2019-08-13 10:36] thinkycx commented on #668
Yes. Now the commit ID is
[code]

However, the command "info file " exists.
log
[code]

[2019-08-15 03:50] stnevans commented on #668
This seems like the same sort of thing that happened in #425.

My guess would be the following is occurring:

gdb hits the breakpoint, then queues the following commands to be run {x/20s $x1, continue}.
pwndbg then receives a stop event, runs gdb.execute("arbitrary-command"), which results in the queue being {x/20s $x1, continue, arbitrary-command}.
arbitrary-command then executes after the target

[2019-08-15 03:52] stnevans commented on #667
@bet4it what order are they displayed in? It seems like you could just do:
[code]
and prepend misc to gpr when displaying.

[2019-08-15 06:03] thinkycx commented on #668
Thanks for your reply. Although I don't know which commands pwndbg need to run, wish the bug will be fixed in future although it is not emergency.

For anyone who have to do the same things like me, you can just run the following commands:
[code]

[2019-08-16 06:03] ripples-alive opened #669 "Incorrect conversion from gdb.Value to python int"
### Description

When debugging certain binary, pwndbg may show incorrect register value, missing high 32 bit for 64 bit register.
e.g.

[code]

**If I strip the binary, everything goes well.**

After checking code of pwndbg, I found that the bug happens when trying to convert a `gdb.Value` instance to python `int`.

[code]

Seems the `int(value)` works as converting to 32 bit c type int instead o

[2019-08-17 01:44] stnevans commented on #669
For whatever reason, when I run babi with test.py, babi errors before hitting the breakpoint.
[code]
What commit are you on? The output of version seems to refer to a commit that doesn't exist on the mainline.  Could you test on the latest if you aren't already there?

[2019-08-17 02:14] ripples-alive commented on #669
Sorry, I forget that I've modified pwndbg, which cause the commit id incorrect. I tested again on the latest default `dev` branch and updated the info above.
`babi` may need root permission to execute. It's a challenge from DEF CON CTF 2019 Final and should do no harm. You may run it inside docker to avoid risk.

[2019-08-17 02:21] stnevans commented on #669
Thanks for the quick response! I am able to reproduce it when running babi as root.

The problem seems to come from inthook. When doing int, we cast everything to long or ulong, but long and ulong are not ptrsize.

[2019-08-17 02:45] stnevans commented on #669
@ripples-alive if you want an immediate fix, replace xint in inthook.py with this:
[code]
I'll open a pr to fix this, but it might take a bit of time to get merged in depending on if we decide to change the design at all.

[2019-08-17 02:51] ripples-alive commented on #669
It works. Thx.

[2019-08-17 04:03] stnevans commented on #660
Does this occur on all aarch64 binaries? I've seen it work in the past on at least some. If this is happening on a specific binary, is that binary public?

[2019-08-17 12:14] thinkycx commented on #660
Yes. It will occur on many aarch64 binaries. And sorry that the binary is not public. I will test some other binaries later.

[2019-08-19 04:04] cc-sir commented on #619
I have the same problem, but the gdb is wroking normally if I don't use the pwndbg. The strangest thing is that I can target remote :1234, but if I input 'n' the problem will appear:
pwndbg> show architecture
The target architecture is assumed to be i386:x86-64:intel
pwndbg> n
Remote 'g' packet reply is too long (expected 308 bytes, got 536 bytes): 0000008000000000000000000000000000000000000000000

[2019-08-19 11:05] #669 closed, assigned to nobody

[2019-08-19 18:17] stnevans commented on #644
@expend20 do you still have a copy of the binary? The download link doesn't work, but I think the issue might be fixed. If you could test it out or reupload the binary that would be great.

[2019-08-19 18:24] stnevans commented on #619
@cc-sir is the binary you are working on public?
If not, is it indeed x86-64? Any chance you could turn on some debugging as show above in this thread? (--debug ----remote-debug, set debug remote 1).

[2019-08-20 07:04] expend20 commented on #644
Here is the binary, I'll check it in several hours https://mega.nz/#!OexUXQJQ!5IpyrYpCjtewUDoz6mkUKvMG24Ro2UxBXT9-9kLIsd0

[2019-08-21 11:04] cc-sir commented on #619
@stnevans Sorry, I didn't describe the problem clearly. I am using qemu and gdb to debug the kernel. I can target remote :1234, but if I input 'n' the problem will appear,like this:

pwndbg: created $rebase, $ida gdb functions (can be used with print/break)
The target architecture is assumed to be i386:x86-64:intel
Reading symbols from vmlinux...(no debugging symbols found)...done.
pwndbg> target

[2019-08-21 11:22] expend20 commented on #644
yep, works for me. Should I close?

[2019-08-21 11:25] disconnect3d commented on #644
Yeah. Good job @stnevans 😎 👍

[2019-08-21 11:25] #644 closed, assigned to stnevans

[2019-08-28 04:41] bet4it commented on #667
I guess that the register which is set in `retaddr` should be exclusive and can't be also set in `misc`.
And this statement implies this:
https://github.com/pwndbg/pwndbg/blob/88723a8c0a88369fa2dd267d1fb5c63464db55cb/pwndbg/regs.py#L93
And we shouldn't display registers in `misc` by default because:
https://github.com/pwndbg/pwndbg/blob/88723a8c0a88369fa2dd267d1fb5c63464db55cb/pwndbg/regs.py#L145-

[2019-08-28 18:16] stnevans commented on #667
So just to be clear, I was suggesting you create an optional setting that displays misc registers when enabled, not to display them by default.

It should be fine to have registers in both misc and retaddr.
Powerpc currently already does it here (see 'lr'). Maybe if we displayed the misc registers in addition you might see the registers print twice, but that shouldn't be too hard of a fix.
https:/

[2019-08-30 16:38] stnevans commented on #660
@thinkycx  Any update on providing a repro case?

[2019-09-03 17:23] thinkycx commented on #660
Thanks for your waiting.
Sorry that I'm so busy nowadays.
I will try on some other binaries later.

[2019-09-11 09:41] sudhackar commented on #664
If you look at `update_last`
https://github.com/pwndbg/pwndbg/blob/848247ed9c5b832dc0f143cd2df605b90f2f05c5/pwndbg/regs.py#L441-L444 It gets called at both `cont` and `stop` events. idk why we need to update at `stop`.
I was able to fix this with this

[code]

[2019-09-11 09:55] sudhackar opened #672 "windbg compatibility commands fail for hex"
### Description
There's a weird bug while using command such as `eq`

### Steps to reproduce

[code]
### My setup

[code]

[code]

[2019-09-12 18:48] stnevans commented on #672
This is probably a bug that happened when we converted everything to use argparse. I'll try to take a look at this soon.
EDIT:
Yep: Looks like
https://github.com/pwndbg/pwndbg/blob/848247ed9c5b832dc0f143cd2df605b90f2f05c5/pwndbg/commands/windbg.py#L174
Should be type=str and hex=True should be passed to eX. I'll try to test this and other windbg commands at some point with that fix.

[2019-09-20 12:01] #672 closed, assigned to nobody

[2019-09-21 04:15] bet4it commented on #667
Display of registers like `r0, r1, r2` shouldn't be optional. They should always be displayed.

Certainly, any sequence of registers is OK. We can simply append `r0, r1, r2` at the end of all the registers, or we can even use sequence like `r7, r3, r5, r9...` while the sequence of gpr doesn't have special means. Nobody dare to complain it.
But I think it's better to display registers in the sequen

[2019-09-22 00:47] zachriggle commented on #667
I think adding some twiddly bits is fine.  We can always keep the current behavior as the default.

[2019-09-22 01:39] bet4it commented on #667
If I enable this bit when I work with PowerPC, and when I switch back to x86 I must bear all the registers like `'ax','ah','al'` are displayed?
Or should we add separate configs for each architecture?

And why such basic registers should be disabled by default?

[2019-09-28 11:42] martinclauss opened #674 "Add gdbserver dependency for Fedora"
Please add `gdb-gdbserver` package as a dependency for Fedora:

https://github.com/pwndbg/pwndbg/blob/dev/setup.sh#L32

Thanks!

[2019-10-07 10:25] thinkycx commented on #660
Hello I have tested some other binaries such as /bin/bash.
Sadly, it is the same and the binary is not public.

[code]

[2019-10-07 14:43] geoffbeier commented on #674
I was just kicking the tires and ran into this too on F30. I submitted PR #676 to add it.

[2019-10-07 22:55] disconnect3d commented on #674
Thanks!

[2019-10-07 22:55] #674 closed, assigned to nobody

[2019-10-09 11:17] thinkycx commented on #660
I don't need to debug the binaries on the target system( a system on the car) so I am going to close the issue.
If anyone comes into the problem, you can reopen it at any time.

[2019-10-09 11:17] #660 closed, assigned to nobody

[2019-10-20 04:06] Tilka commented on #177
Not sure if this is a new feature, but add-symbol-file also supports the -o option which adds an offset to every section.

[2019-10-20 20:23] korniltsev opened #678 "Allow hexdump by module name, like vmmap"
### Description

I find myself doing `vmmap heap + hexdump heap_start_addr` from time to time during CTF heap debugging.
I wonder if you consider `hexdump module_name` useful? I could do a PR if so.

### My setup

[code]

[2019-10-21 16:29] LhauLhuna opened #679 "I have a problem with the process check_output"
Environment:

Request Method: GET
Request URL: http://192.168.137.128/monitoring/sensor/

Django Version: 2.2.6
Python Version: 3.7.3
Installed Applications:
['registration',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'core',
 'ckeditor',
 'monitoring',
 'information']
Inst

[2019-10-21 16:41] LhauLhuna commented on #662
I have this problem please help me
Environment:

Request Method: GET
Request URL: http://192.168.137.128/monitoring/sensor/

Django Version: 2.2.6
Python Version: 3.7.3
Installed Applications:
['registration',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'core',
 'ckeditor',

[2019-10-21 19:21] stnevans commented on #679
Are you sure this issue is opened in the right repo? This repository is for pwndbg, low-level debugging enhancements for gdb.

[2019-10-21 19:21] stnevans commented on #678
I think it would be a reasonable feature to add if you would be willing to do so!

[2019-10-23 15:04] disconnect3d commented on #679
Yeah, this seems unrelated. Closing.

[2019-10-23 15:04] #679 closed, assigned to nobody

[2019-10-23 17:14] LhauLhuna commented on #679
I am not very sure but I already solved my problem thanks anyway and an apology for my confusion

[2019-10-28 03:31] Jinmo opened #681 "qemu local_path bug"
### Description

It seems like some commands e.g. plt, got tries to use ELF file's content as path.

### Steps to reproduce

[code]

### My setup

Ubuntu 18.04, branch c6473ba (master)

### Analysis (and temporary patch)

plt/got command uses `get_elf_info` at [elf.py](https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/elf.py#L95), which uses get_file at file.py.

It seems like the path itself shoul

[2019-11-02 15:17] suidpit opened #684 "TypeError 'None' with heap command on LD_PRELOADed libc"
### Description

`heap` command fails when LD_PRELOADing a different libc to the binary. Exception is the following:
[code]

### Steps to reproduce

`LD_PRELOAD=./libc.so.6 gdb <binary>`
then break after the heap should be initialized, and execute `heap` command.

### My setup

Platform: Linux-4.15.0-66-generic-x86_64-with-LinuxMint-19.1-tessa
Gdb:      8.1.0.20180409-git
Python:   3.6.8 (default,

[2019-11-03 01:39] disconnect3d commented on #684
Hey, the heap commands currently uses libc debugging symbols to work. I guess this might be the reason it doesn't work...

[2019-11-03 19:48] suidpit commented on #684
Uhm..I see. So, if I am provided with a glibc not compiled with debugging symbols, I won't be able to use `heap` commands by preloading it, right?
Not that it matters: for heap purposes, what I'm interested in is mostly the libc version, not the offsets, so I guess I will just use a compiled glibc with debug symbols of a matching version. Thanks, closing this!

[2019-11-03 19:48] #684 closed, assigned to nobody

[2019-11-03 23:03] disconnect3d commented on #678
Added with #683

[2019-11-03 23:03] #678 closed, assigned to korniltsev

[2019-11-03 23:04] disconnect3d commented on #684
Yeah, the easiest way is to use Docker with Ubuntu image that has given libc version imho.

[2019-11-06 10:03] piotrzarycki commented on #664
@disconnect3d issue is still actual. Can i work on it?

[2019-11-06 10:06] disconnect3d commented on #664
@piotrzarycki yup

[2019-11-06 12:53] piotrzarycki commented on #664
ok, so starting :)

[2019-11-08 07:56] zdone opened #686 "pwndbg debug static program use 'heap' command error"
It's code :
#include <stdio.h>
#include <stdlib.h>
int main() {
char *a=malloc(24);
char *b=malloc(24);
free(a);
free(b);
free(a);
}

1) use gcc -static a.c -o aa
2) gdb aa
3) b free
4) r
5) heap ---> command
then it error

/tmp/pwndbg/x86-64_struct-malloc_state.cc:218:21: error: aggregate ‘malloc_state foo’ has incomplete type and cannot be defined
 struct malloc_state foo;
                     ^

[2019-11-09 18:38] numin0us commented on #686
I'm getting a similar error as well with a statically linked binary.

[2019-11-17 13:53] matthewT53 commented on #686
I used patchelf to change my binary's interpreter to an older glibc (2.23) and when I use the heap command, it spits out a bunch of directories prefixed with /usr/include before finally spitting:
[code]

[2019-11-22 23:41] disconnect3d commented on #686
TLDR: Heap requires debug symbols to be present to work properly as we fetch global malloc structure addresses this way.

If anybody wants to work on discovering heap structure addresses automagically without debugging symbols I'd be happy to merge such PR.

[2019-11-23 03:23] matthewT53 commented on #686
I might be a bit confused but when I compile a binary without the "-g" in GCC, I am still able to use the heap commands.

[2019-11-23 05:04] matthewT53 commented on #686
Ok I built my glibc with debugging symbols and I can use the heap commands again. My issue now is that when the program frees memory with free(), the bins are not updated to contain the address of the block of memory.

Note: Never mind I think it was just the binary I was working on.

[2019-11-29 03:23] Yuuoniy opened #688 "command "top_chunk" doesn't work properly"
### Description
Hi, developers:
      I found that command "top_chunk" sometimes fails to print the top_chunk correctly.
and it doesn't match with the top_chunk the "heap" command print. there might be a bug in command "top_chunk"
there is a case I came acorss:
"heap" commad shows the chunks:
[code]
while "top_chunk" return a fake top_chunk:
[code]
and the memory layout is :
[code]

As a reslut, c

[2019-12-02 04:23] zachriggle opened #689 "Pwndbg.re does not use TLS, contains personal information"
Currently, Pwndbg.re throws a warning for users with the HTTPS Everywhere extension, and is insecure against MITM redirects.

I recommend transferring the domain to CloudFlare, which provides free SSL/TLS and has the same redirect capabilities as other registrars.

Additionally, the domain registration information contains personal information -- switching to CloudFlare will also provide protectio

[2019-12-02 07:23] Yuuoniy commented on #688
well, I've dived into this, found out that it's due to the symbol main_arena, `main_arena['top'] ` sometimes return a fake top_chunk address.
I looked into the implementation of top_chunk command, and found bugs:
1.
https://github.com/pwndbg/pwndbg/blob/2f69ddce653c7fbabe9effcd42bf452c57b15fab/pwndbg/commands/heap.py#L223-L224
'Page' object has no attribute 'size', you can use memsz instead
2.
htt

[2019-12-04 08:53] disconnect3d commented on #688
Fixed in #691, thanks!

[2019-12-04 08:53] #688 closed, assigned to nobody

[2019-12-05 22:04] zachriggle opened #692 "New release sometime soon?"
The last release was about a year ago, maybe we should tag another one after burning down some of the outstanding bugs?

[2019-12-05 22:36] disconnect3d commented on #686
I guess this can be closed then.

Edit: anyway, if someone would be willing to improve the current state of detecting heaps, please, do so!

[2019-12-05 22:36] #686 closed, assigned to nobody

[2019-12-05 22:38] disconnect3d commented on #681
Hey, sorry for so long time with no reply. Can you send a PR with the proposed change so we could test this on different setups?