[2015-04-13 19:59] zachriggle opened #1 "Feature parity with PEDA"
These are the advertised features:
- [x] aslr -- Show/set ASLR setting of GDB
- [x] checksec -- Check for various security options of binary
- [x] dumpargs -- Display arguments passed to a function when stopped at a call instruction
- [x] ~~dumprop -- Dump all ROP gadgets in specific memory range~~
  Won't implement, use ROPgadget
- [x] elfheader -- Get headers information from debugged ELF file
-

[2015-04-13 20:11] zachriggle opened #2 "Feature parity with GDBINIT"
https://github.com/gdbinit/Gdbinit/blob/master/gdbinit

- [ ] init - Run program and break on _init
- [ ] start - Run program and break on _start
- [ ] sstart - Run program and break on __libc_start_main
- [ ] main - Run program and break on main
- [ ] argv - Show argv
- [ ] stack - Print backtrace
- [ ] frame - Show info {frame, args, locals}
- [ ] lib(s) - Display shared libraries
- [ ] go - Ste

[2015-04-20 15:25] zachriggle opened #4 "Heap features from gdb-heap"
Whatever they're doing: https://github.com/rogerhu/gdb-heap

[2015-04-20 15:25] zachriggle opened #5 "Heap features from libheap"
Whatever they're doing: https://github.com/cloudburst/libheap

[2015-04-20 15:34] zachriggle opened #6 "'dt' feature compiler issues"
The current feature is not clean, and doesn't work well for anything but the OS-native architecture.  This is because the current approach globs all of the header files form the OS-native architecture directory, and passes them to alternate-architecture compilers.

This has two issues:
- Arch-specific headers may not get pulled in or use the wrong ones
- Not all headers may exist for the alternate

[2015-04-21 03:35] crowell opened #7 "broken on ubuntu vivid"
[code]

[2015-04-21 03:57] zachriggle commented on #7
This was a Python3-ism, not related to Vivid.  Fixed in 90726f7 / ca6d30f.

[2015-04-21 03:57] #7 closed

[2015-04-26 15:27] thebarbershopper opened #8 "'pwndbg' command"
There is not currently an easy way of getting all commands currently available to a user. `pwndbg` could dump all commands with possibly their doc string.

[2015-04-26 17:26] zachriggle commented on #8
Check out the `wip` branch

[2015-04-28 03:50] crowell opened #9 "Sign not allowed in string format specifier"
debugging radare2

[code]
on file #2  0x00007ffff70077c5 in Pe32_r_bin_pe_get_debug_data (bin=0x6e8ab0, res=0x7fffffffd280) at /home/jeff/ctf/tools/radare2/libr/..//libr/bin/p/../format/pe/pe.c:1911

ping me for more details for this.

[2015-04-28 04:03] crowell commented on #9
this actually looks like it may be due to integration with `cgdb`

[2015-04-28 13:48] zachriggle commented on #9
Could you clarify?

[2015-04-29 14:53] crowell commented on #9
sorry, was pretty dead when I reported that :]
this is certainly due to cgdb, so you can probably just close this.
easy reproducible steps:

[code]

[code]

cgdb also doesn't support colors, so using pwndbg with it is kind of silly.

[2015-05-17 04:28] zachriggle opened #13 "Honor delay slots in disassembly splits"
MIPS, SuperH, SPARC all have delay slots.
## Wrong

[code]
## Correct

[code]

[2015-05-18 21:23] zachriggle commented on #9
Closing this as wontfix, as it doesn't affect `gdb`.

[2015-05-18 21:23] #9 closed

[2015-05-18 21:23] zachriggle commented on #8
This is now merged into master

[2015-05-18 21:23] #8 closed

[2015-09-03 06:16] lieanu opened #15 "Some Errors..."
[code]

[code]

[2015-09-03 20:05] zachriggle commented on #15
What were you working on when this happened?  Was everything up-to-date (latest pwndbg, latest Capstone 4.0)?

The `CS_OP_IMM` error shouldn't happen, and I can't reproduce it.  I can easily make a reference to that symbol.

[code]

The `int`-vs-`long` should also not happen, as we add `long` to the global namespace in [`inthook.py`](https://github.com/zachriggle/pwndbg/blob/master/pwndbg/inthook.

[2015-09-04 03:27] lieanu commented on #15
Sorry, it's a  false alarm, I updated `gdb` to version `7.10` in my laptop yesterday, it use `python 3.4`.
After rebuilding, it works now. :+1:

[2015-09-04 03:27] #15 closed

[2015-10-16 17:06] zachriggle opened #16 "Unicorn Engine"
Need to add Unicorn Engine for emulation of the current basic block.

[2015-12-20 09:08] P4N74 opened #18 "Python Exception <class 'AttributeError'> 'str' object has no attribute 'decode'"
While running a program with `core` file in gdb, I'm getting an error saying `Python Exception <class 'AttributeError'> 'str' object has no attribute 'decode'` which is coming from the line
[code]
if file `vmmap.py`. I checked the type of data but it turned out to be `<class 'str'>`.  Also it gives error when I run `vmmap` inside the `gdb` session which was started with core file.
[code]
On runnin

[2015-12-21 04:20] zachriggle commented on #18
If you don't mind, can you provide a full backtrace via:

[code]

[2015-12-21 04:28] P4N74 commented on #18
Here is the backtrace you asked for:

[code]

[2015-12-21 16:50] zachriggle commented on #18
What version of Python is GDB using?

[2015-12-21 16:58] P4N74 commented on #18
It's Python 3.4.3

[code]

[2015-12-21 17:39] #18 closed

[2015-12-21 17:40] zachriggle commented on #18
Fixed! Thanks for the bug report :)

[2015-12-21 17:44] P4N74 commented on #18
welcome :) BTW will you give some hint on how you pointed out the main source of error.

[2015-12-21 18:22] P4N74 opened #19 "Improper output formatting"
From the recent merge @br0ns, it seems to clear the home and end key issue in prompt, but the coloured output seems to come out weird. Upon looking into code of `color.py` which has
[code]
[Here](http://imgur.com/KI1HpN0) is the link to image of output.
instead using it as it was before:
[code]
and adding following line to `__init__.py`:
[code]
Should fix the error of home and end key in prompt wh

[2015-12-21 18:29] zachriggle commented on #19
Agreed that this is cleaner.  Fixed in c2f0a69.

[2015-12-21 18:29] #19 closed

[2015-12-21 18:30] zachriggle commented on #19
FWIW, I did not see the odd symbols that you do -- but I like this method better.

[2016-03-20 00:56] gsingh93 opened #25 "Fix autofetch when debugging with QEMU"
`autofetch()` throws errors when debugging a binary running with QEMU. Don't have the errors in front of me now, but can get them later.

[2016-03-30 07:03] zachriggle commented on #25
Fixed with 04019d5

[2016-03-30 07:03] #25 closed

[2016-04-04 07:21] lieanu commented on #16
Cool, like [https://github.com/hugsy/gef](https://github.com/hugsy/gef)'s `emu` command.

[2016-04-07 18:43] zachriggle opened #26 "Windbg Aliases / Feature Parity"
Needs more Windbg.
- Dot-prefixed aliases are not possible.
  - [x] .attach (`attach is builtin)
  - [x] .detach (`detach` is builtin)
  - [x] .restart (`restart` is builtin)
  - [x] .echo (`echo` is builtin)
  - [ ] .holdmem
  - [x] .frame (`frame` is builtin)
- Bang-prefixed aliases are not possible.
  - [x] !peb (implemented as `peb`)
  - [ ] !avrf
  - [x] !address (implemented as `address`)

[2016-04-30 19:21] Grazfather opened #27 ""set disassembly-flavor intel" Doesn't work on ARM"
https://github.com/zachriggle/pwndbg/blob/master/pwndbg/__init__.py#L110

Perhaps should be done conditionally?

[2016-05-02 00:33] zachriggle commented on #27
Turns out it doesn't hurt anything. Do you have an example case where this breaks something?

As a sidebar, pwndbg doesn't actually use GDB's disassembly anyway so it doesn't matter -- I'm just curious if this caused you a problem so that I know about it.

[2016-05-02 01:02] Grazfather commented on #27
It does. For me on an ARM64 machine it prevents `context` from running every time I hit a bp.

[code]

[2016-05-02 01:10] Grazfather commented on #27
With that line removed:

[code]

[2016-05-02 14:12] zachriggle commented on #27
I don't run into that issue when debugging aarch64 binaries. I would
suggest using a GDB which knows about more than one architecture, eg the
gdb-multiarch package on Debian/Ubuntu.

There's no way to conditionally check for support for a given architecture.
I suppose we could check when running on Intel, but dynamically setting
disassembly-flavor will override whatever the user has put in gdbinit

[2016-05-02 21:02] #27 closed

[2016-05-02 21:16] Grazfather commented on #27
Cool I didn't know to use that.

Thanks for fixing it anyway.

[2016-05-07 02:19] tmfink opened #28 "Crash under Python2"
When running pwndbg with a GDB that uses python2, you get the following crash:

[code]

This is because in Python2, `print` is a statement, not a function.

This _could_ be fixed by adding `from __future__ import print_function` at the top of `emulator.py`. However, I noticed that print is used often in the repo.

To provide co-compatibility to python2/3, you should add the following at the beginn

[2016-05-07 02:28] zachriggle commented on #28
Fixed with d13b9e85ce91d1ac294a01f51106edaafaa9db9b

[2016-05-07 02:28] #28 closed

[2016-05-11 16:21] windcarp opened #29 "Pwndbg raise exception with newest capstone engine"
Excuse me but something went wrong with pwndbg which I installed recently, maybe something is wrong with /disasm/color.py(line 11), capstone has moved target_constant attribute, anyway thanks a lot to your wonderful work!

[2016-05-12 02:25] zachriggle commented on #29
I would recommend updating `pwndbg`, `capstone`, and `unicorn` and trying again.

If the error persists, please provide the full exception, as well as running the following command:

[code]

For reference, current tip-of-tree uses the following versions.  I did not notice any problem.

[code]

[2016-05-12 02:52] zachriggle commented on #29
I would recommend updating `pwndbg` and trying again.  In particular, I just added a `setup.sh` script to simplify the installation process.  Instead of getting Capstone and Unicorn separately, they are now tracked as Git submodules.

If the error persists, please provide the full exception, as well as running the command `python pwndbg/gitver.py`.

[2016-05-12 02:52] #16 closed

[2016-05-12 02:53] zachriggle commented on #16
Done!

[2016-05-12 04:41] zachriggle opened #30 "Feature parity with GEF"
These can be enumerated easily via: `gdb --nx --nh --command gef/gef.py --ex 'gef'`

- [x] aslr                      -- View/modify GDB ASLR behavior.
- [x] ~~capstone-disassemble      -- Use capstone disassembly framework to disassemble code. (alias: cs-dis)~~
  - We always use Capstone
- [x] canary                    -- Shows the canary value of the current process. Apply the techique
- [x] ~~ca

[2016-05-13 09:04] windcarp commented on #29
Got it, and thank you for taking the time to reply!

[2016-05-13 19:51] zachriggle commented on #29
Everything is working then?  Sounds like it, so I'm closing the issue.

[2016-05-13 19:51] #29 closed

[2016-05-22 09:52] zachriggle opened #31 "Use $_siginfo to enhance SIGSEGV info"
When shit blows up, this tells you what address things blew up at:

`hex(int(gdb.parse_and_eval("$_siginfo._sifields._sigfault.si_addr")))`

[2016-05-27 00:57] zachriggle opened #33 "Go runtime support breaks Pwndbg"
According to AHA, Go breaks gdb/pwndbg

[2016-05-27 19:09] gsingh93 opened #35 "AttributeError: 'module' object has no attribute 'memoize'"
After installing pwndbg with setup.sh, when loading gdb pwndbg complained about missing psutil. After installing psutil, I get this:
[code]

This is on a fresh Ubuntu 14.04 Vagrant VM.

[2016-05-27 21:17] gsingh93 commented on #35
Fixed with https://github.com/pwndbg/pwndbg/commit/f5705206b7f47026291982d2c37bc0cf3bfb42cb

[2016-05-27 21:17] #35 closed

[2016-06-02 00:07] #31 closed

[2016-06-03 01:52] gsingh93 opened #38 "Improve function docs"
At the very least, we could use `inspect` to print out things like the argument names when you run `help` on a command.

[2016-06-03 17:26] zachriggle opened #40 "Expose twiddly bits and arbitrary constants via properties"
All of the random constants for defaults should be configurable.

We should implement a module object, `pwndbg.config`, which exposes configuration settings as recursive properties.

For example, `print(pwndbg.config.assembly_lines)` would print a configuration setting which the user has set via `set pwndbg assembl-lines 3` or something similar.

We'd need to stub out all of operator properties (`

[2016-06-03 17:31] zachriggle commented on #38
Another way to do this is to make each tool declare a full CLI via ArgParse.  This could help with some of the casting needs and help with docs.  A bit painful to backfill all the commands, though.  We get nice usage and a known-usable interface, too.

[2016-06-03 17:36] gsingh93 commented on #38
I'm fine with that. It's a lot of work, but we can do it bit by bit.

[2016-06-03 17:38] gsingh93 opened #41 "Support heap implementations other than ptmalloc2"
https://github.com/pwndbg/pwndbg/pull/36 adds support for basic heap commands, but only for ptmalloc2 (which is what glibc uses).

[2016-06-03 17:39] gsingh93 opened #42 "Make the `bins` command print out all bins instead of just the fastbins"
https://github.com/pwndbg/pwndbg/pull/36 added the `bins` command, which currently only prints out the fastbins. We should print the rest of the bins as well, as long as they're not empty.

[2016-06-03 17:41] gsingh93 commented on #5
Not sure what we need to have feature parity with libheap. All the useful stuff I've needed is in https://github.com/pwndbg/pwndbg/pull/36, and there are a bunch of little helper functions in libheap that I've never used and don't think are worth implementing.

[2016-06-03 20:57] zachriggle commented on #40
Closed via e9fe067a42e09cba5bc062f66e46f9ae3dc17dee

[2016-06-03 20:57] #40 closed

[2016-06-03 20:58] zachriggle commented on #41
Is it `ptmalloc`-specific, or is it also compatible with `jemalloc`?  The only real difference is the number of arenas.

[2016-06-03 21:21] gsingh93 commented on #41
I haven't tested with dlmalloc, so I can't say anything about that. We should at least test it before claiming we support it.

[2016-06-03 21:38] zachriggle commented on #38
I've added support for this in 27b4a9a3140a0b6054bef6b25cec878b82feaf33.

Please confirm that the implementation works for what you want :)

[2016-06-03 21:44] gsingh93 opened #44 "Add tests/CI"
Not sure exactly what the best approach for testing is, but I'd at least like to make sure pwndbg loads in GDB fine on startup (this was broken for a while).

[2016-06-04 18:05] gsingh93 commented on #1
You have `dumpmem` marked as won't implement, but GDB's `dump mem` doesn't accept map names, so I can't do something like `dumpmem vdso.so vdso`.

[2016-06-05 00:01] zachriggle commented on #1
That general style of command doesn't work anyway. Consider "dump libc.so
filename". Libc is non-contiguous memory. How should that be dumped?
On Sat, Jun 4, 2016 at 1:05 PM Gulshan Singh <notifications@github.com>
wrote:

[2016-06-05 00:11] gsingh93 commented on #1
`vmmap` shows four mappings for libc. By default `dumpmem libc.so file` could dump the first one, and maybe a fourth optional arg could specify which of the four to dump in case you don't want the first one.

[2016-06-06 00:59] gsingh93 opened #46 "Don't show stacktrace when ebp points to invalid memory"
Otherwise you get something like this:
[code]

[2016-06-06 04:02] zachriggle commented on #46
The appropriate fix is to wrap that line in an exception handler.  Separately, that should only ever be called once, when a new binary is selected

[2016-06-09 23:44] zachriggle commented on #46
I can't reproduce this:

[code]

[2016-06-09 23:45] zachriggle commented on #38
Assuming this works for you, closing :)

[2016-06-09 23:45] #38 closed

[2016-06-09 23:52] gsingh93 commented on #46
I can reproduce, I'll PM you the code/binary. Please reopen.

[2016-06-09 23:55] zachriggle opened #52 "IDA Port Selection"
Currently, the IDA Pro integration relies on a static port, which means that only one IDB / binary can be interacted with at once.

We should be able to leverage GNU Build IDs in order to automate port selection, or at least do auto-discovery of the correct port via multiple attempts.

The XMLRPC server should start at well-known port `N` and attempt to listen on it.  If it's unavailable, then `N+

[2016-06-10 00:45] zachriggle commented on #52
This also has the benefit that the XMLRPC server script can be run on startup for every IDA launch, avoiding the need to manually launch the file.

[2016-06-10 03:03] zachriggle commented on #46
This doesn't have to do with the stack trace, it has to do with GDB being internally broken and throwing an exception inside of `gdb.selected_frame()`.  It also appears to only be an issue on i386, not e.g. amd6t4.

[code]

Worked-around with b987b4141281c6e4922923c82ca972f71479ab46

[2016-06-10 03:03] #46 closed

[2016-06-10 03:04] zachriggle commented on #46
Now only the `Cannot access memory` message is shown, and it is not possible to be muted.

[2016-06-10 17:48] zachriggle commented on #44
Fixed with #55

[2016-06-10 17:48] #44 closed

[2016-06-10 22:27] zachriggle opened #68 "heap command displays unnecessary data"
Given a simple binary below, breaking at function `B` produces the output below.

The flags must be incorrect, as they are all marked `PREV_INUSE`.  The first entry has no `prev`, so that must be incorrect.

All of the entries display `fd` and `bk` and `fd_nextsize` and `bk_nextsize` even if the fields don't make sense to display in these instances.

We should not display fields that are unnecessa

[2016-06-13 19:07] zachriggle opened #76 "GDB as a Library"
It should be possible to `import gdb` in a standard Python interpreter.

This guy has done some work already: http://tromey.com/blog/?p=806

[2016-06-14 12:57] mgerhardy opened #77 "GDB ignores sigtrap with pwndbg active"
issuing the following code will just exit the application - not triggering a break in GDB
[code]

[2016-06-14 13:32] mgerhardy commented on #77
weird thing is that it works for a simple testcase:
[code]

but it doesn't work in my application. If I remove the ~/.gdbinit again it works perfectly fine again.

GDB version:
[code]

The application normally quits with:
[code]

[2016-06-14 17:41] anthraxx opened #78 "source code section unavailable if current line is in the first chunk of the list command"
when debugging through code and the current function is indeed one that it at the top of a .c file (that does not use tons of includes) the section is lost because of a too aggressive check:

https://github.com/pwndbg/pwndbg/blob/master/pwndbg/commands/context.py#L160

Which edge-case does that try to solve? As I'm hitting that in several cases, I think it does harm more then it maybe solves somet

[2016-06-14 18:40] zachriggle commented on #78
It solves the issue where the current `$PC` is known to be in a file, but does not correspond to any line in the file -- so GDB sets it to the top of the file.

[2016-06-14 18:44] anthraxx commented on #78
@zachriggle I see, not sure how this could be solved without breaking the above mentioned scenario. Does that happen that often?

[2016-06-14 18:48] zachriggle commented on #78
I'm not sure, since it hides it when it happens ^_^.

I wouldn't have gone out of my way to add the check if it wasn't affecting me in some way.

What files are you debugging where the first line of source in a file is important (i.e. not a function declaration)?

[2016-06-14 18:51] anthraxx commented on #78
its nut just about the very first line. the check looks if the first line of the source listing is the first line of the file. that also applies if you break on the first function in a file not having many includes so that the first line of the file is actually included in the listing.
It happens quite often in some of my projects, I noticed it because i tried to break on one of them to debug and

[2016-06-14 18:53] zachriggle commented on #78
It seems the best way to fix this is to check the current line, rather than whether or not the first line appears in the listing.

Would you agree that if the *current* line is claimed to be Line 1, something is wrong?

This way you can get listings which happen to include Line 1.

[2016-06-14 18:55] anthraxx commented on #78
@zachriggle yes, i guess that sounds safe to assume and should not happen under normal conditions

[2016-06-14 18:59] zachriggle commented on #77
I can't reproduce this behavior.

Given the following ELF:

[code]

Which raises SIGTRAP:

[code]

The SIGTRAP is caught by GDB without Pwndbg (`--nh --nx` disables `~/.gdbinit`):

[code]

The sigtrap is also caught with Pwndbg active:

[code]

[2016-06-14 19:05] zachriggle opened #79 "Pwndbg should not hijack Capstone and Unicorn versions"
Currently, Pwndbg force-installs its version of Capstone and Unicorn.

This may cause issues with other versions people prefer to have installed.

[2016-06-14 21:52] #78 closed

[2016-06-14 23:06] anthraxx commented on #77
Well @mgerhardy example does more or less exactly what your test binary does: simply invoke ``int 3`` in a very simple way and that scenario also works for him.

However I can confirm that this bug also occurs on my machine, unfortunately  that project is not yet public but I can somehow try to find a minimal test case that triggers this problem.
Just my feeling, who knows, but maybe it has someth

[2016-06-14 23:08] zachriggle commented on #77
Pwndbg does not modify the `SIGTRAP` handler, and in fact does not contain any relevant references to `SIGTRAP` or even "trap" in the entire project.

I'll leave this open until someone can reproduce on GDB 7.11 with the latest Pwndbg master.

[2016-06-14 23:10] anthraxx commented on #77
@zachriggle well i know as i tried gepping through the source whatcould be the reason... however this is happening with latest master and gdb 711 as I don't use the same machine as he does:
[code]

[2016-06-14 23:33] zachriggle commented on #77
I still cannot reproduce.

[code]

[2016-06-14 23:36] anthraxx commented on #77
I think you still miss-read what i tried to explain again: This does **not** happen with that minimalistic test example :smile: thats also what @mgerhardy said, his small demo does indeed trigger the TRAP while in another multithreaded application is does not :smile:
That's why i said I will need to try to create a minimalistic test case that does trigger this issue

[2016-06-15 06:48] zachriggle commented on #77
Ah, I did indeed misunderstand.  My mistake 😅

In any case I'll leave this open until we have a reproducible case.  I don't doubt it's an issue, I just haven't been able to repro yet.  It may have to do with threading as alluded to earlier.

[2016-06-18 18:24] int0x80 opened #85 "Exception when attaching to QEMU gdb stub"
Thanks for all your work on this project.  I'm having trouble attaching to a process suspended by QEMU with a gdb stub.  The specific target is the `stack_bof_01` binary in the [DVRF](https://github.com/praetorian-inc/DVRF) project.  The DVRF setup process was followed as per the [Getting Started](https://www.praetorian.com/blog/getting-started-with-damn-vulnerable-router-firmware-dvrf-v0.1) blog

[2016-06-19 10:35] zachriggle commented on #85
I was not able to reproduce the issue, but the stack traces were helpful enough that I think I resolved the issue on the `dev` branch.  Please take a look and let me know! :)

[2016-06-19 21:18] int0x80 commented on #85
Thank you so much for the quick reply.  There is a new exception that seems to be further down this time.  The target is the same, and started the same way.

[code]

Here is the new stack trace.

[code]

Here's my branch process:

[code]

I also tried a fresh clone with:

[code]

I also just realized the version for gdb might have been helpful, as well.

[code]

Thanks again for your help in resol

[2016-06-20 12:29] zachriggle commented on #85
Pushed two more commits, give it a go :)

[2016-06-20 12:36] int0x80 commented on #85
I think we're getting there -- got a new error this time.  Same target with the same initialization.

[code]

The stack trace in pwndbg on the `dev` branch.

[code]

This was my update to grab your commits.

[code]

[2016-06-20 12:38] zachriggle commented on #85
Once more :)

[2016-06-20 12:42] int0x80 commented on #85
More progress :)  Here is the run after the latest `git pull`.

[code]

[2016-06-20 12:50] zachriggle commented on #85
What version of QEMU are you using?

Can you provide a copy of the binary?

These are indeed cases that aren't handled, but they are also cases that should never be possible.

Specifically, this most recent one is occurring because Pwndbg cannot find the main executable.

[2016-06-20 13:01] int0x80 commented on #85
QEMU was installed with apt via the `qemu-user-static` package.

[code]

Here is a copy of the target, extracted from the DVRF image and uploaded to Google Drive https://drive.google.com/open?id=0BzEOIRgNADuqVG9lbEdJMURHMlU

[2016-06-20 13:05] zachriggle commented on #85
Nevermind, I see that DVRF provides a `bin` file with a `squashfs` inside it.

[code]

As an example of what I meant earlier, with no need for chroot or sudo:

[code]

Next we can run the binary:

[code]

[code]

Everything works for me :-S

[2016-06-20 13:09] zachriggle commented on #85
I expect that the issue is that you are not telling `gdb` that it's a MIPS binary, so it's attempting to read `i386` registers and getting `0` for `$sp` and `0` for `$pc` etc.

You need to tell GDB what the foreign architecture is.

I recommend using `gdb-multiarch`, which has MIPS support -- however, you still need to explicitly tell it.

If you use [Binjitsu](https://binjit.su), this all works a

[2016-06-20 13:09] #85 closed

[2016-06-20 13:17] int0x80 commented on #85
Hah, you're right.  I did have one run with a hiccup:

[code]

But now it seems to be working.  Notice in the run above that we're at `0x767b9a80` instead of the previous value of `0x00000000`.  Either way it seems to be working now.

I've updated my install of Binjitsu so should be good to go.  Thanks so much for all your help.

[2016-06-21 16:01] anthraxx commented on #1
- eflags -> implemented
- pdisass -> isn't this the nearpc command? maybe add an alias (matches with p for pwn :yum: )

[2016-06-22 16:33] cebrusfs opened #87 "pwndbg is slow when connect to debug server of pintool"
Pintool can use `-appdebug` to create a debugger server (like `gdbserver`) then gdb can use `target remote` to connect.
I try to use pwndbg but it will block on some event (I just add a timer in debug log of event to record the time usage):
[code]
Also, command `telescope` is slow because of lots memory query.

I traced some function and found out that pintool's server didn't provide some informat

[2016-06-22 16:53] cebrusfs opened #88 "start event is trigger 3 times when starting"
I noticed that `start` event will be trigger 3 time. The first time is by `_start_newobjfile` on `new_objfile` event. The second and the third time is by `pwndbg.events.after_reload()` which is called by `prompt_hook()` in `pwndbg/__init__.py`.

`pwndbg.events.after_reload()` will call all the function that registered by `start`, `new_objfile`, `stop` events. It will call all start function direct

[2016-06-23 04:19] zachriggle commented on #88
Check out the last few commits in the `dev` branch.  It looks like a mixture of:

1. A typo.  `on_stop` should have been `on_exit`.  We were resetting the internal state on every single-step/breakpoint instead of only when the binary exited.
2. Lack of foresight.  We need to call the `.stop` events after reload first.

The `reload` command is still really busted, but it should at least fix the `st

[2016-06-23 07:47] zachriggle opened #90 "Pwndbg should mark pwndbg.regs.last['pc'] as executable"
In the event we're executing under QEMU-user, we may not be able to detect executable pages.

However, we can certainly assume that whatever $PC was on the *last* instruction should be executable.

Unfortunately, this is arch-specific since `pwndbg.regs.last` is a dictionary of registers and does not support meta-registers like PC and SP e.g. on i386.

[2016-06-23 07:49] zachriggle opened #91 "Linker detection is incorrect under qemu-user."
Given a trivial ARM binary which needs a linker:

[code]

[2016-06-23 07:51] zachriggle opened #92 "link_map structure should get walked"
For dynamically-linked binaries run under qemu-user, we have no mechanism to autodetect other libraries.

We should support extracting the `link_map` from the linker, via the GOT/PLT, or via DT_DEBUG segments.

This will only be possible if we can get a local copy of the ELF on disk, since we can't find those, since the headers are not resident in memory.

[2016-06-29 16:51] afreeborn opened #94 "Cannot get GDB to work with pwndbg and Capstone"
Hello,

When I try to run GDB, I get the following stack trace below. This was from a fresh clone from Git and running sudo ./setup.sh. Here's my environment:

uname -a
Linux ubux64DVRF 4.4.0-28-generic #47-Ubuntu SMP Fri Jun 24 10:09:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

GNU gdb (Ubuntu 7.11-0ubuntu1) 7.11
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 o

[2016-06-29 17:28] ekse opened #95 "pwndbg prints an error when calling 'disasm' and pwntools is not installed."
The pwndbg setup.sh does not install pwntools. Calling disasm without it installs just prints an error.

[code]

[2016-06-29 17:44] afreeborn commented on #94
If I comment out the raise error line (raise CsError(CS_ERR_VERSION)) in "/usr/local/lib/python3.5/dist-packages/capstone/__init__.py" on line 661, pwndbg works. I'm not sure what the issue may be.

[2016-06-29 20:06] zachriggle commented on #94
You have conflicting versions of Capstone installed.  Remove all versions of Capstone from your system, and re-run `setup.sh`.

[2016-06-29 20:06] #94 closed

[2016-06-29 20:08] zachriggle commented on #95
Correct, the `disasm` tool shells out to Pwntools.  This will also happen if there's no e.g. `which` binary and you invoke the `which` command.

Adding a "Command not found" message would be even more confusing, IMHO.

[2016-06-29 20:21] ekse commented on #95
I think an error message "executable not found, please install pwntools"  for these commands would be better. This error when calling 'disasm' is confusing since it is really similar to the gdb command 'disassemble'.

[2016-06-29 20:55] zachriggle commented on #95
Fixed with 2d7ddf224e0d23a32a471ab38b08a1a3e7bf6628

[2016-06-29 20:55] #95 closed

[2016-06-29 22:44] anthraxx commented on #95
actually a problem is that binjitsus 'disasm' command is a very generic name and currently conflicts with f.e. the ```distorm``` package hat already provides a binary names such.

[2016-06-29 22:45] zachriggle commented on #95
It doesn't conflict at all, it just shells out to the command.

It does whatever the command installed on your system does.  No functionality is tied to any particular implementation.

[2016-06-29 22:46] zachriggle commented on #95
Edit: Unless you mean the fact that Pwntools/Binjitsu provides any tool of that name at all is a problem, in which case I contest the claim.

See https://github.com/Gallopsled/pwntools/issues/573 for more information. tl;dr WONTFIX.

[2016-06-29 22:57] anthraxx commented on #95
yes, that's what i meant. no need to get so harsh about this, did I ever offend you? I just try to show you a different point of view to a particular situation.

[2016-06-29 23:01] zachriggle commented on #95
Nope, no offense at all ^_^.  It's just not something that I intend to fix, as it's not a problem.

[2016-06-29 23:55] anthraxx commented on #95
well you're right, this place is the wrong one to discuss this as it does not belong here and everything here is fine. This topic is exactly the link you posted, thx

[2016-06-30 22:38] zachriggle opened #96 "Dafaq"
Dem Colors.

<img width="343" alt="screen shot 2016-07-01 at 12 37 36 am" src="https://cloud.githubusercontent.com/assets/111640/16506647/16cca6d0-3f24-11e6-84ad-63ab103bd7fd.png">

[2016-06-30 22:39] zachriggle opened #97 "Dafaq x2"
Why is the next instruction wrong? This is either a `pwndbg.disasm.arch` issue or a Unicorn issue.

<img width="346" alt="screen shot 2016-07-01 at 12 39 03 am" src="https://cloud.githubusercontent.com/assets/111640/16506680/4e78030e-3f24-11e6-9e60-4c1511a1f4fe.png">

<img width="388" alt="screen shot 2016-07-01 at 12 38 58 am" src="https://cloud.githubusercontent.com/assets/111640/16506676/4ae14f

[2016-07-01 12:22] zachriggle commented on #87
There's not much we can do regarding memory scans if the Pintool's GDB server does not provide all of the information that we need.

The `memoize.reset_on_start` was fixed a little while ago.  The issue was it was clearing the cache on `stop` instead of on `exit` -- just a small typo.

[2016-07-01 12:23] zachriggle commented on #87
Pwndbg's performance is acceptably fast when doing debugging over e.g. a TCP-over-USB link to an Android device, so that `gdb.Value().dereference` is slow is not the issue.  I believe this issue is Pin's GDB stub being slow.

Since there's nothing actionable left (tl;dr Pin's GDB stub is slow), I'm closing this.

[2016-07-01 12:23] #87 closed

[2016-07-01 12:24] zachriggle commented on #88
This was fixed a while ago now.  Thanks!

[2016-07-01 12:24] zachriggle commented on #88
See:

63d47e1105d71b05dfc022dc08825727b978a534

309df7a44705ee6276a6810e2d5edb8d012ea504

[2016-07-01 12:25] zachriggle commented on #76
Probably not going to happen.  This requires recompilation, and we don't need it for our tests.

[2016-07-01 12:25] #76 closed

[2016-07-01 12:26] zachriggle commented on #33
There's nothing that Pwndbg can do to prevent this stuff from loading, unfortunately.  :(

[2016-07-01 12:26] #33 closed

[2016-07-01 12:27] zachriggle commented on #79
Technically, the versions we're installing are ~= guaranteed to be newer, so this should not be an issue.

If somebody else has a more-recent development version of Capstone/Unicorn installed, they'll have to manually re-install after installing `pwndbg`.

There's no good way to check whether a given version of Capstone or Unicorn is "new enough".

[2016-07-01 12:27] #79 closed

[2016-07-04 08:35] cebrusfs commented on #88
I use the current master to test. The start event will be trigger twice now. The first time is by `start` event. The second time is by the `prompt_hook()`.

It seems that `prompt_hook()` tries to handle the change of the inferior and the thread, but the execution of this detection is after the start event. Do you think it is a good idea to force updating the prompt_hook() checking when execution t

[2016-07-04 09:18] cebrusfs opened #98 "The integer argument in ArgparsedCommand will be consider as hex"
Give you an example.
[code]

Because in `pwndbg/commands/__init__.py`, you will try to call `fix_int` if the argument type is `int`, then the `fix_int()` use `gdb.parse_and_eval()` to fix the integer (maybe you want to do some symbol resolution via gdb), but it will consider the integer is hex.
[code]
I think the input should be checked. If it is a pure integer string, then just convert it as inte

[2016-07-04 09:57] zachriggle commented on #98
We set the radix to 16 on purpose.

You can unset this if you like :)
On Mon, Jul 4, 2016 at 11:18 AM MengHuan Yu <notifications@github.com>
wrote:

[2016-07-04 09:58] zachriggle commented on #98
https://github.com/pwndbg/pwndbg/blob/master/pwndbg/__init__.py#L123

[2016-07-04 09:58] #98 closed

[2016-07-04 12:14] cebrusfs opened #100 "distance command does not work"
Use distance command would get error:
[code]
Because `x / y` will be `float` in Python3. Use `%x` to on `float` type variable will raise this error.

Code for reference,
[code]

There are two ways to fix it. Use `%f` or use `//`. It depends on what to do if `distance` is not divisible by `arch.ptrsize`. Open this issue for discussing.

[2016-07-04 15:13] cebrusfs commented on #98
Ok, I don't know that is a feature.
Thanks for providing code for reference.

So do you all use hex for normally used? even when typing command?

[2016-07-04 15:57] zachriggle commented on #98
Yep! If you need decimal you can type eg "10.0" or something like that.

The reason I do this is because of how Windbg works. Hex is default,
everything else uses the "0n1234" notation for decimal 1234.
On Mon, Jul 4, 2016 at 5:13 PM MengHuan Yu <notifications@github.com> wrote:

[2016-07-04 16:14] cebrusfs commented on #98
Got it! I'm pretty uninformed. I have never known there is some tool make this as default.
Thanks for explaining. :)

[2016-07-06 22:04] bryceandress opened #101 "pwndbg install issue on Arch Linux"
[code]
Not sure what is causing this issue but would love some feedback. I also cannot seem to get rid of this error by deleting the .gdbinit file, any tips on how to also do this would be appreciated

[2016-07-06 23:02] anthraxx commented on #101
the gdb you are using seems to be weirdly behaving. maybe check the way you compiled and installed your custom gdb from git with the build script of the officially created gdb

[2016-07-06 23:11] zachriggle commented on #101
I agree with @anthraxx (also thanks for responding, I really appreciate your interest in this project!)

[2016-07-06 23:12] zachriggle commented on #101
Also, I would recommend ensuring that you pass --with-python to your ./configure if you are building from source.

As a general rule, Pwndbg is only tested to work with Ubuntu 14.04 and 16.04. I recommend looking at their configure scripts for additional info.

[2016-07-07 12:29] bryceandress commented on #101
It was acting fine until I tried installing pwndgb. I modified the setup.sh file by just removing the ubuntu apt-gets in the beginning and updating those packages manually. Upon firing up gdb I got this. If you are not sure how it is happening any tips on how to remove it would be greatly appreciated. I tried doing a pacman -Rr and deleting the .gdbinit as well as a gdb folder that show configurat

[2016-07-07 18:47] anthraxx commented on #101
@zachriggle its a pleasure to be here and being able to improve and work on this cool project... thanks for appreciation! :smile_cat:

@bryceandress well, something has to be around on your side that the gdb-git version influenced. It works flawlessly over here. please verify that you are really using 7.11.1-1 and you are really executing gdb from ```/usr/bin/gdb```.
If it still occurs, please upl

[2016-07-07 19:02] bryceandress commented on #101
Will do when I get home to my machine. Will tag you then.

[2016-07-09 04:49] bryceandress commented on #101
[code]

[2016-07-09 08:38] zachriggle commented on #101
I don't see any error messages in that trace, nor do I see Pwndbg being
loaded.
On Sat, Jul 9, 2016 at 6:49 AM Bryce Andress <notifications@github.com>
wrote:

[2016-07-10 16:54] bryceandress commented on #101
I still have the same issue when I load gdb as stated in the OP. It didnt happen until I tried to install pwndbg, it may not be the program itself but something the setup.sh script modified caused the issue.

[2016-08-07 12:45] disconnect3d opened #103 "Feature - CheatEngine like search"
Hey,

It would be cool to have a similar feature like CheatEngine provides - the possibility to re-search the addresses found in last search, for a given value.

There's also a plugin for that on https://github.com/ItayGarin/gdb-cheat-engine but imho we need something that is easier to use (like `-n` or `--next` flag in `search` command).

[2016-08-17 17:54] zachriggle commented on #101
If you can create a Dockerfile to reproduce this, I can try to look into it

[2016-08-17 17:55] zachriggle commented on #103
Can you give me an example of how this feature would work when in use?  I'm not familiar with the workflow for this.

[2016-08-17 18:33] zachriggle commented on #88
How about now? Sorry for dropping the ball on this for a month. DEFCON and vacation.

[2016-08-18 01:50] cebrusfs commented on #88
After DEFCON CTF, I'm on vacation. There is also an on-site CTF at the end of this month.
Because of these, I think I will be available on Sep.

[2016-08-25 15:28] Grazfather commented on #103
@disconnect3d Check out [PINCE](https://github.com/korcankaraokcu/PINCE)

@zachriggle: You'd need to maintain some bucket of addresses and their values at last search. Support a feature that allows filtering on the list by their current value. Ideally not sure on their current value, but with the option to filter on how they changed.

e.g.

1. Find all 4byte dwords (regions, alignment, etc configu

[2016-08-25 20:06] disconnect3d commented on #103
@Grazfather Thanks for the link and explanation.

I didn't forget about the issue and the feature is quite simple to implement, however we will have to agree on the command interface.
I will post a prototype of this soon.

[2016-09-03 02:01] zachriggle opened #105 "Windbg/DD Reverses Bytes"
The `dd` command reverses the bytes, or doesn't reverse them.  Whichever.

[2016-09-07 20:46] #100 closed

[2016-09-07 20:46] #88 closed

[2016-09-09 07:00] gsingh93 opened #107 "Program received signal SIGBUS, Bus error."
I received the following stack trace while debugging the binary `unexploitable` from pwnable.kr in pwndbg. I'm on Ubuntu 14.04 and using `GNU gdb (Ubuntu 7.7.1-0ubuntu5~14.04.2) 7.7.1`. I don't have a repro that doesn't share parts of the solution for the challenge, so for now I'll just include the stack trace in case you can figure it out from there, or someone else sees the same issue:

[code]

[2016-09-09 17:42] wsxarcher commented on #101
Works flawlessly on my Arch box.
To improve we should put apt commands optional in setup.sh to make deps more distro agnostic. But it is just a little thing.

[2016-09-09 20:25] wsxarcher commented on #68
cloudburst/libheap is going forward but as the README says, it is stuck on glibc 2.19 at the moment.

[2016-09-11 21:19] shibumi opened #108 "use releasesystem"
Hello,
It would be nice if you could use the github release system. This would make it easier for package maintainers to generate a package for repositories out of pwndbg.

[2016-09-13 01:35] zachriggle commented on #108
Closed with 7bdec11

[2016-09-13 01:35] #108 closed

[2016-09-13 01:49] #105 closed

[2016-09-13 02:37] #90 closed

[2016-09-13 02:37] #91 closed

[2016-09-14 03:54] KevinCooper opened #110 "Errors when frame pointer(EBP) is invalid"
Hey, I'm a big fan of the tool.  I am currently working on a CTF problem where shellcode is executing on a stack.  After ret'ing into the shellcode, there is an invalid address for EBP causing pwndbg to not print out the status after each step.
A sample error
[code]
Where the register values are currently:
[code]

[2016-09-14 03:56] zachriggle commented on #110
This is a duplicate of #46 and fixed a while back.  Thanks for the report!

[2016-09-14 03:56] #110 closed

[2016-09-14 03:57] KevinCooper commented on #110
Thanks for the rapid response!

[2016-09-14 03:57] zachriggle commented on #110
Yep! Just update and you'll be good.
On Tue, Sep 13, 2016 at 8:57 PM Kevin Cooper <notifications@github.com>
wrote:

[2016-09-16 06:01] gsingh93 opened #111 "unhashable type: 'dict' with telescope"
Run `gdb /bin/ls`, then `start`, then run the following commands

[code]

The output should be the same, but it's not. Also, there's the error "unhashable type: dict"

[2016-09-20 08:31] disconnect3d commented on #103
@zachriggle I see you have started working on the issue.

I am not sure whether we need the `--save` argument. Imho the search results could be saved each time a search is done and if `-n` or `--next` is passed, only the "last found addresses" should be searched.

I am attaching a git patch I have made like a month ago. I didn't added it earlier because I don't really like the global variable solu

[2016-09-20 20:02] disconnect3d commented on #111
The telescope command gets weird arguments (see screenshot below) - it can be seen after adding prints to it:
[code]

![pwndbg](https://cloud.githubusercontent.com/assets/10009354/18685230/6e94d9a8-7f77-11e6-84ad-5897f91731a2.png)

After some more digging I have found that the exception is thrown in `pwndbg/commands/__init__.py` in `fix` function when `pwndbg.regs.fix(arg)` is called. The `arg` is

[2016-09-22 20:54] #103 closed

[2016-09-22 20:58] Grazfather commented on #103
@zachriggle cool thanks for that.

[2016-09-22 21:09] zachriggle commented on #103
For @disconnect3d, I also added a config option.

[code]

[2016-09-22 21:10] disconnect3d commented on #103
@zachriggle That's exactly what I wanted to ask for like 5 minutes ago.
Cool! Thanks :).

[2016-09-22 21:32] zachriggle commented on #111
Hmm, I'm not sure why `eflags` is showing up that way.  It seems that I can just fix that, no?  `.all` is just supposed to be register names.

[2016-09-22 21:49] disconnect3d commented on #111
@zachriggle The result:
[code]

Maybe we shouldn't show anything when an exception is thrown?

[2016-09-22 21:51] zachriggle commented on #111
@disconnect3d: I'd rather have it show errors that we can fix than fail silently in weird ways :-\

[2016-09-22 21:54] disconnect3d commented on #111
Oh, I meant to stop showing the weird output - just leave it with bare `Argument to arithmetic operation not a number or boolean.` (or even fix that to work with float/double values).

[2016-09-22 22:01] zachriggle commented on #111
There's no way around the output.  It cannot be squelched, as it's a GDB-internal error.

[code]

The same is effectively invoked here:
This is the line that raises that error message: https://github.com/pwndbg/pwndbg/blob/ced1734e526ee0c9a6f90186836fef80a792052e/pwndbg/commands/__init__.py#L87

[code]

However, it's already wrapped in an exception handler --- there's nothing more that can be adde

[2016-09-22 22:03] zachriggle commented on #111
(Deleted my previous, incorrect comment)

[2016-09-22 22:05] zachriggle commented on #111
So the reason that `telescope $rsp-80.0` works, but incorrectly, is that `telescope` without any arguments prints from `$rsp`.

We hit the error case and `fix` correctly returns `None`.  However, `pwndbg.commands.telescope.telescope()` treats a `None` first argument to imply no argument was provided.

We can squelch the errors by setting `pwndbg.commands._ParsedCommand.quiet=True`.

[2016-09-22 22:06] zachriggle commented on #111
I suppose at that point, the issue becomes whether `pwndbg.commands.fix` should return `None` or raise the exception

[2016-09-22 22:08] zachriggle commented on #111
Nah, that's even worse.  If we raise the exception we get roughly equivalent output, twice.

[code]

[2016-09-22 22:09] zachriggle commented on #96
Can't reproduce this.  Closing.

[2016-09-22 22:09] #96 closed

[2016-09-22 22:09] zachriggle commented on #97
Can't reproduce this.  Closing.

[2016-09-22 22:09] #97 closed

[2016-09-22 22:13] zachriggle commented on #111
Ultimately, I think the reason for this even existing is the default radix of `0x10`, which required @gsingh93 to use decimal.

This was fixed in two ways:

- The default radix is no longer changed as of the most recent release (`p/x 11` prints `0xb`)
- Decimal radix can be manually selected via `0d1234`

Since the original issue is resolved ("unhashable dict") and I think I've provided a work-aro

[2016-09-22 22:13] #111 closed

[2016-09-22 22:15] zachriggle commented on #77
Has anybody got a reproducible case of this?  I'm closing this for now.  If anybody chimes in, I'll reopen.

[2016-09-22 22:15] #77 closed

[2016-09-22 22:16] zachriggle commented on #101
@anthraxx any ideas for https://github.com/pwndbg/pwndbg/issues/101#issuecomment-231515191 ?

[2016-09-22 22:32] anthraxx commented on #101
@zachriggle I have honestly no clue, works like a charm on all my systems + @wsxarcher. Also I can't say much to his strace output as it does not even show that pwndbg is being loaded?! :confused:

[2016-09-23 01:27] zachriggle commented on #107
I can reproduce this with a script provided out-of-band by @gsingh93.

[2016-09-23 01:55] zachriggle commented on #107
This appears to interact with Unicorn's emulation.

Disabling emulation (`set emulate off`) stops this from reproducing for me.

[2016-09-23 02:05] zachriggle commented on #107
I've also verified that this repros with the latest Capstone and Unicorn.

[code]

[2016-09-23 02:19] zachriggle opened #112 "Incorrect Call Target"
Related to #107, single-stepping shows that the register-indirect call target is wrong.

[code]

We can see what the target should be.

[code]

[code]

Also note that we only see the address 0x7fcc037fc6a0, not the symbol <read> -- even when at that instruction.

We clearly have the data, it's just not showing up.

[code]

[2016-09-23 03:04] zachriggle commented on #112
[code]

It looks like the emulator is correct?  It's definitely stepping to `0x7fd07ab026a0`, which is `read`.

[code]

[2016-09-23 04:01] zachriggle opened #113 "FS/GS Emulation"
We can correctly extract fs and gs from local inferiors -- however we do not expose them in emulation because of https://github.com/unicorn-engine/unicorn/issues/550.

However, we need some code to stub out the IDT/GDT to have correct entries.

[2016-09-23 17:23] bruce30262 opened #115 "the context did not print out LR ( link register) while debugging ARM binary"
<img width="317" src="https://cloud.githubusercontent.com/assets/4478350/18794874/4ee57eda-81f4-11e6-9e25-df1126e3b616.png">

As you can see in the picture, pwndbg did not print out the link register ( r14 ) while debugging the ARM binary . I thought it was supposed to print out the same content as the `i r` command ?

[2016-09-26 22:45] zachriggle opened #117 "Theme is broken on Python2"
[code]

[2016-09-26 22:46] zachriggle commented on #117
This also breaks the `context` command

[2016-09-26 23:31] anthraxx commented on #117
Are you sure this is a python2 issue? this sounds more like a $LC_CTYPE encoding issues, doesn't it? Could dig into this tomorrow :sweat_smile:

[2016-10-01 16:58] tmfink opened #120 "Nearpc command fails with gdb.error: Cannot convert value to long"
I ran into this bug when using pwndbg with the pwnable.kr problem `brainf`:

bf mirror: https://dl.dropboxusercontent.com/u/2564904/bf

Running `gdb -x nearpc_test.gdb ./bf`

Where nearpc_test.gdb is:

[code]

Yields the following in Ubuntu 16.04:

[code]

[2016-10-01 19:55] gsingh93 commented on #120
This is happening because the type of `main` is `gdb.TYPE_CODE_FUNC`, and calling `int` on that doesn't work. I'm wondering if we should add something to [inthook.py](https://github.com/pwndbg/pwndbg/blob/24c4847eebe964f78f5885241f47d5bfe5fff899/pwndbg/inthook.py) to generically handle this case.

[2016-10-03 20:06] tanis2000 opened #122 "Adding pwndbg to GDB shipped with the Android NDK"
I tried to add pwndbg to the Python libs shipped with Android NDK so that I could use it with the GDB client included in the NDK, but I failed miserably.

When running setup.sh I get the following error:

[code]

I guess it's extracting the path of Python from GDB so that it turns out to be ` /Volumes/Android/buildbot/src/android/ndk-r12-release/out/build/buildhost/darwin-x86_64/install/host-tools

[2016-10-03 20:31] zachriggle commented on #122
Nope.  ¯\_(ツ)_/¯

Also, don't use the GDB that comes with the NDK, it's frequently broken (e.g. GDB 7.10 had a bunch of ARM bugs).

Also, macOS is not supported for Pwndbg.  Anything that works is a happy accident, and there are no plans to support macOS.

If you *must* use Mac OS, I recommend `$ brew install gdb --with-all-targets --with-python`, and use that `gdb`.

[2016-10-03 20:31] #122 closed

[2016-10-03 22:45] zachriggle commented on #117
Ultimately the issue boils down to printing Unicode characters.

[code]

It's odd that this issue is appearing now, since we've always printed unicode check-marks.

[2016-10-04 22:19] zachriggle commented on #30
I need to re-evaluate GEF since it has some new stuff since I did this last year.

[2016-10-07 09:14] bruce30262 opened #123 "Error in the `search` command"
The `search` command appears to have some issues while searching signed integer data
For example while debugging a x86 program:
[code]
This is because `pwndbg.commands.fix_int(value)` returns `-135348349` instead of an unsigned integer, and the packing format in [search.py](https://github.com/pwndbg/pwndbg/blob/b1892b27741a478cd5361061b0b4dda9ef46d02e/pwndbg/commands/search.py#L106) only support t

[2016-10-14 00:15] zachriggle commented on #115
It's not intended to print out the same contents as anything in particular.

The link register is not normally needed in the register context, and is generally more applicable to the stack context or something like that.

I'm not sure that adding what is effectively "the return address register" to the print-out is useful in the general case, but it'd be fine if a `config` point were added for it.

[2016-10-14 06:34] Isaac0616 opened #126 "python 3 error in inthook.py"
When I invoke commands related to python subprocess, I get the following errors.

[code]

The first error is cause by the following check.
[code]

After some debugging, I found that this problem is due to `inthook.py`.
[code]

In `inthook.py`, it use the syntax
[code]
to define metaclass, but this is a python 2 only syntax according to [this page](http://python-future.org/compatible_idioms.html#me

[2016-10-14 20:12] zachriggle commented on #126
I have no idea if that would work.  If it functions in both Python2 and Python3 then I'm good with that.

[2016-10-15 08:46] Isaac0616 commented on #126
Then, I would like to make a pull request. Is there any tests that I should pass locally?

[2016-10-15 09:19] zachriggle commented on #126
Very unfortunately the only tests currently are that everything is valid
Python2 and Python3, syntactically. See travis.yml
On Sat, Oct 15, 2016 at 1:46 AM Isaac <notifications@github.com> wrote:

[2016-10-15 09:44] bruce30262 commented on #115
@zachriggle agree. From my experience sometimes the LR register are used to store some local variables ( like the [binary](https://github.com/ctfs/write-ups-2016/blob/master/mma-ctf-2nd-2016/pwn/candy-store-300/candystore) I use to demonstrate the issue), that's why I would like to inspect the register context during the debug session.
Anyway I see @dqi has already done the modification (thanks ma

[2016-10-17 10:32] disconnect3d commented on #117
Probably the advices that can be find [here](http://python-future.org/compatible_idioms.html#strings-and-bytes) would fix the problem. I mean:
* converting string literals `"asd"` to unicode ones `u"asd"`
* `from builtins import str` as suggested [here](http://python-future.org/compatible_idioms.html#unicode), so that `str(...)` returns something that is treated as `unicode`:
[code]

I will try to

[2016-10-17 17:56] disconnect3d commented on #117
I have tried several things to fix the issue but I failed.

However as I still want to launch it on a gdb with Python 2, I just changed all unicode characters to more or less their ASCII counterparts.
The unicode characters can be found with `git grep`:
[code]

If someone needs that, below is a git patch that changes unicode characters into ASCII ones has been made from master branch (b1892b27741a

[2016-10-17 17:56] zachriggle commented on #117
We are already doing "from __future__ import unicode_literals" everywhere,
which removes the need for u prefixes.

Also, six.string_types or its equivalent is preferred to any other
compatibility modules.
On Mon, Oct 17, 2016 at 3:32 AM Disconnect3d <notifications@github.com>
wrote:

[2016-10-17 18:14] disconnect3d commented on #117
@zachriggle Yeah I have noticed it when I was debugging the issue. The above was just my first thought...
If you haven't noticed, I have posted a workaround for the issue above.

I have also tried to changing the pasted unicode characters into encoded strings of `'\u25c2\u2014'` or `'\xe2\x97\x82\xe2\x80\x94'` or even doing `.encode('utf8')` but it didn't help.

[code]

[2016-10-18 20:29] zachriggle commented on #126
Closing per #128

[2016-10-18 20:29] #126 closed

[2016-10-19 01:04] anthraxx commented on #117
@disconnect3d please try my patch proposal, it should work (at least it does for my test compiled gdb with python2).

[2016-10-19 09:28] disconnect3d commented on #117
@anthraxx Works for me.
The issue can be closed.

[2016-10-19 11:46] #117 closed

[2016-10-19 11:46] zachriggle commented on #117
Closed via #129

[2016-10-19 23:07] anthraxx commented on #101
well still no real feedback from the reporter about the questions. I maintain the Arch Linux (AUR) packages and I know quote a _lot_ of people using them flawlessly.
TBH I would consider closing this for now :smile_cat:

[2016-10-20 00:44] #101 closed

[2016-10-20 00:44] zachriggle commented on #101
Thanks @anthraxx!

[2016-10-20 00:45] zachriggle commented on #123
The unsigned data type is a result of the `inthook` code.  The `command` module takes the `gdb.Value()` that you provide and turns it into an unsigned integer via `.cast()`.

In any case, it looks like the correct course is to mask it against `arch.ptrmask`

[2016-10-20 01:22] #123 closed

[2016-10-20 01:22] zachriggle commented on #115
I think this is done via #127

[2016-10-20 01:22] #115 closed

[2016-10-30 07:24] PetyrBaelish commented on #117
Sorry, this issue persists:
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.04) 7.11.1
...
Traceback (most recent call last):
  File "/home/u/tools/pwndbg/gdbinit.py", line 15, in <module>
    import pwndbg # isort:skip
  File "/home/u/tools/pwndbg/pwndbg/__init__.py", line 18, in <module>
    import pwndbg.commands
  File "/home/u/tools/pwndbg/pwndbg/commands/__init__.py", line 15, in <module>
    import pwnd

[2016-10-30 07:42] PetyrBaelish opened #131 "Same error as issue #117 with python3 (Ubuntu 16.04, gdb 7.11.1)"
Hi guys,
I have a problem that seems similar to closed issue #117:

GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.04) 7.11.1
...
...
Traceback (most recent call last):
  File "/home/u/tools/pwndbg/gdbinit.py", line 15, in <module>
    import pwndbg # isort:skip
  File "/home/u/tools/pwndbg/pwndbg/**init**.py", line 18, in <module>
    import pwndbg.commands
  File "/home/u/tools/pwndbg/pwndbg/commands/**init

[2016-10-30 08:38] disconnect3d commented on #131
@PetyrBaelish Can you provide an example so we will be able to reproduce?
Also, which ersion of pwndbg are you using (git commit sha would be awesome)?

[2016-10-30 08:57] PetyrBaelish commented on #131
On 30.10.2016 09:39, Disconnect3d
      wrote:

      @PetyrBaelish
        Can you provide an example so we will be able to reproduce?
        Also, which ersion of pwndbg are you using (git commit sha would
        be awesome)?
      —
        You are receiving this because you were mentioned.
        Reply to this email directly, view
          it on GitHub, or mute
          the thread.

[2016-10-30 09:41] anthraxx commented on #131
Actually I'm not convinced you are really including and using the newest version like the commit you mentioned.

Look at the chain.py output

    u'◂—',

However this does not exist in the version of the file that you have written (check on github f.e.). I can't rule it out but I don't think python adds that itself. Can you please double check including your gdbinit, the directory it sources from

[2016-10-30 09:50] PetyrBaelish commented on #131
You were right of course.
The "u" was me trying to understand the problem.
Sorry about that.
Okay, again from scratch:

u@pu16vm:~/tools$ sudo rm -rf pwndbg/
u@pu16vm:~/tools$ git clone https://github.com/pwndbg/pwndbg.git
..
u@pu16vm:~/tools$ cd pwndbg/
u@pu16vm:~/tools/pwndbg$ ./setup.sh
..
u@pu16vm:~/tools/pwndbg$ gdb
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.04) 7.11.1
...
Traceback (most recent call

[2016-10-30 10:12] anthraxx commented on #131
@PetyrBaelish I believe your environment is not configured to run on UTF-8.
on your shell can you output:
[code]

if its not something with UTF, you will need to adjust that for your shell.
You can you proof-of-concept if its because if this by starting gdb via:

[code]

[2016-10-30 10:22] PetyrBaelish commented on #131
Oops, sorry.
      I hide my head in shame

      On 30.10.2016 11:12, Levente Polyak wrote:

      @PetyrBaelish
        I believe your environment is not configured to run on UTF-8.
        on your shell can you output:
      echo "LC_CTYPE: $LC_CTYPE"
echo "LC_ALL: $LC_ALL"

      if its not something with UTF, you will need to adjust that for
        your shell.
        You can you proof-of-co

[2016-10-30 10:23] zachriggle commented on #131
Perhaps we should add a warning for LC_XXX?
On Sun, Oct 30, 2016 at 3:22 AM PetyrBaelish <notifications@github.com>
wrote:

[2016-10-30 10:24] disconnect3d commented on #131
@zachriggle
Yup, we should check it on the start and suggest (?) changing locales to utf8.

[2016-10-30 10:24] anthraxx commented on #131
@zachriggle sounds like a plan so people could figure themselves :smile_cat:

[2016-11-05 18:33] disconnect3d opened #132 "Better IDA Pro integration"
Currently it is not possible to integrate Ida Pro rpc server hosted on Windows host machine with pwndbg on a Linux vm guest without some hacky changes (see below).

The problem is there because of:
* pwndbg by default connects to localhost: https://github.com/pwndbg/pwndbg/blob/master/pwndbg/ida.py#L49
* the ida server script tries to save database into a path that is invalid on Windows - https://

[2016-11-05 18:42] zachriggle commented on #132
It is *literally* impossible to introduce new native symbols into IDA.  All IDA symbols appear as "native" within Pwndbg functionality, of which breakpoints (and e.g. "X/") are not.

There is a helper function which works around this.

$ break *$ida("symbol")

[2016-11-05 18:44] zachriggle commented on #132
The bit about path mappings and IPs I don't want to have to deal with.  Just use IDA under Wine, or socat or SSH for port forwarding.

Wine (or native IDA) is your friend ;)

[2016-11-05 18:56] disconnect3d commented on #132
Did you mean gdb?

Is there a possibility to override a gdb command? If so that could have been a solution (a hackish one... but probably worth it?).

I guess only the IDA under Wine would work because of the paths that are different between machines...

Would you accept a MR that would add a configuration file for such integration and use it?

[2016-11-05 18:59] zachriggle commented on #132
Sure, I'll add any configs you'd like, but I don't have a Windows VM to
suds everything out and make sure things work.

If you'd like to make a pull request which causes the current behavior to
be the default, and adds any toggle switches you'd like, I'll definitely
merge it.

Just don't want to have to spin up a VM and finagle with it.

For what it's worth, I don't see how GetIdbPath or whichever

[2016-11-07 01:19] zachriggle commented on #132
Also, to answer your question from IRC, the `.config` module does expose configuration points.

If you search for other uses, or look at the `config` command in `pwndbg`, you'll see all of the options.

[2016-11-14 02:59] glen-mac opened #133 "When 'ni' or 'si' - clear screen"
Gdb Peda clears the screen when I am entering through instructions and the screen layout doesn't change - because it clears the screen first and writes from the top of the terminal downwards.

I believe this is a worthwhile change to make.

[2016-11-16 09:36] disconnect3d commented on #133
@glen-mac Can you show some example/screenshot what exactly do you mean? For me both peda and pwndbg `ni` stepping feels the same.

[2016-11-16 11:43] anthraxx commented on #133
I guess he means a feature that clears the whole screen when stepping... seen that and i understand people may find it handy... so here is the pull request #134 :stuck_out_tongue_closed_eyes:

[2016-11-16 12:01] disconnect3d commented on #131
The issue can be reproduced by `LC_ALL=C PYTHONIOENCODING=ascii gdb`.

We already have a workaround for similar issue [in here](https://github.com/pwndbg/pwndbg/blob/master/pwndbg/__init__.py#L79). However in Python 3 there is no `sys.setdefaultencoding` (even when we reload `sys` module with `from importlib import reload; reload(sys)` ) and I didn't find anything equivalent.

I have added a warni

[2016-11-18 17:44] #133 closed

[2016-11-18 17:44] #131 closed

[2016-11-20 14:46] enoposix opened #136 "Asynchronous startup"
On a fairly low powered device, the Raspberry Pi Zero, pwndbg is quite slow to startup. It'd be cool if there was an option (or similar) for a way to do a non-blocking init.

[2016-11-21 00:39] zachriggle commented on #136
This is not possible.  GDB *violently* does not support threading.

[2016-11-21 00:39] #136 closed

[2016-11-23 18:18] zachriggle opened #137 "Generate configuration file"
Pwndbg has grown to have sufficiently many configuration points that perhaps it's a good idea to have a command to generate a configuration file.

The config file should be valid GDB syntax, and sets the **current** values, while showing the default values.

This would expose all of the options to new and current users in an easy-to-manage fashion.

[2016-11-24 18:25] anthraxx commented on #137
neat feature :smiley: :heart:

[2016-11-25 05:03] gsingh93 opened #138 "Implement a heap bin view"
This was inspired by this presentation and the corresponding r2 tool: https://www.youtube.com/watch?v=Svm5V4leEho

Essentially add a new view (like stack, registers, etc.), probably disabled by default, that shows the state of all the fastbins and other bins. Most of the code for this should already be implemented, just need to make it a view.

[2016-12-03 17:52] disconnect3d commented on #137
Where should one put the generated `configfile`?

Either I do something wrong or something is bugged.

Suppose I have a config:
[code]

The `configfile` command says:
[code]

So I put the last three lines in my `.gdbinit` just after `source pwndbg/gdbinit.py`.

Then I restart gdb and the `configfile` command doesn't show up the `auto_save_search` configuration.

[2016-12-04 03:58] zachriggle commented on #137
In fairness, I never actually tested the config files, I just assumed they'd work as expected.

Reopened for investigation <3

[2016-12-04 11:15] disconnect3d commented on #132
Just for an information... on a NTFS filesystem (which I believe is like a default for a machine with Windows) a path to a file that contains ":" is probably treated as NTFS ADS (Alternate Data Stream).

Here is a better screen of this issue:
![ntfs_ads](https://cloud.githubusercontent.com/assets/10009354/20865729/90642560-ba1a-11e6-80f1-8838e9d9ff46.png)

So we have to remove the `:` character fr

[2016-12-04 18:33] disconnect3d commented on #137
@zachriggle: Fixed in 1f56e5e7a64019dea793271c6953f4ff99393059 - the problem was that we changed the `pwndbg.config.attribute` so it was no more a `pwndbg.config.Parameter` instance and so checks like `isinstance(v, pwndbg.config.Parameter)` failed.

The proposed solution fixes this with generating settings such as:
[code]
Instead of:
[code]

(The `.value` has been added).

I am also filtering the

[2016-12-06 16:08] zachriggle commented on #137
Do I need to cherry-pick that commit, or is it already fixed?

Regarding import style, we already enforce it with `isort`.  Feel free to make any changes to that config file you want.  I prefer a CLI versus PyCharm, and just want things to be consistent -- don't really care pep8 vs whatever.

[2016-12-06 23:58] disconnect3d commented on #137
Not really, as I wrote in #139, the configuration is still broken. Let me recall.

Basically, when having a .gdbinit such as:

[code]

The parameter is changed but ... after the initialization. So during the initialization, the parameters have their default values.

My first attempt was to change the .gdbinit to this:
[code]
and then fetch the proper value from proper dict (either `pwndbg_config`

[2016-12-08 20:02] zachriggle commented on #107
It looks like there are lots of public write-ups for the challenge (just via a simple Google search).  I think sharing your repro is acceptable, even though pwnable.kr asks not to share them.

[2016-12-08 20:09] gsingh93 commented on #107
Ok. Do you still have the script I sent you? Feel free to upload that one.

[2016-12-08 20:15] zachriggle commented on #107
Extremely unlikely, and Slack probably ate the history.

*Zach Riggle*

On Thu, Dec 8, 2016 at 3:09 PM, Gulshan Singh <notifications@github.com>
wrote:

[2016-12-08 21:09] zachriggle commented on #52
This is effectively a duplicate of #132

[2016-12-08 21:09] #52 closed

[2016-12-08 22:36] disconnect3d opened #141 "Coding style"
Hey,

I am creating this ticket to discuss topics related to coding style.

When coding I am usually firing refactor & optimize imports from my IDE, which complies more or less with [PEP8 - Python style guide](https://www.python.org/dev/peps/pep-0008/). Probably the only changed thing I have is maximum line length, as for me 100-120 or even 140 is acceptable these days.

What do you think about:
[

[2016-12-11 23:47] gsingh93 commented on #141
[code]

Should be the standard. The former causes more work and unnecessary changes to the blame on variable renames.

No opinion on line length.

[2016-12-12 02:01] zachriggle commented on #141
But I like vertically aligned operators, and will continue to use them.
Feel free to / to not :)
On Sun, Dec 11, 2016 at 5:47 PM Gulshan Singh <notifications@github.com>
wrote:

[2016-12-12 02:11] anthraxx commented on #141
i personally don't care too much, however what i really care a lot are commit diffs... so whatever we do, please don't mix style changes with feature/code changes :stuck_out_tongue_closed_eyes:

[2016-12-12 03:35] zachriggle commented on #141
This is what "-b" (git) and "?w=1" (GitHub) are for 😜

In any case, I agree with not changing code just to adjust style, within a
feature addition.

I won't go out of my way to align things if you guys don't go out of your
way to un-align them 😉
On Sun, Dec 11, 2016 at 8:11 PM Levente Polyak <notifications@github.com>
wrote:

[2016-12-12 16:57] zachriggle commented on #141
It may also be relevant to look at the PEP8 guidelines / rules we (I) decided on for Pwntools: https://github.com/Gallopsled/pwntools/pull/773

tl;dr is:

[code]

[2016-12-13 22:09] zachriggle commented on #141
To elaborate on each of the rules above:

[code]

[2016-12-13 22:45] zachriggle commented on #141
Added the configuration file in 2b5e394.  Since the `pep8` command-line utility supports this location for project-specific configuration, both [PyCharm](http://stackoverflow.com/a/22458212) and [SublimeAutoPEP8](https://github.com/wistful/SublimeAutoPEP8/search?utf8=%E2%9C%93&q=setup.cfg) support it as well.

[2016-12-14 22:55] disconnect3d commented on #132
Merged in f728a2870a2b22373702cdd81649f1b7b4be9b80 (PR #139)

[2016-12-14 22:55] #132 closed

[2016-12-14 23:05] disconnect3d commented on #137
The "issue" described above (https://github.com/pwndbg/pwndbg/issues/137#issuecomment-264654345) has been revisited in  PR #139 - it ended up with f728a2870a2b22373702cdd81649f1b7b4be9b80 which:
* adds more output into `config`/`theme`/`configfile`/`themefile` commands (e.g. where to put the generated commands)
* adds info about commands into FEATURES.md
* changes the config syntax to use gdb nati

[2016-12-14 23:07] zachriggle commented on #137
Closed via #139

[2016-12-14 23:07] #137 closed

[2016-12-15 00:07] zachriggle opened #144 "vmmap incorrect for core dumps from gcore"
It looks like something's wrong with the `vmmap` infrastructure when generated by the `gcore` command-line tool.  It works fine with corefiles generated from `gdb`.

# Via `gcore`

Note the address of the`[vdso]`.

[code]

# Via `gdb`

Everything looks correct when the core-dump is generated directly from GDB.

[code]

# Comparison

What's more is that there's clearly more information in the `gcor

[2017-01-03 01:59] Matir opened #145 ""show print elements 0" causes exceptions on stop"
[code]

[2017-01-03 03:30] #145 closed

[2017-01-03 03:31] zachriggle commented on #144
So this is extra odd, since gcore is just a shell script wrapper around GDB.

[2017-01-10 19:42] zachriggle opened #148 "Binary Ninja Integration"
Currently, Pwndbg supports integration with IDA via `ida_script.py` and `pwndbg/ida.py`.

Among the interesting currently- supported functionality:

- Extraction of comments
- Extraction of symbols
- Bidirectional breakpoint setting/clearing (kind of)
- Jump-to-PC / Cursor

This functionality should also be supported with Binary Ninja (https://binary.ninja).  It should be relatively easy to hack i

[2017-01-11 13:33] junorouse opened #149 "build error at unicorn setting."
[code]

# 1
I've already tested on both python2 and python3 environment.

# 2
And reinstall my ```root@ubuntu-linux:~/pwndbg# uname -a
Linux ubuntu-linux 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
root@ubuntu-linux:~/pwndbg# cat /etc/issue
Ubuntu 16.04.1 LTS \n \l

root@ubuntu-linux:~/pwndbg#```

# 3
I builded unicorn manually but occurred diffrent

[2017-01-12 09:12] saidelike commented on #149
I get the same error with a Ubuntu 14.04.2 64-bit and the git repo cloned today:

[code]

[code]

[2017-01-12 19:57] zachriggle commented on #149
This was caused by updating the version of Unicorn, which introduced build problems.

I fixed this by rolling back to the version we were using before (ea1b533).

I pushed this commit a few days ago to `dev`, but didn't merge it to `master`.

Everything should work now.

[2017-01-12 19:57] #149 closed

[2017-01-12 22:03] zachriggle opened #150 "JEMalloc Exploitation Features: Shadow"
It looks like the [Shadow project](https://github.com/CENSUS/shadow) (aimed at Firefox, but relevant for other JEMalloc exploitation e.g. Android) is open-source and built on Python.

It's licensed under [3-Clause BSD](http://choosealicense.com/licenses/bsd-3-clause/) which is mostly compatible with MIT.

[2017-01-13 20:58] GrosQuildu opened #151 "heap i386 errors"
Hey
When running heap commands (heap, bins...) on 32bit binaries I got error from pwndbg/pwndbg/typeinfo.py#132:
```Command '/usr/bin/x86_64-redhat-linux-g++ -m32 -w -c -g /tmp/pwndbg/i386_struct-malloc_state.cc -o /tmp/pwndbg/i386_struct-malloc_state.o' returned non-zero exit status 1```

And first error from g++ (there is a lot):
`In file included from /tmp/pwndbg/i386_struct-malloc_state.cc:40:

[2017-01-13 21:11] zachriggle commented on #151
You likely need to install debug symbols for your copy of libc, so that it has access to the `malloc_state` struct.

On Ubuntu, the magic incantation is:

[code]

You can check whether you have the debug information via:

[code]

[2017-01-13 21:32] GrosQuildu commented on #151
Ok, solved. Had to download debuginfo from rpmfind.net though.
Thanks.

[2017-01-13 21:35] zachriggle commented on #151
It looks like you should be able to install via `yum` or `dnf`: https://ask.fedoraproject.org/en/question/76537/how-to-keep-installed-debuginfo-packages-up-to-date-with-dnf/

[2017-01-13 21:35] #151 closed

[2017-01-15 16:57] junorouse commented on #148
When will the implementation be completed? I am very excited.

[2017-01-17 17:24] zachriggle opened #152 "TLS Support via qGetTLSAddr:thread-id,offset,lm"
GDBServer supports a "qGetTLSAddr" packet, which should mean we can remove the current ptrace code.

Packet info: https://sourceware.org/gdb/onlinedocs/gdb/General-Query-Packets.html#General-Query-Packets
ptrace code: https://github.com/pwndbg/pwndbg/blob/30f1498fa05407c9aa0cd96491782c5a13f00808/pwndbg/regs.py#L388-L414

[2017-01-30 04:01] zachriggle opened #154 "vsyscall not expanded in telescope"
The value doesn't show up correctly

[code]

[code]

[2017-01-30 23:04] kmskrishna opened #155 "Improve scroll functionality."
Okay, I know that the name is too vague. But looking at the screenshot should give you a clear view of what I want to say. After you execute next command in **peda-gdb**, It automatically aligns the top part of the terminal to the registers part, So it is much easier to follow a register or stack. In **pwndbg**, It does not auto align making it confusing at times for me. I hope you understood my p

[2017-01-30 23:55] zachriggle commented on #155
They are aligned to the bottom of the terminal ;-)

[2017-01-31 00:02] kmskrishna commented on #155
Is there no way you guys can implement this functionality? I really like pwndbg and this is the only thing that is confusing me because I was used to peda-gdb. Come on guys I request you people to implement it. :smiley:

[2017-01-31 00:37] disconnect3d commented on #155
Isn't it just a matter of clearing screen before sending all of the output/tui?

[2017-01-31 00:38] kmskrishna commented on #155
@disconnect3d  I believe so.

[2017-01-31 00:46] zachriggle commented on #155
Turns out there's actually an option for this already, thanks @anthraxx! (https://github.com/pwndbg/pwndbg/commit/6e2f8f7b)

[code]

[code]

[2017-01-31 00:46] #155 closed

[2017-01-31 00:55] kmskrishna commented on #155
I have no words to express my gratitude. :smiley:

[2017-01-31 16:38] g05u opened #156 "Exception with ELF MIPSII"
Hey, when I set a breakpoint in an ELF MIPSII using remote debugging, pwndbg throws an exception (binary is attached):

[bender.gz](https://github.com/pwndbg/pwndbg/files/742558/bender.gz)

pwndbg> file bender_safe
Reading symbols from bender_safe...(no debugging symbols found)...done.
pwndbg> b validate
Breakpoint 1 at 0x401c84
pwndbg> c
Continuing.
Traceback (most recent call last):
  File "/hom

[2017-01-31 18:19] disconnect3d commented on #156
This is a remote debugging session, right?

You probably have to set proper architecture, e.g.:
[code]
you must have the gdb installed with this architecture, or you can try gdb-multiarch.

However I am not sure the pwndbg works with MIPS.

[2017-01-31 20:28] g05u commented on #156
When I have a remotely debuged process and I try to read the local symbols (file path/to/bin) pwndbg doesn't manage it successfully and an exception is thrown.

[2017-02-01 01:33] zachriggle commented on #156
The issue is that the internal ELF structures declared via `ctypes` parse the data from the ELF files in-memory in Little Endian format, despite the actual contents being Big Endian.

There's some hackery we can probably do with metaclasses or __getattribute__ hooks.

[2017-02-01 02:31] zachriggle commented on #156
I've added some code to the `dev` branch which prevents all of these error messages.

However, it looks like Capstone's disassembler is broken for this architecture.

[2017-02-01 02:47] zachriggle commented on #156
Filed aquynh/capstone#849 and added a work-around to `dev`

[2017-02-01 02:56] #154 closed

[2017-02-01 02:59] zachriggle commented on #156
Looks like most things work.  The branch detection via Unicorn is busted, but that's it.
<img width="1039" alt="screen shot 2017-01-31 at 9 58 40 pm" src="https://cloud.githubusercontent.com/assets/111640/22493831/7983bfae-e800-11e6-917e-665bde7b3523.png">

[2017-02-01 03:28] zachriggle commented on #156
Merged to `master`

[2017-02-01 18:44] g05u commented on #156
Thanks, this issue is fixed

[2017-02-02 05:23] zachriggle opened #158 "Feature: Heapdump"
So we've got this cool command, `hexdump`, which is basically stolen verbatim from `pwntools`.

It does this neat thing where it collapses memory that repeats, and certain values are color-coded ('\x00', '\n', and '\xff') since they provide useful contextual information.

- 00 is nulls, that's self-explanatory
- 0a is newline, which may be bad for shellcode, or important for text-based buffers
- f

[2017-02-02 21:56] manizzle opened #159 "Gdbserver quits"
When I have pwndbg enabled in gdb and I am connecting to a remote gdbserver, as soon as I step over a call to dlopen, gdbserver quits. If I remove pwndbg, and use vanilla gdb, I can step over dlopen with no problem. gdbserver is running on an aarch64 android image.

Thanks!

[2017-02-02 22:03] manizzle commented on #159
Nevermind. I realized that my process forks children when doing dlopen so when pwndbg follows child forks, i lose my process. Taking out that directive make everything work fine :)

[2017-02-02 22:03] #159 closed

[2017-02-05 16:16] zachriggle opened #160 "Invalid PC address"
If PC is invalid or we cannot disassemble (invalid instructions), we should print that out.  Currently we just have a black area.

[2017-02-10 19:47] #160 closed

[2017-02-11 06:02] driverCzn opened #161 "NameError: name 'address' is not defined, line 60, in nearpc"
I use pwndbg in ctfs, and I like it.
But a problem occurs to me.

[code]

I don't know where the variable 'address' is defined, so I wanna know how to solve this problem.

[2017-02-11 07:41] zachriggle commented on #161
Update pwndbg ❤️
On Sat, Feb 11, 2017 at 1:02 AM driverCzn <notifications@github.com> wrote:

[2017-02-11 07:44] zachriggle commented on #161
(This was fixed earlier in 2bb8732efc7ce81c5eb3ebab9481c836b3d6476d)

[2017-02-11 07:44] #161 closed

[2017-02-11 07:48] driverCzn commented on #161
thanks~

[2017-02-14 01:53] agkunkle opened #163 "Long Strings Over Remote GDB"
First off, I'd like to quickly say that pwndbg has truly been an indispensable tool - thank you for "making gdb great again"!

I recently started using pwndbg with gdb-multiarch 7.11 on Ubuntu 16.04 LTS to remote debug a process on Android with gdbserver.  I noticed that whenever one of the registers points to a very long string, running the "context" command (including automatically at a breakpoi

[2017-02-14 02:02] zachriggle commented on #163
I'll just bet it was `'A'*30000'` ;-)

[2017-02-14 02:04] agkunkle commented on #163
Awesome, thanks!

[2017-02-14 02:09] agkunkle commented on #163
Just curious, is there a slick way you know of to attach any type of debugger to a gdb process running pwndbg?  I would have done something like that to track down the "hang" a little quicker than just doing print-driven debugging.

[2017-02-14 02:13] #163 closed

[2017-02-14 02:45] zachriggle commented on #163
Nope, not really.  Printing is your best bet.  You could use Python's built-in `pdb` module to step through things, but unless you invoke the function from the Python interpreter (`pi` in GDB), GDB will hook stdin so that you can't actually interact with it :(.

[2017-02-18 19:03] emericnasi opened #165 "pwndbg crash when file directory contains name "Remote""
It seems pwndbg handles in a weird way the presence of word "Remote" in the parent folder of the target file.

I have been doing some CTF, I created folders with the same name as CTF.
ex: folder name "ELF32 - Remote BSS buffer overflow"
If I open a file in that folder with gdb and run it I get a lot of stack traces looking like

Traceback (most recent call last):
  File "/home/sio/sio_inside/Tools

[2017-02-21 01:42] zachriggle commented on #165
Thanks for the bug report! I know exactly what the issue is, I'll fix this sometime this week.

[2017-02-22 20:09] #165 closed

[2017-02-25 06:15] alem0lars commented on #1
Is there an alternative to `lookup` in pwndbg ?

[2017-02-25 06:31] zachriggle commented on #1
Depends.  The `search` command is extremely robust, and can search for any `byte`, `word,`dword`, `qword`, `pointer`, or `string` that you'd like to find.

However, we do **not** search disassembly references.  That's the job of a disassembler like IDA or Binary Ninja.

[code]

[2017-02-27 19:20] zachriggle opened #167 "Startup Time"
By instrumenting the imports in `pwndbg/__init__`, we can see that start-up time is most affected by these modules (times in ms):

[code]

[2017-02-28 18:17] zachriggle opened #168 "QEMU Kernel Memory Mappings"
On face value, it appears that [QEMU exposes the monitor interface over the gdbstub](https://github.com/qemu/qemu/blob/master/gdbstub.c#L1265-L1280):

[code]

This means that it should be possible to send `QRcmd` commands, e.g. `info mtree` which dumps memory maps.

[code]

[2017-03-01 21:44] zachriggle opened #171 "Save and Diff commands"
Two new commands should capture the output of a command (like "tee") and compare it to the current output (like "diff").

One might, for example, do something like "save hexdump esp" and later "diff hexdump esp".

"diff" by itself should diff the last command which was saved.
"save" by itself should save the output of the last command (might be doable via checking the command history)

[2017-03-02 04:16] zachriggle commented on #168
Apparently this doesn't really help us for ARM.  There are other commands for Intel, but on ARM you need to manually read TTBR0 via code injection.

[2017-03-05 15:52] heyuanree opened #173 "python module import error"
Everything was OK some days ago, but one day some errors occur. It seems to  be  my python environment is changed?

When use command `rop`
[code]

Here is my gdb environment:
[code]

[2017-03-05 15:54] zachriggle commented on #173
... did you install ROPgadget?

On Sun, Mar 5, 2017 at 9:52 AM Ree <notifications@github.com> wrote:

[2017-03-05 15:56] heyuanree commented on #173
yes, i did...

[2017-03-05 15:56] zachriggle commented on #173
I don't believe you ^_^
On Sun, Mar 5, 2017 at 9:56 AM Ree <notifications@github.com> wrote:

[2017-03-05 15:57] heyuanree commented on #173
I think I did it ....
[code]

[2017-03-05 16:11] anthraxx commented on #173
you need to make sure ropgadget is installed and uses the same python like your pwndbg, i assume it will by python3 for pwndbg because of gdb and python2 for ropgadget.

[2017-03-06 04:10] heyuanree commented on #173
thx
I use conmand `su -` and reinstall ROPgadget then fix it.

[2017-03-06 04:11] #173 closed

[2017-03-06 20:43] zachriggle opened #174 "ARM --be8 addressing mode"
Apparently this bullshit exists:
http://infocenter.arm.com/help/topic/com.arm.doc.dui0493g/CHDHEICG.html

[2017-03-10 08:49] Escapingbug opened #175 "More docs about how other distribution install this"
I found it no doc about how other distribution should install pwndbg, and so I have to dive deeper to install this on my Arch.

[2017-03-10 13:47] Ic3makr opened #177 "`add-symbol-file` is used incorrctly"
in the file `pwndbg/symbol.py`

[code]

add-symbol-file used here is like `USAGE: add-symbol-file <filename> <baseaddress> [-readnow] [-s <secname> <addr>]*`

but according to the help text of gdb, the correct usage of `add-symbol-file` is `USAGE: add-symbol-file <filename> <textaddress> [-readnow] [-s <secname> <addr>]*`

[2017-03-10 13:52] Ic3makr commented on #177
By the way, `gdb.execute(' '.join(gdb_command), from_tty=False, to_string=True)` is commented out in the code :(

[2017-03-10 19:55] zachriggle commented on #177
We'll need to add a tool to look up the `.text` in `pwndbg.elf` before this can be resolved.

Thanks for the bug report!

Regarding "Why is this commented out?" it's likely because it wasn't working ;)

[2017-03-11 02:40] Ic3makr commented on #177
I got it.

 thank you for prompt reply  ;)

[2017-03-11 09:58] disconnect3d commented on #156
Is this really fixed?

I still have those memory errors. I launch the binary in one console by:
[code]

And then in another one:
[code]

I am using Arch Linux if that matters, also:
[code]

[2017-03-11 19:27] zachriggle commented on #156
Does adfa644 work for you, @disconnect3d

[2017-03-11 19:28] zachriggle commented on #156
In your GDB script you didn't "set endian big"

[2017-03-12 09:01] zachriggle opened #178 "Heap UAF Detection"
https://twitter.com/_hugsy_/status/840700401938718720

[2017-03-12 10:13] disconnect3d commented on #156
The commit adfa644 works for me  (even without `set endian big`).
The latest commit on master doesn't work even when I set endianness.

I have made a `git bisect` and found out the "first bad commit" as 8110dacacbc69ba14e22aa2a49c7bc22b5348fe2.
[code]

However reverting this commit on master didn't fix the issue. I tried looking more, by bisecting with temporary modifications (reverting and reseti

[2017-03-13 14:19] anthraxx commented on #175
how about https://aur.archlinux.org/packages/pwndbg-git/ or https://aur.archlinux.org/packages/pwndbg/

[2017-03-14 03:11] Escapingbug commented on #175
Thanks for that. But I think if there can be a little more doc about this kind of problem in readme. And still, thanks.

[2017-03-15 19:13] zachriggle opened #179 "Heap Object Typing from VTables"
It should be possible to walk heap allocations to see which ones start with pointers into `.rdata` (which are subsequently some list of pointers into the `.text` segment), which would infer which data type they are.  This should work for virtual types, but would have issues with multiple inheritance.  We could also provide size suggestions based on the allocation size.

[2017-03-15 19:18] zachriggle commented on #179
Also, assuming we *do* have symbols, we can provide typing for each object.

[2017-03-15 23:59] disconnect3d opened #180 "Infinite loops - better code display"
For such code:
[code]

We display it's assembly code as:
[code]

Which could be reduced to just one instruction...

I have added a print in line 81 in [pwndbg/commands/nearpc.py](https://github.com/pwndbg/pwndbg/blob/master/pwndbg/commands/nearpc.py#L80-L82) :
[code]

Which shows that we actually know that those instructions are all the same:
[code]

Do you like the idea? Do you think there is any

[2017-03-20 22:03] zachriggle commented on #175
I don't have time to maintain instructions for every distro.  If you'd like to contribute some instructions, I'd be glad to add them.  Currently, the `setup.sh` script seems pretty straightforward.  Any distro-specific changes are the responsibility of the user.  Or just use Ubuntu :D

[2017-03-20 22:03] #175 closed

[2017-03-20 22:04] zachriggle commented on #180
Here's my take:

Perform disassembly like we normally do.

At the end of the disassembly routine, remove all duplicate instructions from the tail end.

[2017-03-20 23:12] disconnect3d commented on #175
Added the info in PR #186.

[2017-03-29 01:03] cloudburst opened #193 "IDA Pro Integration - library support"
I don't really know enough about pwndbg internals to fully debug this, so this may be user error and not an issue.

I'm running into an issue with the IDA Pro integration.  Specifically the ida_script converts the EA using `pwndbg.ida.l2r()` and `r2l()`.  The problem is that these just grab the vmmap for the initial exe/process:
[code]
So this fails once you start stepping into anything else in th

[2017-03-29 01:05] zachriggle commented on #193
I think we can do this by fetching the object name for the current mapping,
and checking if it matches the original file used to create the IDB. If
none match, we can just fall back on the EXE or do something more complex
like byte matching.

Thanks for the report!
On Tue, Mar 28, 2017 at 8:03 PM cloud <notifications@github.com> wrote:

[2017-03-29 01:35] cloudburst commented on #193
This is a really terrible patch just to illustrate the issue (and semi-fixes it for me).

[code]

Your comment sounds way better.

[2017-03-29 20:49] zachriggle commented on #193
Yes, much easier.

[code]

[2017-03-29 21:36] zachriggle commented on #5
Is this still necessary? We implemented a bunch of stuff for `ptmalloc`.

Pinging @cloudburst and @blendin to discuss.

[2017-03-29 21:56] cloudburst commented on #5
This could probably be closed (and I would close #4, it provides the same functionality as pwndbg plus there is also python object tracking/memory usage stats (it knows about CPython PyObject etc)).

There are a few main differences as I see it to the pwndbg approach.

1.  it relies on `pwndbg.typeinfo.load` for all of the symbols.  This is clean and way more portable.  I reimplemented all of the

[2017-03-29 22:14] cloudburst commented on #5
I think pwndbg currently has:

- [x] parse glibc symbols
- [x] unsortedbin
- [x] fastbins
- [x] smallbins
- [x] largebins
- [x] print malloc_chunks
- [x] wrap glibc helper macros/functions (declined for pwndbg)
- [ ] parse heap without symbols (`dt` without symbols)
- [ ] parse heap without chunk metadata (debug a heap overflow)

Maybe other stuff, I have not looked too much.

GEF added some logic

[2017-03-29 23:52] cloudburst opened #196 "IDA Pro Integration - decompile() segfault"
Calling `idaapi.decompile()` causes my IDA `6.9.151221 (December 21, 2015)` to segfault (often corrupting the database) when Hex-Rays is not installed.

There needs to be some sanity checking in the [context](https://github.com/pwndbg/pwndbg/blob/master/pwndbg/commands/context.py#L209) command before calling `pwndbg.ida.decompile()`

I'm not sure if this is fixed in the latest IDA `6.95.160808 (Au

[2017-03-30 18:59] zachriggle commented on #5
Regarding bullet 2, how does that work? All of glibc's heap metadata is inline.

[2017-03-30 19:07] cloudburst commented on #5
Just storing the heap state in a snapshot/trace somewhere else and diffing the heap against that.  Shadow saves the state to pyrsistence.  I used to take traces from Core's HeapDraw (which halvar rewrote now) and import those into my python classes (which is why I didn't go the typeinfo.load route).

[2017-03-30 21:44] blendin commented on #5
I've been working on a new heap window for bullet 2 (much like our stack window) that has a view of the current heap and all broken free-lists.

I thought about implementing bullet point 1, but we wouldn't be able to use `pwndbg.typeinfo`

[2017-03-30 23:53] cloudburst commented on #193
How about not using the exe at all?  This works on my setup but I don't know if there are some other situations where the exe would be needed:

[code]

[2017-03-31 15:45] mauvehed opened #197 "Missing psutil"
**OSX 10.12.4, python 2.7.12, gdb 7.12.1 (installed from brew)**

When trying to run 'gdb':

[code]

[code]

[code]

[2017-03-31 15:59] mauvehed commented on #197
So I figured this was a result of gdb using the wrong python, which it is. Not only do I have python from brew, I also have the original OSX python, which is located under /System/Library/Frameworks/Python.framework/Versions/2.7/

Trying "easy_install pip" did not result in the system python installing pip. Eventually I fixed this with

`sudo /System/Library/Frameworks/Python.framework/Versions/2.

[2017-03-31 15:59] #197 closed

[2017-03-31 18:31] cloudburst opened #198 "IDA Pro Integration - Support Comments"
Currently the IDA Pro RPC only syncs [Anterior](https://github.com/pwndbg/pwndbg/blob/master/pwndbg/commands/nearpc.py#L112) comments for marking up the dissassembly in gdb.

It would be nice to support pulling comments as well via something like:

[code]

However, this probably needs testing on the idc.GetCommentEx() api to see whether it handles pulling decompiler output from Hex-Rays or not.  I

[2017-03-31 18:55] zachriggle commented on #193
The issue with doing it that way is that we need to know which library we've stepped into.  For example, if we step into `libc` but the IDB that's open is for `bash`, we **don't** want to jump to the address equivalent to the offset-from-libc-base in the `bash` IDB.  We need a way to detect which ELF file is open in the IDB.  The easiest way to do that is filename matching of the original file, fo

[2017-04-03 07:25] 0xTac opened #199 "Heap structures display irrelevant fields"
As you can see in the Code below ,0x60300 and 0x603020 is Fastbins,it should not have the fd,bk,fd_nextsize,bk_nextsize,If I am not mistaken....I know in this place user data is begin from fd pointer,But I think it can be imporved to distinguish different chunk,make it more Humanize
[code]

[2017-04-03 17:26] zachriggle commented on #199
Those fields are present in the structure regardless of the state of the actual heap chunk.

I believe that the only way to change this display is to write a "Pretty-Printer" for the given type.

More information is available here: https://sourceware.org/gdb/onlinedocs/gdb/Writing-a-Pretty_002dPrinter.html#Writing-a-Pretty_002dPrinter

[2017-04-03 17:29] zachriggle commented on #199
It looks like @cloudburst already has some code for displaying lots of the structures:

https://github.com/cloudburst/libheap/blob/c4a4f4ca340c1459fbe9face69e7cb496e99b378/libheap/frontend/frontend_gdb_pretty_printers.py#L187

[2017-04-03 18:33] disconnect3d commented on #156
In [elf.py the `update()`](https://github.com/pwndbg/pwndbg/blob/master/pwndbg/elf.py#L42) sets `pwndbg.elf.Ehdr` to `pwndbg.elftypes.ElfXX_Ehdr`.
The `pwndb.elftypes.ElfXX_Ehdr` inherits from `pwndbg.ctypes.Structure`.

When initializing pwndbg, the `pwndbg.arch.endian` is set to `little` and so the `pwndbg.ctypes` sets its `Structure` attribute to `LittleEndianStructure`. Because of that the `pw

[2017-04-03 19:14] zachriggle commented on #156
Thanks for tracking this down, @disconnect3d.  I presume that some of the changes to `pwndbg.ctypes` might have caused this regression.  At some point in time we had code that would re-load that entire module at run-time, so that the structures were re-created with the correct endianness -- but it looks like that was removed in favor of a different update mechanism.  Not entirely sure why I did th

[2017-04-03 20:54] zachriggle commented on #156
Hmm, yeah, looks like the update was removed.

https://github.com/pwndbg/pwndbg/commit/8351b3b39d930b8c05a1be6ba512eaca47cc225b#diff-87ea9ea3163bfe764f7e855dd4e8f1feL319

[2017-04-03 23:12] disconnect3d commented on #167
Just as an information - we can get better/more detailed profiling output using such code:

[code]

[2017-04-05 21:43] zachriggle opened #209 "Instruction history and loops"
The current implementation of `nearpc` does weird things when we hit loops or ret-sleds, because of the way it infers the 'previous' instruction.

Perhaps it would make sense to have a stack of previous instructions, rather than a single one?

In any case, the current behavior is surprising, and only makes sense when you understand how the implementation works.  Things in pwndbg shouldn't be surpr

[2017-04-06 00:22] disconnect3d commented on #180
This was discussed here: https://github.com/pwndbg/pwndbg/pull/200
And finally added in: https://github.com/pwndbg/pwndbg/pull/205

[2017-04-06 00:22] #180 closed

[2017-04-06 00:23] disconnect3d commented on #209
I believe this can be seen here: https://asciinema.org/a/01iwnxnmxxd3jn2kjhfdb5jiw

[2017-04-08 17:35] disconnect3d opened #213 "Missing typeinfos"
Some of the binaries might not contain type information about `unsigned long`, `unsigned short` and so call to `gdb.lookup_type(...)` crashes.
I am attaching an example from one of the CTFs.

[code]

In above example we can actually fetch `size_t` (as we do later `module.size_t = module.ulong` anyway, and `size_t` works with `gdb.lookup_type`). However there are other types that are missing, e.g.

[2017-04-08 17:37] zachriggle commented on #213
Unsigned long should work without type information. I'll take a look later.
Thanks!

On Sat, Apr 8, 2017 at 12:35 PM Disconnect3d <notifications@github.com>
wrote:

Some of the binaries might not contain type information about unsigned long
and so gdb.lookup_type('unsigned long') crashes.
I am attaching an example from one of the CTFs.

[dc@dc:ransomware_re]$ gdb ./ransomware -q
Loaded 106 command

[2017-04-08 17:47] disconnect3d commented on #213
Oh I have edited the post after your reply. There are also other types that are missing:
[code]

[2017-04-08 17:55] disconnect3d commented on #213
@zachriggle It is actually D language binary and it seems they have a little bit different type namings.
The names from here works well:
https://dlang.org/ctod.html#types

I am not sure if we should try C and then D or detect the language/technology the binary was built upon...

[2017-04-10 02:35] Bluekezhou opened #215 "Typesetting seems to be wrong"
![image](https://cloud.githubusercontent.com/assets/7897423/24843862/42e004bc-1dd9-11e7-8447-b8cf87ed6fe1.png)

[2017-04-10 19:12] zachriggle commented on #215
Can't reproduce, I expect your terminal is broken.

Try opening a new terminal window.  Does this still happen?

Try removing the `source pwndbg/gdbinit.py` line from your `~/.gdbinit`.  Does this still happen?

[2017-04-10 19:19] zachriggle commented on #213
This doesn't really make sense.  Without any binary at all, those types all load fine.

[code]

[2017-04-10 20:57] disconnect3d commented on #215
@zachriggle Happens for me only if pwndbg is initialized in both gnome-terminal and terminator.

[2017-04-10 21:30] cloudburst commented on #196
Just for documentation, I confirmed that this bug is still present in the latest IDA `6.95.160808 (August 08, 2016)`

[2017-04-10 22:29] zachriggle commented on #196
Can you find any docs about how to determine whether the decompiler is
available?

Also, could you report this to support@hexrays?
On Mon, Apr 10, 2017 at 4:30 PM cloud <notifications@github.com> wrote:

[2017-04-10 23:01] disconnect3d commented on #196
@zachriggle @cloudburst
There is [`bool
init_hexrays_plugin(flags=0)`](https://www.hex-rays.com/products/ida/support/idapython_docs/ida_hexrays-module.html#init_hexrays_plugin) which seems to be the thing we are looking for.

[Here](https://www.hex-rays.com/products/decompiler/sdk.shtml) is something that might be confirmation that it actually returns whether the decompiler is there:
[code]

Also

[2017-04-10 23:50] cloudburst commented on #196
I've reported the `idaapi.decompile()` issue to hexrays.

If i call `ida_hexrays.get_hexrays_version()` it also segfaults IDA.  However `ida_hexrays.init_hexrays_plugin()` returns `False` so that seems to work for an API to use potentially.

[2017-04-11 13:02] cloudburst commented on #196
Hex-Rays said this will be patched in the next release.

[2017-04-11 17:04] zachriggle opened #217 "Top-level Exception Handlers"
It seems that we could do well to register a top-level exception handler (sys.excepthook) and check for common `gdb` exceptions.

From the exception handler, we can walk the Python call stack and see which `Command` object was invoked (if any) and the lowest `pwndbg` call-frame to extract the offending internal function's name.

This would allow us to *generally* not have to worry about having pre

[2017-04-11 17:08] zachriggle commented on #217
The top-level exception handler might save us in cases where we also don't expect exceptions (yet).  A convenient thing we could do is to log the full stack-trace to a file, and point the user to the Issue tracker here on Github.

For functions where we *expect* the exception may be raised (and know that we only want to display an error message), we might be able to use a decorator or a context ma

[2017-04-12 13:13] cloudburst commented on #215
FWIW this also happens to me with gnome-terminal (including opening a new terminal).  Goes away if you don't source pwndbg in your .gdbinit

[2017-04-12 22:54] zachriggle commented on #215
Hmmmmmmmmmm

[2017-04-12 22:54] zachriggle commented on #215
Does this only occur when attempting to tab-complete?  Does it only occur for tab-completing command names?

[2017-04-12 22:55] #196 closed

[2017-04-12 22:57] disconnect3d commented on #215
@zachriggle I think so: https://asciinema.org/a/652yj24od38z01aot65zehi8k

[2017-04-16 18:08] roman-soft opened #218 "Cross-OS IDA Pro integration"
My scenario:
- IDA 6.8 running on *Windows* host. Xmlrpc (ida_script.py) running on (win) 127.0.0.1:8888
- Gdb w/ pwndbg running on *Linux* (Kali) host. Xmlrpc socket at (linux) 127.0.0.1:8888 (ssh-forwarded from Windows machine).

Just copied Linux's /bin/cat to a directory on Windows machine and started ida-64 session on "cat" executable.

Then started gdb/pwndbg in Linux but it gets stuck at th

[2017-04-17 14:33] disconnect3d commented on #218
@roman-soft Are you using the latest pwndbg version?

I had the same setup as you few months ago and had similar issue which I have reported here: https://github.com/pwndbg/pwndbg/issues/132#issuecomment-264697778 - and then fixed it.

[2017-04-17 14:46] disconnect3d commented on #215
This is caused because of `set width 0` in https://github.com/pwndbg/pwndbg/blob/master/pwndbg/__init__.py#L128

Here is a recording:
https://asciinema.org/a/8dvzsu6keibmua694y2scqpk8

[2017-04-17 14:58] anthraxx commented on #215
I can confirm this also happens for me and removing `set width 0` seems to fix it.

[2017-04-17 17:24] disconnect3d opened #219 "Empty context-sections shows unnecessary line - LEGEND"
The recently added (https://github.com/pwndbg/pwndbg/pull/210) config parameter `context-sections` lets one change the context display.

Setting the display to empty shows redundant LEGEND line:

[code]

[2017-04-17 17:37] disconnect3d commented on #219
Merged in PR #220.

[2017-04-17 17:37] #219 closed

[2017-04-17 18:40] zachriggle commented on #215
Hmm, that kind of makes sense that the tab-completion doesn't "wrap" into rows when the width is `0` or `unlimited`.

It might be better for us to do something that grabs the width via `tcgetattr` or similar.

[2017-04-17 18:42] anthraxx commented on #215
just as a reminder, if we do something like that then we will need a hook for resizing row width of the terminal

[2017-04-17 18:48] zachriggle commented on #215
Yep! It's not too hard to set up a signal handler for `SIGWINCH`.

[2017-04-17 22:35] disconnect3d opened #225 "Display IDA commands in pwndbg commands list when IDA rpc server is offline"
Currently IDA Pro commands are hidden if IDA is not available. Because of that, those commands are not displayed when someone is looking for features/commands through `pwndbg ida`.

As @zachriggle suggested in https://github.com/pwndbg/pwndbg/pull/223#issuecomment-294612888 we should just re-load the module when the connection to IDA succeeded.

[2017-04-17 23:16] disconnect3d commented on #213
Merged in #214.

[2017-04-17 23:16] #213 closed

[2017-04-18 00:12] disconnect3d commented on #177
This is also broken in `add_main_exe_to_symbols` - its `gdb.execute` makes binaries with PIE (Position Independent Executable) segfaulting at some point.

This stuff can be tested using such C code compiled as `gcc -fpie -pie main.c`:
[code]

By using gdbserver: `gdbserver localhost:7777 ./a.out` and then launch `gdb -q`, connect to gdbserver `target remote localhost:7777` and fire: `break main; c

[2017-04-18 02:12] Bluekezhou commented on #215
everything seems to be right after I grab the latest version

[2017-04-18 10:05] disconnect3d commented on #112
At my machine I can test this using `gdb -q /bin/bash` and then `b __libc_csu_init` - then single stepping to this call.

This instruction is adding the target to the string and so `ins.target` is faulty in this function:
https://github.com/pwndbg/pwndbg/blob/master/pwndbg/color/disasm.py#L62

I am not yet sure where is this function called.

[2017-04-18 10:52] disconnect3d commented on #112
The problem comes from `one`, then `get_one_instruction`:
![image](https://cloud.githubusercontent.com/assets/10009354/25126922/350cfc62-2434-11e7-85d2-9ec4deb45672.png)
Then it is caused by `pwndbg.disasm.arch.DisassemblyAssistant.enhance(ins)` and there by `enhancer.enhance_next(instruction)`.

In the end I end up at https://github.com/pwndbg/pwndbg/blob/master/pwndbg/disasm/arch.py#L123-L155 wh

[2017-04-18 17:24] anthraxx commented on #215
please re-open this is still an issue and happening

[2017-04-18 17:33] anthraxx opened #228 "startup exceptions in init_ida_rpc_client"
Did not yet investigate but i'm throwing here what greeted me after new pull

[code]

[2017-04-18 17:34] disconnect3d commented on #228
This will be fixed by PR https://github.com/pwndbg/pwndbg/pull/223 - to be precisely, by this commit: https://github.com/pwndbg/pwndbg/pull/223/commits/4584f720b55b9afb95a7738de7fe7438b21c2891

[2017-04-18 17:40] anthraxx commented on #228
hm I tried to apply that patch and it didn't fix the issue hmmmmm

[2017-04-18 17:45] disconnect3d commented on #228
@anthraxx I guess you got another issue after cherry-picking 4584f72 which will be fixed by: https://github.com/pwndbg/pwndbg/pull/224

I am sorry for the mess I have done yesterday.

[2017-04-18 17:48] anthraxx commented on #228
I can confirm applying both patch sets fixes the issues, this can be closed once we get the PRs applied

[2017-04-18 17:49] anthraxx commented on #215
I could work on a patch with SIGWINCH and proper `set with` so feel free to assign me this issue.

[2017-04-18 18:08] disconnect3d opened #229 "Versioning and releases"
Hey,

Currently we are telling people to start using pwndbg on master branch, which is not really stable. This is also my fault, so I am sorry for the mess of making PRs into master.

One should either have:
* possibility to use some kind of "rolling-release" version, that would be an actual git repo with automatic git pull (e.g. every 24h)
* use working release of pwndbg

For the releases - I see

[2017-04-18 18:18] zachriggle commented on #229
See the Milestones.  Technically I was supposed to cut a release sometime in April (2017.04).

[2017-04-18 18:27] anthraxx commented on #229
just for the logs: I'm a very big fan of releases at points that we consider stable / release-worthy. :+1:

[2017-04-18 18:34] zachriggle commented on #229
If we want "real" releases, I suggest we do what Pwntools currently does (ping @Idolf in case I'm wrong):

- There shall be three branches, `stable`, `beta`, and `dev`
- There shall *only* be three branches on the main repository (i.e., @zachriggle will need to do his development on a fork)
- Only bug-fixes will be merged into either `stable` or `beta`
- Every release, merges are cascaded `stable

[2017-04-18 19:12] anthraxx commented on #228
works, re-tested

[2017-04-18 19:12] #228 closed

[2017-04-18 19:25] disconnect3d commented on #112
Can also be tested on such case:
[code]

Compiled as `gcc main.c -lm -O2` (note: the -O1/2/3 is crucial as -O0 does `call rax` - at least on my setup).

[2017-04-18 19:52] zachriggle opened #230 "Command Name Blacklist"
We should implement a blacklist against GDB-defined default commands and keywords, so that we don't accidentally implement a command that overwrites an existing command.

A specific example of one that we overwrite is `start` (though we maintain similar behavior).

[2017-04-18 19:57] disconnect3d commented on #112
I am not sure how to fix `memory_sz` but the problem probably comes from [`enhance_operands`](https://github.com/pwndbg/pwndbg/blob/master/pwndbg/disasm/arch.py#L178-L205). I have added such print at the begining and end of `enhance_operands`:
[code]

For the wrong call:
[code]
It printed:
[code]

[2017-04-18 20:38] disconnect3d commented on #112
@zachriggle Can you look over it and/or help?

Here is a workaround for my case which partially works...:
https://github.com/disconnect3d/pwndbg/commit/f0de544bea3bf57d5c7d094f53c96e974d9537b4

And a recording:
https://asciinema.org/a/3mhbcq2too6ey8kkyul1gif4b

Shouldn't we emulate this up to the call and have proper target and display it?

[2017-04-18 21:52] r1git opened #231 "capstone archive is missing setup.py breaking setup.sh"
Download `https://github.com/aquynh/capstone/archive/next.zip#subdirectory=bindings/python`
Unzip
There is no `setup.py`

Reported @ capstone: https://github.com/aquynh/capstone/issues/896

This is now breaking `setup.sh`:

[code]

[2017-04-18 22:01] zachriggle commented on #231
I think you misunderstand how `requirements.txt` works.

[2017-04-18 22:01] #231 closed

[2017-04-18 22:10] Idolf commented on #229
Mostly correct.

- We do occasionally cherry-pick if something is fixed in a later branch and we don't notice/forget that it should really target an earlier branch.
- A new release occurs every 6 weeks on a predetermined schedule
- Only bugfixes that would actually affect users trigger new point releases. E.g. documentation fixes, travis fixes, CHANGELOG/README fixes, *tiny* fixes does not

[2017-04-18 22:50] r1git commented on #231
That's exactly how it's done in `setup.sh`. The result for me was the error you could have read in my first post: pip complains about `setup.py` not found.
I believe this comes from my configuration somewhere. Can't figure out where though.

[2017-04-19 07:44] roman-soft commented on #218
Yes, only few days ago version (Apr 11th). And if you check my snapshot, you can see included replaced chars (your fix from ~5 months ago).

roman@int3pids:~/exploiting/pwndbg$ ls -l
total 56
drwxr-xr-x  2 roman roman 4096 abr 11 14:30 caps
drwxr-xr-x  4 roman roman 4096 abr 11 14:30 docs
-rw-r--r--  1 roman roman 6053 abr 11 14:30 FEATURES.md
-rw-r--r--  1 roman roman 1049 abr 11 14:30 gdbinit.py

[2017-04-19 08:31] disconnect3d commented on #218
Just as an information: if you have installed pwndbg through cloning git repository you can just show your commit id to show us your version (`git show`).

I have checked the case once again and now I can see the problem lies in saving backup which is invoked from pwndbg side.

This seems to be working only if you are using wine...
We are not supporting (yet?) Windows <-> Linux fully, so as a work

[2017-04-19 12:28] roman-soft commented on #218
So you're disabling backups, right? If they are not really needed for pwndbg to work, it may be sufficient (but not a very cute solution).

Why does pwndbg currently need ida-backup dir both in pwndbg side and IDA side? I mean, is it used for other functions apart from a mere backup?

In case pwndbg needs to have one "common" file both at pwndbg&ida side (which I still don't know if it's really ne

[2017-04-19 21:39] disconnect3d opened #232 "Search command bugs and deficiencies"
There are some weird cases about `search` command [all checked just on gdb with Python 3]:

1) "How can I use that?"
[code]
Probably `help search` and/or `pwndbg search` should show the usage as well?

2) The `-t <type>` is optional but I can't really specify `-t string`:
[code]
It doesn't even work with `u'...'` or `unicode('...')`.

3) This probably should have better output:
[code]

4) I can do

[2017-04-19 22:50] zachriggle opened #234 "Python2 Broken"
[code]

[2017-04-19 22:54] zachriggle opened #235 "Do not eat stack traces"
We should not eat all exceptions anywhere.

Any time a generic exception is raised, the full backtrace should be printed.

This may impact usability, but greatly increases the ability to fix bugs.

We should **additionally** print a user-friendly error message, but all `except Exception`-style handlers should always end with `raise`.

[2017-04-19 23:10] zachriggle commented on #234
N.B. That this occurs on Python 2.7.6

[2017-04-19 23:14] disconnect3d commented on #234
Uh that is even more interesting.

[code]

[code]

(Same happens for `entry`, probably those are aliases)

[2017-04-21 14:22] Bluekezhou opened #236 "IDA connect failed"
I tried to set a rpc server with host address 0.0.0.0
![image](https://cloud.githubusercontent.com/assets/7897423/25281721/c92ea5ae-26e0-11e7-8915-b5eb2a98f499.png)
but something went wrong when it set breakpoints
![image](https://cloud.githubusercontent.com/assets/7897423/25281794/061e48b6-26e1-11e7-9906-b49a2ff817fd.png)

[2017-04-21 15:44] disconnect3d commented on #236
Can't reproduce.

Can you provide some more information about your setup and prepare a small code or binary that causes the issue?

[2017-04-21 15:56] Bluekezhou commented on #236
ok, below is the binary file, and there is not any other config.
[test.txt](https://github.com/pwndbg/pwndbg/files/947605/test.txt)
I am not allowed to upload the binary file directly, so I changed its appendix to txt

[2017-04-21 17:19] disconnect3d commented on #236
I still cannot reproduce - setting multiple breakpoints for that binary works for me (with and without rebased program in IDA, however probably not the same as you had, because I can't get the exact same addresses).

Maybe you are not using the latest pwndbg version?
If you would like to check this issue together e.g. through teamviewer, catch me at freenode irc.

[2017-04-22 10:09] disconnect3d opened #240 "Making docs connects to IDA"
### Description

Making the docs tries to connect to IDA. This probably isn't a big problem, however I believe it may produce some weird results in some situations (but probably nobody [except devs] makes the docs by him/herself :D).

### Steps to reproduce

1. Launch IDA Pro and load with whatever binary
2. Load ida_script.py in IDA
3. Go to pwndbg/docs
4. Fire e.g. `make html`

[code]

PS: I am

[2017-04-23 15:32] Bluekezhou commented on #236
I'm using GNU gdb (Debian 7.12-6) 7.12.0.20161007-git, IDA 6.8 and Kali2.0.
I try to listen on a specific address (vmware virtual gateway ip for kali2.0), it works fine.
But when I try using 0.0.0.0, it breaks down.
And I didn't run any other script or set any breakpoint.

[2017-04-23 15:34] Bluekezhou commented on #236
and I didn't run any other script or add any breakpoint

[2017-04-23 18:39] zachriggle commented on #236
Correct, you can't use 0.0.0.0, since one cannot connect to 0.0.0.0.

*Zach Riggle*

On Sun, Apr 23, 2017 at 10:34 AM, Blueke Zhou <notifications@github.com>
wrote:

[2017-04-23 20:13] zachriggle commented on #236
Correct, you can't use `0.0.0.0`, since one cannot connect to `0.0.0.0`.  I think you misunderstand how IP addresses work, and the use of `0.0.0.0`.

[2017-04-23 20:13] #236 closed

[2017-04-23 20:36] zachriggle commented on #232
To address them in order:

1. Maybe.  That'd be nice :)
2. Added a pull request (#242)
3. Cannot reproduce, this works fine for me.
4. The `u"..."` format is not understood by GDB's parser, and I don't intend to require users to have valid Python-quoted strings (i.e. unquoted strings should work).  GDB's parser will strip the quotes, so we can't just do Python quote parsing via `eval` either.
5. I

[2017-04-23 20:37] zachriggle opened #243 "Search command limits"
Sometimes it's useful to have a limit on the number of search results returned.  I suggest a default limit of 100.

[2017-04-23 20:40] anthraxx commented on #243
You have to be careful how the limits are done, often during exploitation you are interested in some results depending on particular segments. A simple/naive cutting of the overall results may not be a too good idea as it may hide important results.
Maybe limit the number of results per segment and make it configurable to get unlimited results as well

[2017-04-23 20:42] disconnect3d commented on #243
Also the user has to be somehow informed that there is a cutoff...
Maybe It would be good idea to have a followup command to show rest of the results.

[2017-04-23 20:53] zachriggle commented on #243
Some counter-arguments:

- The `search` command already takes an objfile name as a filter (`search /bin/sh libc`)
- I don't mind providing a "Search results limited" message with instructions on how to perform the search without limits (e.g. `search --limit 0` or `search --unlimited`)

[2017-04-23 21:03] zachriggle opened #244 "Use ArgparsedCommand for everything"
Using ArgparsedCommand means that we can generate documentation trivially, and that we also can have a standardized mechanism for parsing which is consistent with Python's own things.

It also gives us a nice place to hook looking up symbols and values, by using the `ArgumentParser.add_argument` keyword `type=`, which takes an arbitrary callable, and delivers the string argument, and blindly uses

[2017-04-23 21:14] zachriggle opened #245 "Abolish print() in favor of stdlib logging"
Currently, we use `print()` in lots of places.  This makes it difficult to filter things by verbosity, and results in us disabling various print statements or hiding them behind ad-hoc `if debug` statements.  This will also allow us to get rid of some quantity of `print(M.red("Error message"))` statements in favor of e.g. `log.error`.

Using real logging is more flexible, and also allows us to be

[2017-04-24 16:04] disconnect3d commented on #245
PR containing those changes should also add information to use stdlib logging instead of prints in [.github/CONTRIBUTING.md](.github/CONTRIBUTING.md)

[2017-04-24 16:16] disconnect3d commented on #217
Possible extensions of above idea:
* have a setting for developers like `set debug-postmortem` which make the excetion handler calling `import pdb; pdb.post_mortem(exception_obj)` when something fails
* ask user for automatic error report generation and upload (not sure if that's possible on github) - that would contain: stacktrace, user's gdb, python, pwndbg version, ~/.gdbinit content, analysed

[2017-04-24 16:17] disconnect3d commented on #235
This issue is connected to https://github.com/pwndbg/pwndbg/issues/217

[2017-04-24 16:20] disconnect3d commented on #234
About my error, I have added prints into `xint.__new__`:
[code]
And got that:
[code]

[2017-04-24 18:42] zachriggle commented on #234
Where is the `long` coming from?

*Zach Riggle*

On Mon, Apr 24, 2017 at 11:20 AM, Disconnect3d <notifications@github.com>
wrote:

[2017-04-24 21:46] disconnect3d commented on #234
You are asking hard questions... :P But that's good :smile:.

It was hard to get pdb session in that place right to see really WTH happens there.

PR with some pdb debugging enchancement incomming!

PS: I am going to answer this, I just wasn't happy with having buffering issues in pdb (at least I think that was buffering as I could get output but after like 5 hits of CTRL+D , also `export PYTHONUN

[2017-04-27 20:11] 0xddaa opened #249 "context throw an exception when controlling $pc which from illegal memory"
### Description

I forged the FILE structure and tried to control program flow.
However, `context` will throw an exception if $pc is from illegal memory.
[code]
The traceback is as below:

[code]

### Steps to reproduce
[code]
`nasm -f elf64 test.asm -o asm.o && ld asm.o -m elf_x86_64 -o test`

### My setup
[code]

[2017-04-28 20:38] zachriggle opened #252 "GDB Star Syntax and Casting WTF"
The star syntax is bizarre, and fucks with the inthook.

I think that we should check for presence of `.address` rather than relying on `TYPE_CODE_PTR` in `pwndbg.typeinfo.is_pointer`.

Alternately, I think that we should use the `.address` property in the `inthook` instead of relying on `is_pointer`.  This is probably the safer change.

| Value | Type | int(value.cast(pwndbg.typeinfo.ulong) | Add

[2017-04-28 20:43] zachriggle commented on #252
And the creme de la creme:

[code]

[2017-04-29 13:50] zachriggle opened #255 "dt is broken"
:(

EDIT: see last post in this issue

[2017-05-01 03:34] Matir opened #257 "Incorrect argument display for functions with arguments passed in xmm registers"
### Description

pwndbg attempts to display the arguments that are being passed to a function call.  On x86-64, for functions with floating-point arguments passed in (xmm0, ...) the displayed arguments are still from rdi, etc.  One such function with this problem is `pow`.  (Details below).

### Steps to reproduce

Given the following source:
[code]

The context disasm view of pwndbg shows the fol

[2017-05-01 17:39] zachriggle commented on #257
It looks like the backing info, `functions.py`, does have correct floating-point arguments for these routines:

[code]

However, Pwndbg does not have any information on the floating-point ABI for any architecture:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/abi.py#L90-L113

If this is functionality you'd like to see, I recommend contributing a Pull Request that adds the informationto `abi.py`

[2017-05-01 17:54] Matir commented on #257
Fair enough, I'll try to figure out how to plumb that it.  Particularly complex is the case where a function has a mix of floating-point and integer/pointer arguments.  I don't know how hard it would be to put that together with the existing ABI API.

[2017-05-01 18:59] theblazehen opened #258 "Writing to stdout means that other commands can't access the output of pwndbg commands"
For example, I'd like to have a view of `context` available with https://github.com/snare/voltron, but using `voltron view command "context"` just ends up displaying it in the main gdb window, and voltron not showing anything

[2017-05-01 19:25] zachriggle opened #259 "gdbpwn feature parity"
- [ ] libc : Print the base address of libc
- [ ] ld : Print the base address of ld
- [ ] codebase : Print the base of code segment
- [ ] heap : Print the base of heap
- [x] got : Print the Global Offset Table infomation
- [ ] dyn : Print the Dynamic section infomation
- [ ] findcall : Find some function call
- [ ] bcall : Set the breakpoint at some function call
- [ ] tls : Print the thread local

[2017-05-01 19:58] zachriggle commented on #258
I'm not sure how you'd suggest to fix this.  If they'd like the output, the functions can be invoked directly.

[2017-05-02 00:19] disconnect3d commented on #259
Just leaving link here: https://github.com/scwuaptx/Pwngdb

[2017-05-03 16:06] roman-soft opened #260 "Heap"
Not sure whether it's a bug in pwndbg or the binary contains some tweak (it's from past Defcon CTF quals ran 3 days ago :-)) which avoids correct heap interpretation by pwndbg.

Basically, the binary makes one malloc() when we select choice 1.

In the former excerpt, it's showed how we select choice 1 twice (so 2 mallocs are performed), then we hit ctrl-c in gdb and try to get some info with pwndb

[2017-05-05 18:37] zachriggle commented on #260
Ping @blindin

[2017-05-06 12:17] mak commented on #260
This challenge had a custom heap manager, based on old version of ptmalloc

[2017-05-06 13:41] RageYL opened #264 "Bare metal debugging"
Hi,

When debugging on a bare metal mcu (arm, cortex-m4 processor) pwndbg 'hang' immediately after the connection with the remote gdbserver has been established

1) AUXV are not present: pwndbg tries to find those and will end up searching the whole memory (walk_stack2)
2) $xpsr is used instead of $cpsr. it uses a different bit to indicate thumb mode ($ps is not available on this arch)
xpsr: http:

[2017-05-06 20:02] degrigis opened #265 "Pwndbg new ideas"
I know there is lot of work to do, but I like to share a couple of new ideas and get your feedbacks @zachriggle @disconnect3d @anthraxx.

1) In my opinion it will be useful if the command `hexdump` behaves like the classic gdb command `x/200bx`. I mean that when we type  `hexdump 0x804e000 200` we display 200bytes from the address specified ( basically until 0x804e0c8) , but then when I press Ente

[2017-05-06 20:19] zachriggle commented on #265
1. I like it! Definitely agreed that it's useful.
2. Use Python ❤️ or built-in GDB commands to load gdbscripts (which conveniently can by Python!)

[2017-05-06 20:58] degrigis commented on #265
1. Ok, good! Will look into that. Hey @zachriggle are you against a custom .inputrc? since it seems that is not straightforward as I thought to accomplish this... :worried:
2. Well, actually...you are right :laughing:

[2017-05-08 21:20] disconnect3d commented on #141
What do you think about removing this line:
[code]
from [isort.cfg](https://github.com/pwndbg/pwndbg/blob/dev/.isort.cfg#L4)?

I'd rather have:
[code]

Instead of:
[code]

[2017-05-09 15:27] 0xddaa commented on #259
I have refactored some [features](https://github.com/0xddaa/Pwngdb/tree/master/pwndbg) in **Pwngdb** with pwndbg feature, but I have some questions:
1. Will you keep the module name as **pwndbg** or rename to **gdbpwn**(as title of this issue)?
2. The `heap` feature will conflict with the original `heap` command. Maybe we can rename all features about printing base to regular names.

[2017-05-09 15:28] zachriggle commented on #259
There's no need for them to be in a named sub module like that. Just
integrate them as normal commands ❤️
On Tue, May 9, 2017 at 10:27 AM 0xddaa <notifications@github.com> wrote:

[2017-05-09 16:55] zachriggle commented on #259
Nevermind, you did `pwndbg.commands.gdbpwn`, I thought it was under `pwndbg.gdbpwn.commands`

[2017-05-09 16:56] zachriggle commented on #259
Or if you really want, have it be pwndbg.commands.gdbpwn

*Zach Riggle*

On Tue, May 9, 2017 at 10:28 AM, Zach Riggle <zachriggle@gmail.com> wrote:

[2017-05-09 22:23] disconnect3d opened #269 "rip relative addressing"
This is how we show instructions that use rip relative addressing in pwndbg:
[code]

And this is how it looks in IDA Pro:
[code]

The proper address is calculated as:
[code]

So here it is:
[code]

It would be nice to have a setting (or even default) to display absolute/calculated address.

[2017-05-10 00:22] MaskRay opened #270 "Command completion"
It'd be great to have command completion in pwndbg. Completion is obtained by giving -1 (default argument) to `COMPLETER_CLASS` in `gdb.Command.__init__` and supplying a custom `complete` method. I might be wrong, but I think the current decorator approach for defining commands makes it harder (or uglier) to attach various metadata to the command.....

https://github.com/pwndbg/pwndbg/blob/dev/pwn

[2017-05-10 04:50] zachriggle commented on #269
I agree. The current view is just what Capstone gives us.
On Tue, May 9, 2017 at 5:23 PM Disconnect3d <notifications@github.com>
wrote:

[2017-05-10 12:02] disconnect3d commented on #270
I guess we can get/generate command completion information using `ArgparsedCommand` (see https://github.com/pwndbg/pwndbg/issues/244).

About gdb Python API - I don't have an answer for that. When I have to check something asap I am just firing:
[code]

[2017-05-10 15:59] disconnect3d commented on #269
A bit related: https://github.com/aquynh/capstone/issues/443

[2017-05-10 16:22] disconnect3d commented on #269
I have added an issue to capstone: https://github.com/aquynh/capstone/issues/920

[2017-05-10 20:22] disconnect3d commented on #264
@RageYL Can you look if we can determine somehow whether we are debugging bare metal or not?

Maybe there is some kind of `info ...` command that gives us such information after connecting to remote target?

[2017-05-10 20:31] RageYL commented on #264
I already (very briefly) looked and didn't find any command, that's why i suggested parsing the binary as i could get the information with readelf.
But i'll take a more serious look and keep you updated ;) (should be done by the end of the week)

[2017-05-10 20:46] disconnect3d commented on #264
@RageYL Can you check `show osabi` after connecting to remote target?
Someone mentioned this on #gdb IRC channel on freenode.

[2017-05-10 20:52] disconnect3d commented on #156
The fix got delivered in #267 on `stable` branch.
The issue can be closed.

[2017-05-10 20:53] RageYL commented on #264
@disconnect3d show osabi displays: The current OS ABI is "auto" (currently "none")

[2017-05-10 20:57] disconnect3d commented on #264
So maybe this is how we can determine debugging bare metal:
[code]

For me (without debugging bare metal) it is:
[code]

This is also returned when debugging a MIPS binary remotely (launched as `qemu-mips -g 1234`).

[2017-05-10 21:01] disconnect3d commented on #240
@zachriggle What do you think about adding an environment variable for IDA auto connecting like `PWNDBG_IDA_AUTO_CONNECT`? If the envvar isn't set we can just auto-connect.

This would let us to add `PWNDBG_IDA_AUTO_CONNECT=0` into makefile.

Probably we should be adding environment variables into `pwndbg.envvars` module which would let us control what envvars do we use and where.

[2017-05-10 21:26] zachriggle commented on #265
I don't like the idea of a custom inputrc, but if it's simple, maybe?

I don't think we can do this trivially: https://sourceware.org/gdb/onlinedocs/gdb/Command-Syntax.html#Command-Syntax

Only the `list` and `x` commands get this special treatment.

[2017-05-10 21:27] RageYL commented on #264
I feared gdb could return "none" in some other cases, but from what i'm reading (http://agentzh.org/misc/code/gdb/osabi.c.html) if the osabi value, defined in the elf header, is invalid, "\<invalid>" is returned and not "none".
This choice seems safe as the osabi value seems bound to the gdb architecture defined at compile time: even if the binary contains an edited value for the osabi, gdb still

[2017-05-10 21:27] zachriggle commented on #264
Sounds good to me!

[2017-05-10 21:28] zachriggle commented on #264
It might be useful to have a `@pwndbg.abi.Linux` decorator that does some magic

[2017-05-10 21:29] zachriggle commented on #260
Sounds like this is something that vanilla Pwndbg would not be expected to handle.

However, Pwndbg is nice and extensible, so it should be easy for end-users to hack on it and add support for things like this on-the-fly during a CTF!

[2017-05-10 21:29] #260 closed, assigned to nobody

[2017-05-10 21:30] zachriggle commented on #240
I like the idea, though I'd prefer to do it in the same way that `pwnlib.args` handles this.

http://docs.pwntools.com/en/stable/args.html

https://github.com/Gallopsled/pwntools/blob/stable/pwnlib/args.py

We can probably steal that entire module verbatim, though some of it won't quite be useful (since the `sys.argv` portion is fucked around with by GDB before we can look at it).

[2017-05-10 21:35] zachriggle opened #271 ""set python print-stack""
I'm not sure when this became a thing.  We should probably enable this when our debug setting is enabled.

[2017-05-10 21:40] zachriggle commented on #258
Ping! If you could provide more information on the way that `voltron` captures output, we may be able to resolve this.

[2017-05-10 21:42] zachriggle commented on #265
It looks like repeated commands do not get logged in the command history.  We can just grab the history each command and see if the counter has incremented.

[code]

[2017-05-10 21:59] zachriggle commented on #265
@degrigis see #272

[2017-05-10 22:05] #156 closed

[2017-05-10 22:22] degrigis commented on #265
I was stubbornly searching for a way to do this hooking inputs from keyboard, but I think that the solution in #272 is simpler and effective!

[2017-05-10 22:36] zachriggle commented on #141
How about just `from pwndbg.color import *` 😛

Lots of other places to `import pwndbg.color as C` so you can just access `C.red` etc.

Personally I think it'd be hilarious to do something like

[code]

[2017-05-10 23:22] disconnect3d opened #273 "OnlyWhenRunning not working well with ArgparsedCommand"
[code]

The order of decorators doesn't fix it (even makes it worse).

[2017-05-10 23:25] disconnect3d commented on #273
As we are going to use `ArgparsedCommand` for everything (see https://github.com/pwndbg/pwndbg/issues/244), maybe it is good to just add keyword arguments like `when_running`, `with_file`?

[2017-05-10 23:29] disconnect3d commented on #244
By the way, moving to `ArgparsedCommand` makes docstrings useless, e.g.:

[code]

Pwndbg session:
[code]

[2017-05-10 23:46] zachriggle commented on #273
Hmm.  I think the issue here is the use of the `default` with a register value.  The current `hexdump` command is broken when being invoked from the interactive shell, anyway.

I suggest this workaround:

[code]

[2017-05-10 23:48] zachriggle commented on #273
Alternately we need some other way to specify `OnlyWhileRunning` for `ArgparsedCommand` objects, since `fix_int("$sp")` will blow up if the target isn't running -- but we can't block `fix_int` with `@OnlyWhileRunning` since that'd prevent other things (e.g. inspecting the file itself before runtime).

[2017-05-11 06:55] MaskRay commented on #270
Request for comments  https://gist.github.com/MaskRay/1938e645963f10d37fd9b3d4acee2cf8

[2017-05-12 20:19] #265 closed, assigned to nobody

[2017-05-15 18:13] zachriggle commented on #271
Added this to #251

[2017-05-16 13:38] disconnect3d commented on #232
Another two issues:

6. `-x` or `--hex` should be accepted only with `-s` or `--string`
The description for `-x`/`--hex` states it is for "bytes/strings", so someone might get suggested that if he/she wants to search for 1-byte integer he/she has to write it like `search -1 -x ff` and this doesn't work - `search -1 255` or `search -1 0xff` does.

7. Search can boom in some circumstances:
[code]

8

[2017-05-16 13:41] disconnect3d commented on #243
This idea is a good candidate to use the new command's feature - `Command.repeat` which lets one make a command be continued through firing "enter".

This has been done for hexdump in https://github.com/pwndbg/pwndbg/issues/272 (proposed inhttps://github.com/pwndbg/pwndbg/issues/265).

[2017-05-19 16:33] disconnect3d commented on #271
Can be closed (?)

[2017-05-19 16:59] #271 closed, assigned to zachriggle

[2017-05-20 12:07] degrigis opened #281 "Checksec delay"
I've noticed a weird behavior related to the use of checksec: sometimes the check for the Fortified and Fortifiable takes a while ( I've not investigated yet the reasons ), this causes a lag in all the commands that use the checksec wrapper ( as f.i. the `got` command ).

Should we consider to embed the techniques used by the script inside pwndbg or starting to maintain our own version of the scri

[2017-05-20 12:10] degrigis commented on #259
`got` implemented :+1:

[2017-05-24 13:53] irain1987 opened #286 "Segmentation fault when gdb is started"
### Description

When gdb is started, it crashes and the output is here:

[code]

here is output of gdb core:
[code]

### Steps to reproduce

1. download gdb 7.11.1
   axel http://ftp.gnu.org/gnu/gdb/gdb-7.11.1.tar.xz

2. build gdb
   ./configure --with-python=python3.5 --prefix=/home/xxx/gdb-7.11.1/build --target=arm-linux

3. start gdb
   ./arm-linux-gdb

4. segmentation fault. =_=!!

### My set

[2017-05-24 14:28] disconnect3d commented on #286
I guess this is a gdb related problem - not a pwndbg one, so we can't help in here.

You should probably check and report it on gdb's official bugzilla: https://sourceware.org/bugzilla/ so they might release a patch or not (as this is not the latest gdb version).

[2017-05-24 18:08] zachriggle commented on #286
Agreed, I don't think this is a Pwndbg issue, but rather a GDB issue.

[2017-05-24 18:08] #286 closed, assigned to nobody

[2017-05-27 01:10] irain1987 opened #287 "breakpoint doesn't work in android debugging"
### Description

When I set the breakpoint in soinfo::CallFunction(char const*, void (*)()), it does not work.
But when I set the breakpoint around current pc, it worked.

In addition, when I do not use pwndbg, gdb is normal working.

### Steps to reproduce

#### Not working:

1. pwndbg> target remote :tcp_port
[code]

2. pwndbg> b soinfo::CallFunction(char const*, void (*)())
Breakpoint 1 at 0xf7

[2017-05-27 01:21] disconnect3d commented on #287
I have never debugged app's native code on my Android device, so if you could tell me how can I do so, I might try to reproduce.
Would be also nice to have a minimal working example, can you provide one?

Anyway, try setting verbose exceptions by `set exception-verbose on` - maybe this will give us some clue what the hell. Another option is `set debug-events on` - this gives a lot of output, but i

[2017-05-27 01:41] disconnect3d commented on #281
As I wrote in PR referenced above, I guess we should just cache the output.

A one-time lag is acceptable for me. However, this might be annoying for multiple pwndbg sessions over the same binary (not necessarily done in the same time).
For that, a persistent cache might help - we will have it soon in pwndbg - see https://github.com/pwndbg/pwndbg/pull/279. I'd go for a volatile one (this would use

[2017-05-27 13:02] irain1987 commented on #287
Sorry, the reply is slow. I found it in linux is the same, you can try to reproduce on linux.

When I use gdb to debug gdb, it appears the same situation.

I added the follwing code in init_page_info function (gdb/utils.c 1651)
`printf("init_page_info be called. process: [%d]\n", getpid());`

When I start gdb, its output is as follows:
[code]

It can be found that the init_page_info function is ca

[2017-05-27 20:26] zachriggle commented on #287
Does your example work when not using Pwndbg?

[2017-05-27 20:27] zachriggle commented on #287
I expect the issue is the default `follow-fork-mode` behavior.  You need to `set follow-fork-mode parent` if you want to trace the parent.

[2017-05-28 00:39] irain1987 commented on #287
Wow, when I use `set follow-fork-mode parent`, they all worked. thanks.

[2017-05-28 13:44] #281 closed, assigned to nobody

[2017-05-29 06:58] ChibiDenDen opened #288 "Slowdown on every command under WSL"
Under WSL (windows subsystem for linux) pwndbg works just fine, but every action is really slow.
strace on gdb shows a lot of socket connection attempts on TCP localhost:8888 that ends with connection refused.
by looking at your code, the connection is made for the IDA RPC.

It seems that the time it takes for a connection to be refused under WSL is not negligible and this badly affects pwndbg.

I

[2017-05-31 04:43] techvoltage opened #289 "search instructions in memory (Feature request)"
Ollydbg allows searching for instructions(e.g. a syscall). Can a similar thing be done for pwndbg? I know there already is an searching by opcode feature but one can't be expected to manually assemble the instruction to an opcode and then search it in memory

[2017-05-31 05:03] zachriggle commented on #289
This is a role much better fulfilled by [pwntools](http://pwntools.com) + pwndbg.  Pwndbg exposes the command-line API for pwntools, which has an assembly tool.  It's a two-step process (assemble, then copy) but I think having them separate gives the maximum flexibility.

[code]

[2017-06-01 14:22] disconnect3d commented on #215
@Bluekezhou Can you check if https://github.com/pwndbg/pwndbg/pull/291 works for you?

[2017-06-02 18:05] techvoltage commented on #289
Yep that should do it. Thanks!

[2017-06-02 18:05] #289 closed, assigned to nobody

[2017-06-04 06:10] techvoltage opened #292 "Show ARM/Thumb mode (Feature request)"
Would like to know whether I'm running in ARM/Thumb mode in gdb

[2017-06-04 11:31] disconnect3d commented on #292
Isn't it known from the instructions itself or from $cpsr (or $xpsr on some ARMs) register?

Anyway, getting the value is pretty easy - we do parse it actually just for $cpsr (so yeah, ARMs with $xpsr are not handled at all as decribed here https://github.com/pwndbg/pwndbg/issues/264) in here: https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/disasm/__init__.py#L86-L87

I would probably go with add

[2017-06-04 11:50] techvoltage commented on #292
Now that you've specified the how and where, would be glad to work on it!

[2017-06-04 12:53] zachriggle commented on #292
If the address is odd, it's Thumb.
On Sun, Jun 4, 2017 at 6:50 AM Sponge <notifications@github.com> wrote:

[2017-06-15 04:16] zachriggle opened #294 "rr integration"
http://rr-project.org/

[2017-06-15 04:19] zachriggle opened #295 "Google suggestions"
We should take a look at the top few google suggestions involving pwndbg, and see if there is anything to address.
![img_0596](https://user-images.githubusercontent.com/111640/27165193-f0e412ea-5157-11e7-8a6a-8dcea4dcf526.PNG)

[2017-06-17 01:23] qwaz opened #296 "Incorrect OS handling in setup.sh script"
### Description
`uname` command returns 'Linux' in Arch Linux environment, so the setup script tries to use `apt-get` package manager. However, Arch Linux does not have `apt-get` command and installation fails.

![image](https://user-images.githubusercontent.com/5073807/27249013-fed539ba-5346-11e7-853f-0406e4abf55b.png)

[2017-06-17 17:37] pyllyukko opened #298 "Telescoping confuses .rodata with .text"
### Description

When debugging a program, the telescoping feature incorrectly displays ```.rodata``` section as ```.text``` and tries to disassemble it.

Example:

![pwndbg-sections-1-2](https://user-images.githubusercontent.com/1058704/27254927-ba5af7a2-539b-11e7-9a4c-7691a7bc1785.png)

Data at address ```0x8048548``` is within ```.rodata``` section, as can be checked with the ```elfheaders``` c

[2017-06-18 05:38] zachriggle commented on #298
Will take a look at this soon, just wanted to say thanks very much for
using the template ❤️❤️❤️
On Sat, Jun 17, 2017 at 12:37 PM pyllyukko <notifications@github.com> wrote:

[2017-06-23 08:38] yoava333 opened #299 "Context failing on breakpoints with commands"
### Description
When using commands in breakpoints with pwndbg the debugger will halt the execution of the debugee and will not respond to keyboard commands.
The same gdb script works without pwndbg (e.g. commenting out in ~/.gdbinit)

### Steps to reproduce
wrote the following gdb script (gdb.cmds):
[code]

run the following command:
gdb /usr/bin/python -x gdb.cmds

and type "r"

the output
[code

[2017-06-27 20:15] ghost commented on #296
There are a few package managers in linux environments.
A basical (and maybe stupid) idea is to check which pm a system is using.
For instance, on arch the command
`[[ ! -z $(which pacman 2> /dev/null) ]] && printf "hello\n"`
should print hello, while
`[[ ! -z $(which apt 2> /dev/null) ]] && printf "hello\n"`
should not.

It's ok to modify the script in order to check this?
What do you think about

[2017-06-27 21:17] anthraxx commented on #296
I personally don't think it's a good idea to maintain all distro package managers and theirs package names at upstream. It's a waste of efforts and a never ending story of changes, adjustments and missing dependencies plus annoyance when adding new dependencies.

Such things should be handled per. Distro by the distro.
For example, if you want to use it for Arch Linux simply use the pwndbg or pwnd

[2017-06-27 21:45] zachriggle commented on #296
I think an acceptable middle ground would be to have an INSTALL.md or
similar that we can use for Ubuntu and non-Ubuntu setup instructions (eg to
instruct Arch users the correct command to use to get pwndbg-git from AUR).

We can link to INSTALL.md from README.md so web users can find it.

Additionally, we can have a check for apt-get, and if it is missing, we can
direct the user to look at INSTAL

[2017-06-28 06:24] qwaz commented on #296
The problem is not that Arch Linux is unsupported, but the setup script thinks Arch Linux has apt package manager and tries to use it, which causes installation failure. If we change the current `linux()` check function to the `apt-get` check function, people who uses other distros can install dependencies by themselves while reusing remaining parts of the setup script.

I agree to @zachriggle's o

[2017-06-28 23:04] disconnect3d commented on #234
This can be closed as the issue has been fixed in the meantime.

Just as an info: we have also provided a way to set verbose exceptions or debugging (`set exception-verbose on` and `set exception-debugger on`).

Example output on GDB with Py2:
[code]

[2017-06-29 10:58] ghost commented on #296
Apologise me,
I didn't intend to use a sort of switch based on the system.
The proposal was just to insert a check for apt and (as you said) use an install guide

[2017-07-10 21:06] zachriggle commented on #288
I'd recommend creating a Pull Request to fix this functionality ❤️

I expect that this can be resolved by:

1. Adding a timeout to the socket connection operation when it's set to localhost (say 50ms)
2. Memoizing the results of the socket connection attempt, so that it happens less frequently (I'd suggest `pwndbg.memoize.reset_on_cont`)

[2017-07-10 21:07] #287 closed, assigned to nobody

[2017-07-10 21:07] zachriggle commented on #270
@MaskRay please create a Pull Request, we can do the review / commentary there <3

[2017-07-10 21:29] zachriggle commented on #298
That address is both readable and executable, Pwndbg is doing the correct thing

[2017-07-10 21:29] #298 closed, assigned to nobody

[2017-07-10 21:30] zachriggle commented on #258
Do you have any more info @theblazehen?

[2017-07-11 02:53] #215 closed

[2017-07-13 04:37] MaskRay commented on #270
I haven't been following for some time... Have you found some good ways to annotate argument types?

[2017-07-15 21:46] pyllyukko commented on #298
It doesn't seem executable:

[code]

Same section info from radare:

[code]

[2017-07-15 22:34] zachriggle commented on #298
The page is marked executable, I promise.  Check `/proc/<pid>/maps`.

[2017-07-15 22:59] disconnect3d commented on #298
Yup it is. See https://asciinema.org/a/9MixgFtQUfAm1QzgMhPTPtGGi

[2017-07-16 07:44] pyllyukko commented on #298
Ok. My mistake. Thanks for the clarification.

[2017-07-18 19:52] theblazehen commented on #258
Hi, sorry about the delay. I'll need to look into that

[2017-07-26 16:45] n30m1nd commented on #294
I use both, and they seem to work flawlessly except for the `heap` command. Funny enough the other commands such as `bins`, `fastbins` and the like work well.

[2017-07-26 20:39] degrigis opened #312 "External commands existence"
As pointed out by @disconnect3d in the discussion of PR #280: we should probably register command name in some global set and check for its existence in the system after pwndbg is initialized.
If it is not there warn the user and disable particular command.

[2017-07-26 20:41] disconnect3d commented on #312
Thx for creating issue for that! Probably this could be handled in `ArgparsedCommand` itself - https://github.com/pwndbg/pwndbg/issues/244

[2017-07-26 20:42] degrigis opened #313 "Refactoring of wrappers/readelf.py"
We might want to make _extract_jumps function in wrappers/readelf.py return a pwndbg.elf.Relocs or other, more meaningful named object in the future.

[2017-07-28 10:10] CaledoniaProject opened #314 "Restore default layout after any command"
I've successfully installed pwndbg, the default layout is awesome.

However, when I type any command, e.g `x/x $esp`, the default layout is gone.

How can I restore it? I've tried commands like `layout asm`, but it's not what I wanted ..

[2017-07-28 17:19] disconnect3d commented on #314
@CaledoniaProject What do you mean that the layout is gone?

We call our UI a `context` and so there is a command called `context` which brings it up.

It should also be displayed each time a next instruction/code line is hit - basically whenever the debugger stops somewhere.

[2017-07-29 02:04] CaledoniaProject commented on #314
Looks good, thanks

[2017-07-29 02:04] #314 closed, assigned to nobody

[2017-08-02 17:20] bennofs opened #315 "Disassemble whole function (without branch emulation)"
It would be nice if there was a way to just pretty-print assembly, without doing branch emulation. For example, right now I cannot use `nearpc` to show disas of main because it jumps immediately to `exit` since it thinks that some branch is not satisfied (this is because it does not emulate `call`s)

[2017-08-02 17:29] disconnect3d commented on #315
Thanks for the issue!

Theoretically `set emulate off` should do the job.
However I feel like we probably should override `disass` to disassemble code without emulation...

@zachriggle What do you think about it?

Btw we have currently two commands that does the deassembly:
- `u`
- `nearpc`

It seems they does the same (I haven't look at the code) and the `nearpc-lines` parameter affects only `nea

[2017-08-02 21:43] disconnect3d commented on #294
@n30m1nd Does it mean we can close this issue?
Mind showing us an https://asciinema.org/ screencast of running rr with pwndbg?

Is there anything we can do to improve rr experience?

[2017-08-02 21:53] zachriggle commented on #294
Cool! I'd also love an Asciinema snippet.  If you wouldn't mind filing a separate bug for the `rr` issues with the `heap` command, it'd be much appreciated <3

Since `rr` seems to mostly work, closing this for now.

[2017-08-02 21:53] #294 closed, assigned to nobody

[2017-08-02 21:54] zachriggle commented on #315
@bennofs Can you provide a repro case?  Your issue sounds like an actual emulation failure.

[2017-08-02 23:41] bennofs commented on #315
@zachriggle example:
[code]

`emulate` gives:

[code]

Note how it assumes that the call to malloc will fail and thus follows the "short path" (the call to foo is not at all visible in the disas)

[2017-08-03 00:46] zachriggle commented on #315
Kind of.  It doesn't emulate call, *nor* does it emulate the conditional after it.

Disassembly is 100% linear until `main+46`, which is *guaranteed* to go to the `leave`.

This is slightly misleading, but very different from "assumes the call will fail" -- it doesn't, it just keeps disassembling linearly.  The case *happens to be* that linear disassembly follows the failure path.

In any case, yo

[2017-08-03 01:31] disconnect3d commented on #315
@zachriggle https://asciinema.org/a/CEl8tS982fP0w5YRhhwO2xw7U
Seems that `set emulate off` doesn't help. Guess that's a bug?

[2017-08-03 08:51] n30m1nd commented on #294
Here's the asciinema:
[![asciicast](https://asciinema.org/a/TxTOMZnFGHD4uuKsXgiYixZ2U.png)](https://asciinema.org/a/TxTOMZnFGHD4uuKsXgiYixZ2U)

[2017-08-03 08:56] n30m1nd opened #316 "pwndb with rr integration - can't find the heap"
As requested from issue [#294](https://github.com/pwndbg/pwndbg/issues/294#event-1190405813). Pwndbg fails to execute the `heap` command when running inside `rr` debugging session.
[![asciicast](https://asciinema.org/a/TxTOMZnFGHD4uuKsXgiYixZ2U.png)](https://asciinema.org/a/TxTOMZnFGHD4uuKsXgiYixZ2U)

In my opinion this is way out of pwndbg's scope but, if you could fully integrate pwndbg with rr,

[2017-08-03 19:52] zachriggle commented on #315
In your `asciinema` run, the disassembly output (specifically, the "next instruction" for each instruction) is cached.

Do `set emulate off` beforehand and it should work.  We should probably invalidate the cache when `emulate` is disabled.

[2017-08-06 11:48] disconnect3d opened #320 "Breaking on ida function should check onlyWhenRunning"
### Description
Ida breakpoint should warn/handle situation when binary has PIE and we can't rebase function address.

This is probably kinda easy to fix but I don't have time atm to do that. Feel free to help!

[code]

### Steps to reproduce

0. Create a PIE binary
1. Launch ida & load ida_script.py
2. Launch gdb
3. Try to set a bp

### My setup

[code]

[2017-08-08 21:54] disconnect3d opened #321 "Search command doesn't work on remote targets"
### Description

The `search` command doesnt work on remote targets.

I have researched the topic and it seems it is a bug in gdb - with both `find` command and `gdb.selected_inferior().search_memory(...)`.

I have reported it here: https://sourceware.org/bugzilla/show_bug.cgi?id=21927

The purpose of this issue is to make sure to others that we **are aware of the problem** and to know whether it

[2017-08-09 22:08] grant-h commented on #299
I am having this exact issue and it is preventing me from debugging function calls in the same way. This is a serious bug if any scripting for silent, print-only breakpoints is being done.

pwndbg stops responding to any input and the GDB process has to be killed.

[2017-08-11 20:05] disconnect3d commented on #321
I was wrong. The real bug is there **ONLY** with `gdb.selected_inferior().search_memory(...)` and I have found a workaround. PR incomming.

The above reported issue has been closed and split into two seperate ones:
* [Python API search_memory remote targets bug](https://sourceware.org/bugzilla/show_bug.cgi?id=21946)
* [Improve find command string search](https://sourceware.org/bugzilla/show_bug.cg

[2017-08-12 12:14] disconnect3d commented on #316
@n30m1nd Hey,

Could you try diving more into the issue? Maybe there is something we can do?
I have made some analysis of the problem below.

All of the commands lie in `pwndbg/commands/` and most of them have a seperate file.
So the `heap` command and the output you get is here: https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/commands/heap.py#L64

The `get_region` and most of the heap implementa

[2017-08-14 20:37] disconnect3d commented on #321
Fixed in #322.

[2017-08-14 20:37] #321 closed, assigned to nobody

[2017-08-15 23:43] disconnect3d commented on #299
Hey,

Sorry for so long time with no response. Just for future: please add a minimal example that can be used to reproduce the bug as it would be nice to be able to reproduce and debug the issue (also my Python binary says "no malloc there").

Anyway, I have reproduced your case with simple C code:
[code]

First of all - the latest pwndbg does show **much better result for it** - it shows that an

[2017-08-16 00:13] disconnect3d commented on #299
The fix has been proposed in PR https://github.com/pwndbg/pwndbg/pull/324

If someone needs that ASAP - just cherry-pick the commit from my repo.

[2017-08-18 10:05] ducphanduyagentp commented on #151
Today I've encountered the same problem when running the `heap` command but the error is different. I'm running Kali Linux 64-bit 2017.1 and tried to install libc6-dbg:i386 but that didn't help. This is my error output. Any solution?

[code]

[2017-08-18 19:00] zachriggle commented on #151
In any case, I have no idea what `proj_api.h` is or why it's being included, nor do I know why `liblwgeom.h` is being included.

Our auto-headers-to-symbols compilation just kind of grabs *all* of the include files that it can.  I guess some of yours aren't quite compatible.  #261 is related

[2017-08-20 18:43] disconnect3d opened #325 "next* commands on various archs"
### Description

It seems the `nextsc` command fails on ARM. We should also verify other `next*` commands on ARMs and other archs then x86/x64.

Any idea what to do with them? Disabling them might be a solution(?)

Below you can see a failure example.
[code]

[2017-08-21 21:16] zachriggle commented on #325
Doesn't fail for me.  What version of Capstone are you using?  Works for me with the latest `next` branch, which is what we require (see `requirements.txt`).

[2017-08-21 21:28] disconnect3d commented on #325
Hmm.. I am trying to reproduce as that happened to me like a week ago..
Currently I have got another problem:
[code]

EDIT:
A proper `LD_PRELOAD` with path to arm libc helped.

[2017-08-21 21:39] zachriggle commented on #325
Probably easier to just use a statically-linked library.

I've got a long and useful StackExchange post on making QEMU work nicely: https://reverseengineering.stackexchange.com/questions/8829/cross-debugging-for-mips-elf-with-qemu-toolchain

It's targeted at MIPS, but also works for ARM.

[2017-08-21 21:44] disconnect3d commented on #325
@zachriggle Thanks for the idea of using static linking.
 Also see this https://asciinema.org/a/StzXbi9nNbptGbWAPB0v478Qy
Seems we have to check for something like `.is_stopped` somewhere anyway.

The `nearpc` shown there is totally different then `objdump` result:
[code]

[2017-08-21 21:54] disconnect3d commented on #325
About the infinite looping when program has stopped:
[code]
`OUR PROGRAM IS ALIVE? True` is my debug print in  https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/proc.py#L48. Trying to debug/see how to fix that.

EDIT:
The state when "Program stopped":
[code]

[2017-08-21 22:23] disconnect3d commented on #325
@zachriggle can you try doing `nextcall` in above example as shown on asciinema? Does it go into an infinite loop on your side?
Idk how we can detect this "Program stopped" thing...

[2017-08-21 22:32] zachriggle commented on #325
re: the asciinema, `nearpc` has no way to determine what processor mode should be used.

If you want to force Thumb, you need to add a `+1` to the address

[2017-08-21 22:33] zachriggle commented on #325
You need to upload whatever binary you're using if you want me to look at it :P

[2017-08-21 22:35] disconnect3d commented on #325
@zachriggle You could always copy the code from asciinema (yeah you can copy the text there :D).

But anyway, here it is:
[code]

[a.zip](https://github.com/pwndbg/pwndbg/files/1240309/a.zip)

[2017-08-21 23:27] zachriggle commented on #325
Yeah, I deleted that comment since I realized it doesn't matter.

Pwndbg has no way to determine that `main` is Thumb mode.  The binary isn't running, so the current mode isn't Thumb, and the address given is even (Thumb addresses are odd).

Technically, I'd vote that the symbols are wrong :P

In any case, something else is up since your addresses for main don't match up (104d4 vs 0x10110) between

[2017-08-22 00:39] disconnect3d commented on #325
@zachriggle Lets focus on the `next*` commands.

Any idea how we can deal with the `program stopped`? :/

[2017-08-22 20:10] zachriggle commented on #150
Looks like v2 was released today: https://twitter.com/_argp/status/899930101466451968?s=09

[2017-08-23 22:42] disconnect3d commented on #315
Just to clarify, invalidation of cache can be done by adding a trigger for emulate parameter.

This would look like:
[code]

Above should be done anyway.

@zachriggle @anthraxx What do you guys think about adding a keyword argument like `dont_use_cache=True` which would be retrieved by `memoize` if passed into `__call__` and if it `True` then we can evaluate function instead of using cache?

This

[2017-08-24 04:09] zachriggle commented on #315
I think we can just use the `invalidate_instruction_cache` `Trigger` for now, if that solves the problem

[2017-08-25 04:23] Bluekezhou opened #332 "wrong result with command checksec"
This is result in pwndbg
[code]
This is from IDA
![image](https://user-images.githubusercontent.com/7897423/29699510-de5a6a3c-898f-11e7-82d4-e5d5881d276f.png)

here is bin

[sentosa.zip](https://github.com/pwndbg/pwndbg/files/1250830/sentosa.zip)

[2017-08-25 05:15] Bluekezhou commented on #332
pwndbg> version
Gdb: GNU gdb (Debian 7.12-6) 7.12.0.20161007-git
Python: 3.5.3 (default, Jan 19 2017, 14:11:04)  [GCC 6.3.0 20170118]
Pwndbg: 1.0.0 build: 124e997

[2017-08-25 13:12] semihalf-oleksy-michalina commented on #255
Hello,
Can you provide some example where it doesn't work and all the examples and options you wish to implement in this command? I'm not sure if I assume it's purpose correctly.
It would be nice if you could provide more info than it is in help as I don't have windbg.

I've changed a little three places and now when I have a structure like this:

[code]

`dt str_type` prints:

[code]

But I assum

[2017-08-25 15:32] zachriggle commented on #332
The canary check relies on __stk_chk_fail (or something similar) being in
the symbols. Separately, checksec is not a Pwndbg implementation. It’s just
a wrapper around the command-line tool.
On Fri, Aug 25, 2017 at 12:15 AM Blueke Zhou <notifications@github.com>
wrote:

[2017-08-28 12:30] disconnect3d commented on #255
@semihalf-oleksy-michalina Can you post a PR with your changes so we can try it out?
Also could you change the command to use `ArgparsedCommand` decorator like some of the other commands? Eventually we want all of the command to use it and remove `Command` or `ParsedCommand` decorators at all (and to provide better UX thanks to one, consistent interface, later on - see https://github.com/pwndbg/pw

[2017-08-28 12:33] disconnect3d commented on #255
@zachriggle Is the purpose of `dt` just describe particular type layout?
If so, we will have to show the padding to the user as well.

Also it might be good to check pahole and pahole-gdb projects/outputs - e.g. https://github.com/PhilArmstrong/pahole-gdb
However I feel like we should display padding by just saying `X bytes of padding`.

It might also be cool to describe what padding is in the `Ar

[2017-08-28 17:26] zachriggle commented on #255
`dt` is intended to emulate [Windbg's command of the same name](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/dt--display-type-) -- currently only the very basic functionality of "display type" and "display type at address" are supported.

The current implementation, and the implementation used by Windbg, does not explicitly call out gaps / holes / padding.

If we'd like to ad

[2017-08-28 18:37] disconnect3d commented on #299
Merged to both dev & stable.

[2017-08-28 18:37] #299 closed, assigned to disconnect3d

[2017-09-11 19:48] zachriggle commented on #332
Original binary is here: https://github.com/briansp8210/CTF-writeup/blob/master/HITB-GSEC-CTF-2017/SENTOSA/sentosa

It looks like you have an old version of Pwntools or something, it looks fine to me.

[code]

[2017-09-11 19:48] #332 closed, assigned to nobody

[2017-09-11 19:52] zachriggle commented on #198
`GetCommentEx` gets a regular comment.

From the docs:

[code]

[2017-09-11 19:52] #198 closed

[2017-09-11 19:53] zachriggle commented on #42
@gsingh93 Can you check that this is fixed?  Right now the function looks like:

[code]

I'm assuming this prints out everything you want it to.  If not, please re-open this issue.

[2017-09-11 19:53] #42 closed

[2017-09-11 20:19] zachriggle commented on #249
This is no longer an issue.  Using pwntools to demonstrate:

[code]

[code]

[2017-09-11 20:19] #249 closed, assigned to nobody

[2017-09-11 20:32] zachriggle commented on #288
It looks like this was effectively resolved by adding a timeout in 124e997555629cb76eb9db7a215e0bb1f1f894a3

[2017-09-11 20:32] #288 closed, assigned to ChibiDenDen

[2017-09-11 20:34] zachriggle commented on #107
@gsingh93 is this still an issue with Unicorn 1.0.1?

[2017-09-11 20:36] zachriggle opened #338 ""This command is not documented.""
It looks like we lost documentation via `help` at some point in time.  This is related to #232

[code]

[2017-09-11 21:14] #225 closed

[2017-09-12 04:57] klockeph opened #340 "Arch Support - Roadmap"
Hi,

pwndbg currently only supports Ubuntu and as stated in some other issues, help would be appreciated to make it compatible with other distros.

As I'm an arch user and pwndbg lover myself, I would like to contribute something to this - if I am able to.

The problem is, that I (and probably also other possible collaborators) don't know where to start. So I'm creating this issue to ask for a bas

[2017-09-12 11:56] anthraxx commented on #340
Basic arch support itself is there, you can take a look at the pwndbg and pwndbg-git packages in the AUR.
The problem with Heap is the way how it is implemented right now. It loops through /usr/include and compiles everything. We have a separate issue somewhere, you could start over there?

[2017-09-12 11:58] disconnect3d commented on #340
Someone pointed out somewhere (might have been @bennofs on IRC?) that it is possible to use heap when one has libc compiled with debug symbols.

@anthraxx I've reformatted your msg a bit; guess u write from the phone? ;p

[2017-09-12 15:10] bennofs commented on #340
I am using pwndbg on arch without much problems. For `heap` support, you need a glibc with debug symbols which you can get by following the steps in https://wiki.archlinux.org/index.php/Arch_Build_System to build `glibc` yourself after enabling debug in `/etc/makepkg.conf`. The main issue that doesn't work well is the type detection that just tries to parse include files, but I am not sure how man

[2017-09-12 15:41] disconnect3d commented on #340
Maybe we should add a glibc-debug AUR package and add it as pwndbg and pwndbg-git dependency?

What do you guys think? I don't have any experience in AUR packaging.

[2017-09-12 15:45] klockeph commented on #340
A follow-up question: I've manually set up pwndbg (with git clone, make etc.), can I somehow uninstall it and reinstall it from the AUR then if this improves arch support? I didn't want to install it from AUR because the last update was from 2016.
(But maybe I misunderstood the last-update thing, and it's using the latest version, I'm not experienced with the AUR)

[2017-09-12 15:54] klockeph commented on #340
@bennofs could you elaborate on your answer a little bit more? I think I understand how to enable debugging in `/etc/makepkg.conf` but not how to rebuild glibc myself.

[2017-09-12 16:53] bennofs commented on #340
@KillPinguin

Assuming you have enabled `DEBUG` in `/etc/makepkg.conf`, do the following steps:

###### for 64 bit glibc debug symbols:

[code]

###### for 32 bit glibc debug symbols:
[code]

You will need to rebuilt these when the glibc version in the official repository changes.

[2017-09-13 17:55] #338 closed, assigned to disconnect3d

[2017-09-13 17:56] disconnect3d commented on #338
Seems it might be that we never had it for `ArgparsedCommand`s :P
Fixed in #341

[2017-09-14 18:21] zachriggle commented on #340
There are two official Arch packages:

https://aur.archlinux.org/packages/pwndbg/
https://aur.archlinux.org/packages/pwndbg-git/

My recommendation is to use the second package.

[2017-09-14 22:52] zachriggle opened #342 "NCC Group Heap Inspection"
Cool stuff!  BSD 3-clause so compatible but not exactly MIT.

https://github.com/nccgroup/libdlmalloc

https://github.com/nccgroup/libptmalloc

https://github.com/nccgroup/libmempool (mempool = Cisco)

[2017-09-15 07:13] klockeph commented on #340
@zachriggle thank you for your comment. But don't I have to remove the current installation before installing it from AUR?

[2017-09-15 10:08] disconnect3d commented on #340
@KillPinguin `pwndbg` vs `pwndbg-git` packages? Probably AUR will tell you that they conflict and ask whether you want to remove `pwndbg` if you install `pwndbg-git`.

If you ask git clone+install vs AUR package then I think it doesn't really matter.
You just need proper path to the pwndbg you want to launch in `source ...` in `~/.gdbinit`.

[2017-09-18 20:56] anthraxx opened #343 "time for a new release tag?"
@zachriggle @disconnect3d

what do you think, maybe we should tag a new release? The last one is half a year old and we made a lot of fixes and some cool features :smile_cat:

[2017-09-18 21:33] zachriggle commented on #343
@disconnect3d Could you take care of this?  Just check out `tag_release.sh` for what I used to do.  Not sure if it works anymore, now that we switched to `dev` / `beta` / `stable` branches.  Also I'm not sure if there are any open Pull Requests against `stable` that you'd like to land before tagging.

This might be something that we set up a repeating job for on each `stable` Travis CI job, with a

[2017-09-19 11:44] disconnect3d commented on #343
@zachriggle Yeah I can do that.

[2017-09-26 01:43] zachriggle opened #344 "ctypes: Header file generation"
Given a structure which is declared in ctypes (i.e., implements `ctypes.Structure`), we should be able to generate its definition.  This needs to be done recursively for complex types and typedefs.

[code]

Should generate, for example:

[code]

[2017-09-26 01:44] zachriggle opened #345 "ctypes: Header file parsing"
Given a C header file which declares a structure type, we should be able to generate a `ctypes` structure definition for it.

This is the inverse of #344

[2017-09-26 01:46] zachriggle opened #346 "ctypes: Conversion between gdb.Type"
Given an instance of a `gdb.Type` object, it should be possible to convert it to a `ctypes.Structure` class definiteion, and vice-versa.

This should allow automatic generation of `ctypes.Structure` definitions from debugging info in GDB.

This should also allow injection of `gdb.Type` information into GDB via a pre-defined `ctypes.Structure` definition.

[2017-09-26 01:48] zachriggle opened #347 "PtMalloc pretty-printers"
The current `ptmalloc` printers are pretty basic, and print lots of fields that are not relevant, and some of the e.g. INUSE flags are done manually via the `pwndbg.commands.heap` module instead of done by a pretty printer.

We should move this logic to a pretty printer.  We should also be more selective about when we print certain fields, and we should also be able to hex-dump the contents of hea

[2017-09-26 17:40] disconnect3d commented on #343
Huh, this was easier then I thought :P. Had to just modify the branch in `tag_release.sh` - will put that into PR to stable, but I have already made the tag:
 https://github.com/pwndbg/pwndbg/tree/2017.09.26

[2017-09-26 18:33] zachriggle commented on #343
The script also needs to be modified to:

1. Check out `beta`
2. Merge `stable`
3. Check out `dev`
4. Merge `beta`
5. Push the branches

[2017-09-26 18:41] zachriggle commented on #345
It looks like `ctypeslib2` could support this, but the `clang` module only supports Python2.

[code]

[2017-09-26 18:54] zachriggle opened #349 "ctypes: DWARF generation"
We should be able to skip `gcc` entirely and just emit object files which contain the appropriate DWARF debugging information.

[2017-09-27 20:54] zachriggle opened #350 "ARM: Branch following on blmi"
Apparently we are not unrolling branches correctly for `blmi`.

[code]

[2017-10-04 22:53] zachriggle opened #351 "AttributeError: 'Elf64_Ehdr' object has no attribute 'objfile'"
[code]

[2017-10-04 22:55] zachriggle commented on #351
Whoops, apparently I'd made some local modifications that I forgot about, and didn't check first.

[2017-10-04 22:55] #351 closed, assigned to nobody

[2017-10-05 18:48] dipanjan opened #352 "Freebins list gets truncated at the end"
If the free bins list is too long, it is truncated at the end.

![issue](https://preview.ibb.co/c3qnBG/image.png)

[2017-10-06 12:51] disconnect3d commented on #352
Can you provide C code that can be used to reproduce this issue?

Also does `fastbins` command truncate it too? Maybe `bins` returns just a general look over all the bins not to bloat the display (?).

[2017-10-07 16:24] plusls opened #353 "ida_script.py:maximum recursion depth exceeded while calling a Python object"
### Description

When I use pwndbg with IDA，I connect to IDA successfully.

But, when I run the program, it raise

[code]

### Steps to reproduce

1. run ida
2. run `set ida-rpc-host 192.168.137.1` to connect IDA
3. b main
4. r
python raise exception:
[code]

### My setup

pwndbg:
Gdb: GNU gdb (Ubuntu 7.12.50.20170314-0ubuntu1.1) 7.12.50.20170314-git
Python: 3.5.3 (default, Sep 14 2017, 22:58:41)

[2017-10-07 19:14] zachriggle commented on #352
It's not truncated, that's just how the telescope code works.  If there
were somehow a loop, or just a really long chain, it'd take up too much
screen space.

*Zach Riggle*

On Fri, Oct 6, 2017 at 7:51 AM, Disconnect3d <notifications@github.com>
wrote:

[2017-10-07 19:39] dipanjan commented on #352
Can a new command be added that'll allow me to traverse the chain for `n` block starting from `i`-th block? I'd say such long chains are not uncommon in real world applications (this is an instrumented version of GNU diffutils)

[2017-10-09 08:14] zachriggle opened #354 "Android: Currently Broken"
Attempting to debug an Android 8.0 phone with GDB 8.0 (on macOS) causes GDB to abort.

[2017-10-09 08:20] zachriggle commented on #354
It looks like at least part of this is due to `pwndbg.android.is_android()` not being cached, and eventually we will invoke `pwndbg.android.sysroot` to set the sysroot, which causes `is_android()` to return `False`.

[2017-10-09 08:47] zachriggle commented on #354
Apparently the issue is `follow-fork-mode child`.

When a fork occurs, the following is printed to `stdout`:

[code]

[2017-10-09 08:51] zachriggle commented on #354
May be related to https://sourceware.org/bugzilla/show_bug.cgi?id=13584

[2017-10-24 16:21] WangYihang opened #356 "Installation failed : 'Python.h' no such file on Kali Linux 2017.02"
### Version : newest version

### Description

I am trying to install pwndbg on my virtual machine (Vmware)
Kali Linux 2017.2

[code]

I just follow the readme file to install it, but something wrong

the script said that that the 'Python.h' is not found, but actually this file is stored at :
[code]
by the way, I already have psutils installed on my virtual machine

could you help me to figure out

[2017-10-24 16:24] disconnect3d commented on #356
Can you try `apt Install python-dev` or `python3-dev`?

24.10.2017 6:21 PM "王一航" <notifications@github.com> napisał(a):

[2017-10-24 18:55] zachriggle commented on #356
Your GDB was built with Python 3.6.

The failing command has this on the command-line has:

[code]

And the last line of your issue contains:

[code]

So these two files don't help you:

[code]

You need to install the development package / headers for the correct version of Python.

[2017-10-24 18:55] #356 closed, assigned to nobody

[2017-10-24 19:52] WangYihang commented on #356
oh, I already have python-dev and python3-dev installed...
I don't know why the problem occurred.
Could you tell me how can I install gdb which is built with python 3.6?
thank you so much

[2017-10-24 19:56] WangYihang commented on #356
@zachriggle Do you mean, that I should remove gdb, and download its source code and recompile it with python3.6?

[2017-10-24 19:58] zachriggle opened #357 "Kali 2017.02 is unsupported"
I have no idea how Kali messed this up, but... lol.

[code]

What's amazing is that Pwndbg actually seems to work!  But everything blows up when you use the interactive prompt.

[code]

[2017-10-24 20:01] zachriggle commented on #356
@WangYihang No, what I mean is: `apt-get install python3.6-dev`

In any case, see #357.  GDB is broken on Kali.  I'd recommend using a distro that doesn't ship broken packages, or building GDB from source.

[2017-10-24 20:01] #357 closed, assigned to nobody

[2017-10-24 20:26] zachriggle commented on #357
Reported https://bugs.kali.org/view.php?id=4317

[2017-10-24 22:31] disconnect3d commented on #356
Building gdb from sources ain't that hard. I will leave it here if someone needs that:
[code]
This might require installing some dependencies like readline.

**Important note:** adjust the gdb version (the latest stable should be the best :P) and python version/path.
This also enables all targets so you can use gdb to connect to gdbservers with mips/arm and other targets.

[2017-10-25 05:40] WangYihang commented on #356
@disconnect3d  Cool, thank you so much 💯 👍

[2017-10-25 15:51] ada-l0velace commented on #356
Installing this:
[code]
Solved all my problems on Debian Buster

[2017-11-05 05:56] neilpanchal opened #358 "How can I use pwndbg with a custom gdb?"
How can I use it with https://esp-idf.readthedocs.io/en/v2.0/openocd.html

I can launch the xtensa gdb by running `xtensa-esp32-elf-gdb`. When I try to install pwndbg, it says `gdb not found in $PATH`. How can I change pwndbg to point to `xtensa-esp32-elf-gdb` instead of `gdb`? Just create a symbolic link to gdb?

[2017-11-05 06:05] neilpanchal commented on #358
I was able to install it by creating a symbolic link on MacOS:

`sudo ln -s \User\yourname\esp\xtensa-esp32-elf\bin\xtensa-esp32-elf-gdb \usr\local\bin\gdb`

And running `./setup.sh` worked flawlessly.

Closing the issue.

[2017-11-05 06:05] #358 closed, assigned to nobody

[2017-11-19 00:44] devneal opened #361 "Problem with ds on dev branch"
### Description

`ds` is broken on dev 6aeffbea246870fdc3af569b1bb16e51a3e2f667
 Running the command results in `Exception occured: ds: %x format: an integer is required, not gdb.Value (<class 'TypeError'>)`.
I looked at `pwndbg/commands/windbg.py` and managed to fix it by casting the `address` argument to `int`, but I'm not sure if this is the best solution.

[2017-11-19 13:49] Bluekezhou commented on #332
Ok, I'll update it. Thank you.

[2017-11-24 19:05] disconnect3d opened #362 "Broken `entry` command"
### Description

The `entry` command pass arguments differently then the `run` command.

### Steps to reproduce

[code]

### My version

[code]

[2017-11-25 15:02] disconnect3d commented on #229
Hey,

So it has been few months after this discussion occured and we have this scheme of dev/beta/stable but the point is - we don't really use it that much. It seems that noone is using beta and probably a lot of people out there just use dev.

So my suggestion is to remove beta at all. We could also either keep stable or remove it and just make tags out of dev (or master or whatever we can renam

[2017-11-25 15:14] disconnect3d commented on #361
@devneal Thanks for reporting the problem. The command seems to partially work - e.g. it can print strings from given addresses but if you provide no args or a missing symbol it shows lke something wrong has happened. What was the thing you have tried?

This is how it works on my side (latest dev):
[code]

Could you provide your exact case? Would you mind on trying to fix it, make it use `Argparse

[2017-11-25 15:20] #234 closed

[2017-11-25 15:22] disconnect3d commented on #353
@plusIs Could you provide a PR with that? Also, do you know if that works with other IDA Pro versions?

[2017-11-25 18:20] devneal commented on #361
Thanks for responding. I've included my output below. As I said before, the command works if I cast the `address` variable to `int` in `pwndbg/commands/windbg.py`. Do you know of some difference between gdb 7.11 and gdb 8 or python 3.5 and python 3.6 that could be causing this?
[code]
I'd be happy to submit a pull request, but I'd like to be sure what the problem is before blindly casting to `int`

[2017-11-25 18:23] disconnect3d commented on #361
@devneal Thanks! That really looks like it might be related to Python/GDB version.

If you want to build particular gdb version, here is a little script I used few times to build 7.11 and 8.0:
[code]
Note: this might require you to install some dependencies like readline dev library.

[2017-11-26 06:00] devneal commented on #361
I've confirmed that the command works with gdb 8.0.1 + python 3.5.2 but fails with gdb 7.11.1 + python 3.5.2. The readme says pwndbg is best supported with ubuntu 16.04 (which has python 3.5.2 by default) + gdb 7.11, so this should be fixed. I'll look into ArgparsedCommand and submit a pr soon.

[2017-11-26 10:19] zachriggle commented on #229
I think the solution is to actually use the branches rather than abandon
them. There needs to be a supported long-term branch that receives bug
fixes and is not actively developed.
On Sat, Nov 25, 2017 at 7:02 AM Disconnect3d <notifications@github.com>
wrote:

[2017-11-27 20:02] devneal commented on #361
I've submitted a pull request at https://github.com/pwndbg/pwndbg/pull/364.

[2017-11-28 00:08] disconnect3d commented on #255
Btw https://sourceware.org/ml/gdb-patches/2017-11/msg00435.html
Still our approach is probably better as we support older gdb versions.

[2017-11-30 00:43] #362 closed, assigned to disconnect3d

[2017-12-04 20:22] zachriggle commented on #353
We don't want to replace it.  The `\x01\x04; ` bit at the beginning is prepended to IDA (internally and invisibly) when adding Hexrays comments to the disassembly (repro: Open function in Hex-rays, switch to disassembly with `tab` and then hit `/`).

[2017-12-07 07:25] vitapluvia opened #366 "Highlight frame info & step difference"
After trying [voltron with Binary Ninja](https://github.com/ehennenfent/binja_dynamics) for one day and coming straight back to pwndbg (my favorite gdb extension), I realized why I switched.  It was not for the Binary Ninja integration, it was because it clearly showed saved `EBP`/`RBP`/`EIP`/`RIP` on the stack with a background highlight and a highlighted diff of any changed values between steps.

[2017-12-11 16:21] disconnect3d commented on #366
Hey,

Thanks for the issue!

I totally like this feature, however how can we detect if there is saved frame/instruction pointer?

@vitapluvia Would you prepare a PR with such feature? Or is it just a feature request? :P

[2017-12-12 17:23] zachriggle commented on #366
Right now we highlight all registers that change between any two program states by putting an asterisk `*` next to them.

For memory differences, it's not clear to me when the Binary Ninja plugin you linked thinks is "before" and "after".  Is it on each step?

This is something we could do somewhat automatically with `hexdump` which gets us easy wins elsewhere, but integrating it into other comman

[2017-12-12 17:35] zachriggle commented on #352
Been busy for a while, sorry to leave this sit for a bit.  When the above pull request lands, you should be able to `set heap-dereference-limit 0x100` to get what you want.

[2017-12-13 19:18] zachriggle opened #368 "Telescope on strings"
We should display more of this string, perhaps?

[code]

[2017-12-14 03:36] dipanjan commented on #352
Thanks @zachriggle

[2017-12-14 03:36] #352 closed, assigned to nobody

[2017-12-15 19:53] FFY00 opened #370 "Disassemble command highlight/color"
Hi, is it possible to add highlight/color to the disassemble command? If not, it is possible to create a new command with it enabled?

Thanks,
Filipe

[2017-12-15 20:09] FFY00 commented on #370
Looks like the only command available is pdisass which only shows a portion of the code.

[2017-12-16 00:48] AlexAltea opened #371 "Setting to disable the telescope"
I use pwndbg to debug an operating system and some device drivers running under QEMU. The problem is that while doing so, some registers may hold MMIO register addresses which the telescope attempts to dereference. This not only causes extra annoying logs, but for several reasons also creates non-determinism despite issuing only read queries.

This is similar to the 2nd point mentioned in issue ht

[2017-12-16 16:20] disconnect3d commented on #370
@FFY00 you mean `x/10i <address or expression>` and `disassemble <symbol>`?
We could potentially override `disassemble` to `u`/`pdisass` (those are aliases).

I know also that @anthraxx was working on adding pygments (?) or some other asm syntax highlighting to pwndbg but it didn't get a PR

[2017-12-16 16:34] disconnect3d commented on #361
Closing as this has been fixed thx to PR https://github.com/pwndbg/pwndbg/pull/364.

[2017-12-16 16:34] #361 closed, assigned to nobody

[2017-12-16 19:03] FFY00 commented on #370
Yes, exactly.

[2017-12-16 19:13] anthraxx commented on #370
Oh right, got catched by RL lately. I still have my branch nearly finished just polishing left. Will finalize during 34C4 and send the PR 😎

[2017-12-20 22:47] disconnect3d commented on #264
So the first part has been merged - #369 - thanks @cebrusfs o/
I will assign you to this issue.

EDIT: Interesting, seems I can only assign ppl from pwndbg team and RageYL who created the issue (maybe also other ppl who would comment it; well... whatever).

[2017-12-22 08:38] P4N74 commented on #259
https://github.com/scwuaptx/Pwngdb/pull/20
Something similar in `pwndbg` would also be great. I tried to give a quick look at the code but I couldn't figure out where I should add those commands, hence mentioning it here in the issue.

[2017-12-23 00:24] disconnect3d commented on #371
@AlexAltea the #367 has been merged.  Does that work for you?

PS: Might be worth to use code from https://github.com/pwndbg/pwndbg/pull/377as #369 made getting stack upper bound wrong (we need tests ASAP!).

[2017-12-23 00:29] disconnect3d commented on #167
Closing it as the startup time is fine and it is not really important right now.
We can reopen or reference it in the future if needed.

[2017-12-23 00:29] #167 closed

[2017-12-23 00:36] disconnect3d commented on #217
Closing as this is more or less covered by https://github.com/pwndbg/pwndbg/pull/300 or to be more specific:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/exception.py#L42-L68

[2017-12-23 00:36] #217 closed

[2017-12-23 00:36] disconnect3d commented on #235
Closing as this is more or less covered by https://github.com/pwndbg/pwndbg/pull/300 or to be more specific:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/exception.py#L42-L68

[2017-12-23 00:36] #235 closed

[2017-12-23 00:42] disconnect3d commented on #107
Closing due to no reply from @gsingh93

[2017-12-23 00:42] #107 closed

[2017-12-23 00:43] disconnect3d commented on #370
@anthraxx maybe some pair programming on 34c3 :D

[2017-12-23 00:45] disconnect3d commented on #320
This can be handled the same as https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/gdbutils/functions.py#L39-L42

[2017-12-23 01:20] disconnect3d commented on #1
The `xinfo` and `xprint` commands aren't working since long time ago I guess as we don't "instantiate them as Commands:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/commands/peda.py#L29-L30

On current dev `xinfo` makes something different due to https://github.com/pwndbg/pwndbg/commit/c0755b9616de497e3ce863093e8e089aa412c847

What should we do with those?

[2017-12-23 04:36] AlexAltea commented on #371
Although #367 does its job, it does not solve my problem. Despite setting `set dereference-limit 0`, I still get memory reads (unrelated to the code that it's being debugged) while stepping through the code. I'm not sure what is causing that nor how to debug this issue.

I can only confirm that on stock GDB on TUI mode with asm+regs layouts that issue doesn't happen.

[2017-12-23 10:27] disconnect3d commented on #371
@AlexAltea Could you prepare some minimal working example that reproduces the error so we could see that (and add a testcase for it in the future)?

[2017-12-23 12:23] disconnect3d commented on #292
Just for reference: we had a PR for that in https://github.com/pwndbg/pwndbg/pull/293 but it haven't been merged finally.

[2017-12-23 18:38] AlexAltea commented on #371
@disconnect3d I've been debugging the issue myself, since it's hard making a minimal test case, and sending you a 20 GB .ovf file of pre-configured VM would be a little too extreme. :-)

Turns out:
- `set dereference-limit 0` (from #367) does indeed fix some unwanted reads.
- `set emulate off` fixes more unwanted reads triggered by Unicorn.

But there's still few unwanted memory reads that I wasn'

[2017-12-23 18:40] AlexAltea commented on #371
Ok, I think I've found the issue. Happens always after commenting in GitHub. :-)

Notice this code in `pwndbg/chain.py`:

[code]

When `format` calls `get` you increment `limit` twice.

[2017-12-23 18:40] disconnect3d commented on #371
We can try to debug and fix the issue through a teamviewer if you want. Can
you join our IRC channel on freenode?

23.12.2017 7:38 PM "Alexandro Sanchez" <notifications@github.com>
napisał(a):

[2017-12-26 06:39] cebrusfs commented on #370
I have wrote my own version syntax highlight feature in my fork version. Since I thought it will conflict with current design and the UI changes sometimes are not welcome, so I put it at my own version's fork.

However, I wrote this code 2 years ago, it may violate some current design. Last week, I spent some time to rebase the code to current `dev` branch and have not test too much yet. (It may o

[2018-01-03 16:04] motazreda opened #387 "update in glibc 2.26 which is called tcache not handled in arena, heap, bins commands"
Related:
* https://www.phoronix.com/scan.php?page=news_item&px=glibc-malloc-thread-cache

[2018-01-03 21:47] zachriggle commented on #370
Pwntools `pwn disasm` command already provides syntax highlighting via Pygments.

https://github.com/Gallopsled/pwntools/blob/5c4def05b28fb121124acb37c2b567b313ad3bff/pwnlib/commandline/disasm.py#L72-L90

https://github.com/Gallopsled/pwntools/blob/5c4def05b28fb121124acb37c2b567b313ad3bff/pwnlib/lexer.py

We can probably just use those.  It works for pretty much all architectures, though it is des

[2018-01-04 10:40] cebrusfs commented on #370
Ok. It seems that we can pass all asm code to pwnlib lexer. For the source code part, we still use filename to detect the language.

@disconnect3d @anthraxx
It seems that you were working on this. What's your progress? If you almost finish your PR, I will not involve this.

[2018-01-06 11:38] matrix1001 opened #388 "Python version problem(fix provided), [AttributeError: 'module' object has no attribute 'quote']"
# Description
just like this
[code]
problem file
`pwndbg/commands/start.py`
problem code(at the bottom of the file)
[code]
this is due to python version problem. in py3, it could be ok. but in py2, `shlex` does not have `quote`.
# Solution
just make some changes
[code]
# Suggestion
Hope u will fix it as soon as possible, with better solution mabe.

[2018-01-06 12:03] disconnect3d commented on #388
Hey, thx for reporting this bug!

The fix is fine, we just have to put it at the top of the file (it is not really cool to have imports in between code).

[2018-01-07 02:49] disconnect3d commented on #388
Fixed in PR #389

[2018-01-07 02:49] #388 closed, assigned to disconnect3d

[2018-01-09 00:30] disconnect3d commented on #371
Guess this can be closed as #380 has been merged.

[2018-01-09 00:30] #371 closed, assigned to nobody

[2018-01-09 23:19] disconnect3d commented on #370
@cebrusfs @anthraxx had some progress on it but it was some time ago and since your PR is first... :P ;)

Thanks for contributing :heart:

[2018-01-10 08:57] disconnect3d opened #391 "Small refactoring: remove pwndbg.compat in favor of six.PY2/six.PY3"
There is no point of having `pwndbg.compat.python2`/`python3` when there is `six.PY2` and `six.PY3`.

So this task is just about refactoring, feel free to pick it if you want to contribute :).

[2018-01-10 09:45] zachriggle commented on #391
If you can also include removing pwndbg.compat.basestring in the refactor
and kill compat.py entirely, this PR would be perfect <3

*Zach Riggle*

On Wed, Jan 10, 2018 at 12:57 AM, Disconnect3d <notifications@github.com>
wrote:

[2018-01-12 12:27] cebrusfs opened #398 "Improvement of pwndbg.config.Parameter"
Since these change may need python2 and python3 tests and may break something, it is better that for some people that familiar with python2 python3 feature to fix these.

1. Support format string by implementing `__format__` to use `self.value.__format__` and remove all workaround.
   We will get error if we put `Parameter` in the format string via `%` or `str.format()`. We have to convert to `str

[2018-01-13 08:31] cebrusfs commented on #370
Hi @FFY00, my PR is merged, can you check for this? Any feedback is welcome :)

[2018-01-13 11:52] FFY00 commented on #370
Hi @cebrusfs, thanks for all the work. I'm very busy write now but as soon as I can, I will check it.

[2018-01-13 11:52] #370 closed, assigned to nobody

[2018-01-17 06:42] cebrusfs commented on #398
For 2, this should only affect gdb with python2.
I found out that the `Parameter.value` will be automatically transform back to `utf-8` with `str` type. I think it is done by gdb's python implementation. So, convert at `get_set_string` to set `self.value` will not works. Also, according to [GDB Python docs](https://sourceware.org/gdb/onlinedocs/gdb/Parameters-In-Python.html), we can not prevent gd

[2018-01-17 11:01] cebrusfs commented on #398
New workaround:
I remap the member name using `__setattr__` and `__getattribute__`. The gdb python implementation will let any value from `set` command write to `gdb.Parameter.value`. However, I remap the member name of Parameter by the following rule
* `Parameter.value` will map to `gdb.Parameter._value` (if it is string type, always keep `unicode`)
* `Parameter.raw_value` will map to `gdb.Parame

[2018-01-17 20:37] anthraxx opened #402 "python2 regression in dev"
ecbe507e00dfd96825376f6c3a98c222e3c8c6a9 introduced a regression with python2.
for python2 we need the enum package as its just a build-in in pyton3.

Plus then it fails horribly because of EnumMeta not being defined.

[2018-01-17 22:18] #402 closed, assigned to nobody

[2018-01-17 22:27] JohnPeng47 commented on #368
Hi I just recently started using pwndbg and found it a great improvement over vanilla gdb for exploit development. I would like to give back to the community and thought this seemed like a good issue to start. Could you give me some more details?

[2018-01-17 22:29] disconnect3d commented on #398
@cebrusfs Do you have it somewhere working? Would like to check it out as this seems a bit overengineered/too complicated.

I guess there is no way to have both `Parameter.value` and `gdb.Parameter.value` in one instance (without containing one in another) and gdb forces us to use inheritance here.

[2018-01-17 22:43] anthraxx commented on #398
I think some parts of this approach will not work at all. For instance, we will not get a sufficient way to pad strings via string-format like we really want it.
We also want to pad with multi-char strings to an exact length, this can't be done with python string format... example: #401 so we need to pad with our own implementation to provide a sufficient method for this.
Furthermore len() will no

[2018-01-17 22:53] disconnect3d commented on #368
@JohnPeng47 Hey, nice! :)

So... the thing here is that `telescope` shows multiple addresess and was mainly (?) used to display stack (but we also have a command `stack`, heh) - see below - telescope used no a stack address containing `argv[0]`:
[code]

So... the question is - should we change it - and if so - how?

Maybe in such case as shown above we should display it as:
[code]

@zachriggle @an

[2018-01-17 23:45] JohnPeng47 commented on #368
Ok also I havent really looked too much into the source code so would you be able to give me a brief overview of what is what?  I'm planning on dedicating a decent chunk of time on pwndbg so I am looking to get decent understanding of the source code

[2018-01-18 05:34] cebrusfs commented on #398
@anthraxx Yep. But in this issue I just want to fix the `Parameter` type. That is, let `Parameter` can be used without any casting manually. Ex. we can use `'%s' % config.bla` instead of `'%s' % str(config.bla)`

For the format string, I don't have a good idea now. If we don't consider the ANSI symbols, we can use format string to do that
[code]

For the colorized string, I may want to create a cl

[2018-01-18 07:04] cebrusfs commented on #398
@disconnect3d Ok, I created a PR #404 for that and also tested in Python 2.

[2018-01-18 07:56] disconnect3d commented on #368
@JohnPeng47 Added some developer notes in https://github.com/pwndbg/pwndbg/pull/405 - they can be found here: https://github.com/pwndbg/pwndbg/blob/dev/DEVELOPING.md

If you have some other questions, feel free to ask in an issue or on our freenode's irc channel (`#pwndbg`) - I might be a bit inaccessible today/tomorrow but there is also @anthraxx or @zachriggle ;).

[2018-01-20 15:32] bruce30262 opened #406 "Context isn't showing the X29 register ( frame pointer ) while debugging aarch64 binary"
As title, pwndbg isn't showing the x29 register while debugging the aarch64 binary:

<img width="360" alt="default" src="https://user-images.githubusercontent.com/4478350/35185097-9e96202a-fe39-11e7-8809-c54ee6ccd973.PNG">

if we use the `i r` command:
[code]

[2018-01-22 17:50] deadeert opened #407 "heap function issue"
Hello,

I use glibc 2.26.
I installed pwndbg from the Arch repository.
My system is up to date.

`pwndbg> version `
`Gdb: GNU gdb (GDB) 8.0.1`
`Python: 3.6.4 (default, Dec 23 2017, 19:07:07)  [GCC 7.2.1 20171128]`
`Pwndbg: 1.0.0`

I'm experimenting the following issue when invoking the heap functionnality

Have you any idea of what could be the problem ?

Thanks.

[2018-01-22 18:07] disconnect3d commented on #407
The heap functionality requires some headers to be present and they are not
there by default on arch. I will probably work on that soon.
It should work on Ubuntu.

23.01.2018 12:50 AM "deadeert" <notifications@github.com> napisał(a):

[2018-01-23 15:55] JohnPeng47 commented on #368
Working on a small fix now

[2018-01-23 19:54] deadeert commented on #407
I clearly understand that point, but is there a workaround, such installing the right headers files and give the right pass to pwndbg ?
Do you have any idea about the missing headers (glibc ?).

Thanks for the support.

[2018-01-23 21:02] disconnect3d commented on #407
@deadeert try this https://github.com/pwndbg/pwndbg/issues/340#issuecomment-328915318

[2018-01-24 01:14] zachriggle opened #408 "Pwndbg crashes when opening corefiles"
Just rename the attachment to get the files.

[code]

![attachment tar gz](https://user-images.githubusercontent.com/111640/35309315-aeeb80ae-0060-11e8-8e36-0ce877acc2eb.jpg)

[2018-01-24 19:26] zachriggle commented on #408
It looks like this is because the architecture was incorrect, and register information is actually missing.  Using the `i r` command there are no registers.

Not sure how we want to handle this -- having an error message is better than nothing.