[2022-07-15 05:27] another1024 commented on #1031
i fix it , replace += to =

[2022-07-15 05:36] #1031 closed, assigned to nobody

[2022-07-16 15:36] viciu opened #1035 "Use virtualenv if available"
In order to isolate pwndbg usage I'd like to use virtualenv and install there dependencies.

Solution to that could be to modify `gdbinit.py` and detect if user has  VIRTUAL_ENV envvar set.

[2022-07-16 15:55] disconnect3d commented on #1020
Hey,

Thanks for reporting this. This is the code that is related to this issue:
https://github.com/pwndbg/pwndbg/blob/ee1f0e493c19d87d223b0970f9edfa88e880053a/pwndbg/arguments.py#L53-L64

We determine the instruction types by disassembling them with the [capstone engine](https://www.capstone-engine.org/) (4.x currently) and for `int3` and `int 0x80` and `syscall` instructions it always return jus

[2022-07-16 15:57] viciu commented on #1035
https://github.com/pwndbg/pwndbg/pull/1037

[2022-07-16 16:09] viciu commented on #940
@gogo2464 pls check https://github.com/pwndbg/pwndbg/issues/1035

[2022-07-16 16:44] #1035 closed, assigned to nobody

[2022-07-18 06:18] martinclauss commented on #1020
Awesome, thanks a lot for looking into it :) I think this is a good workaround for now (in the end it's a minor thing but you know... ^^). And let's see if the capstone people are interested ;) Thanks again for your time and effort!

[2022-07-19 04:30] junknet opened #1039 "aarch64 miss x30 register"
pwndbg version 2022.01.05-1
OS: Linux junknet-manjaro 5.15.53-1-MANJARO #1 SMP PREEMPT Thu Jul 7 16:56:55 UTC 2022 x86_64 GNU/Linux
![2022-07-19_12-26](https://user-images.githubusercontent.com/55597646/179664887-d42b3d08-3462-42d7-a503-8d3df7fef612.png)
![2022-07-19_12-27](https://user-images.githubusercontent.com/55597646/179664912-96b87500-d254-4b46-896f-f9c1df44d28b.png)

[2022-07-19 08:59] disconnect3d commented on #1039
Btw what's the exact CPU? Is that X30 some kind of special register?

This can be fixed easily by adding 'x30' here: https://github.com/pwndbg/pwndbg/blob/8cc0ab8b48c8a4d020c4b9215355cdc6f30eb0f3/pwndbg/regs.py#L106-L118

[2022-07-19 10:52] junknet commented on #1039
CPU: Snapdragon 855
X29 == fp
X30 == lr
X31 == sp

[2022-07-19 10:52] junknet commented on #1039
CPU: Snapdragon 855
X29 == fp
X30 == lr
X31 == sp

[2022-07-19 21:08] #1020 closed, assigned to nobody

[2022-07-19 21:08] disconnect3d commented on #1020
Added

[2022-07-24 07:35] azraelxuemo opened #1040 "close"
sorry submit wrong

[2022-07-25 13:03] disconnect3d commented on #1040
I'll assume this submission is invalid, let me know if it is not.

[2022-07-25 13:03] #1040 closed, assigned to nobody

[2022-07-25 13:04] disconnect3d commented on #1039
@junknet can you just add it to the regs spec? Also are all other ARM64 having this reg?

[2022-07-26 01:05] azraelxuemo commented on #1040
sorry,i submit issuse wrong.LOL
This is a bug in pwntools,LOL
Sorry for that

[2022-07-30 08:27] junknet commented on #1039
Yes, this is the register used by the AARCH64 instruction set (RET).
This is my modification and effect drawing.
![2022-07-30_16-28](https://user-images.githubusercontent.com/55597646/181898649-151a440d-2dad-4143-93b2-4d68cf47c411.png)
![2022-07-30_16-28_1](https://user-images.githubusercontent.com/55597646/181898753-67748012-f5bf-4b33-a0f4-5710d220927d.png)

[2022-07-31 20:26] gsingh93 opened #1041 "Option for `find_fast_chunk` to find aligned chunks"
When I'm looking for a fastbin chunk to free, I need to make sure it's aligned. More generally, I want the chunk returned by `find_fast_chunk` to satisfy all the constraints checked by `try_free`. It'd be useful if there was an option that only returned fastbin chunks that could be freed without failing any glibc checks.

[2022-07-31 21:26] disconnect3d commented on #1041
@gsingh93 can you add the code related to it to our heap code? also, u should probably rely on the latest heap PR (we will merge it soon)

[2022-08-05 07:44] gsingh93 opened #1043 "[Feature Request] Built-in memory hex editor"
I was thinking it would be nice to be able to more easily edit memory while in GDB. I hacked up a quick proof of concept for how this might work with a `curses`-based UI: https://github.com/gsingh93/gdb-memory-editor

![Demo](https://raw.githubusercontent.com/gsingh93/gdb-memory-editor/4f6fb3d18dc3ca9ae9275095e4231173bb8569d9/demo.svg)

What do you think about including something like this as a fe

[2022-08-05 19:28] lebr0nli opened #1044 "Problem about `MALLOC_ALIGNMENT` for i386 GLIBC >= 2.26"
### Description
Property: `malloc_alignment` of `Heap` class seems wrong for i386. `Heap` is always using `pwndbg.arch.ptrsize * 2` for `malloc_alignment`, but i386 will override it to a constant 16 when GLIBC version >= 2.26. See https://elixir.bootlin.com/glibc/glibc-2.26/source/sysdeps/i386/malloc-alignment.h#L22

### Steps to reproduce

Doing something like `free(malloc(0x10))` with a i386 GLI

[2022-08-06 18:29] thetacom opened #1045 "Context throws ValueError when connecting to remote target"
### Description
[code]
### Steps to reproduce

Remote target is a simple c program running under qemu-i386. Host environment is an aarch64 debian linux container with all pwndbg dependencies installed.

Gdb session history:
[code]
### My setup
[code]

[2022-08-06 18:39] disconnect3d commented on #1045
Hey, this is... qemu user emulation, right?

[2022-08-06 18:42] disconnect3d commented on #1045
Hey,

This is a true positive bug.

I've recently merged the PR that allows us to grab memory map info for QEMU kernel targets, which added this piece of code:
https://github.com/pwndbg/pwndbg/blob/52d30e2a722454409cf91867995b2f76e874c6c3/pwndbg/vmmap.py#L234-L249

(Fwiw I should've cleared that part a bit)

But if I understand correctly, it does not handle properly the case where the target is a

[2022-08-06 19:36] #1045 closed, assigned to nobody

[2022-08-06 19:36] disconnect3d commented on #1045
Should be fixed now. @thetacom

[2022-08-06 20:08] disconnect3d commented on #1039
@junknet Sure, let's add X30 to the list.

But, does it make sense to display X29 separately if it is the same register as SP?

[2022-08-06 20:10] disconnect3d commented on #1039
Added in https://github.com/pwndbg/pwndbg/commit/d2b2523695a19b85487b91659668b7a94e84dc6c

Shall we close this issue? WDYT about X29?

[2022-08-06 20:11] disconnect3d commented on #1039
We could maybe add a TIP informing about it here: https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/tips.py#L3-L9 :D

[2022-08-07 01:45] junknet commented on #1039
This is the effect of not modifying X29.
![2022-08-07_09-41](https://user-images.githubusercontent.com/55597646/183271459-2a6cf843-6af2-4586-8e8e-e672784a56eb.png)
![2022-08-07_09-40](https://user-images.githubusercontent.com/55597646/183271462-8d5cb305-9a07-48d7-9977-fb35b7213c34.png)

X28 x29 x30 display order error.
So I just annotated "frame   = 'x29',"

[2022-08-08 04:00] gsingh93 opened #1047 "Add support for telescope to show lower addresses instead of higher addresses"
I often need to see a few 8 byte values above (and including) a particular address. For example, if I have a heap chunk at `0x557bb502e2e0`, this is how telescope currently works:
[code]
Now I may have expected that an overflow should have overwritten the first few pointers of this heap chunk, but for some reason it didn't, and I suspect I'm a few bytes off, maybe some small multiple of 8. I'd lik

[2022-08-08 13:59] #120 closed

[2022-08-08 13:59] disconnect3d commented on #120
Finally fixed in #1048 thx to @l4rzy ! :D

[2022-08-08 14:09] disconnect3d commented on #1047
Woah, that's pretty neat :D

[code]

[2022-08-08 14:10] disconnect3d commented on #1047
Here's a patch that adds above result.

[code]

The only question left is: what would be the best name for this flag? "Reverse"? "FromBack"? Uh...

[2022-08-08 14:53] gsingh93 commented on #1047
Thanks for the quick implementation! Reverse was the first thought I had, as it's telescope but going in the reverse direction.

[2022-08-08 16:32] gsingh93 commented on #1043
@disconnect3d any thoughts on this? I've made a couple of improvements which allow you to run GDB commands directly from program by using '!' to bring up a console at the bottom. I also display any output from GDB, so I think this example makes the utility of this feature more clear:
![demo](https://user-images.githubusercontent.com/1012677/183483714-37e5cd9a-55fe-4359-bc16-1a3c2e8eb178.gif)

[2022-08-09 11:59] disconnect3d commented on #1043
Hey,

I think that would be awesome, we should work on that :)

[2022-08-09 18:24] gsingh93 commented on #1043
Great! The major open question is this type of UI only really works with curses, and while this is my first time using curses, it seems like we can't have a normal non-curses display next to the curses display without a significant amount of work (i.e. reimplementing a bunch of terminal functionality).

While I still need to confirm whether that's actually the case, assuming it's true, what do you

[2022-08-10 05:48] gsingh93 opened #1049 "Define $heap_base variable once the heap has been initialized"
While commands like `vis_heap_chunks` are great, they often aren't very usable once the heap becomes corrupted. At this point I often have to do something like `x/100xg 0x55555679a000` where 0x55555679a000 is the heap base address I got from running the `heap` or `vmmap` commands.

While this works, it would be much more convenient if a `$heap_base` variable was automatically defined as soon as th

[2022-08-10 15:08] disconnect3d opened #1050 "Commands that take address can't parse complex symbols"
For complex symbols, e.g. comming from C++, GDB can parse them when we provide them in quotes. E.g. `x/10i &'A::foo()'`.

Sadly, the same does not work with Pwndbg commands - e.g. `vmmap` or `nearpc` just can't parse those.

We need to find a way to **properly** parse addresses/symbols once and for all.

This bug can be reproduced with the following C++ program:
[code]

Compiled as `g++ -ggdb -O0

[2022-08-10 19:08] gsingh93 commented on #1049
This was easy enough to add that I just went ahead and made a PR for it: https://github.com/pwndbg/pwndbg/pull/1051

[2022-08-10 20:47] #1049 closed, assigned to nobody

[2022-08-10 21:11] disconnect3d commented on #1039
@junknet Fixed in #1054. Thanks for reporting this and looking into it!

[2022-08-10 21:11] #1039 closed, assigned to nobody

[2022-08-10 22:00] #1008 closed, assigned to nobody

[2022-08-11 06:10] gsingh93 opened #1060 "Cleanup the $heap_base feature"
Adding some cleanup suggestions for the $heap_base feature from #1051:
[code]

Also would be good to add some docs about this feature.

[2022-08-11 17:01] gsingh93 commented on #990
It would definitely be helpful to have some autoformatting configuration. While I'm trying to add features to the code, my editor keeps autoformatting everything (which is a good thing), but then I end up with a bunch of changes unrelated to the feature I'm adding, which makes for a messy PR.

I really don't care which tool or configuration we use, as long as there's something that always gives us

[2022-08-11 17:03] gsingh93 commented on #990
Ah, it looks like there's already a `setup.cfg` that provides `pep8` formatting. So I can skip adding the `yapf` config, and maybe the only action left for this issue is to get a Github Action for it working.

[2022-08-14 20:33] #1044 closed, assigned to nobody

[2022-08-14 21:37] disconnect3d opened #1065 "Heap heuristics: cant detect libc version"
This can be reproduced with the challenge from: https://github.com/perfectblue/ctf-writeups/tree/master/2019/insomnihack-teaser-2019/nyanc/challenge

To run this binary one has to do:
[code]
And then do `qemu-aarch64 -g 1234 ./nyanc` in one console and `gdb-multiarch` and `target remote :1234` in another one.

The error occurring is:
[code]

How can we deal with it? 🤐  There are **no** symbols her

[2022-08-15 22:52] gsingh93 opened #1067 "Add support in `malloc_chunk` for dumping a specified number of chunks after the given chunk"
Originally I tried to add this in https://github.com/pwndbg/pwndbg/pull/1059, but it will be much easier to implement when https://github.com/pwndbg/pwndbg/pull/1063 lands, so I'll implement it after that.

[2022-08-16 06:25] Peng-Hu commented on #545
I also have this problem, how to solve it.
“ it should hit repo soon” means what?

[2022-08-16 15:08] neverm0r opened #1068 "Adding pwntools cyclic or some kind of pattern create for pwndbg"
I have been using pwndbg for a while and kind of enjoyed some shell command that is invoked into pwndbg shell. So I want to readd some  shell commands that I feel really useful like pwntools command line :)

[2022-08-16 18:37] lebr0nli commented on #1065
If there are no symbols, is it possible to recover them without ida or ghidra?
If that is possible, I think we could use more heuristics to find some normal symbols we needed then we can still use the original heuristic to resolve the heap?

Hmm, I think it should work if they were there?
By the way, is this libc really have **no** symbols? Because I can see symbols(not debug symbol) in ida and GD

[2022-08-16 19:49] CptGibbon commented on #1065
Thank you for your continued work on this ❤️

[2022-08-17 22:10] disconnect3d opened #1069 "disasm context banner should inform whether we emulate or not"
Pwndbg has this cool feature of emulating the disassembly in order to find where the next jump is going to jump to and to display disasm from there (well, as long as before the jump there are no instructions that we cannot emulate :P).

However, many people do not know about this. We should show it to them with a cool UX.

So, we should modify the displayed banner in `ctx disasm` so that it will i

[2022-08-17 22:12] disconnect3d opened #1070 "Improve nearpc command interface"
The `nearpc` command has an awful interface. The `emulate` flag should either be removed from it, or, left as an optional flag like `nearpc --emulate=on|off` or something like this.

[code]

[2022-08-17 22:18] disconnect3d commented on #1068
Sorry for the troubles. This has been removed in https://github.com/pwndbg/pwndbg/pull/1064 and while indeed one can use those shell commands with just `!<command>` I think we shouldn't make this such drastically.

Here are some options we can do:
1. Revert that PR
2. Revert the PR and deprecate those commands - inform the users that they can just do `!<command>` instead of executing them directly

[2022-08-17 22:25] disconnect3d opened #1071 "telescope: display ret address"
It would be great to display return addresses in the `telescope`, `stack` etc outputs.

I initially worked on it in https://github.com/pwndbg/pwndbg/pull/794 but the patch had some issues.

We should proceed with:
1. Move the logic of finding return addresses to `pwndbg.stack.yield_return_addresses`, e.g.:
[code]
* Question: shouldn't the first operator (between `start` and `sp`) here: `start < sp

[2022-08-17 22:26] arcz opened #1072 "vis_heap_chunks: paginate results"
### Description
After heap chunk size if corrupted to a large size `vis_heap_chunks` will print a ton of output. Paginating the results will help to bring back usefulness of the command in such situation.

### Steps to reproduce
1. Corrupt heap chunk with big chunk size
2. Run `vis_heap_chunks`

[2022-08-17 22:46] #1068 closed, assigned to nobody

[2022-08-17 22:47] disconnect3d commented on #1068
@Galahan-1 I reverted the commit for now and applied the https://github.com/pwndbg/pwndbg/commit/51bc5e22453ed5466c9b5bbd492c01f63e4937ce changes.

I think we will proceed with more or less 3rd solution of moving pwntools commands directly into pwndbg code in the soonish future instead of calling them from shell. I will add a separate issue for that matter.

[2022-08-17 22:53] disconnect3d opened #1074 "Move pwntools' shell commands into real pwndbg commands"
As described in https://github.com/pwndbg/pwndbg/issues/1068#issuecomment-1218566488, instead of registering Pwntools' shell commands directly, we should:

1. Pull/install the pwntools package as a dependency
2. Create Pwndbg commands for the Pwntools' shell commands - with just better interface/defaults! For example:
* all commands that care about architecture, like `asm` or `disasm`, should have

[2022-08-17 22:54] disconnect3d commented on #1072
@arcz any chance you can provide a minimal PoC, e.g. one written in C so we can make this A) easier to develop, B) actually a test case in our test suite? :D

[2022-08-18 21:21] disconnect3d opened #1077 "Split production and dev dependencies"
Our installer currently installs whatever packages are listed in requirements.txt. However, at some point we put `pytest` there and we then updated and freezed all dependencies.

There are two issues here:
1 Obviously, installing test dependencies for user installation is bad.
2. Some of those packages may not be installable on Ubuntu 18.04 that still gets security updates. We want to support it a

[2022-08-18 21:56] disconnect3d commented on #1077
Just to be sure: all tests deps should be installed by the `./setup-test-tools.sh` script.

[2022-08-19 23:20] disconnect3d commented on #985
Related: https://sourceware.org/bugzilla/show_bug.cgi?id=29508

[2022-08-20 21:30] disconnect3d commented on #1001
This should be fixed in the latest dev branch version. Please reopen or start another issue if it is not.

[2022-08-20 21:30] #1001 closed, assigned to nobody

[2022-08-20 21:32] disconnect3d commented on #985
This has been fixed in #1079

The returned vmmap information is not ideal, but that's more or less what we get right away from GDB.

(We may be able to improve this by using readelf on the core file, but it would not be so generic solution/may not work in all cases etc. so I am still not sure about using it)

<img width="858" alt="image" src="https://user-images.githubusercontent.com/10009354/1857

[2022-08-20 21:32] #985 closed, assigned to nobody

[2022-08-20 21:46] disconnect3d commented on #954
Hey,

There are three separate issues here:

1. Us not handling some cases gracefully, and so crashing on them
2. Getting memory maps info when debugging core dumps
3. Getting memory maps info when debugging a QEMU user emulated process

The first case has hopefully been resolved with #1079 and a recent commit.

The 2nd case has been mainly resolved in #1079. However, this is not perfect: it does

[2022-08-20 21:47] disconnect3d commented on #1009
@Xyhlon Hey, any chance you can see if this still reproduces with the latest pwndbg version? We are now using gdb-pt-dump in order to get QEMU kernel memory map information.

[2022-08-20 21:49] disconnect3d commented on #805
Ugh, I should have closed that long time ago. The CI is already fixed and is now working on GH actions.

What I want to do further is to run CI on three different Ubuntu versions: 22.04, 20.04 and 18.04 which I started working on in here: https://github.com/pwndbg/pwndbg/pull/1076 but it turns out that it triggers some weird bugs that we have to look into.

Anyway, closing this one finally :-)

[2022-08-20 21:49] #805 closed, assigned to nobody

[2022-08-20 21:50] disconnect3d commented on #997
This works for me on the latest dev version:
[code]

Closing for now. Please open another issue if u get other error.

[2022-08-20 21:50] #997 closed, assigned to nobody

[2022-08-20 21:53] disconnect3d commented on #822
Hey,

qemu-user is under-developed due to the lack of us getting vmmap information.

However... I think the heap integration should maybe work now? @lebr0nli WDYT?

[2022-08-20 21:55] disconnect3d commented on #992
Hmm.. any chance you can try it again and tell us how u installed qemu and gdb on M1 @DanielHeEGG ?

I recall @arcz using Apple M1 with GDB + Pwndbg and I think also with qemu and it maybe all worked? I am not sure.

[2022-08-20 21:58] disconnect3d opened #1081 "Catch more specific exceptions in except clauses"
We use a lot of `except Exception:` which is not great. We should try to use as specific except clauses as possible.

Fwiw previously we even had `except:` blocks which was even worse because it could catch and silence e.g. keyboard interrupts. This was fixed in https://github.com/pwndbg/pwndbg/pull/1080.

[2022-08-20 22:03] disconnect3d commented on #255
One can use GDB's native command: `ptype /o <cmd>` now. Shall we make `dt` an alias to it?

Also, `dt` works now but it will crash not-nicely when one provides an argument to it which is not a type that exists in any header. Perhaps we could improve that particular flow?

[2022-08-20 22:16] disconnect3d opened #1082 "Better marking of modified registers"
Currently, if a register was modified between two stops, we show it `context regs` by prefixing it with an asterisks.

I have seen that gef does this by marking the register as red, and showing this in its legend:
<img width="1233" alt="image" src="https://user-images.githubusercontent.com/10009354/185767836-198276f8-2592-446f-8d1b-b148acb49b2f.png">

Perhaps we should also mark the register with

[2022-08-20 22:48] disconnect3d commented on #1050
Omg, I feel so stupid. This is not really an issue - I provided the symbol wrong by **explicitly calling them**. I mean sure, GDB commands work with this, but we do not really need to make the calls and our commands work without calls, so I think we are good to skip this for now.

So TL;DR is - just don't use call operator..:

[code]

The `A::foo()` was probably literally doing a call?

Closing th

[2022-08-20 22:48] #1050 closed, assigned to nobody

[2022-08-20 22:55] disconnect3d commented on #1021
Our of curiosity: would u also want the Pwndbg's execution of GDB commands be saved to user file? I believe not really and u only care about explicit user's input, @claflinnate?

[2022-08-20 23:00] disconnect3d commented on #1060
FWIW the `gdb.set_convenience_variable` API function was added in GDB 8.2.

This can be seen in 8.2 release notes:
* https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blob_plain;f=gdb/NEWS;hb=gdb-8.2-release
* or by checking up the versions the exact commit that added convenience variable API landed: https://github.com/bminor/binutils-gdb/commit/7729052b5377bfbf1c5ec5eaab59dd5071d4c5b1

[2022-08-20 23:16] claflinnate commented on #1021
I think default gdb logging can do that, just not the commands that were input which was all I really needed

[2022-08-21 15:47] lebr0nli commented on #822
Ahh, unfortunately, for this binary, not yet 😢
Here are some things we should enhance in the future (if possible haha):

1. For the main cause of the issue above, it's that although we can find `main_arena` symbols, we cannot find `struct malloc_state`. So maybe we should try to access some symbols directly first even under heap heuristic or use some heuristics on type loading even under debug sym

[2022-08-21 16:55] gsingh93 commented on #1077
FYI, seems like we also need to `pip install coverage` as a test dependency.

[2022-08-22 21:31] disconnect3d opened #1085 "It should be possible to filter tests run in ./tests.sh and run them with pdb"
The `./tests.sh` should allow for two additional arguments:
* `<test-name-regex>` to filter the tests that will be run by part of their name
* `--pdb` to enable the `--pdb` flag in `pytests_launcher.py` here:
https://github.com/pwndbg/pwndbg/blob/b51b07de77c687bc513f1f30e7134c40f01afb2b/pytests_launcher.py#L15-L16

Both of those flags should be optional. They will allow for faster testing of thing

[2022-08-23 15:32] disconnect3d opened #1088 "Install Zig from tarball not from snap for CI tests"
We install Zig compiler in order to compile test binaries properly. For that, I added installation of Zig through snap packages to our test setup script:
https://github.com/pwndbg/pwndbg/blob/d111c8ddcf4f1fd52b11577e4c01ede6dc15d8b1/setup-test-tools.sh#L28-L29

However, this is not ideal - we use an edge version here which may change anytime.

We should pin a tarball version instead (download it,

[2022-08-23 19:20] artcz commented on #1085
o/

[2022-08-23 22:06] disconnect3d commented on #1085
Added in https://github.com/pwndbg/pwndbg/pull/1092

[2022-08-23 22:06] #1085 closed, assigned to disconnect3d

[2022-08-23 22:07] disconnect3d commented on #1088
Done in
* https://github.com/pwndbg/pwndbg/pull/1089
* https://github.com/pwndbg/pwndbg/pull/1093

[2022-08-23 22:07] #1088 closed, assigned to nobody

[2022-08-23 22:31] #1047 closed, assigned to nobody

[2022-08-24 08:51] Jackyxty opened #1097 "Failed to print 'context' when debugging MIPS64 target"
### Description

When debugging qemu-user mips64 target, pwndbg fails to print the 'context' and the exception backtrace is:

[code]

After a few simple debugging, it looks like the value of register 't4' is 'None', which is **due to the lack of support for MIPS64 (n64&n32 ABI) RegisterSet**.
The register names are different in n64 and o32 ABI. The only support RegisterSet in `regs.py` for MIPS is

[2022-08-24 10:55] disconnect3d commented on #1097
Hi, mind sharing an example binary for this?

[2022-08-24 18:35] CptGibbon opened #1098 "`dX` commands truncate output longer than native word size"
### Example
The screenshot below shows pwndbg commands issued when debugging an x86 program.
Note that some of the data printed by the `dd` command is omitted by the `dq` command:
![dX issue](https://user-images.githubusercontent.com/16000770/186494094-3c455a3d-7945-4aea-a919-b0a15105588e.png)

### Cause
This happens in the first line of `enhex()`, which is called by `dX()`:
https://github.com/pwn

[2022-08-25 07:41] Jackyxty commented on #1097
Sure no problem. It's just a simple `HelloWorld` compiled to MIPS64 and run by `qemu-mips64`.
[helloworld.zip](https://github.com/pwndbg/pwndbg/files/9422508/helloworld.zip)

As mentioned, this problem is caused by the different register names between MIPS o32 and n64 ABI. The defined RegisterSet in `regs.py` works for o32 but not n64 & n32.

[2022-08-30 01:24] disconnect3d commented on #1077
This has been done in https://github.com/pwndbg/pwndbg/commit/2bde0cc1d80860a4f4662baad9b256d9885a1bf9 and a future commit

[2022-08-30 01:24] #1077 closed, assigned to nobody

[2022-08-30 02:06] #1098 closed, assigned to nobody

[2022-08-30 02:22] disconnect3d commented on #1097
Btw what does `show arch` in GDB show for u?

Is `mips:isa64` it? Or is it different one?
[code]

[2022-08-30 02:31] disconnect3d commented on #1097
Fwiw i had to compile my own binary, via `mips64-linux-gnuabi64-gcc a.c` and ran it via `qemu-mips64 -L /usr/mips64-linux-gnuabi64/ -g 1234 ./a.out` but I am getting a totally different error (which should be improved as well).

[2022-08-30 02:33] disconnect3d commented on #990
We are currently running `isort`, `black` and `pyflake8`. I think we can close this for now.

https://github.com/pwndbg/pwndbg/blob/d4850beecc8825308d24a5c371e9fa7147898c3b/.github/workflows/lint.yml#L27-L33

[2022-08-30 02:33] #990 closed, assigned to nobody

[2022-08-30 10:14] Erebua commented on #954
have the same issue,but I use qemu-system
[code]
bin:  https://github.com/praetorian-inc/DVRF/blob/master/Pwnable%20Source/Intro/stack_bof_01.c

ubuntu 18.04
[code]

[2022-08-30 10:18] disconnect3d commented on #954
@kevinpark1217 hey, can you try updating ur pwndbg version? The f2fcc95 version is from may and we have had some fixes to this problem recently. Please, let me know if the latest dev branch or current release (those are the same version fwiw) work for you.

[2022-08-30 10:40] Erebua commented on #954
[code]
still have this issue

[code]

[2022-08-30 11:09] disconnect3d commented on #954
That's interesting, thanks, we will have to fix this:
[code]

[2022-08-30 18:47] disconnect3d commented on #735
I believe this was added in https://github.com/pwndbg/pwndbg/commit/e92a45ca263178efe775d17d8ed3cff7ba5fe1e2 and will be further enhanced with capstone in #829.

Since it _should work now_ I am closing this issue for now.

[2022-08-30 18:47] #735 closed, assigned to nobody

[2022-08-30 18:49] disconnect3d commented on #954
@Erebua just to be sure, you installed pwndbg inside the qemu system image, right?

If you have direct steps how to reproduce ur case I'd appreciate that

[2022-08-30 19:47] disconnect3d commented on #954
@Erebua https://github.com/pwndbg/pwndbg/pull/1107 may have fixed your cause, but I still haven't been able to reproduce it so I can't really check

[2022-08-30 20:17] disconnect3d commented on #411
Given that our `start` and `entry` does sth else than `starti` I am leaving `start` and `entry` as they are and will just improve their description to match certain standards :P.

Regarding `dt`, I think we should just alias it to `ptype`.

[2022-08-31 01:42] Erebua commented on #954
I installed pwndbg in [attifyos](https://github.com/adi0x90/attifyos)
I also installed qemu-system in this system.

qemu-system
[code]

attifyos
[code]

[2022-08-31 02:32] Erebua commented on #954
It wokred! thanks u!
[code]
but what is the 'explored' mean?
Is there some way to get the libc path?

[2022-08-31 02:40] disconnect3d commented on #954
Wait, how exactly are u running all this? How do u run the qemu-system? Can u give commands for that?

The `vmmap` u showed is a bit weird: that's what you usually may get if we can't get memory maps information, e.g. when debugging a core dump.

The `<explored>` part is memory map created by exploring the addresses your registers were pointing at and which were not mapped in any other existing me

[2022-08-31 02:43] disconnect3d commented on #954
@Erebua since this is not anymore about a recursion error, can you provide all necessary information to reproduce your issue in a new one and I will close this one?

[2022-08-31 02:46] Erebua commented on #954
sure,just wait a minute

[2022-08-31 03:16] Erebua opened #1110 "Error: No auxiliary vector found, or failed reading it. (<class 'gdb.error'>) and the weird vmmap question"
### Description
Error: No auxiliary vector found, or failed reading it. (<class 'gdb.error'>) in https://github.com/pwndbg/pwndbg/issues/954

I have met a weird vmmap after [#1107](https://github.com/pwndbg/pwndbg/pull/1107)
output like this
[code]

### Steps to reproduce
This is my [vmware_file](https://drive.google.com/file/d/1MSm-rjIS0bxGVta5bGpp2k2iTUVgCO6d/view) which has this issue.(snapshot

[2022-08-31 09:43] #954 closed, assigned to nobody

[2022-09-01 11:59] syheliel commented on #1110
Can you run `info auxv` in gdb and list the output? #1107 doesn't bring some changes to the execution.

[2022-09-01 19:21] gsingh93 opened #1111 "errno command is throwing errors"
[code]

I don't know why the issue is occurring, but it can be fixed with this:
[code]

But even after fixing that, there's an issue with the following lines:
[code]

The commented out line is what actually works for me, while the existing code doesn't. I wonder if this was originally due to a change in glibc? If so, we should figure out what version and make this work on both versions.

[2022-09-01 21:07] disconnect3d commented on #1110
@Erebua

This command does produce only an empty squashfs-root directory, so I can't get the gdbserver from it, can you upload the squashfs-root somewhere?

[2022-09-01 22:20] disconnect3d commented on #1111
Fwiw `__errno_location` is a function that will return the `errno` address, so we can't just take its address, we probably want to execute it(?)

<img width="723" alt="image" src="https://user-images.githubusercontent.com/10009354/188022642-e7cc4acc-bced-4f12-a1f8-b05088de4a42.png">

Fwiw, we can just do `gdb.parse_and_eval('errno')` and that will give us the `errno` value lol

[2022-09-01 22:21] gsingh93 commented on #1111
Yea, that's what the commented line I mentioned does:
[code]

[2022-09-01 22:22] disconnect3d commented on #1111
Yup, but we can also just print `errno` instead of executing the `__erno_location` I guess?

OTOH, it could be that `errno` would be a local variable in current function etc.

[2022-09-01 22:44] gsingh93 commented on #1111
Hmm, I can't replicate that.

[code]

[2022-09-01 23:01] disconnect3d commented on #1111
Haha, I got into a similar situation with my testing, see https://asciinema.org/a/foERhNehJK7KQfpvAezCFiyyn :)

TL;DR:
- you compiled a binary that uses `__errno_location` so it got a `__erno_location@plt` plt stub - so you can print that plt function address
- the `errno` variable is not defined yet, because you stopped the binary in a place where libc.so is still not loaded; I bet you used `star

[2022-09-02 01:48] Erebua commented on #1110
https://drive.google.com/file/d/14teHPw0L8JM51d0cNCI7acu7I8YEA36r/view?usp=sharing

[2022-09-02 02:03] Erebua commented on #1110
:(
[code]

[2022-09-02 07:08] syheliel commented on #1110
It seems like a bug of gdb. I'm not sure if it is a desired behavior. You can report the bug in https://sourceware.org/bugzilla/

[2022-09-02 07:10] syheliel commented on #1110
Also, try to upgrade your gdb. The lastest gdb is 12.x now

[2022-09-03 06:55] Erebua commented on #1110
I updated my gdb version to 12.09 and I tried `echo 0 > /proc/sys/kernel/randomize_va_space`.But it didn't work.
Anyway, thank you for your help

[code]

[2022-09-03 09:03] disconnect3d commented on #1111
Fwiw https://github.com/pwndbg/pwndbg/pull/1112 will fix this issue but I have to fix the issue with Ubuntu 20.04 telling us it cannot find TLS...

[2022-09-03 09:05] disconnect3d commented on #1110
@syheliel I think it is not a GDB bug. There are some valid reasons like "no stack available" and there may be others for GDB to not be able to return the AUXV information to you. See https://github.com/bminor/binutils-gdb/blob/d17823bfd35adb4caf3724512c3cd40a5a66402e/gdb/auxv.c#L576-L590

@Erebua One last thing related to the qemu-system environment: any help how to setup the network properly so

[2022-09-03 09:46] Erebua commented on #1110
@disconnect3d Here it's my network [configuration](https://64.112.41.197/qemu-system_network.html).

[2022-09-05 01:01] gsingh93 commented on #1111
Seems to work with the PR, but we should make sure that if those symbols aren't resolved the binary doesn't segfault:
[code]

[2022-09-05 12:56] #1111 closed, assigned to nobody

[2022-09-06 09:21] Jackyxty commented on #1097
I got this one `mips:isa64r2`
[code]

I used this same compiler and qemu-user as yours, and debugging with `gdb-multiarch` as well.

[2022-09-08 01:47] Erebua commented on #1110
@disconnect3d I found a new version of [dvrf ](https://github.com/b1ack0wl/DVRF)yesterday, then I tried to debug it with qemu-system.But the vmmap is still not work at all.Anyway I can get libc_base now.(I don't know why the libc_base_address shown below is wrong).
[code]

[2022-09-09 00:15] CptGibbon opened #1136 "`heap` & `malloc_chunk` commands are tightly coupled"
## Description
pwndbg's `heap` command is a wrapper around its `malloc_chunk` command, in contrast to `vis_heap_chunks` which uses its own logic to read & print heap data.

`heap`'s reliance on `malloc_chunk` can lead to some unexpected behavior:

### `heap` prints zero-size chunks
![heap prints zero size chunks](https://user-images.githubusercontent.com/16000770/189243135-1e9b222a-451f-4c0a-8b76-

[2022-09-09 00:25] gsingh93 commented on #1136
This doesn't address all of your points, but I'd suggest we move logic regarding iteration over the heap into the heap class itself, like this: https://github.com/gsingh93/pwndbg/blob/0268e3196468c0e6d72452a527ab3bf5e6fd1293/pwndbg/commands/heap.py#L125-L126

Any bounds checking in `vis_heap_chunks` will then be reused in the `heap` command.

I'm not an expert on this area, so I don't quite follow

[2022-09-09 06:01] Megachar0x01 opened #1142 "Find_Fake_fast (malloc_chunk: Cannot access memory at address)"
I am using Ubuntu 22.04, pwndbg latest build. The problem I am facing right now is whenever I try to use "find_fake_fast" it prompts an error.

<img src="https://i.imgur.com/RzYCRAP.png" alt="img_1">

Release 2022.01.05 and 2022.08.30 (https://github.com/pwndbg/pwndbg/releases/tag/2022.01.05) working fine

<img src="https://i.imgur.com/oKwFVda.png" alt="img_2">

[2022-09-09 06:23] gsingh93 commented on #1142
Hi, I can't reproduce this. Do you have a link to the binary you're testing somewhere?

Also, it would help if you could run `set exception-verbose on` and then trigger that error, so we can see the full stack trace.

[2022-09-09 06:43] Megachar0x01 commented on #1142
Verbose :
<img src="https://i.imgur.com/kR2bFE9.png" alt="img_2">

[2022-09-09 06:58] Megachar0x01 commented on #1142
[bin.zip](https://github.com/pwndbg/pwndbg/files/9533024/bin.zip)

exploit script to recreate above error

[code]

[2022-09-09 16:49] CptGibbon commented on #1142
This was introduced in 69d3576 @lebr0nli
Your 2nd invocation in the first screenshot needs a `0x` prefix though, that's not a bug.
Always nice to see HeapLAB doing the rounds 🤘

It looks like the issue arises from these lines:
https://github.com/pwndbg/pwndbg/blob/ccc56b9a5856bb761c082bc9d8aadc8e2f03ee0b/pwndbg/heap/ptmalloc.py#L652-L656

Which were originally:

[code]

The `try`/`except` block al

[2022-09-09 17:42] CptGibbon commented on #1136
Agreed.

In this specific case `get_arena_for_chunk()` (called by `malloc_chunk`) is relying on a chunk flag to determine arena ownership, but that flag isn't consistently set. There are also myriad other reasons that finding a chunk's parent arena is difficult.

`heap` could also be more efficient, there's no need to locate a parent arena more than once.

[2022-09-11 05:23] lebr0nli commented on #1142
@CptGibbon, hmm, that's weird haha, so you mean it's possible that `pwndbg.vmmap.find(arena_addr)` can find the page for the address, but we still can't read the memory there, right?

[2022-09-11 06:21] CptGibbon opened #1143 "GLIBC_TUNABLES can confuse some heap commands"
### Description
If GLIBC's `GLIBC_TUNABLES` [environment variable](https://www.gnu.org/software/libc/manual/html_node/Tunables.html) is set, ld copies its contents to memory requested via `sbrk()` during program initialization.

Because malloc's main arena also relies on `sbrk()` to request memory, the start of the main arena's heap is determined by the length of the `GLIBC_TUNABLES` string rounde

[2022-09-11 07:33] CptGibbon commented on #1142
@lebr0nli Huh you're right that's not possible.
It looks like the problem is actually when `get_arena_for_chunk()` calls `get_heap()`:
https://github.com/pwndbg/pwndbg/blob/ffdff0f966f525613e2be0bf805a090747930d2e/pwndbg/heap/ptmalloc.py#L309-L310
Because `get_heap()` doesn't check if the `heap_info` struct is mapped before trying to read it:
https://github.com/pwndbg/pwndbg/blob/ffdff0f966f525613

[2022-09-11 17:27] CptGibbon commented on #1142
Whatever the cause, I believe 69d3576 simply brought an existing bug to light.
A bounds check in `get_heap()` would solve this issue.

If you want to hear my conspiracy theory though:
`malloc_chunk()` ignores the return value of `get_arena_for_chunk()` when its `fake` option is set, which `find_fake_fast()` does indeed set:
https://github.com/pwndbg/pwndbg/blob/ffdff0f966f525613e2be0bf805a09074793

[2022-09-11 23:07] gsingh93 opened #1144 "Make it easier to work with PIE binaries"
Currently, `pwndbg` supports the `breakrva` command for setting breakpoints at a particular offset in a PIE binary. Because this is a custom command, it's missing out on some other breakpoint features GDB provides, like temporary breakpoints, breakpoint commands, conditional breakpoints, etc.

There are other things that are useful to do in a PIE binary where the `breakrva` command can't be used,

[2022-09-14 14:27] disconnect3d commented on #1142
IIUC from #1145 it seems the issue is that `gdb.Value` that is returned here is fetched lazily and #1145 fixes that fetching it immediately.

FWIW from GDB Python API docs:

One last thing we need in that PR is a test case to make sure we check for this behavior properly :)

[2022-09-14 14:29] #1082 closed, assigned to nobody

[2022-09-14 14:34] disconnect3d commented on #1065
@lebr0nli what's the state of this after #1075?

[2022-09-14 16:01] #1142 closed, assigned to CptGibbon

[2022-09-14 16:02] disconnect3d commented on #1144
GEF also has sth around that. iirc they have some custom bp related commands for that. Pls look at it as well and document it here.

[2022-09-15 02:09] lebr0nli commented on #1065
@disconnect3d, I think for the error you saw at the beginning, it's fixed, but not because of  #1075, I guess it's actually because of one of the recent updates about the `vmmap` command (I'm not sure which commit).
The bug fixed in #1075 is that we assume all the functions of `vmmap` work great and GDB can find libc's symbol we used in the heuristics, then this PR can let heap command work withou

[2022-09-15 19:07] lebr0nli commented on #1065
@disconnect3d, btw you can use this branch: https://github.com/lebr0nli/pwndbg/tree/qemu-vmmap-locally to check whether heap heuristics works or not for this case more easily.

After `set resolve-qemu-vmmap-locally on` and using your patched QEMU in the same device, it should work without the above issues and output the correct mapping by the `vmmap` command for easier debugging.
(btw if you think

[2022-09-16 03:38] disconnect3d commented on #1065
@lebr0nli The weird '.<name>' display in vmmap was caused by us fetching vmmap info the same way as we do for coredump files. This should be fixed in https://github.com/pwndbg/pwndbg/pull/1149

Regarding your idea with `set resolve-qemu-vmmap-locally on` it is nice, but maybe we should go along with what GEF does? If I recall correctly, for qemu-user emulation they were reading `/proc/$pid/maps` a

[2022-09-18 22:31] ghost opened #1151 "Add an option or check to disable the `check_safe_linking: GLibc not loaded yet` message"
When debugging staticly linked binaries, I noticed a lot of messages like in the title. But the heap related commands work just fine. I understand that the error message is printed when pwndbg cant find glibc in the dynamic map, but for staticly linked binaries, this makes it believe the wrong thing.
My suggestion is to add some sort of check if the binary is statically linked so the error doesnt

[2022-09-19 02:21] gsingh93 opened #1152 "Show instruction operand values in the disassembly"
For instructions like `cmp    qword ptr [rbp - 0x28], rax`, it would be nice if the disassembly actually showed the two values we were comparing.

There are probably various other instructions where this could be useful, like arithmetic instructions.

[2022-09-19 04:15] gsingh93 opened #1153 "nextproginstr doesn't stop when reaching the program instructions"
The `nextproginstr` command should stop when it reaches an instruction in the binary, but it seems to reach those instructions and continue executing instead of breaking.

[2022-09-23 00:40] #1153 closed, assigned to nobody

[2022-09-24 00:49] disconnect3d commented on #1069
Added in https://github.com/pwndbg/pwndbg/pull/1160

[2022-09-24 00:49] #1069 closed, assigned to nobody

[2022-09-25 19:19] j3s5e4 opened #1165 "Clear screen before printing context"
### Discussed in https://github.com/pwndbg/pwndbg/discussions/1164

As discussed (see below), can the screen be cleared before the next instruction or printing context so that each element of the output stays in a consistent location?

<div type='discussions-op-text'>

<sup>Originally posted by **JesseAusten** September 25, 2022</sup>
I've noticed pwndbg doesn't refresh the screen each time I step

[2022-09-25 19:21] stnevans commented on #1165
`set context-clear-screen on` should do this.

[2022-09-25 19:24] j3s5e4 commented on #1165
That worked, thank you! Should that be something that's on by default rather than adding it to an init script?

[2022-09-25 19:27] stnevans commented on #1165
I personally like having the history over alignment. Not sure how others feel.

[2022-09-25 19:29] j3s5e4 commented on #1165
Oh that doesn't actually keep the history so there's no way to scroll up and see output or previous commands?

[2022-09-25 19:30] disconnect3d commented on #1165
I also like having history so I am not sure if we should change the default. We can add a https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/lib/tips.py about it.

[2022-09-25 19:35] gsingh93 commented on #1165
I use `tmux`, so it keeps the history for me. But it would good if it kept the history regardless. `gef`s implmentation probably does this since they're just using control characters, we can probably do something similar.

[2022-09-25 19:54] j3s5e4 commented on #1165
It seems that `gdb> shell clear -x` keeps history while clearing the screen, similar to `^L` in the shell. It seems that's also what gef uses.

[2022-09-25 20:28] disconnect3d commented on #1165
Oh, that's nice. Maybe we could have: `set context-clear-mode` with three values?:
1. One that would clear the screen but keep the history
2. Second that would clear the screen but not keep history (our current `set context-clear-screen on`)
3. Third that would not clear the screen and not keep history (out current default)

Wdyt? Not sure how to name those values though :)

Or just... use 1) and

[2022-09-25 20:29] disconnect3d commented on #1152
That's a really good feature I'd be happy if someone wanted to add it. We should probably revamp/rewrite the current display enhancer module/logic and improve it in this and other ways.

[2022-09-25 20:31] disconnect3d commented on #1151
Is there some way to ask GDB if the program we debug is statically or dynamically linked? Or would have to fetch /proc/$pid/exe file and find it out ourselves?

Hmm... probably ELF or Program headers should have this info?

[2022-09-25 20:31] disconnect3d commented on #1151
cc: @lebr0nli

[2022-09-25 20:32] gsingh93 commented on #1165
I don't think 2 is necessary, not sure that anyone would prefer that over 1. I think keeping the current default, option 3, around (but not enabled by default) would still be good to have.

[2022-09-25 22:15] disconnect3d commented on #1165
Wait, I just checked locally and I can scroll up myshell to get the previous output after setting `set context-clear-screen on` in Pwndbg.

We are currently using this for clearing the screen:
[code]

And this is also what GEF may fallback to if there is a `tty` included. Why may it clear history for you?

[2022-09-25 22:19] disconnect3d commented on #1165
Okay, that is interesting. The behavior depends on the used terminal; here, on Ubuntu 22.04 with `set context-clear-screen on` I get this behavior:
* gnome-terminal - does not save history
* gnome-terminal + screen session - does save history
* terminator - does save history

[2022-09-25 22:29] ghost commented on #1151
@disconnect3d
You could do
[code]
or `info dll`

Dynamic:
[code]
Static:
[code]
In static binaries, libc/glibc is typically compiled into it. So checking if it is loaded dynamically or not should be good enough.

[2022-09-25 22:31] disconnect3d commented on #1165
Also, I'd prefer to not rely on the `clear` binary if possible.

Interesting: https://askubuntu.com/a/997893

So we are doing:
[code]
And that askubuntu thread suggests doing:
[code]

And... that seems to work for me - it does not remove the scrollback buffer when clearing the screen.

[2022-09-25 23:16] disconnect3d commented on #1165
Here is the explanation for that weird escape sequence codes: https://en.wikipedia.org/wiki/ANSI_escape_code#CSIsection. Also thx to @gwynbleidd @vesim987 and other who helped me out to figure some of this stuff.

So what we use is:
* `\x1b`  -  Escape | Starts all the escape sequences
* `[`  -  Control Sequence Introducer | Starts most of the useful sequences, terminated by a byte in range 0x40-0

[2022-09-25 23:42] #1165 closed, assigned to nobody

[2022-09-25 23:43] disconnect3d commented on #1165
@JesseAusten Can you test `set context-clear-screen on` after https://github.com/pwndbg/pwndbg/commit/3b2f7796d663d1c9562265a86aa81105069129f7 ? It should now properly preserve scrollback history on most terminals.

[2022-09-26 01:05] disconnect3d commented on #1151
@majorendian There are some issues with the solutions you provided:
1) we cannot execute shell commands with `!` as I believe this executes locally and if so, it will not work with remote targets run via gdbserver or qemu's gdb stub
2) the `info dll` command will be tricked if a statically linked binary uses `dlopen` (e.g. compiled via `gcc -ldl -lc -static static_dlopen.c -o static_dlopen`); ofc

[2022-09-26 01:31] disconnect3d commented on #1151
On the other hand... one should not mix static linking with dynamic linking [0][1] and if they do, they may be asking for troubles.

I think that checking for static linking with `info dll` may actually work for us een if it may not work when someone uses `dlopen` and then loads glibc.so.

[0] https://www.openwall.com/lists/musl/2012/12/08/4
[1] https://github.com/pfalcon/foreign-dlopen

[2022-09-26 01:44] j3s5e4 commented on #1165
It works perfectly now using `set context-clear-screen on`, thanks. I'm using the default gnome-terminal on Ubuntu 22.04.

[2022-09-26 07:11] gsingh93 opened #1167 "Conditional breakpoints for when jumps are taken"
I often want to set conditional breakpoints depending on when jump instructions are or are not taken. For example:
[code]

I'd like to be able to do `break-jump-taken 0x1002` (it doesn't really matter what name we pick for the command), and then we would only break on 0x1002 if the jump was taken. I'd also like a similar instruction for when the jump is not taken. And just like the normal GDB `bre

[2022-09-26 10:52] ghost commented on #1151
@disconnect3d If dlopen is being used explicitly then I guess there is no sure-fire way to make sure if it doesn't load glibc. But even if dlopen is used, people typically don't use it to load libc, since it contains all the basic and standard code. They either use it to load plugins or something like that. I personally haven't seen a binary that loads libc with dlopen.
Imho, using `info dll` is t

[2022-09-26 10:56] disconnect3d commented on #1151
You may not do it directly, but it may also be just a dependency of a dependency. But one should not do that :P.

[2022-09-26 10:59] disconnect3d commented on #1151
Regarding warnings, do you mean that one with GLibc not loaded or some other ones?

I have looked a bit into this yesterday and we likely have to:
1) Remove the logic when we try to compile a file with many many headers to grab heap related symbols, because some of them are never in header files
2) Probably if we can't detect debug symbols for libc -- we should automagically set resolve heap via h

[2022-09-26 11:20] ghost commented on #1151
@disconnect3d Pretty much the glibc warning. If there are other warnings that could potentially be displayed in error then those too. But I don't know enough about the code-base to make that assessment.

I agree with point 3. If the specific glibc version is set, the program should assume the user knows what he is doing and assume glibc is present.
Point 2 also makes sense, pwndbg could check if s

[2022-09-26 11:22] ghost commented on #1151
For context, I am dealing with pretty much the same issue in radare2: https://github.com/radareorg/radare2/issues/20767
Where radare2 is displaying incorrect information from the heap because its heuristics have failed.

[2022-09-26 11:36] disconnect3d commented on #1151
Btw any chance u can contribute this to Pwndbg?

[2022-09-26 13:49] ghost commented on #1151
@disconnect3d There is a chance if you allow guile scripts. I dont like using python in general. It also requires jemalloc debugging symbols

It's intended as a standalone plugin, so technically you could add a submodule to pwndbg or something like that. Right now its still under active development but a few commands work already.

[2022-09-27 05:16] gsingh93 opened #1169 "Command to unstrip libc"
`pwntools` ha a `libcdb.unstrip` method now to unstrip libc files. Since we now have a dependency on pwntools, it would be convenient to have a command that could attempt to unstrip the currently loaded libc file.

[2022-09-28 22:45] disconnect3d opened #1175 "Upload codecov report only from one CI job"
Currently, we run tests on CI on 3 different OS versions. While this helps us detect more bugs related to environment configuration, it also runs all the steps defined in the GitHub action in all of those CI runs. As a result, I believe each pull request uploads a code coverage from tests to codecov and a given PR needs just one.

So we should probably split the GH action used currently into two:

[2022-09-29 10:47] #1175 closed, assigned to nobody

[2022-09-29 22:25] disconnect3d commented on #1143
This behavior can also be observed with our unit tests! :)

Running `GLIBC_TUNABLES='LMAO' ./tests.sh` will result in `test_try_free_double_free_tcache`, `test_heap_bins` failing and the `test_vis_heap_chunk_command` on halting/freezing the test (its probably executing something and would end up if I didn't CTRL+C it?). Example:

[code]

[2022-09-29 23:13] disconnect3d opened #1179 "Heap command searches memory and may print search warnings"
After recent changes, when we try to see if GLIBC has safe linking feature, we execute a search command to detect libc version.

This may result in not nice warnings in the output:
![image](https://user-images.githubusercontent.com/10009354/193157842-eefab30d-d9ad-43d6-9799-87efc76be4af.png)

Those warnings come from GDB and AFAIK we can't suppress them - or at least I never found a way to do it (

[2022-09-29 23:43] gsingh93 opened #1181 "Add flake8-builtins to CI"
We often shadow builtins with our own variables in the code, and this can lead to unexpected bugs. Let's add https://pypi.org/project/flake8-builtins/ to the CI to catch these.

[2022-09-29 23:44] gsingh93 opened #1182 "Add `vermin` to CI"
This project does a pretty good job of detecting all the Python features you're using and outputting the minimum version required: https://github.com/netromdk/vermin

We should add this to CI so we don't accidentally break Python 3.7 with some new features we use.

[2022-09-29 23:46] gsingh93 opened #1183 "Stop ignoring F841 flake8 warnings (unused variables)"
When we added `flake8`, we had to ignore some existing warnings because it was too much work at the time to fix them, and we wanted to get `flake8` on the CI so future errors would be prevented. We need to go back and fix some of these so we can start running them on the CI, like F841: local variable name is assigned to but never used.

[2022-09-30 00:09] disconnect3d commented on #890
We now use gdb-pt-dump in Pwndbg, so I am closing this issue for now.
There are minor defficiencies with it though: it won't work if GDB and QEMU works on different machines or in different PID namespaces. We should create another issue to support this case better.

[2022-09-30 00:09] #890 closed, assigned to nobody

[2022-09-30 00:10] disconnect3d commented on #243
The search command can be interrupted with CTRL+C so I don't think we need to implement a limit.

[2022-09-30 00:10] #243 closed, assigned to nobody

[2022-09-30 00:14] disconnect3d opened #1185 "Improve search command"
The search command needs some revamp: it needs better docs and usage scenarios.

Things to consider:

1. `search "some \x00 raw-bytes support"` should work and find a string with one null byte
2. `search 1234` should search for arch.ptrsize sized (8B on x86-64) decimal integer
3. `search 0x1234` shoudl search for arch.ptrsize sized 0x1234 int
4. `search existing-gdb-symbol` <-- should we support t

[2022-09-30 00:14] disconnect3d commented on #232
Closing in favor of https://github.com/pwndbg/pwndbg/issues/232

[2022-09-30 00:14] #232 closed

[2022-09-30 00:30] disconnect3d commented on #824
FWIW we do it already:
[code]

[2022-09-30 00:30] disconnect3d commented on #824
I am not sure if we do it for sockets, but I will add another issue for it.

[2022-09-30 00:32] disconnect3d commented on #824
[code]

Here is a proper example ;)

[2022-09-30 00:32] #824 closed, assigned to nobody

[2022-09-30 07:17] syheliel commented on #1185
nice idea, but it would be better find a practical reference first. Some search commands may lead to confusion. `search 0x1234` can mean:
1. search two-byte in memory
2. search for-btye integer in memory(also consider the little-endian or big-endian!)
3. search local int variable in stack

If we want to make it useful, we may design a better default behavior. Maybe there is already a gdb's plugin

[2022-09-30 07:29] syheliel commented on #1181
It's latest release is May,2020. Maybe it's not stable enough, see the [issue](https://github.com/gforcada/flake8-builtins/issues)

[2022-09-30 11:26] disconnect3d commented on #1185
@syheliel When searching, we currently print:
[code]
which shows that we perform a search over string. I think we should improve it further to make it explicit what type/size we search for, so there will be no unambiguity or confusion :).

We also need to improve the description and give it meaningful examples, like:
- here is how you search for pointers
- here is how you search for 2-byte values

[2022-09-30 11:28] disconnect3d commented on #1185
We don't offer such functionality atm, but we could add a search over a current stack frame; idk if that is much useful though?

What do you think about what I wrote above?

Regarding another plugin, if there is one, we can either pull it or grab its code and license (if it allows).

[2022-10-02 11:45] disconnect3d opened #1187 "Move xor command to xormem and add xor <value> <value> command"
As above, we should have two commands for xoring, one for xoring memory and one for xoring values?

Currently, we only have one: `xor` command which will be the new `xormem`. We should probably improve its description to inform better that it xors memory in-place?

[2022-10-02 11:47] disconnect3d opened #1188 "System calls display is wrong for x86 syscalls on x86-64"
When we step on `int 0x80` in a 64-bit (x86-64) program, we display wrong syscall number and arguments.

[2022-10-02 11:52] disconnect3d opened #1189 "pwndbg.gdblib.arch.current is wrong if executed in a pwntools gdbscript command"
TL;DR: This should not fail, but does so, because the `patch` command fetches `pwndbg.gdblib.arch.current` which for some reason is wrong/not updated.

[code]

Stacktrace:
[code]

[2022-10-02 16:46] gsingh93 opened #1190 "`telescope -r <num>` is broken"
[code]
`telescope -r` works fine though.

[2022-10-02 16:48] gsingh93 opened #1191 "Add config option to show EFLAGS in register context section"
Sometimes it's useful to see the value of EFLAGS, when doing some complicated ROP that depends on conditional jumps. It would be good to be able to have a config option (off by default) that shows the value of this in the registers section.

[2022-10-02 17:09] gsingh93 opened #1192 "Allow adding symbols into a binary from pwndbg"
It would be useful if we could add in symbol information to a stripped binary from pwndbg. This is currently possible with objcopy, i.e.:
[code]

But it would be more convenient if it could be done directly from pwndbg.

[2022-10-02 17:53] gsingh93 opened #1193 "Trace malloc/free calls"
I use something like this to trace malloc and free calls:
[code]

It'd be nice to have this integrated into pwndbg.

[2022-10-02 19:50] gsingh93 commented on #1072
I have multiple PoCs for this, since it pretty much happens with every heap pwnable :) It's easy to reproduce, but I'm not sure exactly how to fix this. Should we use GDB's own pagination or implement something ourselves?

It's be nice to fix this in a way where we can make any command paginate in the future, in case they have similar issues. Or allow the user to customize which commands get pagin

[2022-10-02 19:56] gsingh93 opened #1194 "Run the `display` command after `context`"
I don't know how difficult this will be to implement, but I like to use the `display` command to print out some information every time I step instructions. But because this gets printed first, the output of context always scrolls the screen down, so I have to scroll up to see it.

If we can find a way to run the `display` commands after `context`, that would be a quick fix.

An alternative approac

[2022-10-02 21:07] gsingh93 opened #1195 "Add `telescope --frame`"
It'd be nice to have a `telescope` command that prints out the stack frame, from `rsp` to `rbp`. Obviously this only works if the program actually uses a frame pointer.

It would be equivalent to this:
[code]

[2022-10-02 23:42] gsingh93 opened #1196 "Heap chain corruption check is incorrect for long free lists"
Debugging this code with pwndbg and running the `bins` command shows the wrong output for the unsorted bin.
[code]

After executing free around 8 or 9 times, the unsorted bin still looks fine:
[code]

But then executing it again shows this:
[code]

[2022-10-03 01:01] gsingh93 commented on #158
We have `vis_heap_chunks` now, it's missing some of the color information that `hexdump` has, but that will be hard to add since colors is how we see the different chunks. I think we can close this, if there's any other specific features we want to add to `vis_heap_chunks` we can make new issues for those.

[2022-10-03 01:01] #158 closed

[2022-10-03 01:02] gsingh93 commented on #138
This is done.

[2022-10-03 01:02] #138 closed

[2022-10-03 01:03] gsingh93 commented on #199
Not applicable to the latest version of the command, closing.

[2022-10-03 01:03] #199 closed

[2022-10-03 01:04] #347 closed, assigned to nobody

[2022-10-03 01:05] gsingh93 commented on #5
We can now parse the heap without symbols. I think that was the last remaining thing keeping this open. If not, let's make new issues for the specific missing functionality.

[2022-10-03 01:05] #5 closed

[2022-10-03 01:10] gsingh93 commented on #886
pwngdb is actually using pwndbg under the hood. I've invited the author to upstream this functionality to pwndbg: https://github.com/scwuaptx/Pwngdb/issues/47

[2022-10-03 01:12] gsingh93 commented on #886
Seems like this issue is a dup of https://github.com/pwndbg/pwndbg/issues/259

[2022-10-03 01:12] #886 closed, assigned to nobody

[2022-10-03 01:15] gsingh93 opened #1197 "`context` sometimes gets printed with the `set` command"
`set $rax=0` sometimes causes `context` to be immediately called afterwards. I think don't think this is always reproducible, but will keep investigating it.

[2022-10-03 01:16] gsingh93 commented on #937
@disconnect3d @lebr0nli can this be closed now? Or is there more work to be done on using heap commands without debug symbols?

[2022-10-03 01:24] disconnect3d commented on #1197
I can reproduce this with `gdbserver :1234 /bin/ls` and `gdb --quiet -ex 'target remote :1234'` in another terminal.

It seems to me this may be connected to https://github.com/pwndbg/pwndbg/blob/77380eb63c6cfdb721f2a2c4448f9d544fa03bd7/pwndbg/gdblib/events.py#L98-L100 but I am not sure yet

[2022-10-03 01:26] disconnect3d commented on #1197
Actually I can also reproduce this without gdbserver too

[2022-10-03 01:30] #1190 closed, assigned to nobody

[2022-10-03 01:35] gsingh93 commented on #1191
Turns out this already exists :)
[code]

[2022-10-03 01:35] #1191 closed, assigned to nobody

[2022-10-03 01:35] disconnect3d commented on #1197
Hmm, I added some crasher to `context.context()` 2nd call:
[code]

And also checked this later on:
<img width="1751" alt="image" src="https://user-images.githubusercontent.com/10009354/193487112-94cea41f-f428-40a7-91b4-3d38585232fe.png">

Seems that setting a register triggers a prompt hook event, while other `set` commands do not.

[2022-10-03 01:37] disconnect3d commented on #1191
@gsingh93 shall we add it to `tips`? :)

Also: shall `pwndbg` command inform about interesting pwndbg configurations like this one?

[2022-10-03 01:38] gsingh93 opened #1199 "Add 'pwndbg.' namespace/prefix to config options"
It would be good to make all our config options start with `pwndbg.`. Other than making it clear which options are provided by pwndbg, it also makes setting pwndbg-specific settings easier by allowing you to type `set pwndbg.` and hitting tab to see the options.

I believe GEF does this.

For a few months after doing this, we'd want to display a warning if anyone used the old option names, so we c

[2022-10-03 01:39] disconnect3d commented on #937
Yes, this works now with `set resolve-heap-via-heuristic on`. There are still some improvements we can make to this, but it should generally work in more cases than in GEF afaik.

[2022-10-03 01:39] #937 closed, assigned to nobody

[2022-10-03 01:41] gsingh93 commented on #1191
Adding it to tips makes sense. I don't think the `pwndbg` command should call out any particular options, but maybe it should call out near the bottom or the top that you can see all the config options by typing `config`. Also, if we do this it will help with discoverability: https://github.com/pwndbg/pwndbg/issues/1199

[2022-10-03 01:44] disconnect3d commented on #1199
I like this idea. OTOH, what would we do with `config`, `theme` and `heap_config` then? Just leave them as they are? Probably yes?

Regarding the deprecation warning, we could maybe change the Pwndbg banner displayed on startup to inform about this instead (?). Not sure here.

[2022-10-03 01:47] gsingh93 commented on #1043
It would be worth investigating if we should use this instead: https://github.com/haxkor/forkever

I got it working, and it's nice, but the code quality doesn't look great.

[2022-10-03 01:48] disconnect3d commented on #6
FWIW current behavior of dt - we recently removed the logic that it tried to find types in system headers:
<img width="671" alt="image" src="https://user-images.githubusercontent.com/10009354/193487957-d931e156-94af-4e2b-90c4-9405a4872902.png">

[2022-10-03 01:53] #295 closed, assigned to nobody

[2022-10-03 01:53] disconnect3d commented on #6
Also, if the type implements nested types, `dt` doesn't show it that great as e.g. `ptype`:
<img width="687" alt="image" src="https://user-images.githubusercontent.com/10009354/193488260-2df8e9c5-988d-4a0c-9ad0-0f8b5d2d6345.png">

Though `ptype` output is still bloated.

Also `dt` does not currently support arguments which are variable names and doesn't work with spaces (have to be quoted).

[2022-10-03 01:59] #340 closed, assigned to anthraxx, disconnect3d

[2022-10-03 01:59] gsingh93 commented on #340
If there are any Arch Linux specific issues that come up in the future, we can make a new issue for it.

[2022-10-03 02:08] disconnect3d commented on #168
Pwndbg can now display memory map information for QEMU kernels. We have two methods for that:
1. (default) Using gdb-pt-dump, but it requires that the QEMU process exist in the same PID namespace (which means that GDB and QEMU cant' run in two different Docker containers unless `--pid=host` is passed when running those containers --- I am mentioning this as seems to be important for some users).
2

[2022-10-03 02:08] #168 closed

[2022-10-03 02:15] disconnect3d commented on #1195
Shall this be in `telescope`? We also have a `stack` command

[2022-10-03 02:17] disconnect3d commented on #1194
Does GEF allow for that? Maybe we have sth incorrect with prompt hook events.

Maybe related:
* https://github.com/pwndbg/pwndbg/blob/6d573290ac839567e0dcb3b0fb20ec66ce45e6f6/pwndbg/gdblib/prompt.py#L85-L90
* https://github.com/pwndbg/pwndbg/blob/77380eb63c6cfdb721f2a2c4448f9d544fa03bd7/pwndbg/gdblib/events.py#L98-L100

[2022-10-03 02:18] disconnect3d commented on #1193
FWIW GEF has some malloc tracing functionality. Can we check how they do it? Maybe we can pull some of their code directly(?).

[2022-10-03 02:25] gsingh93 commented on #592
Accidentally made a duplicate of this, but let's keep discussing it there: https://github.com/pwndbg/pwndbg/issues/1144

[2022-10-03 02:25] #592 closed, assigned to nobody

[2022-10-03 02:30] disconnect3d commented on #1144
FWIW: function vs variable - I sometimes would be happy to be able to do sth like `break * ($vmmap("libchicken.so")+0x1234)` aka: set a bp in runtime determining the first vmmap of libchicken and offseting off that.

Ofc one could do this via `pi gdb.execute("bp *0x%x" % (next(v for v in pwndbg.vmmap.get() if "libchicken" in v.objfile) + 0x1234)` but meh.

Variables would not play nicely for that

[2022-10-03 02:34] gsingh93 commented on #1144
I think that syntax could work. I don't like functions for things like this just because it's easy to add a variable in anywhere in the expression, but I think in this case it makes given that we want to be able to get the base address of any mapping.

[2022-10-03 02:34] #827 closed, assigned to nobody

[2022-10-03 02:35] gsingh93 commented on #938
Dup of https://github.com/pwndbg/pwndbg/issues/368

[2022-10-03 02:35] #938 closed, assigned to nobody

[2022-10-03 02:35] gsingh93 commented on #807
Dup of https://github.com/pwndbg/pwndbg/issues/368

[2022-10-03 02:35] #807 closed, assigned to nobody

[2022-10-03 02:36] disconnect3d commented on #1144
So maybe let's go with variables for known mappings and use short names for them?:
[code]

Any other useful ones? Also not sure if `$ldso` is so often used.

[2022-10-03 02:37] gsingh93 commented on #1144
I think ld.so is starting to get used a bit more often nowadays, but I think it's fine to only have the first three in the list, and then as people ask for shorter ways of writing other mappings we can add them.

[2022-10-03 02:40] #411 closed, assigned to nobody

[2022-10-03 02:50] disconnect3d commented on #257
Regarding this, shall we not show args in such cases or maybe display them with a warning they may not be accurate?

[2022-10-03 02:50] gsingh93 commented on #1013
Dup of https://github.com/pwndbg/pwndbg/issues/981

[2022-10-03 02:50] #1013 closed, assigned to nobody

[2022-10-03 03:01] disconnect3d commented on #252
Closing this as this is not a specific issue in Pwndbg but something we should keep in mind.

[2022-10-03 03:01] #252 closed, assigned to zachriggle

[2022-10-03 03:01] gsingh93 commented on #1195
We discussed this on discord, it's probably best to either alias `stack` to `telescope`, or just remove `stack` (after displaying a deprecation warning for a few months).

[2022-10-03 03:03] disconnect3d commented on #113
This is something we could revisit now that some time has passed ;).

@zachriggle do you maybe remember what fs/gs emulation would be useful for in emulation? Getting stack cookies from fs:[0x28]? Or is there sth more to it?

[2022-10-03 03:05] disconnect3d commented on #1195
FWIW the `stack` command:
[code]

So it takes `<count> <offset>` and calls `telescope $rsp+(8*offset) count` (where 8 is arch.ptrsize, so differs on x86).

I'm fine with deprecating `stack` and removing it in the future.

[2022-10-03 03:05] #595 closed, assigned to nobody

[2022-10-03 03:13] gsingh93 commented on #258
Closing, needs more info.

[2022-10-03 03:13] #258 closed, assigned to theblazehen

[2022-10-03 03:17] disconnect3d commented on #209
The asciinema is not available anymore, but I believe this is about `ret;ret;ret;...` or `jmp $` and similar constructs.

[2022-10-03 03:39] disconnect3d commented on #1179
The "only search libc pages" can be done with:
[code]

[2022-10-03 03:43] disconnect3d opened #1202 "Suboptimal compact registers display"
When we display compact registers I guess the order in which we display regs may be suboptimal?

![image](https://user-images.githubusercontent.com/10009354/193497707-ca990add-e00f-42b6-a32e-3d91fb52e842.png)

I think less important registers like r8-r15 should be on the right side.

Also: should we allow for specifying the orders in which registers are displayed? I am not sure about that.

[2022-10-03 03:44] gsingh93 commented on #1144
I guess when this gets implemented, we can remove the `$heap_base` stuff: https://github.com/pwndbg/pwndbg/issues/1060

[2022-10-03 03:46] disconnect3d commented on #1072
There are two options:
1) use GDBs pagination
2) use GDB command's repeat feature, when you hit <enter> to repeat the command and get its output for e.g. further addresses. We have it implemented in our `ArgparsedCommand` too and it works for `hexdump`, `telescope` and few more.

I think we could just go with 2)? I think that 1) does not stop processing code and only prevents from printing stuff?

[2022-10-03 03:47] gsingh93 commented on #838
Needs more info, closing.

[2022-10-03 03:47] #838 closed, assigned to nobody

[2022-10-03 03:51] gsingh93 commented on #812
Don't think this is an issue anymore, feel free to reopen if you run into it again.

[2022-10-03 03:51] #812 closed, assigned to nobody

[2022-10-03 04:02] #788 closed, assigned to nobody

[2022-10-03 04:06] disconnect3d commented on #244
FWIW we have only two commands that DO NOT use ArgparsedCommand right now:
[code]

The first one in defcon.py will be removed in https://github.com/pwndbg/pwndbg/pull/1203

The second should be refactoreg to ArgparsedCommand.

Then, we can remove `commands/__init__.py:Command` class and merge whatever it does with `_ArpgarsedCommand` or `ArgparsedCommand`.

[2022-10-03 04:07] gsingh93 commented on #312
I think we can close this, since we're moving all existing shell commands into built-in commands, and other shell commands can be run with the `!` syntax.

[2022-10-03 04:07] #312 closed, assigned to nobody

[2022-10-03 04:26] disconnect3d commented on #836
I brought back ReadTheDocs for Pwndbg recently: https://readthedocs.org/projects/pwndbg/ but it needs some improvements.

It currently generates documentation using mkdocs and we still have some sphinx leftovers in repo in https://github.com/pwndbg/pwndbg/tree/dev/docs which needs to be cleaned up

[2022-10-03 04:29] #255 closed, assigned to nobody

[2022-10-03 04:33] disconnect3d commented on #844
@mahaloz I'd be fine & happy with using your code (and ofc giving you credits for that!) but I haven't used IDA integration for a long time since I don't have an official license and the free one I am using now is missing Python scripting capabilities.

If there's a chance you or somebody else can contribute that, I'd love merging such PR.

[2022-10-03 04:47] CptGibbon commented on #1196
This appears to be tied to `heap_chain_limit`, defined below:
https://github.com/pwndbg/pwndbg/blob/3c8ee9bb37d670bf2c161c7a45bb0c3fbadc664e/pwndbg/heap/__init__.py#L22-L23
Which is used in `bin_at`:
https://github.com/pwndbg/pwndbg/blob/3c8ee9bb37d670bf2c161c7a45bb0c3fbadc664e/pwndbg/heap/ptmalloc.py#L570-L578

[2022-10-03 05:40] CptGibbon commented on #1196
It boils down to the fact that you can't check incomplete fd & bk lists against each other for corruption. One course of action could be to print a warning that pwndbg can't do a corruption check when the bin dereference limit is reached?

[2022-10-03 06:20] gsingh93 commented on #497
There's actually a few different places where we do the endian conversion:
[code]

[2022-10-03 06:59] gsingh93 opened #1208 "Cleanup heap decorators"
The decorators we're using are a bit redundant, for example:
[code]

- If the heap is initialized, then we can assume we're running the target binary.
- If a command requires the tcache to exist, then it should probably mean the heap is initialized
- I'm not sure if we can combine `OnlyWhenHeapIsInitialized` and `OnlyWithResolvedHeapSyms`. Do we ever use symbols before the heap is initialized? If

[2022-10-03 07:27] zachriggle commented on #113
This is mostly for Thread Local Storage / TLS and challenges that are
mixed-width on x86

On Sun, Oct 2, 2022 at 10:03 PM Disconnect3d ***@***.***>
wrote:

--

*Zach Riggle*

[2022-10-03 21:11] gsingh93 opened #1209 "Merge `probeleak` and `leakfind`"
I haven't looked into the details, but it seems that `leakfind` can do everything that `probeleak` can and more. We should merge `probeleak` into `leakfind`, making sure if there are any small features `leakfind` is missing we add them in.

[2022-10-03 21:12] gsingh93 opened #1210 "`leakfind` should default to `$sp`"
The first argument to `leakfind` is required, but it should just default to `$sp` like `probeleak` does.

[2022-10-03 21:15] gsingh93 opened #1211 "Hide shell commands from the `pwndbg` output by default"
We should hide shell commands from the `pwndbg` output by default, and only display them with `pwndbg --all` or `pwndbg --shell` or something like that. This would make it easier to find actual pwndbg commands.

[2022-10-03 21:31] gsingh93 opened #1212 "Run tests on Arch Linux"
Debian and Arch are our most used distros after Ubuntu. It would be good to run the CI tests on those distros as well. While Github doesn't support this natively, we can probably get around this with Docker.

Although, I don't think Arch failing should be a blocker for any PRs. I don't want to make contributing to the project significantly harder, so if we see that Arch breaks, we can just file an

[2022-10-03 21:42] disconnect3d opened #1213 "Heap heuristics could build and load GDB types instead of mocking them"
Recent refactor to heap classes broke heap heuristics mode. This is mostly bcoz the refactor relies on gdb.Value's lazy deferencing of memory.

We could maybe... change the heap classes in heuristic mode to create gdb.Type objects from ctypes structures?

Here's a small PoC of that. Ofc it still requires more work, but that's probably a good start.

[code]

[2022-10-04 06:55] gsingh93 commented on #1194
Wow. This exists already:
[code]
<img width="884" alt="image" src="https://user-images.githubusercontent.com/1012677/193754115-3155a4c6-1a67-44ea-89cd-4c38d7de8a9a.png">

[2022-10-04 06:55] #1194 closed, assigned to nobody

[2022-10-04 06:57] gsingh93 opened #1215 "Allow deleting contextwatch expressions"
I can add expressions to watch with `contextwatch execute 'x/10i $rip'`, but I don't see any way to delete them. We should add some way to do this if it doesn't already exist.

[2022-10-04 07:01] gsingh93 opened #1216 "Some `contextwatch` expressions have incorrect line wrapping"
In the image below, I added two `contextwatch` expressions, `cwatch execute 'x/10i $rip'` and `context execute bins`. For some reason, the output of bins command is wrapping way before it gets to the edge of the screen:
<img width="914" alt="image" src="https://user-images.githubusercontent.com/1012677/193754792-3eba55b2-3d36-4d4b-bf26-9d24bbead666.png">

[2022-10-04 07:02] gsingh93 commented on #1215
Ugh, I knew this must exist somewhere and I was just missing it: `contextunwatch`

[2022-10-04 07:02] #1215 closed, assigned to nobody

[2022-10-04 08:19] amoghrajesh commented on #1210
@gsingh93 I can work on this issue. Can you refer to me how `probeleak` works and i can do it

[2022-10-04 08:27] gsingh93 commented on #1210
Thanks! This should be pretty easy. If you take a look at `commands/probeleak.py`, you can see the `address` argument uses `nargs` and `default`. We just need to do the same thing in `commands/leakfind.py`.

[2022-10-04 08:39] amoghrajesh commented on #1210
@gsingh93 in that case can you assign this to me?

[2022-10-04 08:45] amoghrajesh commented on #1210
@gsingh93 I have raised a PR https://github.com/pwndbg/pwndbg/pull/1218. Could you please help in reviews?

[2022-10-04 14:46] #1210 closed, assigned to nobody

[2022-10-04 17:23] j3s5e4 opened #1219 "Maximum recursion depth exceeded with get_ehdr"
### Description

The `get_ehdr()` function gets stuck in a loop in some cases. In my instance, when connecting to gdbserver without the proc filesystem available.

[code]

### Steps to reproduce

With a running gdbserver,
`target remote <ip>:<port>`

`Python exception <class 'RecursionError'>: maximum recursion depth exceeded in comparison`

### My setup

Gdb 12.0.90
Ubuntu 20.04
Pwndbg commit 3be

[2022-10-04 17:27] disconnect3d commented on #1219
And that hits again :/. Fwiw this has been introduced with my changes to optimize some code paths, which I haven't tested on some edge case targets like this.

The main issue is that on those targets we don't have full vmmap information, so we try to obtain it using different tricks like parsing elf headers.

Previously, we were doing it by investigating known addresses and trying to find those me

[2022-10-04 17:29] j3s5e4 commented on #1219
I'm running this against a proprietary i386 binary on an x86_64 system.

[2022-10-04 17:30] disconnect3d commented on #1219
Wait, why don't u have proc filesystem available then? :P

[2022-10-04 17:33] j3s5e4 commented on #1219
It works locally if I elevate permissions, but on my actual remote target it's a bit weird. But if pwndbg can't access /proc or whatever proc stuff is sent over gdbserver it just goes into that loop above.

[2022-10-04 17:34] disconnect3d commented on #1219
Out of curiosity, does `info proc mappings` return anything? I think it also can't get pages info?

[2022-10-04 17:39] disconnect3d commented on #1219
Fwiw, the commit that broke this is: https://github.com/pwndbg/pwndbg/commit/dc0e1f419a569963c76faa6125c2d5b53155255a

[2022-10-04 17:46] disconnect3d commented on #1219
@JesseAusten reverting some of this commit and adjusting to recent changes in Pwndbg APIs would make this work likely.

I can't work on this right now, but maybe what we should do is:
- use vmmap if possible
- if it isn't present (well, info proc mappings isnt present?) then use the old way of traversing memory pages?

[2022-10-04 17:47] j3s5e4 commented on #1219
When it does the recursive exception I only get a process number. Fortunately for me it looks like I'm able to actually get the remote process to behave correctly and send over proc info, which makes this bug moot for me.

Also, I did notice that vmmap returned the libc mapping but no other entries.

[2022-10-04 17:48] disconnect3d commented on #1219
Also if we know how to reproduce it properly, that would be useful for fixing this and having a test for this

[2022-10-04 17:50] j3s5e4 commented on #1219
I can reproduce it locally by running gdbserver in a chrooted environment which doesn't have access to /proc, and then connecting with gdb.

[2022-10-04 21:16] disconnect3d commented on #924
Is this still the case? I think this should work now, after we have an option of resolving heap symbols via heuristic.

[2022-10-04 21:19] CptGibbon commented on #1213
When would the object file(s) be compiled, at installation?

[2022-10-04 21:28] disconnect3d commented on #1219
Ugh, I tried reproducing it with:
[code]
And then `gdb -ex 'target remote :1234'` on host. However, the things are broken even on the pure GDB side when it is run with `--nx` to not load Pwndbg because GDBserver simply... do not detect the proper architecture of the target program. It reports i386 instead of x86-64 and so the gdb client can't even read registers properly.

[2022-10-04 21:29] j3s5e4 commented on #1219
I had similar issues until I updated both gdb and gdbserver. I believe I ended up using version 12.x

[2022-10-04 21:29] disconnect3d commented on #1213
Either on first use or we could do that ourselves and put just the debug sym files in the repo?
We would have to do that for all architectures though?

[2022-10-04 21:30] disconnect3d commented on #1219
It is:
[code]
for me

[2022-10-04 21:32] disconnect3d commented on #1219
~~Weird. It works with gdb-multiarch O_o~~

EDIT: My mistake. I did not umount /proc in that run. It still does not work.

[2022-10-04 21:36] disconnect3d commented on #1219
Same problem with `GNU gdbserver (Ubuntu 12.1-3ubuntu2) 12.1` but still on GDB 12.0.90. Will try with GDB 12.1.

[2022-10-04 22:31] disconnect3d opened #1221 "ipi doesn't work with multiline inputs"
TL;DR:
<img width="550" alt="image" src="https://user-images.githubusercontent.com/10009354/193942063-af410d4d-3cdd-4bcb-a102-9bb87d101656.png">

[code]

[2022-10-04 22:35] disconnect3d commented on #1221
Whereas this works in pure GDB python interpreter:
[code]

[2022-10-04 22:36] disconnect3d commented on #1221
https://stackoverflow.com/questions/35161324/how-to-make-imports-closures-work-from-ipythons-embed

[2022-10-04 22:39] gsingh93 commented on #924
I think this should be fixed, and if not I recommend using `libcdb.unstrip()` from pwntools or use [`pwninit` ](https://github.com/io12/pwninit) to unstrip the libc. I've had issues with `glibc-all-in-one`.

[2022-10-04 22:43] #1221 closed, assigned to nobody

[2022-10-05 01:34] disconnect3d commented on #1197
**EDIT: See my next post for better explanation**

---
This happens due to this hook called when reg/mem is changed:
https://github.com/pwndbg/pwndbg/blob/32166d0ed3d73a403e2b53d8649fb8b0a5b0de6b/pwndbg/gdblib/hooks.py#L29-L33

It clears all "stop" caches and also the `prompt_hook_on_stop` cache which calls the context command and returns None:
https://github.com/pwndbg/pwndbg/blob/32166d0ed3d73a4

[2022-10-05 01:36] gsingh93 commented on #1197
If this is the case, we should run `context regs` on register changes, not `context`. For memory changes, I think for now we should probably just not print anything.

[2022-10-05 02:11] disconnect3d commented on #1197
After more thinking and Discord discussions, I don't think we should display any context on reg/mem changes.

Also, here is a full writeup summary of this issue:

    The fact that we displayed ctx on regs/mem changes was a result of the
    fact that we cleared the cached result of `prompt_hook_on_stop`:

[code]

    And that this function is used in the `prompt_hook` that we set up:

[code]

[2022-10-05 08:34] lebr0nli opened #1227 "`set history expansion on` break `!command-string`"
I think this might be a bug or bad design of GDB maybe, because the features of `history expansion` is conflict to `!command-string` feature.

And because we set it to `on` in `pwndbg/__init__.py`, so `history expansion` cause the pain when we try to use `!command-string`:
<img width="1134" alt="截圖 2022-10-05 下午4 08 46" src="https://user-images.githubusercontent.com/61896187/194012011-baf62efc-52f

[2022-10-05 17:28] gsingh93 commented on #1196
Not an expert in how this works, but I have two ideas:
- We can have different limits for the number of chain elements to display vs. the number of chain elements to check. We can only display 8 elements, but check 32 (for example) without any major hit to performance. If we hit that second limit (which could also be a user config option), we could print a warning like you suggest, and even mentio

[2022-10-05 17:56] gsingh93 opened #1229 "Don't run codecov by default when running ./tests.sh"
Running codecov locally results in tons of `.codecov.*` files that take up a lot of space. By default we should make `./tests.sh` not run codecov, and then enable it with a flag, i.e. `--codecov` or just `--cov`.

[2022-10-05 18:26] CptGibbon commented on #1196
If we hit that second limit (which could also be a user config option), we could print a warning...

I think this is a sensible approach 👍

Could do, but this only checks a couple of chunks.
I feel like it's useful to know about an entire list's integrity, since a single call to malloc might end up checking every chunk in a list e.g. unsortedbin searches.

[2022-10-06 00:50] gsingh93 commented on #1181
I think it should be fine. The author is still around responding to issues, even though he doesn't have time to fix them. The code is really simple, so worst case we can fork it and I'm fine with maintaining it. I've already put up a PR for a feature that would be useful: https://github.com/gforcada/flake8-builtins/pull/80

And I've integrated it here, just waiting for the PR to be merged: https:/

[2022-10-06 01:37] disconnect3d opened #1231 "Heap heuristics may crash if libc.so is dynamically linked but no symbols are present for it"
This is weird:
[code]

[2022-10-06 03:28] lebr0nli commented on #1231
Yeah, I think this is probably because we are missing `_IO_list_all` for this `/bin/ls`, which is important for the heuristic to find which page the symbols locate in.
Btw for my `/bin/ls`, it works:

[code]

I think the implementation of the heuristic to find the symbols need to be improved because it's still too easy to fail...
I'll try to find some new solutions to enhance it in my free time.

[2022-10-06 03:31] disconnect3d commented on #1231
This is on Ubuntu 18.04.6 and indeed that's on the symbol you mentioned:
[code]

Interestingly, my friend who initially send me this bug, sent me this traceback, which says he is missing other symbol:
[code]
But he was using Ubuntu on Windows + WSL (2 I think)

[2022-10-06 03:32] disconnect3d commented on #1231
@lebr0nli Anyway, we need a better error handling on those cases. We need to display to tell the user sth like "hey we can't find this symbol with our heuristics; you need to provide its address to us if you can determine it, here's how:"

[2022-10-06 04:45] lebr0nli commented on #1231
For this, I think I'll fix this by checking `__malloc_chunk` exist or not before we using GEF's magic for `main_arena`.
(But a little weird thing is that these `AttributeError` seems to occur in `pwndbg.symbol.address` instead of some heap functions, I'll check it later to see what's going on.)

Ok, I'll add some checks and hints for this!

[2022-10-06 04:46] disconnect3d commented on #1231
Btw it goes the same with glibc check. The user should not see some kind of bogus ">=" comparison error when they do not set glibc version, but an info they need to set it 😅

[2022-10-06 06:16] gsingh93 commented on #1072
I'm fine with option 2, but there's a few things to note:
1. This might be a little more tricky than the other implementations. Generally, we always want to stop printing at a chunk boundary unless we hit some massive chunk, and at that point would we switch to printing a fixed set of address, or one chunk at a time, or something else? This won't be as simple as it is for `telescope`.
2. I didn't

[2022-10-06 06:58] #1211 closed, assigned to nobody

[2022-10-06 07:26] lebr0nli commented on #1231
Ok, I'll fix that, too.

[2022-10-06 18:39] gsingh93 opened #1236 "Use the `gh` cli tool to create issues from `bugreport` if it's installed"
Github has a CLI tool that can do things like create issues: https://cli.github.com/

When running pwndbg on a server, I can't do `bugreport --run-browser` because there's no X server running. I have to go through the issue creation process manually, copying and pasting the output. We could automate all of this using `gh issue create`.

[2022-10-06 18:42] gsingh93 opened #1237 "`tls` command error: 'No symbol "__errno_location" in current context.'"
[code]

Found with `./tests.sh test_commands.py` (after removing the decorator skipping it).

[2022-10-06 18:45] gsingh93 commented on #414
Is there any way to get the output of the last command before uploading? Or would we have to save the output of the last command ourselves if we wanted to do this?

[2022-10-06 21:38] gsingh93 opened #1238 "Add support to malloc_chunk for dumping the entire chunk, including the data"
It would be useful if there was a flag for `malloc_chunk` (maybe `--dump`?) that would print a hexdump of the chunk bytes after printing the chunk header information. This would allow me to see all the information about a chunk and its data in a single command, without needing to calculate how many bytes to dump myself.

[2022-10-06 22:38] #1197 closed, assigned to nobody

[2022-10-07 02:04] gsingh93 opened #1240 "`telescope -r` should always display the input address"
`telescope -r addr` will skip displaying `addr` if the value at that address is equal to the previous few values:
[code]
We should make this command always display the address that the user asked for:
[code]

[2022-10-07 02:06] gsingh93 opened #1241 "Handle undefined symbols gracefully in command arguments"
If the argument to a command is invalid in some way, for example, taking the address of a symbol that doesn't exist, we should handle that gracefully, reporting it to the user and not have an uncaught exception.

[code]

[2022-10-08 00:08] gsingh93 opened #1250 "Convert `ida_script.py` to Python 3"
IDA no longer supports Python 2. We should convert the script to Python 3, and then remove the dependency on `future` in the `requirements.txt`.

It may already work in Python 3, but since it's importing from `__future__`, I'm not sure, and I don't know how to test this.

[2022-10-08 13:08] disconnect3d commented on #939
A part of this work has been done in https://github.com/pwndbg/pwndbg/pull/1038 but has to be iterated upon

[2022-10-08 16:18] gsingh93 commented on #1202
Fixing this is a bit trickier than I first thought. If the output from displaying a register in the second column can't fit in the column, it gets put on the next line. This means that even if we try to order the registers in a particular way, something in the second column could end up in the first column if the line is too long.

[2022-10-08 20:54] gsingh93 opened #1255 "`entry` command doesn't work with gdbserver"
The `entry` command sets a breakpoint at the entrypoint of a program, which is different than the first instruction (`starti` can be used for that). The problem is that after setting `break_on_first_instruction = True` (which will set the entry breakpoint in a StartEvent handler), we start the binary with `run`.

`gdbserver` doesn't support `run`, but it does support `starti`, so the `entry` comma

[2022-10-08 22:03] #1181 closed, assigned to nobody

[2022-10-08 22:36] gsingh93 opened #1256 "`nextret` keeps going after the binary segfaults"
If the binary segfaults when running `nextret` (and potentially the other `next*` commands), it keeps trying to continue until you kill it:
[code]

We should stop after the first segfault and return to the prompt.

[2022-10-08 22:46] gsingh93 opened #1257 "Add a command to skip the last breakpoint a certain number of times"
GDB has the `ignore` command to skip breakpoints a certain number of times, i.e. `ignore 4 2` skips breakpoint 4 two times, and then breaks on it the third time.

This works fine when I'm at the GDB prompt and can figure out which breakpoints have which numbers, but it's annoying in a GDB script, where after I set a breakpoint, I have to count the total breakpoints set so far to get the right brea

[2022-10-09 05:07] gsingh93 commented on #1081
Not exactly related to this issue but related to exceptions cleanup, we may want to consider using [gdb.GdbError](https://sourceware.org/gdb/onlinedocs/gdb/Exception-Handling.html#Exception-Handling) when there's an error that prevents a command from continuing and we want to display that error to the user.

[2022-10-09 13:33] disconnect3d opened #1261 "pwndbg.gdblib.proc.alive is incorrect?"
Our current implementation of `pwndbg.gdblib.proc.alive` checks only if `gdb.selected_thread() is not None`. This seems invalid and should probably be `gdb.selected_thread().is_running()` instead so that it returns `False` if a thread segfaulted?

[2022-10-09 15:52] martinradev commented on #890
I've been slowly working on improving the perf and reliability of gdb-pt-dump by rewriting the core to Rust: https://github.com/martinradev/pt-dump

The end goal is to practically delete most the code in gdb-pt-dump and leave it be a python frontend for pt-dump. It's still a bit unclear to me if installation would be one-step-too-troublesome. I may need to start rolling-out releases.

Depending on

[2022-10-09 16:00] 0xricksanchez commented on #890
Interesting! Based on the last two comments: My (albeit very niche) use-case may end up working eventually once pt-dump is testable:

For ref: https://github.com/0xricksanchez/like-dbg/pull/96

[2022-10-09 20:54] gsingh93 opened #1263 "Automated crash analysis"
I have some scripts that I've been using for a few weeks to automate some parts of figuring out why a binary crashed, in order to decrease debugging time and speed up exploitation. It would be good to have some similar things natively in pwndbg.

The full automation I have involves watching a directory for coredumps, and soon as any appear a script will trigger the crash analysis and notify me wit

[2022-10-09 21:18] gsingh93 commented on #270
@MaskRay I know this issue is five years old at this point, but FWIW we dropped Python 2 support a while ago, and we now allow annotating function arguments.

[2022-10-09 21:25] gsingh93 commented on #905
@WeSeekAfterKnowledge does the solution with `p/f` resolve your issue? Also, it seems like the `float` to `int` conversion is possible, you just need to have the float in a variable:
[code]

I'm going to close this issue for now, but if this doesn't solve your issue feel free to reopen it.

[2022-10-09 21:25] #905 closed, assigned to nobody

[2022-10-09 21:28] gsingh93 commented on #807
I'm wondering if we should close this in favor of just improving how telescope handles strings: https://github.com/pwndbg/pwndbg/issues/368

[2022-10-09 21:30] gsingh93 commented on #773
It seems like we're already making use of `memory_changed` and `register_changed`. @disconnect3d do we still want to add support for `events.clear_objfiles`?

[2022-10-09 21:32] disconnect3d commented on #773
Seems like "clearing caches" on clear_objfile may make sense.

[2022-10-09 21:33] disconnect3d commented on #773
Also, new process may not be the only way to clear_objfiles, I think there was something to unload symbols from file. Maybe that triggers the event as well?

[2022-10-09 21:41] gsingh93 commented on #26
I'm inclined to close this issue, if anyone wants any more aliases we can just add them when they're requested. Unless there is something on this list that we know we want right now.

[2022-10-09 21:44] disconnect3d commented on #26
* `tt` and `ta` are used for time travel debugging to execute instruction or all instructions until a certain address is hit
* m is just memmove
* holdmem compares memory ranges:
[code]

I think we can close this for now. We may want to have some memory diffing, but I guess we can do it with `hexdump` or other command.

[2022-10-09 21:49] gsingh93 commented on #808
According to the referenced bug, the issue may have been fixed back in 2020. If so, I'd guess it's in GDB 10, which means 18.04 and 20.04 are still affected (with versions 8.1 and 9.2), but not 22.04 (with version 12).

[2022-10-09 21:49] #26 closed

[2022-10-09 22:39] disconnect3d opened #1264 "Add a stepuntilasm command"
We have all the fancy `stepsyscall`, `nextret`, `nextsyscall` instructions: should we maybe have `stepuntilasm` that would step by step until an instruction with given assembly text is reached? We already do disasm instructions when doing the listed commands, so we can have another command to match asm.

In the future, we may want to merge all of the above into one `stepuntil` or just some `until`

[2022-10-09 22:43] gsingh93 commented on #1264
If we do this, it would probably be good to tackle this at the same time: https://github.com/pwndbg/pwndbg/issues/1167

[2022-10-10 07:40] 0xricksanchez commented on #1263
Sounds like this would go hand in hand with forking and updating/extending [exploitable](https://github.com/jfoote/exploitable) with an integration step right into pwndbg.

Edit: That said automatic crash analysis (aka root cause analysis) that goes beyond looking at the latest stack frame and what `$rip` contains is far from trivial.
If you want to follow that rabbit hole:

* [Igor: Crash Dedupli

[2022-10-10 16:36] lonnywong commented on #1072
I want to make a feature for `vis_heap_chunks` command.

We can set a default max chunk size to show with `vis_heap_chunks` command.

If a chunk larger than the `max chunk size for vis`, skip the middle part ( don't show it by default ).

We can use `vis -a` to disable it temporary, and shows all the chunk content.

[2022-10-10 17:16] gsingh93 commented on #1072
@disconnect3d what do you think about my comments above about option 1 and 2, and @lonnywong's suggestion to display all the chunks but cut out the middle of each chunk if the chunk is greater than some config option?

I think the pagination solutions more generally solve the problem than just removing the middle of the chunks. It works fine when you only have small chunks, but what if you have on

[2022-10-10 17:25] lonnywong commented on #1072
About a corrupted chunk, we shouldn't show the content after the top chunk. It may reduce the size in most cases.

[2022-10-11 05:38] disconnect3d commented on #1256
FWIW this is what GEF does to detect thread stop reason like segfaults:
[code]

Tbh this doesn't look good, I mean, we definetely do not want to execute this every step. If we don't find a better way, we could e.g. do this every 50 steps or something...

[2022-10-11 06:08] disconnect3d commented on #1072
@gsingh93

Regarding option 1 - which is using GDB pagination - I think we should drop this idea since its probably too hard to implement and not worth it (?).

Regarding option 2 - which is repeat functionality discoverability - well, that's a native GDB feature, so lots of GDB command have this, but not lots of Pwndbg commands. I guess we can add a tip + document it in docs in the future, but id

[2022-10-11 06:11] disconnect3d commented on #808
We should check if this is about GDB or GDBServer version or both and if we should only use the workaround if we detect a version that needs it.

[2022-10-11 06:16] disconnect3d commented on #1257
This could always parse the output of `gdb.execute("info break", to_string=True)`:
[code]

Or better, use the `gdb.breakpoints()` function:
[code]

The latest set breakpoint should always have the biggest number.

And we can set the ignore count from Python API too:
[code]

[2022-10-11 06:17] disconnect3d commented on #1257
Regarding the interface for such command, maybe we should overwrite the `ignore` command since we can reimplement it in Python without recursively executing it (via `gdb.execute("ignore ...")`?

And it could have an interface like:
[code]

[2022-10-11 06:20] disconnect3d commented on #1255
Are you sure?

[code]

With this, not sure if we can do anything more here other than improving the displayed error ( ? ).

[2022-10-11 06:23] disconnect3d commented on #1202
Wait, does this mean that if register values change between two breakpoints, you may get differently ordered regs in the two context displays? That's not great :<

[2022-10-11 07:20] disconnect3d commented on #1261
It turns out the `pwndbg.gdblib.proc.alive` is correct: it will only work if there is a program thread and some commands do expect that and do not care if process crashed via segfault or not (e.g. anything that reads process state like `hexdump`, `telescope` etc.)

On the other hand, there are commands that make no sense if the process has crashed, or, even have to monitor that behavior -- those c

[2022-10-11 07:20] #1261 closed, assigned to disconnect3d

[2022-10-11 07:33] #1256 closed, assigned to nobody

[2022-10-11 07:55] disconnect3d commented on #1231
Is this all fixed with #1242?

[2022-10-11 08:34] lebr0nli commented on #1231
For all the bad error-handling parts you mentioned, yes, it should be fixed with #1242 now.

But for the main issue about this libc, hmm, I'm not sure, because I didn't find a way to reproduce the environments in the end.
Is the libc of your friend have `__libc_free`, `__libc_malloc`, `__libc_calloc`, and `malloc_trim` although it doesn't have `_IO_list_all` and `__malloc_hook`?
Since we don't alw

[2022-10-11 08:52] lebr0nli opened #1271 "`pwndbg.gdblib.symbol.address` fail to handle the thread-local variables"
<img width="1289" alt="截圖 2022-10-11 下午4 46 56" src="https://user-images.githubusercontent.com/61896187/195043471-185d98a1-0df4-43af-ba68-54f8e0853e31.png">

`pwndbg.gdblib.symbol.address('tcache')` will get error instead of return `None`.

Seems like it's because the error starts with `Cannot find thread-local storage` instead of `Cannot find thread-local variables`, so the following line fails t

[2022-10-11 11:28] lonnywong commented on #1072
`vis` is my favorite command, and `bins` is my second favorite.

I often use `vis` to view the heap layout, it's better than `heap` command.

`vis` shows `prev_size`, `chunk_size`, `fd `, `bk`, `fd_nextsize`, `bk_nextsize`, and the freed chunk location etc. That's all I need in most cases.

Sometimes, I want to check a fake chunk  is made as expected or not, most is inside a chunk smaller than 0x1

[2022-10-11 11:42] #1271 closed, assigned to nobody

[2022-10-11 11:43] #1189 closed, assigned to nobody

[2022-10-11 14:50] gsingh93 commented on #1257
Nice, seems like this will be easy to implement. I think overwriting the ignore command makes sense. If we define a command in Python with the same name, will that just work? Or will it complain about a command of that name already being defined?

[2022-10-11 15:17] gsingh93 commented on #1072
I had assumed that this issue was occurring because we weren't able to figure out where the top chunk was due to some corruption, but if that's not the case this could probably work.

Can't we just enable GDB pagination before the command and disable it afterwards?

Yea, `help telescope` for example says "Recursively dereferences pointers starting at the specified address ($sp by default)", which

[2022-10-11 15:58] lonnywong commented on #1072
The libc `main_arena` has the address of the top chunk. It won't be corrupted on the heap, unless hacking the libc `main_arena`.

Btw, `telescope` works great, but sometimes it doesn't. e.g.:
[code]

I want to make an option to disable it. If the option is on, and it's not just an `enter`, starts from the beginning.

@disconnect3d What do you think? about the `telescope`.

[2022-10-11 18:03] CptGibbon commented on #1072
I disagree with this; if you've corrupted a chunk size field you probably want `vis_heap_chunks` to honor that size field when inspecting the heap, rather than stopping arbitrarily at the top chunk.

I'm also not keen on snipping the contents of larger chunks, the point of `vis_heap_chunks` is to show all chunk data, pwndbg has a `heap` command if you just want to view chunk metadata.

I do agree

[2022-10-11 23:57] lonnywong commented on #1072
Stop at the top chunk maybe a bad idea. There maybe a fake chunk larger than the top chunk. We should honor that size.
What if the corrupted chunk larger than the whole heap, where should we stop?

I agree that the point of `vis` is to show the chunk data. Just limit the large chunk size, and the size is configed by the user. I don't want to change the default behavior. Just show a hint on the fir

[2022-10-12 00:05] pogen300 commented on #1238
Hi @gsingh93, I'd like to work on this enhancement. Can you assign it to me?

[2022-10-12 00:08] gsingh93 commented on #1238
@pogen300 Thanks! I've assigned it to you, let me know here or on Discord if you need any help.

[2022-10-12 00:12] CptGibbon commented on #1238
Isn't this just `vis_heap_chunks 1 <address>`?

[2022-10-12 00:15] gsingh93 commented on #1238
I haven't tried it, but I want the header metadata *and* the hexdump of the body.

Although, maybe there's an opportunity to unify some code here...

[2022-10-12 00:16] pogen300 commented on #1238
@gsingh93 Thanks, I just joined the discord server.

[2022-10-12 00:18] CptGibbon commented on #1072
Tough call, the command currently stops at the end of the heap mapping. Personally I think assuming the user knows what they're doing and wants all the output is sensible. If they don't want to print the large chunk they can use the command's first argument to limit the number of chunks printed.

I like this too 👍

[2022-10-12 00:19] CptGibbon commented on #1238
Indeed with `vis_heap_chunks` you get everything.

Although I agree there's almost certainly a chance to unify some code. I'm hoping that soon the `Chunk` class will be home all the chunk printing logic.

[2022-10-12 01:34] gsingh93 commented on #1255
I think we just run `continue` instead of `run`? I was mistaken that `gdbserver` supports `starti`, I only assumed that because it always starts on the first instruction when I launch it from `pwntools`.

[2022-10-12 17:28] lonnywong commented on #1072
I made a solution https://github.com/pwndbg/pwndbg/pull/1275 .

[2022-10-13 03:39] gsingh93 opened #1280 "Replace the implementation of `pwndbg.commands.windbg.dX` with `pwndbg.hexdump.hexdump`"
It seems like `pwndbg.commands.windbg.dX` duplicates a lot of functionality with `pwndbg.hexdump.hexdump`. If we add in a few more configuration options to `pwndbg.hexdump.hexdump`, I think we can implement `dX` with a single call to `hexdump`.

[2022-10-13 23:59] lonnywong commented on #1240
I found that telescope behaves strangely if `set history remove-duplicates unlimited`.

The `check_repeated` depends on the history of gdb.
https://github.com/pwndbg/pwndbg/blob/e456b317d7d9c3767ebf45b907d31178c3418d3e/pwndbg/commands/__init__.py#L113-L148

If `remove-duplicates` is set, the `check_repeated` is not working normally. That's what I mentioned in https://github.com/pwndbg/pwndbg/issue

[2022-10-15 01:23] gsingh93 commented on #1202
Yes, exactly. This happened to me today, it's not a great experience. But I'm also concerned about truncating the displayed register value, so I'm not sure what to do here.

[2022-10-15 16:25] #1257 closed, assigned to nobody

[2022-10-15 16:28] gsingh93 opened #1288 "Add return address stack location to `context backtrace`"
Currently, `context backtrace` looks like this:
[code]

I'd find it useful to see the stack location of these return addresses in this output. The `retaddr` command provides this information, so we can probably reuse some code from there to implement this.

(Also the "f" in the output seems useless, I think we can just remove it).

[2022-10-15 16:58] gsingh93 opened #1289 "Sort list of commands by category instead of alphabetically"
The `pwndbg` command outputs a lot of commands, and listing them all alphabetically doesn't make finding useful ones easy. It would be better if we group related commands together by their functionality/category, and then sort them alphabetically within each category. We could group the heap commands together, the step/next commands together, the ida/r2/ghidra commands, etc. and for anything we co

[2022-10-16 03:13] mazfil commented on #1182
Hey @gsingh93 id like to have a go at implementing this into the CI.
Could you assign it to me? Thanks.

[2022-10-16 03:17] gsingh93 commented on #1182
Awesome! The steps for this include:
- Adding vermin to dev-requirements.txt
- Updating `lint.sh` to call it
- Assert that the minimum reported version is 3.6
- Test on your fork whether the lint checks pass with the current `dev` branch, but then fail if you add some newer feature (note that CI jobs will show up as failed on your fork because of code coverage issues, but the lints/tests should ru

[2022-10-16 03:28] gsingh93 commented on #1289
There are a couple different steps needed to implement this. If anyone wants to help with this, feel free to only do one step if you don't want to do all of them:
- Update `ArgparsedCommand` to take an argument called `category` and store it in the command object
	- 	It's probably best to make the argument optional, and then just put up a PR at this point, as this is fairly straightforward while t

[2022-10-16 04:31] gsingh93 commented on #1289
Here's a first pass at splitting the command list into categories:
[code]

[2022-10-16 09:34] gsingh93 opened #1290 "Change how we display aliases in the command list"
We have a bunch of commands that are just aliases for other commands. Instead of outputting all the commands and aliases in `pwndbg`, we can only output the primary command, and after the help text add (`aliases: ...`) with the list of aliases.

[2022-10-16 10:36] gsingh93 commented on #1144
I wonder if we can fix some of the issues with `breakrva` mentioned in the initial post by subclassing gdb.Breakpoint?

[2022-10-16 18:15] gsingh93 commented on #1289
Just saw that our docs also have categories we can use: https://browserpwndbg.readthedocs.io/en/docs/

[2022-10-16 18:45] gsingh93 commented on #836
Capturing some discussion from discord here:
- We should implement command categories so we can use them when generating docs: https://github.com/pwndbg/pwndbg/issues/1289
	- We should probably also do this so it can be used during generation: https://github.com/pwndbg/pwndbg/issues/1290
- We should move DEVELOPMENT.md and FEATURES.md to readthedocs, and update them
- Docs should be autogenerated

[2022-10-16 20:18] #1041 closed, assigned to nobody

[2022-10-16 20:22] gsingh93 opened #1291 "Support finding fake fastbin chunks that result in partial overwrites"
The current implementation of `find_fake_fast` only return potential fake chunks that completely overwrite the target address. We should also support detecting fake chunks that partially overwrite the target address.

[2022-10-17 08:12] ruijia-zhou commented on #1288
Hi @gsingh93 , I can work on this enhancement. I wonder if you can assign it to me please? Thanks

[2022-10-17 09:11] disconnect3d commented on #1288
@ruijia-zhou Assigned.

Btw, somehow related issue: https://github.com/pwndbg/pwndbg/issues/1071

[2022-10-20 17:38] gsingh93 opened #1305 "Fix the reload command"
We have a `reload` command that is intended to reimport all of the Python modules, so that while working on new features we don't have to quit and restart GDB to test out our changes. However, it doesn't seem to work. We should investigate this, as it will make development much easier.

[2022-10-20 17:41] gsingh93 opened #1306 "Install a git pre-push lint hook as part of setup-test-tools.sh"
When running `./setup-dev.sh`, we should prompt the user (if we detect a tty?) if they want to install a git pre-push hook (if we detect one doesn't already exist?) that automatically runs `./lint.sh -f` for them.

[2022-10-21 01:08] mazfil commented on #1182
@gsingh93 is the minimum reported version of the `dev` branch currently 3.6? Running vermin in the project returns a minimum reported version of 3.10.
Are there any files we're excluding?

[2022-10-21 01:10] gsingh93 commented on #1182
You'll need to do this for a few of the capstone lines for now, I plan to fix this properly in the future: https://github.com/netromdk/vermin/issues/103#issuecomment-1254536305

[2022-10-22 09:15] #1182 closed, assigned to mazfil

[2022-10-22 10:51] pogen300 commented on #1229
Hi! Can you assign this issue to me if this feature is still needed? I'll add it real quick

[2022-10-22 16:54] #1229 closed, assigned to pogen300

[2022-10-23 11:12] JD1412 opened #1327 "heap command can't run on Ubuntu18.04 which is a docker container"
# heap command can't run on Ubuntu18.04 which is a docker container

## My Environment

I install the pwndbg in a docker container,the Container is based on Ubuntu18.04 system

## My Problem

when I want to debug an ELF file by the heap command,for example heap,bins,Unsortedbin,vis_heap_chunks
the pwndbg give me tips like this

<img width="540" alt="image" src="https://user-images.githubuserconten

[2022-10-23 13:27] lebr0nli commented on #1327
Hi, thanks for reporting the bug!
I guess the hint about the heap heuristic probably misled you.
Could you re-run the `heap` command instead of `set resolve-heap-via-heuristic on` after you `set resolve-heap-via-heuristic on` once, and test if that work for you?
Could you also `set exception-verbose on` and show the full stacktrace when you use the `heap` command?

Thanks!

[2022-10-23 15:29] JD1412 commented on #1327
Oh my god,I found an error in my question,I paste the same picture in different step. I have corrected that mistake.
I try it again.
<img width="890" alt="截屏2022-10-23 23 24 12" src="https://user-images.githubusercontent.com/30342224/197400763-bd1e7e24-1416-40fe-9e53-8bbfac348554.png">

when I run the command `set exception-verbose on`,I got this screenshot
<img width="899" alt="截屏2022-10-23 23 27

[2022-10-23 15:33] lebr0nli commented on #1327
@JD1412 , thanks!

I just reproduced this bug on Ubuntu 18.04 docker container now, the error seems occurred because the version of the GDB in the container is less than 9.x(the GDB version in my 18.04 container is 8.1.1), but `gdb.look_up_static_symbol`  required GDB 9.x. Will try to let it supports GDB 8.x without this error, thanks for pointing out this issue!

[2022-10-23 15:58] JD1412 commented on #1327
I run the command `bugreport --run-browser` just now, and what you said is the same as my 'bugreport'.
I understand the reason of the bug probably . I try to use another version of the gdb temporary.
This has been bothering me for a long time. Thank you very much. Thanks a million.

[2022-10-23 16:07] disconnect3d commented on #1327
@JD1412 you can always compile the latest GDB yourself and just use that:

[code]

You may need to install additional packages for that like `texinfo` or some others. Also this will build GDB in multiarch mode so that you can debug all archs supported in GDB.

(But yeah, we should and will fix this problem)

[2022-10-23 16:36] gsingh93 commented on #1327
I investigated why this wasn't caught with our testing infrastructure. It turns out the Github hosted workers actually install a newer version of GDB (10.2) from a PPA according to the logs:
[code]
This is annoying, because the whole point of CI is to mimic an actual production system, which they don't seem to be doing here.

I'm wondering if we should switch to running all tests inside Docker, wh

[2022-10-23 16:41] gsingh93 opened #1328 "Run all tests in Docker containers"
In https://github.com/pwndbg/pwndbg/issues/1327 we discovered that the version of GDB used in the CI is actually newer than what's provided in the apt repositories. This means we're going to miss bugs in older versions of GDB.

We should switch to running all of our tests inside Docker images, which will actually match a production environment. The Ubuntu 22.04 hosted worker contains cached Docker

[2022-10-23 16:46] gsingh93 commented on #1212
I've changed the title of this task to focus on adding testing support for Arch Linux, as Debian support will be added as part of #1328.

[2022-10-23 16:51] disconnect3d commented on #1328
We can probably force to install an older version of the GDB package just for Ubuntu 18.x.

[2022-10-23 16:54] gsingh93 commented on #1328
I think we should go with this Docker approach anyway:
1. This is going to happen in the future with newer Ubuntu versions eventually
2. Who knows what other packages are actually different and could lead to problems
3. We want to do this anyway to support testing on Debian, so why not just do it for all of our tests

[2022-10-23 17:29] gsingh93 opened #1330 "Run tests in parallel"
We have lots of tests now, which is great, but the issue is `./tests.sh` takes a long time. We should run the tests in parallel to improve performance.

One way is just to use `&` to run GDB in individual Bash jobs, but we would need to collect the output from stdout/stderr and output it at the end, at least for the failing jobs.

[2022-10-24 00:21] #1330 closed, assigned to gsingh93

[2022-10-24 13:40] ruijia-zhou commented on #1280
Hi, @gsingh93 , I have implemented this and passed all the tests. Can you please assign this to me such that I can submit a pull request?

[2022-10-24 14:32] disconnect3d commented on #1280
@ruijia-zhou Fwiw you don't need to be assigned to an issue to send a PR, but yeah, assigned you :).

[2022-10-24 16:16] ruijia-zhou commented on #1306
Hi, @gsingh93 , I just used lint for my pull request. I think I can help with this.
I have successfully implemented this locally. Can you please assign this issue to me (the assignment is a requirement from one of my university courses)?
Thanks

[2022-10-24 16:18] gsingh93 commented on #1306
Thanks @ruijia-zhou! Just FYI, if you run into any issues feel free to join our Discord server (link in README) and ask any questions you have.

Also, it would be good to give a more descriptive message in the hook that explains why there is a failure (people may not be familiar with hooks).

[2022-10-24 16:18] ruijia-zhou commented on #1306
@gsingh93 thanks, I will join now.

[2022-10-24 16:40] JD1412 commented on #1327
I am honored to receive your reply, I try to install GDB 10.2 manually(I try to install GDB 12.1, but I have failed), After that I can run the command `heap`,
<img width="786" alt="image" src="https://user-images.githubusercontent.com/30342224/197577800-c9304c08-e157-451d-b08b-dc9eed4866b8.png">
Thank you very much!!!
Now my gdb with `pwndbg` can run heap command normally, I'm looking forward to u

[2022-10-24 23:24] KevinN318 commented on #1328
Hi, I would like to try to implement this.

[2022-10-25 00:04] gsingh93 commented on #1328
@KevinN318 I've assigned it to you. If you need help, let us know here or in Discord (link is in the README).

[2022-10-25 16:06] #1306 closed, assigned to ruijia-zhou

[2022-10-28 07:34] bhavana-263 commented on #1250
hi sir can you assign this issue to me @gsingh93

[2022-10-30 12:55] LiuYanming6 opened #1354 "pyppmd is incompatible with install on arch"
[code]

[2022-10-30 17:05] nianxiongdi opened #1355 "maximum recursion depth exceeded while calling a Python object"
[code]
To compile the above code, execute the following command:

[code]

[code]

[2022-10-30 17:54] gsingh93 commented on #1355
This is on macOS, right? @disconnect3d do we have any support for Mach-O binaries?

BTW, you can get the full stack trace with `set exception-verbose on`.

[2022-10-30 19:57] disconnect3d commented on #1355
We don't have, but I'd be happy to merge PR if anybody wants to add it.

[2022-10-31 05:12] nianxiongdi commented on #1355
@gsingh93   yes. runs on macOS systems.

[2022-11-02 02:08] #1354 closed, assigned to nobody

[2022-11-02 11:34] nianxiongdi commented on #1355
@disconnect3d

[2022-11-02 12:48] nianxiongdi opened #1361 "maximum recursion depth exceeded in comparison pwndbg"
[code]

[2022-11-03 08:36] Mangpha opened #1362 "AttributeError: '_GdbOutputFile' object has no attribute 'buffer'"
### Description

I installed it and tried to run it, but it didn't work

### Steps to reproduce

[code]

### My setup

[code]

[2022-11-04 04:23] lebr0nli commented on #1362
Hi, it seems like the problem you mentioned is similar to an issue of the unmaintained forked version of pwntools: https://github.com/Gallopsled/pwntools/issues/1339

Could you install the latest stable release of pwntools and test if it works for you? Thanks!

[2022-11-04 04:43] Mangpha commented on #1362
@lebr0nli It works right away. Thank you!

[2022-11-04 04:43] #1362 closed, assigned to nobody

[2022-11-08 20:00] #1143 closed, assigned to nobody

[2022-11-08 20:03] disconnect3d commented on #1355
@nianxiongdi Pong. As I said, we do not support macOS at this moment, but I would accept a pull request if anyone added that.

I don't have time to work on it myself, but I can try to look if it is easy or not to implement this today.

[2022-11-08 20:56] asimuntis opened #1363 "The "find_fake_fast" command fails to find valid fake chunks on the x64 arch."
I was doing a random task (fastbin dup) and I noticed that this function is not taking into account that the fastbin size field check, in the latest GLIBC, is done by this macro:

[code]
( It is an old issue: https://sourceware.org/bugzilla/show_bug.cgi?id=19449 )

On x64 the macro is casting from the long to the unsigned int (4 most-significant bytes don't matter), and the `find_fake_fast` is wor

[2022-11-08 22:45] CptGibbon commented on #1363
Thanks for the bug report 🙏
I think this is worth an enhancement to the `find_fake_fast` command along the lines you suggest.

If I may suggest a couple of improvements;
* Only apply this to cases where the cast in `fastbin_index` truncates its return value
* Use pwndbg architecture variables rather than a blind `and` mask
* Since this is a bug in the GLIBC malloc implementation which may get fixe

[2022-11-09 07:58] disconnect3d commented on #1327
Afaik this has been additionally fixed in #1333 - we now fallback to `gdb.lookup_symbol` if `gdb.lookup_static_symbol` is not available (in older GDB versions).

[2022-11-09 07:58] #1327 closed, assigned to nobody

[2022-11-09 14:31] AlixAbbasi opened #1364 "Installation fails in Ubuntu 22.0.4.01 LTS (unicorn build fails)"
### Description

I just installed Ubuntu (ARM 64) in Parallels in a M1 Mac and tried to install pwndbg. The installation fails when installer tries to install unicorn.

### Steps to reproduce

1. You need a M1 mac and parallel (alternatively you can use Multipass (both yield the same results). Then perform apt update and upgrade. Install the git package. Then clone the pwndbg repo and inside the f

[2022-11-10 18:53] disconnect3d commented on #1238
@pogen300 any progress on that?

[2022-11-10 20:28] kacpi2442 opened #1365 "f"
please delete this

[2022-11-10 20:29] #1365 closed, assigned to nobody

[2022-11-10 20:49] pogen300 commented on #1238
Hi, I have made some contributions to this issue weeks ago, but haven't worked on it since my last PR was accepted. it's been particularly busy for me these days with final exams and research project at uni. So feel free to assign it to someone else.

[2022-11-10 21:49] disconnect3d opened #1369 "Use lexer.py from pwntools instead of embedding it in our repo"
The https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/color/lexer.py file we have is a fork of the pwntools file with the same name: https://github.com/Gallopsled/pwntools/blob/dev/pwnlib/lexer.py

@arcz recently fixed a bug in this lexer for aarch64 in https://github.com/pwndbg/pwndbg/commit/456fdb776e05118d5617966cb66974c95b7bd427 and will upstream it to Pwntools.

After it is done, we should try

[2022-11-10 22:59] #1364 closed, assigned to nobody

[2022-11-10 23:10] #1236 closed, assigned to nobody

[2022-11-11 06:28] disconnect3d commented on #1328
This was finally merged in https://github.com/pwndbg/pwndbg/pull/1370

[2022-11-11 06:28] #1328 closed, assigned to KevinN318

[2022-11-12 07:03] disconnect3d opened #1374 "Add command repeat support for u command"
GDB has this cool feature when u hit enter, the command repeats its execution but takes next addresses as argument. That works e.g. with `x/...` command in GDB.

We have support for this behavior as well and we added it e.g. into the `hexdump` command.

We should add it to other commands as well, and this issue is about adding it to the `u` command for disassembling memory.

[2022-11-12 08:53] leitao opened #1375 "pwndbg infinite recursion with kernel+gdb (memoize+vmap)"
When using gdb+pwndbg with the linux kernel, I get the following issue.

I am using gdb+pwndbg connecting to a remote qemu+kernel target:

On the kernel side, I am using `qemu-system-x86_64 -kernel vmlinux -nographic -append 'console=ttyS0 kgdbwait kgdboc=ttyS0,115200' -serial tcp::1234,server,nowait`

[code]

If I try any other command, I still get the warning:

[code]

Debugging this issue, I fo

[2022-11-12 08:57] disconnect3d commented on #1375
Hi,

This is a known bug that needs to be fixed. I will try to find some time to fix it this week.

As a workaround, can u try commenting out this function?:
https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/gdblib/stack.py#L55

Or actually, I think that if u make info_auxv return emtpy AUXV, things should work.

[2022-11-12 23:28] gsingh93 commented on #1374
We should be able to do this in a way where it's easy to add this repeatability to any command. I think it should be possible to do this with a decorator.

[2022-11-13 08:47] leitao commented on #1375
I am not sure it works, to be honest.

I've applied the following patch, but, not luck:

[code]

and this is the error I am seeing:

[code]

On Sat, 12 Nov 2022 at 08:57, Disconnect3d ***@***.***> wrote:

[2022-11-13 12:12] Xeonacid commented on #1212
Hi, I'd like to work on this. Could you assign it to me?

[2022-11-13 21:02] disconnect3d commented on #1212
@Xeonacid You don't need to be assigned to work on something, you can just send PR ;). Anyway, assigned you :).

[2022-11-18 12:57] aleff-github opened #1386 "How to use pwngdb on gdb.exe for Windows XP"
I found this executable for Windows XP [1] but use gdb without pwngdb tool is really hard... exist a metodh for use pwngdb on Windows XP?

[1] http://www.equation.com/servlet/equation.cmd?fa=gdb

[2022-11-19 06:31] disconnect3d commented on #1386
Hi, I think you should not use a GDB binary downloaded from an unofficial/random site and instead compile GDB yourself.

This being said, we do not support PE/PE+ files at all if GDB is used on Windows for that matter. So I don't think Pwndbg will work. However, if anyone wants to work on adding support for it, then I would be happy to merge it.

[2022-11-19 06:32] disconnect3d commented on #1386
I am closing tihs issue for now as I doubt anyone is going to work on it.

[2022-11-19 06:32] #1386 closed, assigned to nobody

[2022-11-22 07:46] #1227 closed, assigned to nobody

[2022-11-22 17:45] jc-base4sec commented on #1355
I've been facing this issue and breaking my head, just go to commit 44286afe0f7810be4ac864c1de46102631a20dec and use that version, that may be fix your issue. I continued with that version and that error dissapear.

commit 44286afe0f7810be4ac864c1de46102631a20dec (HEAD -> dev, origin/dev, origin/HEAD)
Author: 조희원 <heewon6752@naver.com>
Date:   Thu Apr 28 21:50:37 2022 +0900

[2022-11-22 18:17] disconnect3d commented on #1355
@jc-base4sec Yeah, that is a workaround too, thanks for pointing it out.

[2022-11-22 18:21] #1212 closed, assigned to Xeonacid

[2022-11-26 03:12] disconnect3d commented on #1369
Sent a patch in https://github.com/Gallopsled/pwntools/pull/2139 but the more I look at it the more this seems an invalid issue.

[2022-11-26 12:22] hhlp opened #1392 "import pwndbg # noqa: F401"
### Description

every time I call gdb I've gotten this error...

[code]

### Steps to reproduce

### My setup

This can be displayed in pwndbg through `version` command.??????

If it is somehow unavailable, use:

* `show version` - for gdb

GNU gdb (GDB) Fedora Linux 12.1-6.fc37

* `import sys; print(sys.version)` - for python

3.11.0 (main, Oct 24 2022, 00:00:00) [GCC 12.2.1 20220819 (Red Hat 12

[2022-11-26 13:43] disconnect3d commented on #1392
Are you really using both gef and pwndbg? :) Those may not play well together, but you can always try ;).

Also, isn't the exception self-explanatory? There is an `aslr` command defined in your GDB session and Pwndbg detects it and crashes on that.

I guess we can change that crash into a warning print instead maybe, to make experience like this more pleasant...

[2022-11-27 14:46] hhlp commented on #1392
I'd resolved using the following method:

https://infosecwriteups.com/pwndbg-gef-peda-one-for-all-and-all-for-one-714d71bf36b8

Regards.,

[2022-11-27 14:46] #1392 closed, assigned to nobody

[2022-11-27 16:29] disconnect3d opened #1394 "Running setup.sh on installed Pwndbg should be more clear"
We have this at the end of our setup.sh:
https://github.com/pwndbg/pwndbg/blob/f01f932755d7ce88da520ef62dccd5eecae8b0b2/setup.sh#L157-L160

This can be confusing for users when they try to install Pwndbg for the second time but they haven't cleared the ~/.gdbinit file.

I guess we should:
* Check for `source <gdbinit.py>` in `~/.gdbinit` as the very first thing in setup.sh
* If we find an entry, w

[2022-11-28 08:05] Cycatz commented on #1394
@disconnect3d Could I take this?

[2022-11-28 08:18] disconnect3d commented on #1394
@Cycatz Hi, sure.

[2022-11-28 08:25] disconnect3d commented on #736
This has been fixed already in recent versions. First of all, we now use gdb-pt-dump to process QEMU pages information and second we have a fallback to use the `monitor info mem` command. The latter is slower, but I think we can't do better on Pwndbg side.

[2022-11-28 08:25] #736 closed, assigned to nobody

[2022-11-28 09:02] disconnect3d commented on #425
I finally reported this bug to the GDB project bugtracker in https://sourceware.org/bugzilla/show_bug.cgi?id=29831

[2022-11-30 04:32] CptGibbon opened #1398 "`find_fake_fast` doesn't handle unmapped memory"
The `find_fake_fast` command raises `gdb.MemoryError` when any part of the region it searches for candidate fake size fields is unmapped. It is unable to find candidates near the start of virtual memory maps because of this.

As far as I can tell this isn't a regression, the command has always behaved like this.

One solution could be to enclose the command's memory reads in a `try`/`except` block

[2022-11-30 05:53] disconnect3d opened #1399 "Fix cymbol command on Ubuntu 18.04"
There's a cymbol test that fails on the Ubuntu 18.04 CI, this issue is there to track it

[2022-11-30 05:54] disconnect3d opened #1400 "Fix CI: archlinux ci"
The arch linux CI build is failing. This issue is there to track & fix it

[2022-11-30 20:44] gsingh93 opened #1403 "Don't allow use of `monitor info mem` on qemu-system-aarch64"
IIUC, `qemu-system-aarch64` does not support `monitor info mem`. That means if I do `set kernel-vmmap-via-page-tables off`, I get some strange and confusing errors.

We should handle this case gracefully and warn the user they can't do this.

[2022-11-30 21:09] gsingh93 opened #1404 "Properly handle `Paging is not enabled` exception when attaching to `qemu-system-x86_64`"
When I attach to `qemu-system-x86_64` before the VM has booted, I get this exception:
[code]

We should handle this properly and not show this exception as the VM hasn't started running yet.

EDIT: I think this applies to `qemu-system-aarch64` as well, but the exception is a little different:
[code]