[2019-12-05 22:39] disconnect3d commented on #689
I will figure out how to transfer it there and do it.

[2019-12-05 22:44] disconnect3d commented on #692
I agree, we should do it more often. Will try to do the release during this weekend.

[2019-12-09 22:08] #681 closed, assigned to nobody

[2019-12-09 22:12] disconnect3d commented on #689
I am afraid this cannot be done as shown below 😢.
![image](https://user-images.githubusercontent.com/10009354/70477470-3b19e680-1ad9-11ea-8057-d4e9c6d3b621.png)

[2019-12-09 22:12] #689 closed, assigned to disconnect3d

[2019-12-09 22:17] disconnect3d commented on #689
I will see if I can setup a https redirect on ovh.

[2019-12-14 17:49] kevinpark1217 opened #695 "piebase, breakrva does not work if the path to binary contains space"
### Description
`vmmap` does not recognize the path of the binary if the path contains a space.
Consequently, commands like `piebase` and `breakrva` does not work as it relies on `vmmap`.

### Steps to reproduce

Path without a space:
`/home/kp/Downloads/good/babystack`
![image](https://user-images.githubusercontent.com/10012884/70852451-8e8c8b80-1e6f-11ea-809b-5fdf60b0b4a1.png)

Path with a space

[2019-12-15 05:01] #695 closed, assigned to nobody

[2020-01-13 15:04] vn-ki commented on #30
`scan`, `memory-watch` and `tmux-setup` looks like killer features from gef.

https://gef.readthedocs.io/en/master/commands/scan/

https://gef.readthedocs.io/en/master/commands/tmux-setup/

https://gef.readthedocs.io/en/master/commands/memory/

[2020-01-28 10:26] At0mn opened #700 "subprocess.CalledProcessError: Command '['/home/ubuntu/.local/bin/checksec', '--file', '/home/ubuntu/Desktop/pwn2']' returned non-zero exit status 2"
### Description
[code]

But if I use checksec outside pwndgb，there will be no errors

[code]

### My setup
[code]

[2020-01-28 10:32] anthraxx commented on #700
@At0mn which `checksec` are you using and what does `checksec --version` say?

[2020-01-28 11:01] At0mn commented on #700
checksec was installed via python3-pwntools(https://github.com/arthaud/python3-pwntools)

[code]

[2020-01-28 12:00] anthraxx commented on #700
@At0mn I will create a fix to detect and work with `pwntools checksec` in the evening

[2020-01-28 15:46] disconnect3d commented on #692
https://github.com/pwndbg/pwndbg/releases/tag/2019.12.09

[2020-01-28 15:46] #692 closed, assigned to nobody

[2020-01-28 16:52] At0mn commented on #700
I found that I replaced pwntools(https://github.com/arthaud/python3-pwntools) with pwntools(https://github.com/Gallopsled/pwntools) and it works fine.

[code]

[2020-01-28 17:41] anthraxx commented on #700
oh yes, the official pwntools has python3 support and the latest checksec also has the `--file` parameter available. So i believe there is nothing to adjust here for `checksec` command so far (at least if we don't want to support ancient versions of pwntools's checksec, do we?).

However i will still create a PR that also supports using it via the `pwn` command when building `pwntools` via `--only

[2020-01-29 21:50] anthraxx commented on #700
fixed by 355c09e329e907f723d89dd038f983e568c2f29f
can be closed

[2020-01-30 12:17] #700 closed, assigned to nobody

[2020-02-07 15:12] Kiprey opened #702 "heap: This command only works with libc debug symbols."
I have installed the debug version of libc, but the command "heap" still doesn't work.
Is the package "libc6-dbg" I installed wrong?
What can I do to properly use the commands about the heap?
![image](https://user-images.githubusercontent.com/34481542/74040578-efaf8600-49fe-11ea-8c89-2977361e4728.png)
![image](https://user-images.githubusercontent.com/34481542/74040651-11107200-49ff-11ea-82a6-e0e2

[2020-02-09 01:44] zachriggle commented on #702
You might also need the :i386 variant

It might be useful for us to have a documentation page / link on how to
install the correct package for various distros.

On Fri, Feb 7, 2020 at 9:12 AM 默之然i <notifications@github.com> wrote:

--

*Zach Riggle*

[2020-02-09 03:10] Kiprey commented on #702
I had searched the information and found out that "libc-dbg" is just the debugging information for the 64-bit libc.
If we need to debug the 32-bit program, we need to execute the following commands:
[code]
Then the commands of pwndbg about heap will work well.
Thanks for your help！

[2020-02-10 21:18] 0xebjc opened #704 "Recommendation: install.sh not be location specific"

[2020-02-10 22:05] 0xebjc commented on #704
wrong project

[2020-02-10 22:05] #704 closed, assigned to nobody

[2020-02-11 11:56] 0x43434343 commented on #438
still have the same issue

[2020-02-11 11:57] 0x43434343 commented on #438
did you guys fixed that ?

[2020-02-11 12:38] disconnect3d commented on #438
If you have the issue then I guess not. This seems to boil down as a "we cant get memory mappings properly" issue.

There was an improvement in getting memory pages information for linux kernel via qemu monitor, though, we still try to find memory mappings by exploring e.g. registers and this is likely wrong.

It's hard to have a 'best' solution here bcoz:
- qemu monitor command for getting memory

[2020-02-11 12:43] disconnect3d commented on #438
Also, this should be possible but probably not that easy to work around this issue by removing few things... mainly:
- memory exploration - so, commenting out/removing this code: https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/vmmap.py#L120-L124
- finding stack boundaries, which is done [here](https://github.com/pwndbg/pwndbg/blob/2f3626046448fbffcfa21822779c769c7be6606a/pwndbg/memory.py#L326-L36

[2020-02-11 12:45] disconnect3d commented on #438
I would be happy to review and merge patches that make pwndbg more robust against debugging kernels with sources etc.

[2020-02-16 18:46] CptGibbon opened #706 "vis_heap_chunks() output is inaccurate"
The following screenshot shows the vis_heap_chunks() command output when introspecting the default heap, which has 3 0x20-sized chunks allocated on it.

![vis_heap_chunks errors](https://user-images.githubusercontent.com/16000770/74610386-acce6c00-50ea-11ea-8411-1837aac693c4.png)

The first command incorrectly shows the quadword at address 0x405040 as belonging to the 3rd (magenta) chunk, when it

[2020-02-16 18:49] CptGibbon commented on #706
I have a PR ready, let me know if you want it submitted and against which branch.

[2020-02-17 00:38] disconnect3d commented on #706
Can you give some more context so the issue can be reproduced? E.g. an example minimal working binary and your libc version?

Also, we accept PRs to the `dev` branch.

[2020-02-17 10:23] CptGibbon commented on #706
Here's a minimal working binary, it just requests 3 minimum-sized chunks.
[code]
You can link against any version of GLIBC, ignoring the main thread's tcache in versions >= 2.26. The issue only concerns allocated chunks near the top chunk and how they're coloured by vis_heap_chunks().

Allow the binary to make its 3 requests under GDB then issue the `vis_heap_chunks` command without any arguments.

[2020-02-17 14:12] plusls opened #707 "vmmap output is inaccurate when use remote debug and load a local file"
### Description

vmmap output is inaccurate when use remote debug and load a local file.

### Steps to reproduce

remote:

[code]
local:

[code]

And I found that vmmap cannot recognize heap correctly.

![image](https://user-images.githubusercontent.com/23459592/74606688-7c4bf980-510d-11ea-8353-acf38bb65f8e.png)

### My setup
[code]

[2020-02-17 14:49] disconnect3d commented on #707
I confirmed this bug in https://github.com/pwndbg/pwndbg/pull/705#issuecomment-587002280. As described there, this is a cache-related bug.

[2020-02-18 07:07] zachriggle commented on #707
Since this is a caching-related issue, it might be worth building some caching-related instrumentation that shows when the *cached* result differs from the *actual* result when they are expected to be the same (because of the caching).

This might make it easier to track down issues like this, but I'm not sure how much work it is.

TL;DR It would be useful to have a setting where caching is *effec

[2020-02-18 09:53] disconnect3d commented on #707
@zachriggle Great idea. I used that locally, found the bug and fixed it in https://github.com/pwndbg/pwndbg/commit/ca649da0e34cb150b5f4614c25efb284a28e5d39 :).

@plusls please check the latest dev if it is fixed for you.

[2020-02-18 09:54] disconnect3d commented on #707
Patch used for instrumenting cache below, not sure if we want it in this form. It requires firing `pi pwndbg.memoize.memoize.caching=False` and `pi pwndbg.memoize.memoize.instrumentation=True` before doing anything else.
[code]

[2020-02-20 11:16] plusls commented on #707
it works.

[2020-02-20 11:16] #707 closed, assigned to nobody

[2020-02-20 19:51] danielnehrig opened #710 "GDB9.1 with python 3.8 on Catalina .../bin/python3.83.8: No such file or directory"
Haven't seen the issue around yet

### Description
the shell scripts seems to append another version 3.8

[code]

### Steps to reproduce

brew install gdb (or brew upgrade gdb)
clone pwndbg repo
cd repo
./setup.sh

### My setup

OS : Mac Catalina 10.15.13

* `show version` - for gdb
[code]
* `py import sys; print(sys.version)` - for python
[code]
* pwndbg version/git commit id
lastest dev branch c

[2020-02-21 07:40] danielnehrig commented on #710
Reverting to 8.1 or like doc says 7.1

[2020-03-02 02:59] bet4it commented on #30
@vn-ki as for `tmux-setup`, you can try [hyperpwn](https://github.com/bet4it/hyperpwn)

[2020-03-03 05:40] disconnect3d commented on #710
Does pwndbg even work on MacOS?

[2020-03-07 15:46] ChillerDragon opened #719 "Is http://pwndbg.re/ down?"
The url http://pwndbg.re/ is advertised in the repository description but it seems to be invalid and redirecting to https://www.ovh.co.uk/mail/

[2020-03-08 03:16] bet4it commented on #719
And http://pwndbg.com in organization page.

[2020-03-08 18:04] disconnect3d commented on #719
pwndbg.re should redirect back to this repo in <24h. pwndbg.com is not mine so I can't do anything about it. @zachriggle do u own it?

[2020-03-09 00:23] zachriggle commented on #719
Pwndbg.com is gone forever, and is being squatted for $1000z

On Sun, Mar 8, 2020 at 1:04 PM Disconnect3d <notifications@github.com>
wrote:

--

*Zach Riggle*

[2020-03-09 18:23] #719 closed, assigned to nobody

[2020-03-17 20:20] SpaceMoehre opened #722 "pwndbg "Exception: Cannot add command ctx-watch: already exists.""
### Describtion

I freshly installed pwndbg but every time I start gdb, I run in the same pwngdb error. I'm pretty new to this, so let me know what else you need. It says that a command already exists but I don't know how to remove it.

### Error
[code]

### System
[code]

[2020-03-18 07:53] giantbranch commented on #722
Just comment the line 178.
Your number of lines may be different, just search "ctx-watch" in the file.

[code]

[2020-03-18 09:32] GrosQuildu commented on #722
@disconnect3d @jerdna-regeiz seems like #711 broke pwndbg ;p

Fixed in #725, please merge.

[2020-03-18 09:50] GrosQuildu opened #726 "Bad unsigned casting"
### Description

`pwndbg.memory.u` returns signed integers (with minus `-` sign).

### Steps to reproduce

[code]

[code]

Idk why it doesn't break the pwndbg visibly. Found it running `vis_heap_chunks` on arbitrary addresses (the minus were printed in few places).

### My setup

[code]

[2020-03-18 11:39] #706 closed, assigned to nobody

[2020-03-18 11:40] disconnect3d commented on #722
Fixed, sorry for the trouble ;)

Thanks @GrosQuildu

[2020-03-18 11:40] #722 closed, assigned to nobody

[2020-03-18 16:58] disconnect3d commented on #726
**EDIT: To see what is the issue, scroll to https://github.com/pwndbg/pwndbg/issues/726#issuecomment-600760345**

I can reproduce this
[code]

I am not sure, but if I remember correctly we had some discussions about this behaviour...

[2020-03-18 16:59] disconnect3d commented on #726
Here, pure/raw GDB equivalent:
[code]

[2020-03-18 17:01] disconnect3d commented on #726
And I can confirm this being a Pwndbg bug, not a GDB behavior:
[code]

[2020-03-18 17:06] disconnect3d commented on #726
Our inthook fials again :(
[code]

EDIT: Well actually... I am not sure if that is the case, but maaaybe.

EDIT2: Yes.

[code]

[2020-03-18 17:13] #710 closed, assigned to nobody

[2020-03-18 17:14] disconnect3d commented on #726
One idea: drop support for Python 2 completely and remove the inthook. **Removing the inthook source code makes this case work _as expected_, heh.**

@zachriggle thoughts about dropping Py2 support finally? GEF did that few months ago :P.

[2020-03-18 17:21] disconnect3d commented on #726
Just so that all readers of this issue are on the same page, the problematic code is [here](https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/inthook.py#L37-L42):
[code]

This is our inthook implementation: we do it to support both PY2 and PY3 in GDB. Why? Because `int(gdb.Value(...))` on GDB with PY2 didn't work.

So we hooked int globally via `globals()['int'] = xint` and `globals()['long'] = xin

[2020-03-18 17:38] #702 closed, assigned to nobody

[2020-03-21 02:34] srajith opened #729 "cyclic error"
### Description
```pwn cyclic throws "TypeError: 'in <string>' requires string as left operand, not int" ```

### Steps to reproduce
---
cyclic -l "0x6161616c"

### My setup

![pwn](https://user-images.githubusercontent.com/40263349/77217719-82892780-6b4a-11ea-80c6-9b985368ec75.png)
![version](https://user-images.githubusercontent.com/40263349/77217721-89b03580-6b4a-11ea-8bc8-b30e337b8c9d.png)

[2020-03-21 12:12] disconnect3d commented on #729
This is a pwntools command, not pwndbg. Please refer/report to https://github.com/Gallopsled/pwntools/

[2020-03-21 12:12] #729 closed, assigned to nobody

[2020-03-21 12:26] srajith commented on #729
in pwndbg when i do cyclic -l etc still i get the same error

[2020-03-21 14:08] ld1ng opened #730 "ImportError: most likely due to a circular import"
GNU gdb (Debian 9.1-2) 9.1
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Type "show copying" and "show warranty" for details.
This GDB was configured as "x86_64-linux-gnu".
Type "show configuration

[2020-03-22 03:58] zhe6652 opened #731 "heap: This command only works with libc debug symbols."
### Description
Hi, I am using Kali Linux , when I use heap related commands in pwndbg, I get error msg like this:

### what did I do

1. I did what the prompt asked me to do, I installed libc6-dbg, and libc6-dbg:i386 (It told me that there is no libc-dbg:i386), but it still does not working.

2. I set verbose mode on in gdb ,and it seems that gdb load debug information correctly, here are the out

[2020-03-23 10:16] #731 closed, assigned to nobody

[2020-03-24 10:02] mr-m0nst3r opened #732 "pwndbg heap commands error on ubuntu 1910"
### Description
I tried several heap command, such as arena/arenas/bin, same error:

[code]

### Steps to reproduce

Gdb session history:
entry
ni
b *0x80488fe
c
arena
set exception-verbose on
arena

### My setup

Platform: Linux-5.3.0-42-generic-x86_64-with-Ubuntu-19.10-eoan
Gdb:      8.3
Python:   3.7.5 (default, Nov 20 2019, 09:21:52)  [GCC 9.2.1 20191008]
Pwndbg:   1.1.0 build: 64ca9a6
Capston

[2020-03-25 05:11] danielnehrig commented on #710
yes

[2020-03-25 14:46] disconnect3d commented on #730
Hmm seems like a dependency error?

Any chance you could investigate it further @Liding81 ?

[2020-03-25 16:01] zachriggle commented on #726
As long as we do one last release for Python2 support, I'm down for dropping it in the next release

[2020-03-30 07:56] zoniony opened #735 "Hope add basic support for RISC-V"
As of GDB 8.3 RISCV is supported.hope add basic support for RISC-V

[2020-03-31 23:07] plummm opened #736 "Pwndbg throw an exception when debugging linux kernel"
### Description
Pwndbg run extremely slow when attaching kernel by `target remote :1234`, then throw an exception.

### Steps to reproduce

### My setup

Gdb:      8.1.0.20180409-git
Python:   3.6.9 (default, Nov  7 2019, 10:44:02)  [GCC 8.3.0]
Pwndbg:   1.1.0 build: 0cdcd6f
Capstone: 4.0.1024
Unicorn:  1.0.2
linux: 7eaecf7963c1

[2020-04-01 17:54] disconnect3d commented on #736
Hey,

can you show the output of this command?:
[code]

As a workaround, please comment out this line:
[code]

[2020-04-01 17:56] disconnect3d commented on #736
To elaborate a bit more - the issue with debugging linux kernel is that we don't have a proper place to fetch memory pages information from, so... we do it from any  sources we can and one of those sources is QEMU's `monitor info mem` command. This works *for some architectures* but the output is huge and the cost of this command is not cool.

Its not so well written currently: the result should b

[2020-04-01 17:58] disconnect3d commented on #736
Btw the comments here might give some more context on the `monitor info mem` and its problems: https://github.com/pwndbg/pwndbg/pull/685

[2020-04-02 23:38] davidpolverari commented on #730
I have the same issue on Kali 2020.1 fully updated. Even tried installing all dependencies with `pip install -Ur requirements.txt` on an venv and using that venv on GDB, by appending to sys.path inside GDB and sourcing the `pwndbg/gdbinit.py`, but the same errors happen.

[2020-04-03 00:35] disconnect3d commented on #730
Can you guys check out this solution: https://github.com/giampaolo/psutil/issues/1288#issuecomment-401303133 ? Can it be that your distro/some tools u use ship with a specific psutil version that breaks pwndbg?

[2020-04-03 02:48] davidpolverari commented on #730
First of all, thanks for the awesome tool and for the help! Removing psutil worked, but there's no other psutil installed by the distro that I could find. Besides installing with pip --user, I also removed everything and installed the requirements on a venv, and had the same problems. The only psutil installed was the one from requirements.txt.

[2020-04-03 03:15] davidpolverari commented on #730
BTW: on Debian Buster (stable), it works perfectly. But I couldn't trace the root of the problem on Kali.

[2020-04-07 16:40] Lija321 opened #737 "Kali linux error while isntalling"
### Description

I am trying to install pwndbg i run ```./setup.sh``` but I get an error message and cant figure out whats the problem

### Steps to reproduce
Only things that i have changed about the kali linux vm is that I added 2 repos
[code]
In the end i get this huge error
[code]

### My setup

I am using pwndbg lattest release , python have both 2 and 3, os is Kali Linux 2020 in a vm and gdb

[2020-04-07 17:17] 0verf103 commented on #737
[code]
May help you

[2020-04-07 18:03] #737 closed, assigned to nobody

[2020-04-07 18:15] Lija321 commented on #737
That solved the issue

[2020-04-07 19:58] amlamarra commented on #438
Just chiming in that this is still an issue and it would be awesome to get it fixed.

[2020-04-09 02:58] zachriggle opened #738 "ida.py, ida-script uses deprecated API"
The current implementation of the IDA Pro bindings in Pwndbg rely on the old, now-deprecated API.  The new API is available in all IDA versions since v7.0:
https://www.hex-rays.com/products/ida/7_0/docs/api70_porting_guide/

IDA v7.4 disables the compatibility layer by default, meaning the `pwndbg.ida` module is now broken as well as `ida_script.py` hosting the XMLRPC server.

HexRays has written

[2020-04-13 19:40] jonaskaempf commented on #438
I also have had this issue for a while.

Generally, as @disconnect3d says, there's very poor support for kernel debugging, and the problems are spread out across the code base as there's numerous assumptions that only work for user-land. For example, a lot of stuff in pwndbg/elf.py does plainly not work for vmlinux debugging.

In my opinion, it will be a major undertaking adding "first-class" supp

[2020-04-23 21:12] aj3423 opened #741 "slow when remote debugging"
### Description

1. I'm remote debugging with Android phone. There is a delay after every single step, about 1 second.
![slow](https://user-images.githubusercontent.com/4710875/80149551-6f55f580-85e9-11ea-8ea3-e7782333de7c.gif)

2.  When configured not output anything, it still delays about 200ms.
[code]
![slow no context](https://user-images.githubusercontent.com/4710875/80149571-767d0380-85e9-11

[2020-04-23 21:40] disconnect3d commented on #741
I think the vast performance hit is due to functions that are executed on each stop (and so decorated with `@pwndbg.<something>.stop` iirc.

It would be worth enabling some profiling and see what takes the most time...
Also `set debug-events on` might be handy here, though i am not sure.

[2020-04-24 09:45] aj3423 commented on #741
Tried to trace the lag with `set debug-events on`, finally found the problem is reading from remote memory
[code]
both reads memory from remote
[code]
Seems it's problem of reading remote memory,  the way to reduce delay is to reduce memory reading...

[2020-04-24 12:35] disconnect3d commented on #735
Is this arch supported by capstone? If so, we could easily add it.

If not, maybe we should drop capstone nad use GDB's disassembler etc in such cases ;).

[2020-04-24 12:51] disconnect3d commented on #741
(btw the first version of ur post was also very valuable imho, but anyway)

We could get a great improvement here if we disabled unicorn/capstone and rely on GDB's instruction disassembler.

This way, we wouldn't be able to "follow the values" and enhance the display with e.g. addresses that will be used in e.g. a mov instruction that is 5 instructions further, but, it will increase the speed.

Al

[2020-04-24 13:09] aj3423 commented on #741
Sometimes even the `one` function(read 1 byte) can cost 100ms, but most time it doesn't.  It's very fast to show 10 lines of code with `x /10i $pc`, almost instantly, or show registers wit `info reg`. I guess it also reads memory from remote, the difference is it's c++, maybe it's speed problem with pythong binding, not much we can do ...

[2020-04-24 14:53] bjorn3 opened #742 "Exception when some primitive types are not defined in the debuginfo"
https://github.com/pwndbg/pwndbg/blob/fbd2bb3abfc2500aae76d159e23015008e879b8d/pwndbg/typeinfo.py#L37-L43

It should just silently ignore the missing primitive types.

[code]

[2020-04-24 15:45] bjorn3 opened #743 "Don't hard code a native register sized type as being called "int""
https://github.com/pwndbg/pwndbg/blob/fbd2bb3abfc2500aae76d159e23015008e879b8d/pwndbg/arguments.py#L155

This is only true for languages in the C family.

[2020-04-25 10:38] #741 closed, assigned to nobody

[2020-04-26 13:24] disconnect3d commented on #742
...and return None and this should be handled by callers of this func?

[2020-04-26 13:25] disconnect3d commented on #743
Do you know a better way to determine this?

[2020-04-26 14:09] bjorn3 commented on #743
1. You could search the current compilation unit for a type of the right size
2. Why is it actually necessary for the debuginfo to contain such a type. Why not just create it yourself, or avoid it's use.

[2020-04-27 13:43] BeLeap opened #745 "Fail to run setup.sh in Ubuntu 20.04"
### Description

I can't execute setup.sh.
I think it would be because python2 is deprecated.
<img width="1620" src="https://user-images.githubusercontent.com/46488521/80378705-049e0600-88d8-11ea-9d38-2d4f1e5e401a.png" />

### Steps to reproduce

Run setup.sh in Ubuntu 20.04.(Maybe WSL)

### My setup

<img width="1620" src="https://user-images.githubusercontent.com/46488521/80378431-9ce7bb00-88d7-

[2020-04-27 20:35] zachriggle commented on #745
I see the same on my end:

[code]

[2020-04-28 23:20] hkrawbytes opened #746 "vis_heap_chunks not working during gdb attach session"
### Description

### Steps to reproduce

Gdb session history:
c
vis
x/xg set exception-verbose on
set exception-verbose on
vis

### My setup

Platform: Linux-5.3.0-40-generic-x86_64-with-Ubuntu-19.10-eoan
Gdb:      8.3
Python:   3.7.5 (default, Apr 19 2020, 20:18:17)  [GCC 9.2.1 20191008]
Pwndbg:   1.1.0 build: 3cf9b31
Capstone: 4.0.1024
Unicorn:  1.0.1
This GDB was configured as follows:
   confi

[2020-04-28 23:25] blurbdust commented on #745
After removing the `python-pip` install from `setup.sh` and adding `testresources` to `requirements.txt` it seems to be working fine for me on Ubuntu 20.04 LTS.

https://github.com/blurbdust/pwndbg/commit/1c89b462b8d2d84de629617bdcb1182d098efd33

[2020-04-29 09:55] disconnect3d commented on #746
Any log?

[2020-04-29 09:57] #726 closed, assigned to nobody

[2020-04-29 10:05] disconnect3d commented on #743
Which GDB command or API calls can we use for that?

Same as above. The GDB API doesn't allow to create our own instances of the `gdb.Type` objects. That's sad but we have to live with it for now, until ofc someone wants to go ahead and add it there.

This is also problematic here: https://github.com/pwndbg/pwndbg/blob/fbd2bb3abfc2500aae76d159e23015008e879b8d/pwndbg/typeinfo.py#L51-L70 - we fetch

[2020-04-29 10:12] disconnect3d commented on #726
Should be fixed by #747, we can proceed with a last release of Py2 and delete this file soon.

[2020-04-29 10:27] bjorn3 commented on #743
Ok, I understand.

I tried to find the reason the call arguments in the disassembly showed only register names and not the names defined in the debuginfo.

[code]

While looking at the source code I found this hard coded `int`. I only later noticed that there is a hard coded list of function argument names in the source code, rather than reading it from the debuginfo `DW_TAG_formal_parameter`.

[2020-04-29 10:29] disconnect3d commented on #743
Ah, yes. I think it would be nice to have a mode where we read it from the debuginfo. I am not sure if GDB API gives that right away though :'(.

[2020-04-29 13:01] hkrawbytes commented on #746
No but I already have installed the libcdbg both 32bit and 64 but it doesn't work

[2020-04-29 13:02] hkrawbytes commented on #746
The vis command

[2020-05-01 15:09] lucascebertin opened #749 "Help: disasm with duplicate visual pointing references"
I'm learning about RE and just find out pwndbg.

Using splitmind (saw it in FEATURES readme) with a custom setup of window/pane splitting, I got some "duplicate" visual references pointing to the same instruction in DISASM section.

I don't know if it's the right place to ask for help or not, sorry if it's not the right one

![image](https://user-images.githubusercontent.com/6990857/80813910-4c0ae

[2020-05-04 04:33] sudhackar commented on #749
pwndbg will emulate instructions and predict what branches will be taken in the future. Here the jump at `_dl_start+196` will be taken, so pwndbg predicts the future instructions to be executed - in this case a loop.

This can be seen here
https://github.com/pwndbg/pwndbg/blob/2a09b30649fe590a4f284c0dc9f484304074a829/pwndbg/commands/nearpc.py#L125-L129

So this might not be an issue at all dependi

[2020-05-04 11:45] lucascebertin commented on #749
Thanks for your answer, so, if I got it correctly, what I saw is a feature that predict the next branches.
Looking at the code, there are some parameters for a lot of stuff...
Is it possible to disable this emulation/prediction and, in the case, what kind of side effects of doing that?

Just asking a lot because I get a little bit lost when I see 5 green arrows pointing and, when step next, all ar

[2020-05-04 12:41] sudhackar commented on #749
See if this helps

https://github.com/pwndbg/pwndbg/blob/5849d27446f50280ed1ea81b98c40e0faff2bf06/pwndbg/commands/context.py#L416-L418

Try setting it to off
[code]
For more have a look at the `config` command

[2020-05-04 12:51] lucascebertin commented on #749
Tried the `set emulate off`, same green arrows around :disappointed:
I'll search for config options later but, for now, thanks @sudhackar
Any other hint, please, let me know!

[2020-05-04 14:40] sudhackar commented on #749
I was able to get what you wanted with `set emulate off` and this diff

[code]

Obviously I don't advise this as this may have unexpected results.

[2020-05-04 15:26] disconnect3d commented on #749
Hey,

What do you mean by 'same green arrows around'? Does it give exactly the same output?

The `set emulate off` should disable this feature completely and you should see linear/flat disassembly instead. If it doesn't work, it is a bug.

[2020-05-04 15:38] sudhackar commented on #749
@disconnect3d I couldn't get simply `set emulate off` to work too. Here's an example

![image](https://user-images.githubusercontent.com/10460978/80984187-299bf700-8e4b-11ea-9b73-e7f5333f7234.png)

[2020-05-04 15:41] lucascebertin commented on #749
@disconnect3d, yes, produced the same output.

Don't know if I did something wrong here but:
1- Started gdb with my binary
2- `set emulate off`
[code]
3- Started my debug session

@sudhackar, thanks for sharing your results too!

[2020-05-04 17:38] disconnect3d commented on #749
I initially thought this could be a caching related bug, but it is not.

This it is not emulation here. This is our "disassembly enhancement display" feature.

The way it works is as follows:
- when we dissasembly instructions, we "enhance" them, via the `enhance` function: https://github.com/pwndbg/pwndbg/blob/d3ec217e602281cf8d66e2dd6d007c62cbe7fdfb/pwndbg/disasm/arch.py#L50-L59
- this is to imp

[2020-05-04 17:41] disconnect3d commented on #749
So in the end it seems this is not a bug, but I am not sure if we really want this behavior with `set emulate off`.

On the other hand, we could also have a `set enhance off`, and make it a right distinction on what is fetched from enhancing and what is fetched from emulation.

For now, I didn't touch emulation right now and I don't believe what exactly it did/helped with, but most likely, with ca

[2020-05-04 17:41] disconnect3d commented on #749
Also: @zachriggle @GrosQuildu @mzr @stnevans @anthraxx if you have any comments ;).

[2020-05-04 17:59] disconnect3d commented on #749
Ehh, I think I probably missed the main point here.

Regarding the visual duplicate of the "current instruction", what I marked on the screen below. This is indeed a small bug which we never worried about much.

We probably enhance current instruction no matter if it is displayed for the first time or any other time, and that's why we have the arrow there.

![image](https://user-images.githubuserc

[2020-05-04 18:26] #749 closed, assigned to nobody

[2020-05-04 18:27] disconnect3d commented on #749
@lucascebertin Fixed in https://github.com/pwndbg/pwndbg/pull/750, can you see if it works for you with latest dev branch?

The display should still "try to follow jump", but it should not mark the PC twice.

[2020-05-04 18:28] disconnect3d commented on #749
Regarding the "flat disasm view" - if anyone wants this, please open another issue (or send a PR) so we can discuss if we want it. I think it could be a reasonable feature, though we probably would want to put it behind a setting then.

[2020-05-04 19:39] disconnect3d commented on #745
This should work now.

[2020-05-04 19:39] #745 closed, assigned to nobody

[2020-05-04 19:46] disconnect3d commented on #746
After compiling this file and launching it on gdbserver via `gcc a.c && gdbserver localhost:1234 ./a.out`
[code]

and the connecting to it on another instance via `gdb` -> `target remote localhost:1234` I can't get heap right away:

![image](https://user-images.githubusercontent.com/10009354/81006890-8948d100-8e50-11ea-8dc8-f93885eb8efb.png)

However, everything works fine after setting a bp on `f

[2020-05-04 19:46] #746 closed, assigned to nobody

[2020-05-04 19:49] disconnect3d commented on #730
I am not sure if we can help here. If anybody has this issue again, please ask to re-open this (or open another issue). Though, it seems more like a problem with some packages/dependencies on kali?

[2020-05-04 19:49] #730 closed, assigned to nobody

[2020-05-04 19:57] disconnect3d commented on #732
Works for me on Ubuntu 19.10 Docker container built from the Dockerfile below. Are you sure you installed pwndbg properly? Can you try re-running setup.sh again? If this still occurrs afterwards, that is very weird :S.

[code]

Log below:
[code]

[2020-05-04 19:57] #732 closed, assigned to nobody

[2020-05-05 10:56] lucascebertin commented on #749
@disconnect3d, sorry for taking this so long.
It's perfect, now I feel much more comfortable looking to disasm!

Thanks for attention and help guys.

[2020-05-05 11:13] disconnect3d commented on #749
You are welcome :).

[2020-05-08 11:51] GrosQuildu commented on #68
Fixed in #728 I think. Close?

[2020-05-09 12:24] peace-maker opened #752 "Backtrace in context output is missing symbols compared to "backtrace" output"
### Description
The backtrace shown in the `context` output isn't showing all the symbol information that's available compared to the output of `bt`. I'd expect the symbols to be shown in the `context` view as well.

[code]

### Steps to reproduce
[code]
I've stumbled upon this while debugging a build with debug symbols enabled. Run with `docker build -t pwn . && docker run --rm -it --cap-add=SYS_

[2020-05-11 12:55] pullp commented on #752
How about replace `context_backtrace()` in `commands/context.py` with `gdb.execute('backtrace')` (along with some wrapper code).

Since currrent code use `gdb.execute` to get the symbol for eache frame. So this change will reduce the usage count of `gdb.execute`.

If you think this is a good idea, I will make a PR. @disconnect3d

[2020-05-11 13:04] disconnect3d commented on #752
Just for reference: https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/commands/context.py#L544-L590

Can it be related to symbols being mangled/demangled somewhere and us having incorrect names or something?

Also, what does the current backtrace give us over the original one? Maybe it can show symbols if we synchronize pwndbg with ida? Or handle some corrupted stack trace better and display the ad

[2020-05-11 19:09] minium opened #755 "Heap module broken when inspecting static binary"
### Description

When trying to inspect the heap of a binary (specifically lab7A from the Modern Binary Exploitation training), I get the following error:
[code]
It seems to be related to missing dependencies. I only see this behaviour when compiling the binary statically.

### Steps to reproduce

First run the binary:
[code]

Then inside of GDB:
[code]

### My setup
Here are the version details
[

[2020-05-11 23:46] layderv commented on #664
It's been a few months without any update here, so I made this change. If this isn't welcome, feel free to disregard my pull request

[2020-05-13 07:10] hackeredsx opened #757 "pwndbg Installation error reporting"
have a   error
Traceback (most recent call last):
  File "/usr/lib/python3.4/runpy.py", line 170, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.4/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.4/dist-packages/pip/__main__.py", line 23, in <module>
    from pip._internal.cli.main import main as _main  # isort:skip # noqa
  Fil

[2020-05-13 17:15] davidpolverari commented on #730
Yes, looks like it is problem on Kali/Debian Testing. Thanks for your help.

[2020-05-14 13:11] dlmarrero opened #758 "`find_fake_fast` fails when providing a size argument"
### Description

Providing a size argument to the `find_fake_fast` command causes a TypeError at [heap.py:519](https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/commands/heap.py#L519).

### Steps to reproduce

1. Run gdb on a program that utilizes the heap
2. Once the heap is initialized, run `find_fake_fast &__malloc_hook 0x7f`

`find_fake_fast` working correctly as of commit 1158a3086d2eaa137e3ce

[2020-05-14 20:10] zachriggle opened #759 "Crib HeapInspect features"
This is a neat project, they may have some features we can crib:
https://github.com/matrix1001/heapinspect

[2020-05-19 22:53] h4dla3 commented on #731
the command working without any error  in kali

[code]

![Screenshot_2020-05-19_02-37-14](https://user-images.githubusercontent.com/55387011/82384396-b9cf6400-9a27-11ea-8bf9-13b032e66685.png)

[2020-05-21 07:08] h4dla3 commented on #731
i got the error

![Capture](https://user-images.githubusercontent.com/55387011/82530616-a14d6f80-9b35-11ea-9963-a65f1a8cf802.PNG)

to fix
try  this

![Screenshot_2020-05-21_02-43-12](https://user-images.githubusercontent.com/55387011/82531812-f7231700-9b37-11ea-9941-d906265675b0.png)

i'm using ^ glibc-all-in-one in the picture
to download with glibc-all-in-one  ~~  ./download 2.23-0ubuntu10_amd64

[2020-05-26 00:54] zachriggle opened #761 "QEMU uses binfmt root instead of pwndbg.qemu.root()"
This bit here  should probably use pwndbg.qemu.root() instead of using the module variable directly:

https://github.com/pwndbg/pwndbg/blob/609284cee279de345dcb0706e11a0b56abe349f4/pwndbg/file.py#L35

[2020-05-26 10:48] qwqer-hub opened #762 "How to display chunk detail chunk information when doing heap inspection rather than just displaying one allocated chunk?"
I'm currently learning how to use pwndbg. When I try to display the chunk details using the command heap. It shows one allocated chunk that only displays the addr and size rather than displaying prev_size, size, fd, bk, fd_nextsize, bk_nextsize

This is what it shows when I heap
![Capture](https://user-images.githubusercontent.com/64819585/82891776-07e1dd00-9eea-11ea-9bc2-b230bfb611e5.JPG)

This i

[2020-05-26 16:50] CptGibbon commented on #762
You can use the `heap` command's `-v` or `--verbose` flag to print every field of a `malloc_chunk` struct, even if it's not being used by malloc.

In your 1st example you won't see any output beyond that chunk because its size field is corrupt so pwndbg can't find the succeeding chunk.

If you're unsure of how a command works you can pass it the `-h` flag to see usage information and a list of opt

[2020-05-26 19:10] qwqer-hub commented on #762
oh got it thx.

[2020-05-26 19:10] #762 closed, assigned to nobody

[2020-05-27 20:06] zachriggle opened #764 "Automatically Install libc debug symbols for i386 on Ubuntu"
Per #635 some commands only work with libc debug symbols installed.

We currently auto-install the e.g. `libc6-dbg` package on Ubuntu, but many users may debug 32-bit apps and will lack symbols for that.

We should automatically attempt to install `libc6-dbg:i386` as well, which may require the following:

[code]

[2020-05-27 20:12] zachriggle commented on #764
It looks like we already attempt to install `libc6-dbg:i386` but do not do the `--add-architecture` step which is required for the package to be available.

https://github.com/pwndbg/pwndbg/blob/609284cee279de345dcb0706e11a0b56abe349f4/setup.sh#L27-L29

[2020-05-28 08:56] zachriggle opened #765 "Pwndbg causes qemu-user to fault when stepping through shellcode"
I ran into an issue when attempting to debug trivial binaries generated by pwntools:
https://twitter.com/ebeip90/status/1265917215653736448?s=20

Pwntools has the ability to take arbitrary assembly / shellcode, assemble it into a valid statically-linked ELF file, launch qemu-user with debugging enabled, and automatically connect to the GDB stub.

[code]
Ideally, everything would work identically u

[2020-05-28 09:35] zachriggle opened #766 "pwndbg.typeinfo.update needs to be invoked on new_objfile"
When debugging a binary that does an `execve`, when using `gdbserver`, there is some stale state that gets left behind.  I expect some data is being over-cached or some events are not firing.

Specifically, this occurs when the exec'ed binary is of a different architecture.

You should be able to reproduce this with a 32-bit binary that invokes e.g. `system('id')`.

The attached binary simply invo

[2020-05-28 11:06] disconnect3d commented on #766
Interesting, can u see this with:
[code]
?

[2020-05-28 22:42] zachriggle commented on #764
Does our `heap` command work for alternate architectures when running under qemu-user?  If so, we should probably add:

[code]

To install libc and debug symbols for all cross-architectures that are supported

[2020-05-28 22:53] zachriggle opened #767 "No documentation for 'heap' command"
It looks like the `heap` command doesn't have any docs.

[code]

Since this is a core feature of Pwndbg (IMHO), it should probably have some docs.

[2020-05-29 00:04] zachriggle commented on #766
The same behavior is observed with caching disabled.

The same behavior is actually observed with Pwndbg completely disabled ☹️

[code]

[2020-05-29 01:16] g0su911 opened #768 "[Install] Exception: Cannot override non-whitelisted built-in command "canary""
This is an error message below:

<img width="829" alt="스크린샷 2020-05-29 오전 10 11 31" src="https://user-images.githubusercontent.com/12660636/83210174-21f31800-a195-11ea-82bc-db80f823e280.png">

OS: Ubuntu 18.04
gdb: 9.2 (lastest)
gcc: 10.1

How to solve this problem?
Thank you.

[2020-05-29 01:20] g0su911 commented on #768
Sorry. This is my .gdbinit issue.

[2020-05-29 01:20] #768 closed, assigned to nobody

[2020-05-29 02:26] zachriggle opened #769 "Pwndbg displays context after every command"
It looks like Pwndbg now displays context on *every* command, making it hard to see the results of each command.

For example, just executing `vers` should not display the context again:

[code]

[2020-05-29 03:14] zachriggle commented on #766
I verified that this issue still affects GDB 9.2 ☹️

[2020-05-29 05:10] zachriggle commented on #766
Following up, even with GDB 9.2 I was still using an old (7.10) gdbserver that was in my ~/bin/.

Updating gdbserver to also be 9.2 makes everything work again (mostly).

[2020-05-29 05:30] zachriggle commented on #766
Looks like this IS pwndbg-related, at least partly.  We are not updating register widths after an exec.  I think there's a missing event or something like that?

**TLDR: We need to add `@pwndbg.events.new_objfile` to `pwndbg.typeinfo.update`**

## Test Script

[code]

## Without Pwndbg

Once `/bin/sh` is executed and you see the prompt, hit Ctrl+C to get back to the debugger.

[code]

## With Pwnd

[2020-05-29 05:44] zachriggle commented on #766
This was extra hard to debug because there IS (was) a bug in gdbserver that breaks architecture detection across execs.  It seems to be fixed in v9.2, but is definitely broken in v7.10.

Thanks for the patience reading this all, I renamed the issue and put in a TLDR.

[2020-05-29 06:10] zachriggle opened #770 "Broken commands: lm, address, vprot"
None of these commands seem to work.  They're intended to be pass-through to `vmmap` but they don't work as expected.

[code]

[2020-05-29 22:32] disconnect3d opened #771 "Better telescope enchancements"
When we store a very long cyclic buffer in memory and then display the addresses with telescope, the first few values are fine but later we get a very long string. As in:
[code]

I guess telescope finds out the string is too long to display it so it just displays its 8 bytes, but if it is shorter than some constant it prints the whole string? If my assumption is correct, we could make it keep the

[2020-05-29 22:52] zachriggle commented on #771
The cut-off for this is `pwndbg.strings.length`, which is inferred from `show print elements`.

https://github.com/pwndbg/pwndbg/blob/677dfa2a1947fed41bcae315eb5656234150e43f/pwndbg/strings.py#L20-L55

You can change the value with `set print elements` and it will be picked up on the next debugger stop.

To fix this in the ideal case ("keep printing strings as 8-byte strings if we are continuing")

[2020-05-29 23:04] disconnect3d commented on #771
Yeah, that will do the trick, thx.

[2020-05-29 23:04] #771 closed, assigned to nobody

[2020-05-30 06:59] zachriggle opened #772 "Pwndbg no longer shows addresses of operations"
I recall in the past, Pwndbg would calculate the address of an operation, e.g.

[code]

Would show the address of `[ebp - 8]` and its chained contents.  This is no longer the case.

Is this disabled behind a flag, broken, or was it removed at some point?  Super useful functionality.  It existed before the current emulator, so perhaps it's gone now?

Edit: It looks like `pwndbg/disasm/arch.py` stil

[2020-05-30 18:08] disconnect3d commented on #772
It works but not always, I never went the path to investigate why... (or maybe we broke it sometime)

[2020-05-31 03:23] zachriggle opened #773 "Clear caches on `events.clear_objfiles`"
For the last several releases, GDB has supported the following events that may allow us to make `pwndbg.events` more efficient: https://sourceware.org/gdb/onlinedocs/gdb/Events-In-Python.html#Events-In-Python

If we add support for these, we will need to add workarounds for older GDB versions that don't support them.  We should also add `memoize` functions for these.

Support for all of these even

[2020-05-31 03:29] zachriggle commented on #752
Yes, the current backtrace should sync with IDA.

[2020-05-31 05:42] zachriggle commented on #757
Can you provide more information, like your OS and version?  Python3.4 is really old, so I'm not sure where you are running this.

[2020-05-31 05:48] zachriggle commented on #743
It looks like this can be determined dynamically, but we'll still have to do mapping to e.g. `long` or `int` as necessary:

[code]

And for GDB prior to 7.9

[code]

[2020-06-06 19:04] layderv commented on #664
I've pushed a fix. Is there any change to be made or can it be merged?

[2020-06-06 19:57] martinclauss opened #777 "xinfo Exception"
Hello!

I have the following problem:

[code]
more details:
[code]
versions are:

[code]
my system:

[code]
more information from `bugreport --run-browser`:

[code]
I also attached the file I used: [relocoverwrite.zip](https://github.com/pwndbg/pwndbg/files/4740908/relocoverwrite.zip)

Best
Martin

[2020-06-06 22:16] disconnect3d commented on #664
@layderv Merged. Thanks!

[2020-06-06 22:16] #664 closed, assigned to nobody

[2020-06-06 22:18] #758 closed, assigned to nobody

[2020-06-06 22:20] disconnect3d commented on #758
Fixed in #760.

[2020-06-06 22:21] #761 closed, assigned to nobody

[2020-06-06 22:24] disconnect3d commented on #752
This is referenced anyway, but just not to loose this: there was an attempt in #754 to fix this.

[2020-06-06 22:49] disconnect3d commented on #773
I'd be even up for bumping the required version even more, like 9.x as it's not that big deal to compile GDB from scratch :P.

[2020-06-06 22:51] disconnect3d commented on #769
Interesting, especially that I can't reproduce it.
[code]

Even on the same pwndbg version:
[code]

But I think I've seen context firing sometimes when I didn't expect it to run.

[2020-06-06 22:53] disconnect3d commented on #769
@zachriggle Any more context so I can reproduce this? :(

[2020-06-06 23:37] #770 closed, assigned to nobody

[2020-06-06 23:38] disconnect3d commented on #777
@martinclauss Hey, I can't reproduce it even with your binary, at least on GDB 8.1. I will try on 9.x, though it seems like it is a bug within pwndbg :F.

[2020-06-06 23:39] disconnect3d commented on #767
@GrosQuildu can you add it?

[2020-06-06 23:48] disconnect3d commented on #766
@zachriggle Can it be that you tested it with old pwndbg? The `pwndbg.typeinfo.update` is fired upon `new_objfile` event, as in https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/typeinfo.py#L46

Also, the PoC with 32-bit binary that calls execve on /bin/sh which is 64-bit works properly for me. This being said, I am closing this unless more info is shown.

Log:
[code]

[2020-06-06 23:49] #766 closed, assigned to nobody

[2020-06-07 00:00] disconnect3d commented on #757
Closing as being too old with no reply from the author.

[2020-06-07 00:00] #757 closed, assigned to nobody

[2020-06-07 07:36] jrozner opened #781 "find_fake_fast is broken"
### Description

I've been going through the HeapLab course on Udemy which uses pwndbag. In going through the fast dup example find_fake_fast is used for finding a fake fastbin with a usable size field. While attempting to do this pwndbg fails with the following error:
[code]

Using git bisect I found that the bug was introduced in f90db722a52e7b6da5712251e5cf30ff6e67427e. Going to the previous co

[2020-06-07 08:14] martinclauss commented on #777
Hi! It seems that it is depending on the address whether it crashes or not. `xinfo <address of main>` works without any problems...

[2020-06-07 08:33] martinclauss commented on #777
It also seems that it effects Ubuntu 19.10 (gdb 8.3) as well..:

## Ubuntu 18.04 WORKS

[code]

## Ubuntu 19.10 EXCEPTION

[code]

## Ubuntu 20.04 EXCEPTION

[code]
I wrote a little shell script and Dockerfile that makes the testing a bit easier:

`run_containers.sh`:

[code]

`Dockerfile`:

[code]
Here is a zipped version of all the files: [pwndbg_xinfo_test.zip](https://github.com/pwndbg/pwndbg/

[2020-06-07 13:44] disconnect3d commented on #781
@GrosQuildu can you look at this?

[2020-06-07 13:55] disconnect3d commented on #777
@martinclauss Thanks a lot for reproducible case! I will check this out.

[2020-06-07 14:36] disconnect3d commented on #777
Weird, it seems this might be a bug in `elftools`. This is on Ubuntu 20.04:
[code]

For some reasosn, one of the `p_type` has a value of `1685382483`.

On Ubuntu 18.04:
[code]

[2020-06-07 14:45] disconnect3d commented on #777
[code]

[2020-06-07 14:46] disconnect3d commented on #777
According to the paste above and to the order in here:

It seems the pyelftools library doesn't know about the `GNU_PROPERTY` segment which has a value of 1685382483.

[2020-06-07 15:13] disconnect3d commented on #777
Yeah, this is a missing value on the pyelftools side, but also, we should probably not fail when elftools misses one of the segment values.

I sent a patch to pyelftools here: https://github.com/eliben/pyelftools/pull/319.

[2020-06-07 15:38] #777 closed, assigned to nobody

[2020-06-07 15:39] disconnect3d commented on #777
Fixed in #782. @martinclauss if you can double check this on your side that would be nice. Thanks! :)

[2020-06-07 16:37] #743 closed, assigned to nobody

[2020-06-07 16:40] disconnect3d commented on #781
@jrozner Hey, can you post exact reproduce steps?
[code]
this works properly on a binary that doesn't do anything suspicious

[2020-06-07 16:48] disconnect3d commented on #742
@bjorn3 do u have any binary that can be used to reproduce this?

[2020-06-07 17:00] disconnect3d commented on #742
Can be reproduced via:
[code]

[2020-06-07 17:02] disconnect3d commented on #742
Uh, what shall we do here? We could save current language, set lang to C, grab types and bring back the proper language. This will probably work to fetch types with given size, but I am not sure if that's what we want?

Just to clarify: we can't instantiate type objects from GDB >_<

[2020-06-07 17:02] disconnect3d commented on #742
@zachriggle any opinion here?

[2020-06-07 17:07] zachriggle commented on #769
I can no longer reproduce this either.

[code]

[2020-06-07 17:07] #769 closed, assigned to nobody

[2020-06-07 17:28] jrozner commented on #781
@disconnect3d I can send the the binary, glibc, and exploit I'm using. Can't upload the binary or so here though

[2020-06-07 17:59] martinclauss commented on #777
Awesome! I just checked the dev branch and everything is working as expected! :) Thanks a lot for investigating and fixing the bug so quickly =)

[2020-06-08 08:03] GrosQuildu commented on #781
Can't reproduce, please send binary and exploit to e28a95 at gmail.com
No idea what happens, because `cursor` should be simple int and `top_chunk` should not be dereferenced.

[2020-06-08 08:05] GrosQuildu commented on #767
On dev:
[code]
?

[2020-06-08 11:18] #767 closed, assigned to nobody

[2020-06-09 00:06] zachriggle commented on #773
I'd prefer to keep out-of-the-box support for Xenial (7.11) for now.

*Zach Riggle*

On Sat, Jun 6, 2020 at 5:49 PM Disconnect3d <notifications@github.com>
wrote:

[2020-06-09 00:10] zachriggle commented on #781
You can upload ZIP files, just zip together the bincy / glibc / exploit
together.

*Zach Riggle*

On Mon, Jun 8, 2020 at 3:03 AM Paweł Płatek <notifications@github.com>
wrote:

[2020-06-09 06:41] jrozner commented on #781
[find_fake_fast.zip](https://github.com/pwndbg/pwndbg/files/4750328/find_fake_fast.zip)

[2020-06-09 07:51] GrosQuildu commented on #781
Ok, `arena` is wrongly created: https://github.com/pwndbg/pwndbg/blob/af0b065b42a3f8e31ea62523ac7088f006f1c183/pwndbg/heap/ptmalloc.py#L336-L340
This returns `<gdb.Value object at 0x7fb87f22aef0>` such that:
[code]
And the same error when `arena['top']` is compared. How should we fix the code above? So how to check if gdb.Value points to something in vmmap?

[2020-06-09 10:10] disconnect3d commented on #781
e.g.
[code]

It will raise a `StopIteration` if the value is not there.

[2020-06-09 11:28] #781 closed, assigned to nobody

[2020-06-09 11:29] GrosQuildu commented on #781
Ok, should be fixed by #784 .

[2020-06-12 12:09] elongl opened #785 "The `heap` command claims I don't have libc debug symbols installed."
### Description
I remember there was an active discussion on this issue previously,
but I can no longer find it and I'm still facing this problem.

When trying to use the `heap` command, I'm getting
[code]

I can assure you I already have these installed,
[code]

I do use the latest pwndbg version.

### Steps to reproduce
Use the `heap` command.

### My setup
OS: Ubuntu 20.04 LTS (Focal Fossa)
Gdb

[2020-06-12 16:30] #785 closed, assigned to nobody

[2020-06-12 16:46] disconnect3d commented on #785
I think it might not work on binaaries statically linked with libc.

[2020-06-12 16:48] elongl commented on #785
@disconnect3d
It wasn't statically linked, but I loaded a different glibc than my system's using `LD_PRELOAD`,
therefore I truly didn't have its symbols.

Sorry for the false issue, my bad.

[2020-06-12 16:51] disconnect3d commented on #785
Np, you are welcome! :)

EDIT:

therefore I truly didn't have its symbols.

Yeah... I think there might be some way to retrieve the proper info when not having symbols e.g. by having one allocated pointer or inspecting the heap. Though someone would have to implement that :(

[2020-06-13 18:02] wgf4242 opened #786 "cyclic -l 0x40083a TypeError: 'in <string>' requires string as left operand, not int"
[code]

[2020-06-13 21:00] zachriggle commented on #786
This is a Python3 bytes-iterable issue

On Sat, Jun 13, 2020 at 1:02 PM wgf4242 <notifications@github.com> wrote:

[2020-06-16 18:00] CptGibbon opened #788 "'dq' command behavior has changed"
`git bisect` suggests this was introduced in 2a09b30

Consider a simple program:
[code]
Built and run with:
[code]

Previously, `dq` could dump memory at the `some_array` symbol:
![dq_success](https://user-images.githubusercontent.com/16000770/84809700-2bff7e00-afbf-11ea-9ea4-7b680c33043d.PNG)

After 2a09b30 it can't, unless an ampersand is supplied before the symbol name:
![dq_failure](https://us

[2020-06-16 20:02] disconnect3d commented on #788
Symbols should work imho

[2020-06-16 20:40] zachriggle commented on #788
I think the issue here is that GDB now wants `*some_array` instead.

On Tue, Jun 16, 2020 at 3:02 PM Disconnect3d <notifications@github.com>
wrote:

[2020-06-19 11:56] GrosQuildu opened #789 "remote target do not reset is_remote"
### Description

When debugging qemu kernel with `gdb ./vmlinux` followed by `target remote :1234`, `pwndbg.remote.is_remote` function falsely returns `False`.

### My setup

Gdb:      8.1.0.20180409-git
Python:   3.6.9 (default, Apr 18 2020, 01:56:04)  [GCC 8.4.0]
Pwndbg:   1.1.0 build: 5efff78
Capstone: 4.0.1024
Unicorn:  1.0.2

### Discussion
[`pwndbg.remote.is_remote`](https://github.com/pwndb

[2020-06-19 15:51] disconnect3d commented on #789
It works for me when I do `qemu-x86_64 -g 1234 /bin/ls` and `target remote localhost:1234`.

[2020-06-19 16:14] GrosQuildu commented on #789
I used `qemu-system-i386` and kernel v3.7.1. But check what `is_remote` returns after `target remote` and if its correct.

[2020-06-19 16:28] disconnect3d commented on #789
Also works for me (`is_remote` and `is_qemu` both returns `True`) for the following setup:

[code]

Qemu kernel
[code]

Doing `gdb /bin/ls` and then `target remote localhost:1234`:
[code]

ps: note that i don't have vmlinux here :/

[2020-06-19 22:37] GrosQuildu commented on #789
Well, ok. Somebody hits the same problem then we will see. Closing.

[2020-06-19 22:37] #789 closed, assigned to nobody

[2020-06-19 23:33] albertlab0 opened #790 "Pwndbg may hide the stdout output from the console"
### Description

### Steps to reproduce
1.  Use attached ELF64 on Linux , in pwndbg set a breakpoint on main
2. Step through the code until exit
3.  "Hello World" never shows up in console

### My setup
config output:
debug-events                       False                                                       display internal event debugging info
dereference-limit                  5

[2020-06-19 23:35] albertlab0 commented on #790
Attaching the attachment file.
[bug.zip](https://github.com/pwndbg/pwndbg/files/4807019/bug.zip)

[2020-06-19 23:49] albertlab0 opened #791 "Consecutive dd (etc) command should accept no address parameter"
Currently, on pwndbg,

pwndbg> dd esp
ffffd450     56557035 56557035 00000080 ffffd4a8
ffffd460     00000997 ffffd4b0 00000055 f7fb3a80
ffffd470     00000000 f7fb5000 f7ffc7e0 00000009
ffffd480     00000080 00000000 00000bad 00001337

pwndbg> dd
usage: dd [-h] address [count]
dd: error: the following arguments are required: address

This behavior is different from windbg. Windbg would happily take

[2020-06-21 18:49] CptGibbon commented on #788
Do you think the `dq` command should account for this and revert to its original behavior or should I close this issue?

[2020-06-22 00:01] zachriggle commented on #788
The whole point is to make windbg users comfortable so I think it should
work the old way

On Sun, Jun 21, 2020 at 1:49 PM CptGibbon <notifications@github.com> wrote:

--

*Zach Riggle*

[2020-06-23 06:06] zachriggle opened #792 "Magic Import: Single-file script mode, or zipimport"
A useful feature of GEF is that you can do this GDB one-liner to get it installed without any dependencies.

## GEF is easy

[code]

## Pwndbg is hard

It would be really nice to have something similar for Pwndbg, but it would likely rely on a [`zipimport`](https://docs.python.org/3/library/zipimport.html) or some other magic so we don't have to compile down to a single file.

Unfortunately, Pwndb

[2020-06-25 00:24] CptGibbon opened #793 "'start' command behavior has changed"
`git bisect` suggests this was introduced in 8f33ec480f47c038e0077cab67153f3ec3be9181

Prior to this, when debugging programs built with `gcc` using the `-ggdb` flag, pwndbg would break at the program's `main()` function immediately after the `start` command was issued. Since 8f33ec480f47c038e0077cab67153f3ec3be9181 the `start` command breaks at `_start()` the 1st time it's issued, and must be iss

[2020-06-25 02:06] disconnect3d commented on #793
Wow, nice catch!

So the issue comes from the fact we do `if not pwndbg.vmmap.find(address): return None` in `pwndbg.symbol.address` for a given symbol's address and on PIE binaries, the `main` (and similar) functions will first report their offsets instead of rebased address when fetching address from GDB for symbol.

Maybe we should return an information from `pwndbg.symbol.address` whether the

[2020-06-29 14:49] ivkin25 opened #797 "Invalid instruction when attaching a process"
Hello there,

I attach a process by running a Python 3 script that opens the target file with pwntools (latest version 4.1.5), and then waits for input (it waits to be attached). To attach, I type `attach <PID>`. Then, I insert a break point in the process (right before calling printf), and then continue the execution.
When I continue to the next instruction (call printf), printf is executed succe

[2020-06-29 19:32] ivkin25 commented on #797
I understood the problem. It's because the process exits and is not waiting to be closed. Sorry about it, and thanks anyways!

[2020-06-29 19:32] #797 closed, assigned to nobody

[2020-06-30 06:54] zachriggle commented on #797
Glad everything worked out!

On Mon, Jun 29, 2020 at 2:32 PM danielivkin121 <notifications@github.com>
wrote:

--

*Zach Riggle*

[2020-06-30 23:41] disconnect3d commented on #791
Added in https://github.com/pwndbg/pwndbg/pull/799. Note that it is not 1:1 the same: to repeat the command, simply hit enter, without passing its arguments.

[2020-06-30 23:41] #791 closed, assigned to nobody

[2020-06-30 23:42] disconnect3d commented on #791
cc: @zachriggle

[2020-06-30 23:46] disconnect3d commented on #788
Actually, it wants `&some_array`.

I have some mixed feelings here - bringing back the old, unnatural for gdb behavior might confuse users who will use symbol in that command and then in a GDB's command...

@zachriggle @CptGibbon do u still think its ok to bring back the old behavior?

[2020-06-30 23:55] disconnect3d commented on #786
I can't reproduce this. Please show the output of `version` command and reopen this issue if the problem still persists for you.

[code]

[2020-06-30 23:55] #786 closed, assigned to nobody

[2020-07-01 00:05] disconnect3d commented on #790
Hey, what do you mean by `step through the code until exit`? Did you use `step`, `si`, `next` or `ni` instructions?

I have double checked this with `ni` instruction and all works as expected: tthe output appears properly. It might appear it does not appear as it is displayed before our context output and I think we can't change that (we display context when GDB prompt is displayed).

Here a proof

[2020-07-01 00:05] #790 closed, assigned to nobody

[2020-07-01 00:07] disconnect3d commented on #772
As an example, it works, e.g., on rip relative movs
[code]

[2020-07-01 00:09] disconnect3d commented on #772
Or rip relative calls, but not leas:
[code]

[2020-07-01 00:10] disconnect3d commented on #772
Also:

I think we never telescoped this and only showed a dereferenced value. Maybe we should just show a telescope with a depth of 1 here?

[2020-07-01 00:58] zachriggle commented on #772
I’d avoid telescope for disassembly unless we can limit it to real symbols

On Tue, Jun 30, 2020 at 7:10 PM Disconnect3d <notifications@github.com>
wrote:

--

*Zach Riggle*

[2020-07-01 08:01] disconnect3d commented on #772
The logic below is most likely wrong https://github.com/pwndbg/pwndbg/blob/9c60b624730b0a76840c180b003fa336ccb20970/pwndbg/color/disasm.py#L54-L59

For example, for a `call   qword ptr [rip + 0x1c7d2]` instruction which calls a `__libc_start_main`, the `asm` is exactly `call   qword ptr [rip + 0x1c7d2]` and the instruction fails to replace the `hex(target)` with `sym`:
[code]

In the end, the call

[2020-07-01 14:05] disconnect3d commented on #772
@zachriggle Just to be sure what we want:

1. Without emulation, only resolve address/symbol/value for instructions that use constant addresses, e.g., via rip relative addressing: `mov rax, [rip+0x123]`, `lea rbx, [rip+0x123]` or `call qword ptr [rip+0x123]`.

2. With emulation, also resolve this for non-constant addresses.

3. For `mov    eax, dword ptr [ebp - 8]` display BOTH `ebp-8` and the der

[2020-07-01 17:52] CptGibbon commented on #788
I can't speak for everyone but I imagine a lot of folks use pwndbg because it is **not** similar to the stock GDB experience.
If that means I can type less characters, or a command is more intuitive/simple to use, then I would rather keep that behavior even if it isn't in keeping with the original GDB syntax.

[2020-07-03 23:53] zachriggle commented on #772
For (3) I'd rather just use chain() with length 1 and not have custom logic
/ display.  Other than that, sounds good to me!

[2020-07-04 19:56] CptGibbon commented on #600
I don't want to write this off as a qemu/gdb issue. I'm seeing the exact same behavior, symbol addresses getting misreported, but only when pwndbg is in use. Vanilla gdb reports the same symbols at their correct position. The binaries in question are all non-position-independent, so it's not a PIE issue either.

Perhaps this is related to #765, which I'm also seeing, although only when single-step

[2020-07-05 04:40] zachriggle commented on #791
I agree that repeated issuing of the same command should be a continuation.

I can’t contribute code at this point to resolve the issue. Sticking to the
way windbg does things is important so we should stick to it if possible.

On Tue, Jun 30, 2020 at 6:42 PM Disconnect3d <notifications@github.com>
wrote:

--

*Zach Riggle*

[2020-07-07 19:17] zachriggle commented on #793
As of GDB 8.1, `start` is a built-in command and does the "right thing".  It might be worth dropping our own `start` command to not break GDB's.  I think we already avoid registering commands which are already GDB defaults.

EDIT: I'm entirely wrong, the new command is `starti`.  The default `start` command does not work as well as ours, so I recommend keeping it.

[code]

[code]

[2020-07-07 19:23] zachriggle commented on #792
I think a useful way of doing this would be with decorators and try-catch import statements.  For example:

[code]

Combined with a decorator like

[code]

Where `RequiresModule` will simply make the method return None (or another configurable value) if the module is not available.

[2020-07-07 19:54] zachriggle opened #802 "Skip endbr64 and endbr32 instructions"
In this screenshot borrowed from another Pull Request, there are a bunch of `endbr64` instructions that are shown in the telescope.

This information is generally not useful, we should have a default-off setting to fetch the "next" instruction if this is encountered.  Not sure if this is actually a good idea, just something I noticed.

![](https://user-images.githubusercontent.com/10009354/8592944

[2020-07-07 19:57] zachriggle opened #803 "telescope should not fold single values, should probably be configurable"
In this screenshot, we should simply display the 0x28 and 0x90 and 0x108 offset in the stack trace.  The ellipsis isn't particularly useful here, and actually adds to cognitive load due to having to check how many values are skipped.

This should probably be behind a config, e.g. `telescope-fold-minimum` which is expressed in pointer widths.  This will allow people to control the setting to their

[2020-07-07 19:59] zachriggle commented on #788
@disconnect3d @CptGibbon I completely agree that the Windbg compatibility should be as faithful as is reasonable to the expected behavior.

GDB has support for repeated commands with this behavior, I just don't know how well we support that feature for Pwndbg commands.

[2020-07-07 20:01] zachriggle commented on #755
This looks like we need to add more headers to the blacklist for compilation.  Can you post the full GDB command that's executed?

Also, can you attach the lab7A file?  You should be able to zip it up and drag+drop.

[2020-07-07 20:03] zachriggle opened #804 "New release? It's been 6+ months since the last one."
It would be nice if we could cut a new release, since the last tag is from December.

Separately, have we been practicing back ports at all?  It seems like the release process is "just tag dev" instead of having a merge strategy with a buffer release like Pwntools does.  This actively saves lots of work, and might be worth investigating.

[2020-07-07 20:04] zachriggle commented on #804
This might be a good time to start leveraging Github Actions to automatically cut releases every month or so.

@arusekk has done a great job making the release process pain-free, and Github Actions supports a cron job so we could literally just make it auto-create a tag each month on the 1st.

[2020-07-07 20:07] zachriggle opened #805 "CI is currently broken"
Travis CI is showing an error report currently:
https://travis-ci.org/pwndbg/pwndbg

It's not clear what we're testing, or if we are just testing installation, but it should probably be resolved and hopefully is easy to do.

[2020-07-07 20:09] Arusekk commented on #804
@zachriggle confused repos?

[2020-07-07 20:14] zachriggle opened #806 "Function arguments: Infer type and display accordingly"
Currently we have excellent infrastructure for determining the arguments and argument names for standard libc routines, like `getenv`.

However, we don't leverage the type information we have to determine whether to display the values as an address vs a string.

[code]

It would be nice if the entire string, is displayed.

[code]

I think this is because we just telescope the value regardless, but

[2020-07-07 20:18] zachriggle opened #807 "Telescope: Better string detection"
Similar to or in lieu of #806, it would be nice if the default behavior of `telescope` were able to detect e.g. `[A-Za-z0-9-_]+{8,}` and decide to display the entire string, rather than the first 4 or 8 bytes of the string.

This should only occur if the ASCII values are also NOT a valid pointer value (so as not to do unexpected things when e.g. `0x4141414141414141` is used, but it's also a valid

[2020-07-07 20:26] zachriggle commented on #804
Nope just mentioning that you've done great things to automate the Pwntools releases, and that same stuff could be cribbed for Pwndbg's releases as well

[2020-07-08 03:18] heapcrash commented on #788
@zachriggle @disconnect3d @CptGibbon as best  I can tell, the current behavior of `dev` is what's desired.

[code]

@CptGibbon can you verify?

[2020-07-21 09:16] Ben-Lichtman commented on #755
I am having a similar issue with `#include <QCoreApplication>` from QT libraries. Any pointers to where in the code this blacklist is implemented?

Edit: I found the blacklist https://github.com/pwndbg/pwndbg/blob/970ac229a835fa1f5d7aeaf8cf8b3770804df841/pwndbg/typeinfo.py However i'm having a lot of trouble adding all the right headers to it to get the heap command working. There must be a smarte

[2020-07-21 21:20] nankeen commented on #742
Another example: this was compiled with `rustc -g example.rs` and throws a similar error.

[code]

[code]

But the following isn't raising an exception for me:
[code]

Working around this with `set language c`.

Any updates on the intended fix?

[2020-07-22 04:50] zachriggle commented on #742
I think the workaround for this is to find out which type *IS* declared for the equivalent of `uint16_t` and make it an alias in the typeinfo module.  @disconnect3d do you know how to dump the available types?

[2020-07-22 17:50] anthraxx commented on #804
@disconnect3d I agree, can we get a release soonish? :D

I could take a look at getting github actions running via a PR.
We really should issues release more often so packages like the Arch package can ship more modern stuff to users :cat:

[2020-07-22 18:45] CptGibbon commented on #788
Reverting #747 gives us the old `dX` windbg behavior, but it also reintroduces that annoying unsigned casting bug (#726).

Unfortunately, removing the inthook code altogether, as suggested by @disconnect3d in #726 as a means of dropping Python2 support, doesn't seem to fix the `dX` problem. I'm not sure how to go about getting `dX` to play nice with windbg compatibility.

[2020-07-22 22:06] disconnect3d commented on #804
Yes, I will do it now :P.

[2020-07-22 22:10] disconnect3d commented on #788
Just to be clear: the thing we discuss now is that we want `dq some_array` to work the same as `x/10xg &some_array`, as in windbg one doesn't have to write the `&`?

Btw I wonder what does GDB do with `void* ptr` and `dq ptr` and `dq &ptr` and `dq *ptr`, heh.

[2020-07-22 22:30] disconnect3d commented on #804
2020.07.23 released.

We didn't do any back ports. Since pwndbg is not used as a library and we work with any sane GDB version, I don't think there is much need to care about back ports (and, to be honest, we would need more manpower for this :P).

Anyway, this being said, I think we can close the `stable` branch and keep just one `main` branch and cut off releases from that.

@zachriggle @anthrax

[2020-07-22 22:37] disconnect3d commented on #802
I think it would be misleading to show next instruction for a given address. How would we mark that?

Also, while those instruction currently do nothing (act like `nop`), they will do *something* when [Intel (finally) delivers CET support in CPUs which should happen soon™](https://www.phoronix.com/scan.php?page=news_item&px=Intel-CET-Tiger-Lake).

When those instructions will actually do something

[2020-07-22 22:38] disconnect3d commented on #805
Also: we should move to GitHub actions.

[2020-07-22 23:01] disconnect3d opened #808 "Disable search-memory-packet back only on broken GDB version"
Tl;dr: Use the workaround from https://github.com/pwndbg/pwndbg/pull/322/files only for broken gdb versions

[2020-07-22 23:41] nankeen commented on #742
I don't think there's a direct way to dump available equivalent types directly through gdb's python API. The type information seems to come from https://github.com/bminor/binutils-gdb/blob/gdb-8.1-branch/gdb/symtab.c#L2092 which depends on the language.

For rust, this is the function that tries to find the global symbol: https://github.com/bminor/binutils-gdb/blob/gdb-8.1-branch/gdb/rust-lang.c#L

[2020-07-23 00:34] zachriggle commented on #804
By "back ports" I don't mean per GDB version.  Rather, when we got a bug-fix in, do we have a separate "stable" branch those fixes go into (if they effect the previous release) such that the released code gets updated (and a new release cut) with no new features included (just bug fixes) until the following release.

[2020-07-23 08:45] anthraxx commented on #804
closing the `stable` branch may seem to make it easier, but this would make an automatic release process basically like cutting-edge releases as you either would not want to merge a crazy huge PR just before the end of the month or you do it and have basically untested fresh code in a release.
a `stable` branch that would be used to cut releases from would add more control over when we rebase `mas

[2020-07-23 16:20] CptGibbon commented on #788
That was the original point of opening this issue yes, and unless I'm mistaken it looks like we're in agreement about keeping the windbg behavior.

@zachriggle also brought up a concern about repeating commands.

[2020-07-25 09:08] Arusekk commented on #772
After #801 a test fails, because of showing the symbol twice (not really helpful when one wants to see jump addresses):
https://travis-ci.org/github/pwndbg/pwndbg/builds/710915914#L931-L934

[2020-08-03 10:20] m4tsuri opened #810 "Add command to parse tcache and fastbin with safe-linking for upcoming glibc-2.32"
`bins` and `fastbins` command show only the first chunk in tcache and fastbin due to the safe-linking mechanism in glibc-2.32.
The encryption on the fd pointers is just xor with (chunk address >> 12).
Thank you.

[2020-08-08 01:24] zachriggle opened #811 "pwndbg.re domain expired"
It looks like the domain is no longer resolving.

[code]

[2020-08-08 02:32] zachriggle opened #812 "Pwndbg makes GDB segfault on up-arrow when run from a Docker shared volume"
I don't have a good way to reproduce this, but hitting up-arrow after loading Pwndbg causes GDB 9.2 to segfault and abort.

Filing this issue so that I can look into it more later.

[2020-08-12 06:45] kevinpark1217 commented on #811
Looks like it's working fine now

[2020-08-12 07:09] kevinpark1217 opened #813 "OverflowError on the 64-bit integer due to Python2 int subclassing"
### Description

Integer casts like below works great until the value is bigger than the `C long` type.
[code]
The ideal solution would be to for Python to use `unsigned long` type of C in order to utilize the full 64 bit addressing capability. But far as my knowledge goes, I don't think we can force Python to do that. Thus, the solution would be to use `long()` casts instead of the `int()` casts.

[2020-08-12 07:14] kevinpark1217 commented on #813
This issue can be resolved with replacing all of the affected `int()` casts with `long()`.
Since the codebase utilizes `pwndbg/inthook.py` for hooking integer casts, I will create `pwndbg/longhook.py` for long casting as well.

[2020-08-12 09:45] ghost opened #814 ""aslr" Command Always Showing "ASLR OFF ""
### Description
"aslr" command should show current ASLR setting when it's typed without any option or argument. But it always shows "ASLR OFF" no matter what the current ASLR setting is. For some reasons, modifying "vmmap.aslr=False" to "vmmap.aslr = True" on line 438 of pwndbg/vmmap.py seems to fix the bug.

### Steps to reproduce
Launch gdb and type "aslr"  at the prompt.

### My setup
Gdb:

[2020-08-12 20:19] kevinpark1217 commented on #813
After investigating, trying to fix this issue might create more problems with python2 & python3 compatibility. So, I think it might be better to just drop support for Python2, and move on [like it's mentioned here](https://github.com/pwndbg/pwndbg/issues/726#issuecomment-600756614). @disconnect3d

[2020-08-13 01:39] disconnect3d commented on #813
Yeah, lets do that. I should prepare a PR with it in a few days.

[2020-08-14 22:00] kevinpark1217 commented on #811
Can we close this issue if there is no other problems? @zachriggle

[2020-08-15 19:29] disconnect3d commented on #813
Dropped py2 support in https://github.com/pwndbg/pwndbg/pull/817, so closing this issue.

If for whatever reason this happens again, open another issue or re-open this one

[2020-08-15 19:29] #813 closed, assigned to nobody

[2020-08-15 19:29] disconnect3d commented on #811
@kevinpark1217 yeah!

[2020-08-15 19:29] #811 closed, assigned to nobody

[2020-08-15 19:58] #814 closed, assigned to nobody

[2020-08-15 20:03] disconnect3d commented on #814
Why is this a bug? Most likely, you have the `disable-randomization` GDB parameter set to `on`.

This can be seen:
[code]

and is also one of the methods the `aslr` command fetches this status.

I have extended the output of the command and its help a bit in #818

Please re-open if you had another issue with more details.

[2020-08-17 16:27] zachriggle commented on #802
Good points!

[2020-08-17 16:27] #802 closed, assigned to nobody

[2020-08-19 16:39] fberlakovich opened #819 "Emacs GUD + pwndbg"
I often use Emacs to edit the sourcefiles I want to debug at a later time. Pwndbg on the other hand provides excellent debugging features which imo are superiour over Emacs GUD debugging features.

It woud be nice to combine Emacs GUD with pwndbg to have the different pwndbg contexts in separate Emacs GUD windows. This would not only allow to reuse Emacs' windowing system, but also integrate debug

[2020-08-24 13:46] wgf4242 opened #821 "remote with http proxy"
**Is your feature request related to a problem? Please describe.**
[code]
`pwnlib.exception.PwnlibException: Could not connect to xxx.yyy on port 27627`

I want to use a proxy with remote. How to do that?

[Solved]
[code]

[2020-08-24 14:26] #821 closed, assigned to nobody

[2020-08-24 14:26] wgf4242 commented on #821
[Solved]

context.proxy = (socks.HTTP, 'xxxxx', 8080)

[2020-08-27 16:47] lonnywong commented on #259
I want the layout of parseheap

[2020-08-29 00:25] lonnywong opened #822 "Is heap command support qemu-user ?"
### Description

[code]

### Steps to reproduce
[code]
[code]

### My setup

[code]

[2020-08-30 07:30] faqin opened #823 "Exception: Cannot add command init: already exists."
### Description
Exception: Cannot add command init: already exists.

### Steps to reproduce
Install pwndbg on Arch Linux
#### sudo pacman -Ss pwndbg
run gdb command ,then show this error :
![1](https://user-images.githubusercontent.com/19217042/91653436-7e870b80-ead3-11ea-9eb7-c75db3e9eb8f.jpg)

#### Solved this problem by adding _pwndbg.pth_ in the directory _/usr/lib/python3.8/site-packages/_

#

[2020-08-30 10:48] #823 closed, assigned to nobody

[2020-09-05 07:12] PhyzXeno commented on #803
I found a way that can solve this temporarily,  in command/ directory open telescope.py and we can find words like "Collapse repeating values", just change line 111 "if not skip" into “if skip”, we will get the problem fixed.

[2020-09-05 10:31] disconnect3d opened #824 "Display file path for fd"
We should be able to enhance fd/args display e.g. `fd: 0x3 (/some/path)` or `fd: 0x3 (socket: ...)` etc via reading /proc
[code]

[2020-09-12 05:08] kevinpark1217 opened #826 "Remote Debugging: It tries to download the binary from remote with local path"
### Description

Commands like `plt` and `got` requires binary.
During remote debugging, Pwndbg tries to download the binary from the remote instance using the local path to the binary causing a failure.

The method responsible for this failure is `def get_file(path)` in `pwndbg/file.py`

![image](https://user-images.githubusercontent.com/10012884/92987819-0f76c300-f494-11ea-9052-96e2bfc8ba10.png)

[2020-09-13 05:17] shinokada opened #827 "Installation on macOS"
### Description

After following the doc to install on macOS, `pwddbg` seems not working with gdb.

[code]

I am not able to install on macOS as you can see in the last four lines above.

[2020-09-22 02:36] Pure-T commented on #827
I have the same problem. But I've found a way fix it.

Just comment out 134 lines of the `setup.sh` file

[code]

[2020-10-01 22:29] kotee4ko opened #833 "telescope don't work, when give $reg + 0xOFFSET statment"
### Description

### Steps to reproduce

Gdb session history:
disass main
b *0x00000000004009d5
r
r
r
r
r
r
r
r
r
r
r
c
r
c
r
c
r
c
r
plt
got
r
ni
ni
nextret
ni
tele 0x603490
vis
context
exec ropper --file ./ch40 | grep rsi
ropper --file ./ch40 | grep rsi
ropper -- --file ./ch40 | grep rsi
ropper -- --file ./ch40
context
ropper -- --file ./ch40
ropper -- --help
ropper -- --file ./ch40 --search "?s

[2020-10-03 17:00] xmcp opened #834 "16bit (i8086) support?"
**Is your feature request related to a problem? Please describe.**

I would like to use pwndbg to debug a kernel from a QEMU debuggee (JOS, from my [OS course lab](https://pdos.csail.mit.edu/6.828/2018/labs/lab1/)), because gdb really sucks. You know.
Although the majority of that kernel is 32-bit, the bootloader crashes pwndbg (`KeyError: 'i8086'`), making it totally unable to use.

It would be g

[2020-10-05 13:37] disconnect3d commented on #834
@xmcp can you send that patch in form of a pull request? It looks good enough to be included.

[2020-10-05 14:01] disconnect3d commented on #833
Hey,

you need to use `tele $rbp-0x40c` or `tele '$rbp - 0x40c'` instead. This is bcoz telescope also gets a `count` arguments:
[code]

This being said I am closing this for now. However, if you (or anyone, really) would like to improve this situation, feel free to contribute & send a pull request (that would handle this error case better by either suggesting a solution or trying to work it around

[2020-10-05 14:01] #833 closed, assigned to nobody

[2020-10-05 18:38] xmcp commented on #834
OK I will send a PR for this.

Some reminders:
- **`@pwndbg.events.stop` line in `arch.py` will force rechecking architecture once debugger stops, so this may cause some performance overhead** (maybe we can make this rechecking behavior configurable, as "changing architecture on the fly" is a rare thing)
- `pc` register is set to IP+CS*16 (in order to make `nearpc` happy) in i8086, which may confu

[2020-10-06 08:12] zachriggle opened #836 "Make Pwndbg docs great again"
**2024.01 edit by disconnect3d: see last comment below**

**~~2022 edit by disconnect3d: see comments below~~**

(Old text below)

It looks like we have build integrating into ReadTheDocs, which would be great to document all of the features (and should be easy for those based on argparse) but it looks like builds have been broken for years.

<img width="40%" alt="Screen Shot 2020-10-06 at 3 12 37

[2020-10-06 08:13] zachriggle commented on #836
Pwntools has some autogenerated documentation for command-line helpers which are based on `argparse` so we might be able to crib that.

It looks like the magic is here:

[code]

For using Sphinx

[2020-10-13 02:36] zhmjx opened #838 "bins cmd does not work well"
![image](https://user-images.githubusercontent.com/70132162/95808851-f6398e80-0d3f-11eb-9385-0451b793a88e.png)

[2020-10-14 16:10] disconnect3d commented on #838
Any repro example?

[2020-10-16 09:58] #834 closed, assigned to nobody

[2020-10-16 12:01] d0ntrash opened #840 "Can not launch radare2"
### Description
After installing the newest version of radare2 (4.6.0) and the r2ghidra-dec package I can no longer launch r2 inside pwndbg.
Error: "[r] Cannot open '0x3ffcda40'"

### Steps to reproduce
Install radare 4.6.0
Install r2ghidra-dec
Run Gdb
Run "r2"

### My setup

OS (VM): 5.7.0-kali1-amd64
Radare2: 4.6.0
Gdb:      9.2
Python:   3.8.6 (default, Sep 25 2020, 09:36:53)  [GCC 10.2.0]
Pwnd

[2020-10-16 20:06] FilipeCapela98 opened #841 "Bug on Hexdump file does not allow to run pwndbg properly"
### Description

Someone left an "f" on line 86 of Hexdump, not allowing pwndbg to run correctly since python casts an exception.

hexline.append(f'{config_byte_separator}')

### Steps to reproduce

### My setup

[2020-10-18 03:08] zer0-1s commented on #841
just delete the f？

[2020-10-18 10:54] PaleNeutron opened #843 "Can't successfully connect to gdb with tmux"
### Description
[code]
Always got this after `gdb.attach`

But gdb is successfully attached.

### Steps to reproduce
[code]
### My setup
Gdb:      7.12.0.20161007-git
Python:   3.5.3 (default, Jul  9 2020, 13:00:10)  [GCC 6.3.0 20170516]
Pwndbg:   1.1.0 build: b209c2b
Capstone: 4.0.1024
Unicorn:  1.0.2

Distributor ID: Debian
Description:    Debian GNU/Linux 9.11 (stretch)
Release:        9.11
Cod

[2020-10-19 10:41] disconnect3d commented on #841
It isn't a bug. It's a Python 3.6+ f-string literal. However, since we still support Py2 I am going to fix this.

[2020-10-19 10:42] #840 closed, assigned to nobody

[2020-10-19 10:42] disconnect3d commented on #840
Fixed by #842

[2020-10-19 10:43] disconnect3d commented on #843
Can you provide some more info? Does this fail when tmux terminal line is commented out?
Does this fail only if pwndbg is loaded in gdb or in general? If it fails w/o pwndbg, then this is not a pwndbg bug but could be pwntools bug.

[2020-10-19 10:46] #841 closed, assigned to nobody

[2020-10-19 12:01] zachriggle commented on #841
@disconnect3d what's the plan to deprecate Py2 support?  I thought we did this already since the last few Ubuntu releases all use a Py3 interpreter for GDB

[2020-10-19 13:10] PaleNeutron commented on #843
Sorry, I have tried use this without `pwndbg` and it still exist.

It's my mistake and I'll report it to `pwntools`.

Thank you for help.

[2020-10-19 13:10] #843 closed, assigned to nobody

[2020-10-20 18:46] zachriggle opened #844 "IDA Integration: Work with IDA 7.0 (specifically 7.5+)"
Currently, the IDA pro integration only works as-is on versions of IDA v7.4 and below.

The most recent v7.5 deprecated the old API by default, and while it can be enabled, the IDAPython script and the `pwndbg.ida` module makes use of the old API.

Since IDA v7.0 was released several years ago, it should be safe to deprecate support entirely for versions 6.x and lower.

[2020-10-20 18:51] zachriggle opened #845 "IDA Integration: Randomized port selection for multiple IDBs / debugged processes, auto-copy IDA script"
Currently, the IDA Pro integration requires a specific port, `31337` for all of its XML-RPC communications.

It would be nice if the following additions were made:

* An additional configuration setting that selects a random port based on the PID of the debugged process
  * This more easily allows debugging multiple separate processes in different IDBs
  * This also allows easier debugging of mult

[2020-10-20 19:04] zachriggle opened #846 "Switch back to pwndbg.com"
It looks like pwndbg.com is available again for registration.  I suggest that we snatch it up and convert official links back to that domain.  I don't mind fronting the cost for 5 years of domain so we don't lose it again.

<img width="833" alt="Screen Shot 2020-10-20 at 2 02 17 PM" src="https://user-images.githubusercontent.com/111640/96632134-de807e00-12dc-11eb-8aed-1bfa9d6d87c4.png">

If @disco

[2020-10-20 19:06] disconnect3d commented on #846
Yeah, let's move to pwndbg.com; I can make pwndbg.re redirect there too :P.

[2020-10-20 19:07] zachriggle opened #847 "IDA Integration: Dynamic type reconstruction / compilation"
Given an a structure definition from IDA Pro, it should be possible to dynamically recreate a type as a C structure (with generally good fidelity, and do so recursively for nested structs) and compile to a dummy `.o` or ELF and import that into Pwndbg.

This will allow users to declare structs in IDA Pro, and use them directly within Pwndbg with GDB's standard syntax.

[code]

[2020-10-20 19:21] zachriggle commented on #846
The following links are active and should be working:

* http://pwndbg.com
* https://pwndbg.com

I was only able to perform the initial registration for 1 year, so I just need to not ignore their warning emails this time if my payment stuff changes and they don't have a way to bill me 🤞

[2020-10-20 19:29] zachriggle opened #848 "IDA Integration: Expand known function arguments with IDA Pro function signatures varnames"
In IDA Pro, you can specify the signature for a function by hitting the `Y` key.

If IDA Pro integration is enabled, we should be able to supplement `pwndbg.functions` with this information dynamically at runtime.

[2020-10-22 00:59] zachriggle commented on #845
Following up on this, apparently there is a `~/.idapro/idapythonrc.py` that is automatically loaded when an IDB is opened.

We could leverage this for the IDAPython XML-RPC server by suggesting that it get imported from `idapythonrc.py` and determine port dynamically based on the input file's original SHA/MD5 (which IDA has an API to determine).

[code]

We can do the same for the Pwndbg side of t

[2020-10-22 07:16] kotee4ko opened #849 "python3.8: UnicodeDecodeError: 'utf-8' codec can't decode byte 0x85 in position 3455: invalid start byte"
[code]

### Steps to reproduce

Gdb session history:
attach 201622
proc
set exception-verbose on
proc

### My setup

Platform: Linux-5.8.0-1-amd64-x86_64-with-glibc2.29
Gdb:      9.2
Python:   3.8.5 (default, Aug  2 2020, 15:09:07)  [GCC 10.2.0]
Pwndbg:   1.1.0 build: 487caa1
Capstone: 4.0.1024
Unicorn:  1.0.2
This GDB was configured as follows:
   configure --host=x86_64-pc-linux-gnu --target=x86

[2020-10-22 17:58] zachriggle commented on #849
We should probably have some helper code somewhere that makes opportunistic `utf-8` decoding, while falling back to `latin-1` if that fails (since `latin-1` has a 1:1 byte-to-glyph mapping).

Looks like this happens while processing `/proc/net/unix` and apparently we can't be sure it's well-formatted and UTF-8 valid.

[2020-10-23 05:21] kotee4ko commented on #849
Can you hint me which part of code work with this, please?

[2020-10-25 15:36] zachriggle commented on #849
I would look at the stack trace.  Pwndbg.file.get(...).decode seems to be exploding.  I recall there is an "ignore" flag that can be passed to decode, but this seems like a place for Latin-1 instead of utf8 (in the event of a failure as seen here).

It would be nice to break out a separate function that tries utf8 first, then falls back to Latin-1.

[2020-10-25 23:24] kotee4ko commented on #849
As for me the fix was to add `replace` arg to decode() foo.
[code]

[2020-10-25 23:24] #849 closed, assigned to nobody

[2020-10-27 06:52] qxxxb commented on #120
Not sure why, but I'm getting the same error again, and it seems to happen on any executable file and any function name.

pwndbg: dev branch
GDB: 10.1
OS: OS: Ubuntu 18.04.5 LTS x86_64
Terminal: kitty

[code]

[2020-10-27 10:15] avcatshy opened #852 "Segmentation fault on raspberry"
This issue happened on raspberry3b+ and 4b with
{pwndbg:'cfe93ab', gdb:'gdb (Raspbian 8.2.1-2) 8.2.1', python:'3.7.3'}

[code]
But native gdb and other gdb plugins like gef works well,and, i can't catch the question.

[code]
So, Can any-handsom-guy help me ?

[2020-10-27 10:31] disconnect3d commented on #120
As a workaround, use `nearpc &main`

[2020-11-04 03:09] davidpolverari opened #853 "Question about dependency (libglib2.0-dev)"
I noticed that pwndbg's `setup.sh` installs `libglib2.0-dev` among other dependencies:

`sudo apt-get -y install git gdb python3-dev python3-pip python3-setuptools libglib2.0-dev libc6-dbg`

Perhaps I'm missing something, but I could not find out what pwndbg uses it for. I wonder whether this dependency was added because of the name similarity from glibc (as GNU libc is known and maybe is packaged

[2020-11-04 17:29] disconnect3d commented on #853
@zachriggle maybe you know this? :D

We should probably try running pwndbg without it and if it works, we can remove it?

[2020-11-05 03:22] zachriggle commented on #853
No idea, likely for the debugging information in a common library.

[2020-11-09 01:46] reg1reg1 commented on #484
Have this same issue. My Ubuntu version is 16.04. I get the following error when I try to use the command 'checksec'. Even the commands 'got' and 'pwn' don't work. Am I missing something?
[code]

[2020-11-09 19:39] disconnect3d commented on #484
@reg1reg1 most likely, you don't have `pwntools` installed or their binaries/scripts are not in your PATH. Iirc we don't require it from the point of pwndbg. Maybe we should extend the error message to suggest installing them.

[2020-11-11 04:28] wtdcode commented on #844
The pwndbg depends on `xmlrpclib` which is removed from Python3. Besides, the current XML server runs in a child thread and IDA API can't be called out of the main thread I believe. Thus, lots of rework should be done...

[2020-11-11 07:28] zachriggle commented on #844
Python3 has `xmlrpc.server`, which is effectively the same.

Also, "can't be called" is strong.  Maybe not advised, but I've definitely used it to great success with IDA 7.4.  That said, we do have some custom code to save a timestamped copy of your IDB each time Pwndbg connects, just in case Bad Things (TM) happen.

[2020-11-11 07:44] wtdcode commented on #844
Yes, I have tried to do some rework. The real problem is “xmlrpclib.Marshaller”, which don’t have an alternative in Python3.

About my claim about IDA API in multithread environment, I’m sure some API can only be called in the plugin main thread but probably not all of API I guess.

________________________________
From: Zach Riggle <notifications@github.com>
Sent: Wednesday, November 11, 2020 3:2

[2020-11-16 22:54] kumuji opened #855 "no type named uint16 in rust"
### Description

So, I think I correctly installed pwndbg on my system, when I run simple rust code like this:

[code]

And I try to debug it using gdb with pwndbg I got this problem:
[code]

### My setup

gdb
[code]
python
[code]

pwndbg
[code]

rustup 1.22.1 (2020-07-08)
rustc 1.47.0 (18bf6b4f0 2020-10-07)

#### Small remark
I installed pwndbg using `pacman` at first, but it was not able to get

[2020-11-21 01:37] zachriggle commented on #855
What is the correct name for a unsigned 2-byte integer in Rust?  We should add it to the `lookup_types` code.

[2020-11-21 01:38] zachriggle commented on #853
Based on the Git commit history, it looks like it's necessary for Unicorn emulation.

$ git log -S libglib --oneline
cdbff11 Update installation instructions
effc1d0 Add Unicorn dependency

[2020-11-21 01:38] #853 closed, assigned to nobody

[2020-11-21 01:52] zachriggle commented on #846
@disconnect3d can you update the README and the Github project slug to reflect the new URLs?

[2020-11-21 01:53] zachriggle commented on #819
Can you provide more information on emacs GUD and split mind? I'm not familiar with these projects.

[2020-11-21 09:58] zachriggle opened #856 "Unicorn Emulation: Disassemble after loops"
If we hit a `rep stosd` or similar, we stop disassembling because we loop back to the same instruction over and over, and we hit the emulation limit.

We should have a special case that if an instruction is followed (per Unicorn) by itself, that we start disassembling instructions starting at the next instruction.  This will break emulation, since the next instruction may be a `cmp` followed by a

[2020-11-21 10:26] kumuji commented on #855
From what I see in [`lookup_types`](https://github.com/pwndbg/pwndbg/blob/301012abf213770c74f871417db7b5f33b4f5fca/pwndbg/typeinfo.py#L51), Rusts [`u16`](https://doc.rust-lang.org/std/primitive.u16.html) type seems to be there already, hmm.

[2020-11-21 17:04] disconnect3d commented on #855
Can it be that this specific binary did not have debug info for that type? What if you used u16 explicitly in Rust code?

[2020-11-21 19:51] kumuji commented on #855
Not really, I just started with Rust, and I was trying to run this code:
[code]

[2020-11-22 05:30] DefyGG commented on #484
Same here I get the error
Traceback (most recent call last):
  File "/home/danielmathew/Downloads/pwndbg/pwndbg/commands/__init__.py", line 130, in __call__
    return self.function(*args, **kwargs)
  File "/home/danielmathew/Downloads/pwndbg/pwndbg/commands/__init__.py", line 210, in _OnlyWithFile
    return function(*a, **kw)
  File "/home/danielmathew/Downloads/pwndbg/pwndbg/commands/checksec.p

[2020-11-22 09:59] fberlakovich commented on #819
Emacs GUD (Grand Unified Debugger) is a major mode for emacs that integrates with command line debuggers to allow debugging directly from emacs. As far as I understand GUD, it is simply an abstraction layer over several different debuggers.

[Splitmind](https://github.com/pwndbg/pwndbg/blob/dev/FEATURES.md#splitting--layouting-context) is a utilility to distribute pwndbg's contexts over the screen

[2020-11-25 11:50] stevenskevin opened #858 "Exceptions when running from folder with space and number in name"
### Description

When debugging an application in a folder with a name that includes a space followed by `0<digit>`, a Python traceback is triggered on seemingly every command.

What I think is happening is that pwndbg runs the "info auxv" command in the background every time the user enters a command, and a regular expression in `auxv.py` incorrectly parses the "File name of executable" line, whi

[2020-12-04 22:57] marcogpinto commented on #855
I'm also having this behavior when trying to debug this simple Rust example:

[code]

**Error:**

[code]

**Current setup:**

➜  ~ gdb --version
GNU gdb (Ubuntu 9.2-0ubuntu1~20.04) 9.2
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY

[2020-12-05 21:57] dawidcrivelli commented on #264
If I set manually `set osabi none`, and hardcode the architecture to `armcm` in the sourcecode (`return "armcm"` in `arch.py`), I still get an exception, since pwndbg is not able to access the `xpsr` register.

[code]

To fix it, I have to delete the lines at [](pwndbg/regs.py:282):
[code]
It looks like my version of gdb-multiarch (8.1.1) uses again lower-case names for the registers :roll_eyes: .

[2020-12-06 05:58] airvzxf opened #861 "Missing disassembly-flavor for AT&T"
Based on a [question from a user in stackoverflow](https://stackoverflow.com/questions/60588100/how-to-set-the-syntax-in-pwndbgs-context-to-att) and my experience, the option to change the flavor to AT&T is missing.

I create a solution for this bug. It's in the pull request #860.

Example of this bug:

Inside the GDB configuration: `~/.gdbinit`.

[code]
---
Running GDB.

`set disassembly-flavor a

[2020-12-06 06:10] airvzxf opened #863 "Improving Dockerfile."
Talking about Docker.

First: It is a solution is about the Timezone, if it's not set up, it will crash the installation of the container.

Second: It is an improvement about the layers in the container, if every instruction is `RUN` command, you will notice that after the execution of the `./setup` script, it is upgrading the package every time. A solution is group all the minimal setup commands.

[2020-12-08 23:56] eldipa commented on #793
@zachriggle GDB's `start` works when the binary has the symbols putting a break on `main`.

pwndbg's `start` is better than GDB's because it puts a break in the entry point when there are no symbols (GDB does nothing) but after 8f33ec4 it doesn't handle the case when there are symbols.

I crafted the solution proposed by @disconnect3d, basically allowing to return "unmapped" addresses and using th

[2020-12-13 11:25] Th3F0x-code opened #865 "libc symbols"
Does anyone have any idea how to solve this problem? i've tried everything but nothing works (i'm on manjaro linux)
[code]

[2020-12-14 06:37] #793 closed, assigned to nobody

[2020-12-14 12:04] tyilo opened #867 "context in attached process gives TypeError: argument of type 'NoneType' is not iterable"
### Description

When running `context` in an attached process I get the following error:
[code]

### Steps to reproduce

Create a process and attach to it:
[code]

Then the error from above will occur.

### Possible fix

Changing
https://github.com/pwndbg/pwndbg/blob/9250cc51d8ef6cb872e66dcdc48f721d25aec582/pwndbg/commands/context.py#L440

to

[code]

seems to fix the problem for me.

### My setu

[2020-12-14 15:43] disconnect3d commented on #867
Interesting, works for me on GDB `GNU gdb (Ubuntu 8.2-0ubuntu1~18.04) 8.2`. Wonder if 10.x changed something in this regard..

[2020-12-14 15:44] tyilo commented on #867
Or maybe this is caused by python 3.9?

[2020-12-18 16:35] airvzxf commented on #863
The changes were merged to the Dev branch.

[2020-12-18 16:35] #863 closed, assigned to nobody

[2020-12-18 16:35] airvzxf commented on #861
The changes were merged to the Dev branch.

[2020-12-18 16:35] #861 closed, assigned to nobody

[2020-12-19 13:05] echo-Mike commented on #867
Same error. Stock GDB in Ubuntu 20.10 with clean pwngdb setup (latest release) gives this exception on start or when trying to call ctx command
[code]

[2020-12-19 13:07] echo-Mike commented on #867
Proposed fix works fine for me. Except that in release 2020.07.23 this was line 387
EDIT:
Seems like pwngdb must be loaded before start of program

[2020-12-20 23:46] devjunhong commented on #855
I'm on the same page now. I searched about this error and I figured out I probably need to install rust-gdb (not yet tried).

Mac OS High Sierra (10.13.6)

$ gdb --version
GNU gdb (GDB) 10.1

$ python3 --version
Python 3.6.2

$ rustup --version
rustup 1.23.1 (3df2264a9 2020-11-30)

$ rustc --version
rustc 1.48.0 (7eac88abb 2020-11-16)

Error:
[code]

[2020-12-22 07:19] zachriggle commented on #855
Does Rust have a u16 or another similar type that would take the place of
uint16?

*Zach Riggle*

On Sun, Dec 20, 2020 at 5:46 PM Junhong Kim <notifications@github.com>
wrote:

[2020-12-22 09:55] lrascao commented on #855
yeah, it's `u16` (https://doc.rust-lang.org/book/ch03-02-data-types.html)

[2020-12-25 00:37] disconnect3d commented on #855
Yup, but we have `u16` in the types list, added just for the sake of supporting Rust I believe: https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/typeinfo.py#L51 but somehow, it is not detected it.

That's why I asked that maybe some debug symbols are missing. I will look into this on my side.

[2020-12-25 00:55] disconnect3d commented on #855
I can confirm that missing debugging symbols is indeed the issue. This can be seen by building a rust binary with the following command: `rustc -g ./main.rs` and then debugging it with:
[code]
The last command succeeds returning a gdb.Type instance (e.g.`<gdb.Type object at 0x7f12b7513698>`), which is not the case if we don't use `-g`.

We can then confirm that the debug info indeed has informatio

[2020-12-27 13:38] bet4it opened #871 "pwndbg gets stuck in GDB 10.1"
### Description
pwndbg gets stuck in GDB 10.1

### Steps to reproduce
![Screenshot_20201227_212816](https://user-images.githubusercontent.com/16643669/103172053-aa50ad00-488b-11eb-9326-b8a5745d88aa.png)

### My setup

[code]

[2020-12-30 07:24] nohkoomote opened #873 "Exception occurred: context: (<class 'StopIteration'>)"
### Description

Sorry for my lack of information.

I get this error when debugging.
Exception occurred: context:  (<class 'StopIteration'>)

Breakpoint 1, 0x08048534 in main ()
Traceback (most recent call last):
  File "/opt/pwndbg/pwndbg/commands/__init__.py", line 130, in __call__
    return self.function(*args, **kwargs)
  File "/opt/pwndbg/pwndbg/commands/__init__.py", line 221, in _OnlyWhenR

[2020-12-31 03:32] #871 closed, assigned to nobody

[2020-12-31 09:40] Cnly opened #875 "setup.sh: pip: no such option: --target /usr/local/lib/python3.7/dist-packages"
### Description

After #868, it seems that the `pip` invocation in `setup.sh` is broken. I got this error on Python 3.7 (and also Python 3.9)

[code]

when the following line is executed: https://github.com/pwndbg/pwndbg/blob/bf49bf8356dbe2a79e9e9fcbdef9ca409374d072/setup.sh#L151

It executed without problems when `${INSTALLFLAGS}` didn't have the quotes.

### Steps to reproduce

Just run `./setup

[2020-12-31 16:29] captain-woof commented on #875
I had the same issue, resolved it just now. The fix is easy. **The bug is just a string parsing issue**.

1. Open setup.sh
2. Search for `# Upgrade pip itself`
3. Replace `"${INSTALLFLAGS}"` by `${INSTALLFLAGS}` (remove the double quotation marks)
4. Do the same for the next line too.
5. Save the file, and run it.

[2021-01-02 01:56] reg1reg1 commented on #484
It still does not work. I removed gdb, and followed the exact steps as listed in the documentation and the github.

I tried updating to the latest pwndbg, and now the setup fails with
[code]

The verbose error message is as shown below
[code]
@disconnect3d If there are additional steps besides what the documentation suggests, please list those as I am unable to correct these errors despite several

[2021-01-03 07:54] disconnect3d commented on #875
Fixed in #876

[2021-01-03 07:54] #875 closed, assigned to nobody

[2021-01-03 07:58] disconnect3d commented on #873
I can't really reproduce this. Can you provide more info?

[2021-01-03 07:59] disconnect3d commented on #867
Yeah, it seems so. Did u step on this bug *without* loading pwndbg before program start?

If I apply the `changed = pwndbg.regs.changed or []` fix, I get an error in another place, if I load pwndbg after program start.

[2021-01-03 08:01] disconnect3d commented on #865
We look for the `global_max_fast` symbol: https://github.com/pwndbg/pwndbg/blob/26a18f1d70cd3685010f771030a3602a7368601d/pwndbg/heap/ptmalloc.py#L555-L556

If it is not found, we skip processing any heap related commands.

You would need to install/set up libc with debug symbols somehow to fix this.

[2021-01-03 08:01] #865 closed, assigned to nobody

[2021-01-03 08:02] disconnect3d commented on #865
Not an expert, but this might help? https://wiki.archlinux.org/index.php/Debug_-_Getting_Traces

Also @vesim987 may have some more insight here or/and confirm if ^ should work.

[2021-01-03 08:16] #858 closed, assigned to nobody

[2021-01-03 08:16] disconnect3d commented on #858
Huh, funny bug.

The regex we use:
![image](https://user-images.githubusercontent.com/10009354/103474323-127b2380-4da3-11eb-8dee-8cd5c2f283ce.png)

Fails on:
[code]

Does not fail on:
[code]

Fixed in #877 by using a lazy regex

[2021-01-03 08:20] disconnect3d commented on #852
If that is still relevant, can you please send us the gdb binary, the binary you debugged and the core binary? Those *may* help debug this, but other than that, you would need to use debug prints to find out where this crashes :(.
(we have some debug modes here and there, try `git grep debug` throughout the repo)

I'll close this now; if you want to look at it/or/and can provide more info, please

[2021-01-03 08:20] #852 closed, assigned to nobody

[2021-01-03 10:09] echo-Mike commented on #867
@disconnect3d

Yes. Even with fix applied

I have similar error `'NoneType' is not iterable` but I do not remember the place

[2021-01-03 19:50] ins0 commented on #873
@disconnect3d  Just run into the same problem.

Breakpoint 1, 0x0804867f in do_stuff ()
Exception occurred: context:  (<class 'StopIteration'>)

hope this helps - along with the binary - pwndbg is at latest dev master - deps are up to date from `setup.sh`.
let me know if you need more infos when reproduce fails on your machine.

[binary.zip](https://github.com/pwndbg/pwndbg/files/5762171/binary.zi

[2021-01-04 10:19] disconnect3d commented on #867
So to sum up, there seems to be an issue with order of operation/events firing when we load pwndbg in the middle of debugging.

Is the flow of loading pwndbg in the middle of debugging important to you folks? I personally used that flow maybe few times, but I can look at this more if it is something the community wants :P.

[2021-01-05 02:22] WeSeekAfterKnowledge commented on #844
I tried to do a bit of work on this, it looks like our mechanism for module registration won't work on the new API.  Trying to see if we can work around this, but even trying to catch the exception (and continue with registration of other functions) it doesn't seem to like it.

[code]

[2021-01-05 03:19] WeSeekAfterKnowledge commented on #844
Spent a bunch of time getting this to work, unfortunately it looks like @wtdcode was correct about threading issues within IDA 7.x.

[code]

This happens despite the IDA.py script registering the functions to be called on the main thread using `wrap`:

[code]

Which uses `idaapi.execute_sync` which I assume would put the function call on the main thread.

[2021-01-05 03:34] WeSeekAfterKnowledge commented on #844
Per the jfx-bridge-ida project, using `idaapi.execute_sync` SHOULD work.  This limitation is since IDA 7.2.

https://pypi.org/project/jfx-bridge-ida/

It looks like they basically do what we do, but apparently their approach works:

https://github.com/justfoxing/jfx_bridge_ida/blob/2a2a0e6a9822deff2cfa7110208233e28842d2ea/jfx_bridge_ida/server/jfx_bridge_ida_server.py#L41-L76

Compare to:

https:/

[2021-01-05 03:51] WeSeekAfterKnowledge opened #879 "Update README"
Currently, the README states:

This is outdated and should probably be updated to whatever Ubuntu 18.04 / 20.04 have.

[2021-01-05 04:04] WeSeekAfterKnowledge commented on #844
I created a minimal POC that shows that we SHOULD still be able to invoke routines from threads.  I'll have to dig in more as to why this fails when invoked from the XMLRPC server.

The routine this invokes, `idc.get_next_seg`, is one of the ones that fails on my Pull Request #878 but works here.

[code]

[2021-01-06 05:27] WeSeekAfterKnowledge commented on #844
I've extended my example code, and it looks like IDA 7.5 *really* does not like hosting an XMLRPC server.  Simple functions work fine, but invoking anything that calls `idaapi.execute_sync(...)` hangs indefinitely.

[code]

[2021-01-07 04:29] captain-woof opened #881 "`start` raises exception `context: (<class 'StopIteration'>)`"
### Description

Using the `start` command to open an executable results in an exception : **context:  (<class 'StopIteration'>)**.

### Steps to reproduce

1. `gdb name_of_the_binary`
2. `pwndbg> start`

### My setup

Gdb:      10.1
Python:   3.9.1rc1 (default, Nov 27 2020, 19:38:39)  [GCC 10.2.0]
Pwndbg:   1.1.0 build: bf49bf8
Capstone: 4.0.1024
Unicorn:  1.0.2

-->

[2021-01-11 21:09] zachriggle commented on #844
I reached out to Hex-Rays support, and the reason the above ^^ script fails os because `client.here()` is executed on the main thread, and waits for the XMLRPC response.  The execute_sync is waiting for the main thread to be available, which it never will be, because of the main thread waiting on the XMLRPC response.

[2021-01-12 20:19] zachriggle commented on #881
Can you try again, but set:

[code]

And include the output of the full stack trace?

[2021-01-13 12:35] melroy89 commented on #745
FYI. This worked for me (using Ubuntu for Arm):

[code]

It's not ideal.

[2021-01-17 21:20] pwndumb opened #882 "Stop annoying restart service dialog."
**Is your feature request related to a problem? Please describe.**
is not a problem, just a improvement.
The install script make a use of apt program. The new version of debian pop a annoying restart service dialog.
**Describe the solution you'd like**
I believe that putting this options will stop this annoying dialog.
sudo DEBIAN_FRONTEND=noninteractive apt install -y --assume-yes -o Dpkg::Option

[2021-01-18 12:04] disconnect3d commented on #882
Hey,

Thanks for the issue. Can you show a screen of that annoying dialog? Can you check if `sudo DEBIAN_FRONTEND=noninteractive apt install -y --assume-yes -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold"` really fixes the problem and if so, send a PR with it?

[2021-01-18 16:19] #882 closed, assigned to nobody

[2021-01-20 07:22] X3eRo0 commented on #881
i got the same problem in context.py
[code]
it happened when pwndbg tried displaying context when eip=0x61616164.

[code]

[2021-01-20 12:51] #881 closed, assigned to nobody

[2021-01-20 12:52] disconnect3d commented on #881
@captain-woof @X3eRo0 This should be fixed on latest dev commit. Please check it out :)

[2021-01-20 13:07] X3eRo0 commented on #881
yup its working thanks :)

[2021-01-20 23:46] zachriggle commented on #881
@disconnect3d Does this happen for the most-recently-tagged-release?  If so, we should cut a new release so that the fix is in.

[2021-01-21 13:28] dreamdevil00 commented on #881
@zachriggle yes, it does. Please cut a new release

[2021-01-28 21:30] DoubleMice commented on #865
@Th3F0x-code hi bro, I don't have any idea yet, have you solve it?

[2021-01-31 03:33] Shivanshu10 opened #884 "Symbolic and Taint Analysis"
### Please provide symbolic and taint analysis capability inside pwndbg

[2021-01-31 15:31] Vancir commented on #710
Same problem meets in macOS catalina 10.15.7.

At line 136 of setup.sh, `PYTHON+="${PYVER}"` incorrectly append the extra version string to the PYTHON variable. I commented out this line and it can be installed successfully.

[2021-02-02 16:27] zachriggle opened #886 "Borrow Features from pwngdb"
It looks like [`pwngdb`](https://github.com/scwuaptx/Pwngdb) is yet-another-gdbinit-for-reversing-and-exploit development.  They've got a lot of features that we should borrow, which would make good starting points for first-time contributors.

NOTE: `pwngdb` does not have a MIT-compatible license, so these would need to be clean-room implementations.

Here's a list of the features they claim, som

[2021-02-06 21:14] vitaut opened #887 "Function call is not annotated with arguments"
### Description

A call to `genenv` is not annotated with arguments contradicting the [FEATURES](https://github.com/pwndbg/pwndbg/blob/dev/FEATURES.md) document which says:

### Steps to reproduce

Compile the following C code (`test.c`):
[code]
with `gcc -g test.c` and run `gdb ./a.out`.

Put a breakpoint in `main` and run the program:
[code]

Observe the following DISASM output:

[code]

and not

[2021-02-06 22:10] vitaut commented on #887
I figured out that the annotation appears once the execution reaches the `call` instruction. Sorry for the noise.

[2021-02-06 22:10] #887 closed, assigned to nobody

[2021-02-11 17:17] el-muscovado commented on #873
@nohkoomote I had this same issue on parrot, I fixed it by removing my pwndbg install and then reinstalling it with `git clone https://github.com/pwndbg/pwndbg`

[2021-02-12 14:21] disconnect3d commented on #873
I believe it was fixed in https://github.com/pwndbg/pwndbg/commit/4d213a1f90dd1b2f285947cf959f617f85ca5d98

[2021-02-12 14:21] #873 closed, assigned to nobody

[2021-02-17 10:44] wil-den commented on #855
Hi, just wondering if this issue has been resolved yet or if there is a workaround for it?

[2021-02-21 17:00] airvzxf commented on #805
It was solved in the PR: https://github.com/pwndbg/pwndbg/pull/868. We can close this issue if all of you are agreed.

We have an opportunity for improvement. I noticed that the lint is checking the alphabetic order of the imports, we could add some automatization to sort the order in between the CI/actions are running. For example, in these both request the CI fails because the order of the impor

[2021-02-23 20:00] CunningLogic opened #888 "xinfo exception: Cannot convert value to long"
### Description

xinfo throws a cannot convert value to long when used.

pwndbg> p m_array
$1 = {{
    user_data = 0x0,
    request_size = 0
  }, {
    user_data = 0x0,
    request_size = 0
  }}
pwndbg> xinfo m_array
Exception occurred: xinfo: Cannot convert value to long. (<class 'gdb.error'>)
For more info invoke `set exception-verbose on` and rerun the command
or debug it by yourself with `set

[2021-02-25 23:19] brutusmcforce commented on #852
FYI I get this error with the sample splitmind configuration on a Raspberry Pi 4B because of ipython not being available. Besides commenting out the references to disassembly-flavor and hardcoding "intel" (even if it doesn't make sense for ARM and is just a hackish work-around) I had to install the following packages like so:

apt install ipython python-backports.functools-lru-cache

Now everythin

[2021-03-02 10:30] martinradev opened #890 "Better QEMU-VM address space information and searching"
**Is your feature request related to a problem? Please describe.**
Qemu-based VM memory view does not work very well: `vmmap (monitor info mem)` is incorrect, `search` is wrong and slow, missing address space information.

**Describe the solution you'd like**
I already have a separate solution here: https://github.com/martinradev/gdb-pt-dump . I could try merging it at some point but it would requ

[2021-03-02 11:16] disconnect3d commented on #890
Hey,

I think that would be useful to have in pwndbg.

One thing I am worried about: can we somehow track all pages and have a correct view of them at all times, or, would we have to parse them once and re-parse them on demand?

I guess its the former and that's we could have it all behind a `pt` command?

[2021-03-02 11:30] martinradev commented on #890
The way it is implemented right now is the following:
1) The page table bound to the architectural register(s) is parsed and the page ranges are saved into a cache if the `-save` arg is passed .
2) When printing the address space or searching, the current page table will be used and no page table parsing will happen if the table is cached.

There's the option to view the cached page tables and als

[2021-03-02 14:58] Arusekk commented on #755
I use Gentoo, and it has ALL the headers installed. (All possible. Every single one of them.) — so to me this blacklist thing is the wrong approach: it would be smarter to keep a cached exclude list of files that cause trouble (e.g. whenever compilation fails, try to restrict more header names, compile, repeat — should not take too long, even on Gentoo). I will send a PR soon™

[2021-03-02 23:00] TheAssassin opened #891 "Build and publish AppImages"
This tool works fine. However, for first-time users, quite some set-up is typically required. First, you typically have to build a few dependencies, most notably some up-to-date gdb. Of course it's optional, but surely a good idea. Then, one can pip-install the dependencies from a `requirements.txt`. However, that's normally not a great idea; advanced Python users will always prefer to use a virtu

[2021-03-03 03:15] TheAssassin commented on #891
I wrote a build script that prepares an AppDir with a Python environment, then builds the latest GDB against it, deploys pwndbg into it and builds an AppImage for it:

[code]

I think this shows pretty well how much easier it can be to use pwndbg. Just download the AppImage, make it executable, and run it.

The script works around a few annoyances coming from the lack of proper packaging of pwndbg

[2021-03-08 06:24] #810 closed, assigned to nobody

[2021-03-21 23:40] EtchProject opened #895 "Ghidra decompilation not appearing in context"
### Description

I can manually decompile functions with ctx-ghidra, but when I added ghidra to `set context-sections` the context box appears, but the box is empty

EDIT: Here is an image showing my issue.
![image](https://user-images.githubusercontent.com/59814976/111925014-6f6ea780-8a7d-11eb-96b3-1ad7e4334d83.png)

The ghidra box is empty, but you can see I just decompiled the function with ctx

[2021-03-22 02:09] EtchProject commented on #895
Figured it out. Wasn't waiting long enough for it to decompile at a valid function

[2021-03-22 02:09] #895 closed, assigned to nobody

[2021-03-28 14:46] liona24 opened #896 "Is there a similar functionality like $_base() in GEF?"
Hey,

I just recently switched to `pwndbg` from GEF and I kinda got used to the there present `_base()` variable which contains the address at which the respective binary is loaded. I find this quite useful for setting breakpoints (f.e. `b *($_base() + 0xabcd)`) in PIE executables because it can be used for arbitrary breakpoints between different runs even if it was loaded at different addresses.

[2021-03-28 14:57] liona24 commented on #896
Nevermind. Just found `$rebase()`..

[2021-03-28 14:57] #896 closed, assigned to nobody

[2021-03-29 10:35] #879 closed, assigned to nobody

[2021-04-01 19:19] anthraxx commented on #803
I've added a PR which does exactly this using the config `telescope-skip-repeating-val-minimum` (int). This config is related to the already existing config to avoid skipping all together `telescope-skip-repeating-val` (bool). I think its clearer to preserve the existing bool config (and not break existing configs) and have the minimum be a plain minimum without magic values for special meaning li

[2021-04-01 22:07] anthraxx commented on #803
I've added a label for the amount of collapsed lines to reduce cognitive load

![telescope](https://user-images.githubusercontent.com/203012/113359098-57353d00-9347-11eb-8e7e-858bf6195848.png)

[2021-04-04 02:53] kotee4ko commented on #844
[code]

this changes according to https://www.hex-rays.com/products/ida/support/ida74_idapython_no_bc695_porting_guide.shtml
allow me to get next result:

[code]

[2021-04-04 02:54] kotee4ko commented on #844
On IDA Pro 7.5 *

[2021-04-04 03:23] kotee4ko commented on #844
xmlrpc.client.Fault: <Fault 1: "<type 'exceptions.AttributeError'>:'module' object has no attribute 'SetColor'">

now, I'm see this on client-side (GDB).

[2021-04-04 04:32] kotee4ko commented on #844
It seems that in `pwndbg/ida.py` a lot's of old-style classes and methods. I try to fix it, now I get this error:
```Exception occurred: Error: <Fault 1: "<type 'exceptions.TypeError'>:cannot marshal <type 'SwigPyObject'> objects"> (<class 'xmlrpc.client.Fault'>)```

It's hard to find entry point of this. May be somebody know?

[2021-04-04 04:51] kotee4ko commented on #844
idk, but it's seems that integrate PWNGDB's `nextcall` `nextret` `vis` to gef - is much simple, that integrate IDA and BN to  PWNGDB

[2021-04-06 10:30] #803 closed, assigned to anthraxx

[2021-04-13 16:43] WeSeekAfterKnowledge opened #905 "Feature: Show double / floating point representation of literal values"
When doing browser exploitation, it's often convenient to convert between floating-point values (float, double) and their integer representation.

GDB has support for this partially with `x/f` but it requires memory to operate on.  We should add a feature that does this for arbitrary values.

Syntax might look like:

[code]

And so on.

[2021-04-13 16:49] WeSeekAfterKnowledge opened #906 "Feature: Show context only on stop, not on every prompt (i.e. don't show context after running a command)"
Currently, every time we show the prompt, we show the context.

It would be nice if we don't show it again after entering a single command, as this makes it hard to keep track of what commands have been executed (since there's always a context in the middle).

Is there a fiddly bit for this behavior already?  If not, we should make one such that context only shows on stop.  The user can always pri

[2021-04-13 17:39] WeSeekAfterKnowledge commented on #905
Might also be useful to have a `--decimal` flag to print the decimal value instead of the hex value

[2021-04-17 18:25] disconnect3d opened #907 "telescope skipping repeated vals is incorrect for last elements"
@anthraxx see this pls, for count being 16 we are not showing the repeated value :(
[code]

[2021-04-17 18:28] anthraxx commented on #907
Hm interesting, will take a look at the code path and open a fix PR.
We need more (functional) unit tests xD

[2021-04-20 14:18] #907 closed, assigned to nobody

[2021-04-23 07:00] veritas501 opened #909 "pwndbg raise exception when debugging mips binary"
backtrace:

[code]

https://github.com/pwndbg/pwndbg/blob/87da998fcefe8cba85f51dba0056b923483c6c1c/pwndbg/disasm/__init__.py#L86-L89

https://github.com/pwndbg/pwndbg/blob/87da998fcefe8cba85f51dba0056b923483c6c1c/pwndbg/disasm/__init__.py#L48-L51

![image](https://user-images.githubusercontent.com/25763545/115831422-26c35900-a444-11eb-8d41-5dc59e655d90.png)

This exception only raised when archite

[2021-04-25 19:09] Kyle-Kyle opened #911 "pwndbg fails to work with 64bit kernel in qemu"
### Description

pwndbg raises when debugging a 64bit stripped kernel.
the error message looks like this:
[code]

### Steps to reproduce
0. download the kernel/initfs from https://github.com/mephi42/ctf/blob/master/2021.04.09-Midnight_Sun_CTF_2021_Quals/brohammer/brohammer.tar.gz
1. launch the kernel with command
[code]
2. extract the vmlinuz to vmlinux
3. run gdb with pwndbg and execute `target r

[2021-04-25 19:14] Kyle-Kyle commented on #911
executing `set architecture i386:x86-64` doesn't help

[2021-04-25 19:16] Kyle-Kyle commented on #911
btw, it also prints error messages like this:
[code]

[2021-04-26 12:01] disconnect3d commented on #911
There are a few things that adds to kernel debugging not working nicely in all cases. Those are more or less:
1. Looking for [ELF AUXV](http://articles.manugarg.com/aboutelfauxiliaryvectors.html) which may go through stack borders. This is totally irrelevant for kernel targets as there shouldn't be AUXV (afaik) and yet, going through stack pages may be slow (especially if we determine the wrong ad

[2021-04-26 12:02] disconnect3d commented on #911
@Kyle-Kyle I assigned you to this since you started working on it :)

[2021-04-26 15:24] disconnect3d commented on #909
Fixed in #910, thanks!

[2021-04-26 15:24] #909 closed, assigned to nobody

[2021-04-26 15:37] Kyle-Kyle commented on #911
Sounds like there was not enough support for kernel debugging. Ok. Challenge accepted.

[2021-04-27 12:33] disconnect3d commented on #891
Sorry for answering so late but the main question is: do we *really* need an AppImage for Pwndbg?

Many people either install via `setup.sh`, use a Docker container or things like Nix (e.g. https://github.com/arcz/pwnix) and some distros package Pwndbg themselves like Arch (https://security.archlinux.org/package/pwndbg).

If we add AppImage build to this repo, we will have to manage it, which I'd

[2021-04-27 14:52] TheAssassin commented on #891
I occassionally use pwndbg, yes, but only since I set this AppImage build up. It makes using pwndbg drastically easier. It doesn't modify stuff in my home directory, and I don't have to integrate it into my normal gdb. Instead, pwndbg behaves like a standalone tool, which I really like from a user perspective.

The goal is to get an official build up and running. I don't know who would use/trust a

[2021-04-30 09:41] Total-Control-9985 opened #916 "pip sudo"
### Description
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv

### My setup
Ubuntu 20.04
Gdb:      9.2
Python:   3.8.5 (default, Jan 27 2021, 15:41:15)  [GCC 9.3.0]
Pwndbg:   1.1.0 build: 44471df
Capstone: 4.0.1024
Unicorn:  1.0.2

[2021-04-30 19:24] h4x5p4c3 opened #917 "ERROR: Could not find ELF base! while debugging heap note pwnables"
My setup :

pwndbg: loaded 195 commands. Type pwndbg [filter] for a list.
pwndbg: created $rebase, $ida gdb functions (can be used with print/break)
Reading symbols from ./0ctfbabyheap...
(No debugging symbols found in ./0ctfbabyheap)
pwndbg> version
Gdb:      10.1
Python:   3.9.4 (default, Apr 20 2021, 15:51:38)  [GCC 10.2.0]
Pwndbg:   1.1.0 build: 44471df
Capstone: 4.0.1024
Unicorn:  1.0.2
Start

[2021-05-05 23:50] mebeim commented on #906
Hmm, this is the current behavior for me on a fresh pwndbg installation (commit 44471dfd911f969f9b311fb7dcf9f0a0770ff12f) :thinking:

[2021-05-06 00:06] mebeim commented on #905
FWIW GDB already supports `int` to `float` conversion (but not the opposite) with `p` which is built-in and works on any expression:

[code]

[2021-05-13 09:24] D1ag0n-Young opened #920 "An error occurred with the pwngdb plug-in for gdb10.2"
Traceback (most recent call last):
  File "~/pwndbg-src/gdbinit.py", line 24, in <module>
    import pwndbg # isort:skip
  File "/root/pwndbg-src/pwndbg/__init__.py", line 7, in <module>
    import pwndbg.android
  File "/root/pwndbg-src/pwndbg/android.py", line 5, in <module>
    import pwndbg.color.message as message
  File "/root/pwndbg-src/pwndbg/color/__init__.py", line 7, in <module>
    imp

[2021-05-13 11:12] disconnect3d commented on #920
Can you show an output of this command in gdb?:

    pi import sys; print(sys.version)

[2021-05-13 11:33] D1ag0n-Young commented on #920
Traceback (most recent call last):
  File "~/pwndbg/gdbinit.py", line 24, in <module>
    import pwndbg # isort:skip
  File "/root/pwndbg/pwndbg/__init__.py", line 7, in <module>
    import pwndbg.android
  File "/root/pwndbg/pwndbg/android.py", line 5, in <module>
    import pwndbg.color.message as message
  File "/root/pwndbg/pwndbg/color/__init__.py", line 7, in <module>
    import pwndbg.memoi

[2021-05-13 11:42] D1ag0n-Young commented on #920
@disconnect3d

[2021-05-13 11:49] disconnect3d commented on #920
Can you try this withotu loading pwndbg?

[2021-05-13 11:50] disconnect3d commented on #920
Ah you did it. I think this may be it

[2021-05-13 11:51] disconnect3d commented on #920
You would need to build gdb from sources and tell it to use python 3

[2021-05-13 11:55] D1ag0n-Young commented on #920
GNU gdb (GDB) 10.2
Copyright (C) 2021 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html&gt;
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Type "show copying" and "show warranty" for details.
This GDB was configured as "x86_64-pc-linux-gnu".
Type "show configuration"

[2021-05-13 11:56] disconnect3d commented on #920
You can do it more or less like below, ofc it assumes you are in a directory with gdb downloaded.

Note that some of this can be changed if needed. E.g. `--enable-targets=all` builds GDB so it supports ALL targets/architectures (e.g. for remote debugging). Please refer to GDB docs if you need help with those flags.

[code]

EDIT: oh, after this I believe that `make install` would install the built

[2021-05-13 12:03] D1ag0n-Young commented on #920
Is there a requirement for python version? My local is python3.5.2

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月13日(星期四) 晚上7:56
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [pwndbg/pwndbg] An error occurred with the pwngdb plug-in for gdb10.2 (#920)

You can do it more or less like below, ofc it assumes you are in a directory with

[2021-05-13 12:42] disconnect3d commented on #920
I believe you may need >= 3.6, but I don't remember exactly :(.

[2021-05-13 12:45] D1ag0n-Young commented on #920
Just used “../configure --disable-nls --disable-werror --with-system-readline --with-python=/usr/bin/python3.5 --with-system-gdbinit=/etc/gdb/gdbinit --enable-targets=all”
After compiling it, the following error appears:

libtool: link: ranlib .libs/libopcodes.a
libtool: link: ( cd ".libs" &amp;&amp; rm -f "libopcodes.la" &amp;&amp; ln -s "../libopcodes.la" "libopcodes.la" )
libtooldir=`/bin/bash

[2021-05-13 12:58] disconnect3d commented on #920
Is that the full error trace/log? It seems we are missing something here. It may be that you are missing some dependencies required to build GDB and some errors above what you shown are probably showing this (sadly, they do not error early on...).

Also, I would recommend against building things _under root user_ and only using `sudo <command>` when needed (e.g. for `make install`).

[2021-05-13 13:31] D1ag0n-Young commented on #920
[code]

Thanks, in the end, only use the parameter ‘--with-python=/usr/bin/python3.5’ to compile successfully and use it normally. I also want to ask a question: How to upgrade the gdb version of gdb-multiarch? His gdb version is not consistent with the compiled gdb version
[code]

[code]
ubuntu version: 16.04 I used "apt-get install gdb-multiarch" to install

_EDIT by disconnect3d: I tried to mak

[2021-05-13 14:23] D1ag0n-Young commented on #920
Thank you, it is indeed a problem with the python version, python3 should be used

[2021-05-13 14:23] #920 closed, assigned to nobody

[2021-05-14 00:30] CptGibbon commented on #917
git bisect says this was introduced in 707fe12e3db018240a44c8c2c6b0a7e321401660
It only seems to happen when the debugee is run for the 1st time, subsequent runs within the same session don't print the error.

[2021-05-14 12:17] 1094093288 commented on #920
Hello, I want to ask a question. I want to use gdb to debug mips architecture programs,&nbsp; After using the pwndbg plug-in, shows the following exceptions:

➜ ~/Desktop/pwn-test/mips-pwn$ gdb-pwngdb stack_bof_2 -q
Reading symbols from stack_bof_2...
(No debugging symbols found in stack_bof_2)
pwndbg: loaded 196 commands. Type pwndbg [filter] for a list.
pwndbg: created $rebase, $ida gdb function

[2021-05-14 12:51] D1ag0n-Young opened #921 "pwndbg does not work well when debugging mips programs"
Hello, I want to ask a question. I want to use gdb to debug mips architecture programs,  After using the pwndbg plug-in, shows the following exceptions:

[code]

This makes it impossible to view specific registers. What is the reason for this?

[2021-05-14 13:09] disconnect3d commented on #921
What happens when you run this w/o pwndbg?

Also, can you share the binary u try to debug?

[2021-05-14 13:50] D1ag0n-Young commented on #921
When I run pwndbg, the following exception occurs:

[code]

attachment ：https://pan.baidu.com/s/1OShEy3egenmYb7UxnWrdAw
password：nk18

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月14日(星期五) 晚上9:09
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [pwndbg/pwndbg] pwndbg does not work well when debugging mips programs (#921)

What happens w

[2021-05-14 14:02] D1ag0n-Young commented on #921
I run the program with the following script：
[code]
There is a lib/ folder in the current directory, the contents inside are copied from /etc/qemu-binfmt/mipsel/lib/

[2021-05-14 16:21] D1ag0n-Young commented on #921
The previous Baidu network disk may not be easy to use, the updated attachment is my binary file

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "pwndbg/pwndbg"                                                                                    ***@***.***&gt;;
发送时间:&nbs

[2021-05-17 14:03] WeSeekAfterKnowledge opened #922 "Test issue to validate Github + Discord integration"
Ignore this.

[2021-05-17 14:44] WeSeekAfterKnowledge commented on #922
This is a comment 1

[2021-05-17 14:45] WeSeekAfterKnowledge commented on #922
This is a comment 2

[2021-05-26 14:36] D1ag0n-Young opened #924 "After patchelf is used to modify the elf file, the heap and bin commands cannot be used"
I did the following:
1. `patchelf --set-interpreter $libc_dir/ld-$LIBC_VERSION.so --set-rpath $libc_dir/ tsh`

View binary file: `ldd tsh`
[code]
2. run command `gdb tsh`
[code]
Prompt the debug information does not match，Then run the bin command：
[code]
This seems to be unable to find the symbol table for debugging，I try to do this:
[code]
Did not solve the problem
Note: I use patchelf to modify

[2021-05-27 12:47] #917 closed, assigned to nobody

[2021-05-28 02:11] caprinux opened #925 "Colorization of pwndbg output on blog posts"
A method to colorize pwndbg output on a jekyll blog, i.e. extracting pwndbg highlighting

[2021-06-07 09:20] laurentHYZ commented on #855
any solution available now?

[2021-06-07 10:45] disconnect3d commented on #855
Most likely you can have a workaround by adding a file/symbol file with such symbols.

[2021-06-08 13:33] mrFOXYmr opened #927 "telescope trouble"
I tried to see what is on the stack in pwndbg via telescope. pwndbg gives me an instruction that matched the asm instruction, but in fact there is a string line. peda-gdb has no such problem. below screenshots. mb in pwndbg some settings for that?
![peda](https://user-images.githubusercontent.com/82227821/121193668-3bdf3480-c898-11eb-856a-db0dd63c132d.jpeg)
![pwndbg](https://user-images.githubuser

[2021-06-12 09:41] laurentHYZ commented on #855
using rust-gdb instead of gdb solved the issue for me

[2021-06-13 14:14] disconnect3d commented on #855
@laurentHYZ Using `rust-gdb` doesn't really solve the issue for me. Are you sure it did for you?

One solution could be `set language c`, then getting all types from C, then `set language <old>` (e.g. 'auto' or 'rust').

However, we can't do it in `typeinfo.py` in its `update`: doing pure `gdb.execute('set language c'); gdb.lookup_type('char'); gdb.execute('set language <old>')` doesn't work becau

[2021-06-13 14:21] disconnect3d commented on #141
Closing this for now

[2021-06-13 14:21] #141 closed

[2021-06-13 14:22] disconnect3d commented on #916
Feel free to propose a setup.sh that allows one to use a virtual environment. I will be happy to merge such, if it doesn't break the current workflow too.

[2021-06-13 14:23] disconnect3d commented on #916
Closing it for now.

[2021-06-13 14:23] #916 closed, assigned to nobody

[2021-06-14 11:05] ikcalB commented on #264
is there any progresss (maybe in a non master branch) on this?

[2021-06-14 20:17] cybersimple commented on #788
![Screenshot 2021-06-14 16:14:49](https://user-images.githubusercontent.com/82057337/121953628-ca860280-cd2b-11eb-8352-bd15340520d3.png)
This command not work how to Fix.....

[2021-06-15 06:45] disconnect3d commented on #264
@ikcalB If you are not tied to a specific architecture we lack proper support for, this patch may or may not help: https://github.com/pwndbg/pwndbg/files/6376801/kernel.patch.txt. Originally developed for hacking around a linux kernel on a ctf and described on https://github.com/pwndbg/pwndbg/issues/911#issuecomment-826778913 but it should also help for bare metal debugging.

Please, let me know i

[2021-06-16 07:16] WeSeekAfterKnowledge commented on #927
This looks like a permission issue in `pwndbg.vmmap`.

[2021-06-16 07:17] WeSeekAfterKnowledge commented on #927
Can you upload your pwnable / binary and a script to get it into this state>. It looks like Pwndbg thinks 8048910 is only read-write, but is not executable.

[2021-06-16 07:18] WeSeekAfterKnowledge commented on #925
Your best bet is something like `ansifilter` and a script, e.g.:

`gdb .... | ansifilter --fragment -H` to generate an HTML fragment you can easily include.

[2021-06-16 07:20] WeSeekAfterKnowledge commented on #924
Can you upload a zipped copy of your before / after binary so that we can take a look?

This (using patchelf) isn't something I've seen before, and it's possible it's leaving remnants behind of the old interpreter.

[2021-06-16 07:20] #922 closed, assigned to nobody

[2021-06-16 07:21] WeSeekAfterKnowledge commented on #906
Can't repro this anymore, not sure what the issue was.  Closing.

[2021-06-16 07:21] #906 closed, assigned to nobody

[2021-06-16 07:22] WeSeekAfterKnowledge commented on #905
@mebeim Does it support doubles as well as floats?

This is for browser exploitation stuff which usually uses doubles.

[2021-06-16 07:23] WeSeekAfterKnowledge commented on #888
@CunningLogic can you upload a zipped copy of your target binary and the GDB script you're using?

[2021-06-16 07:32] WeSeekAfterKnowledge commented on #884
This is wholly outside the scope of any planned Pwndbg features, unfortunately.

Closing.

[2021-06-16 07:32] #884 closed, assigned to nobody

[2021-06-16 11:04] D1ag0n-Young commented on #924
[hello.zip](https://github.com/pwndbg/pwndbg/files/6662465/hello.zip)

Above is the binary file before and after patchelf
@WeSeekAfterKnowledge

[2021-06-18 11:13] disconnect3d commented on #905
[code]

[2021-06-18 11:14] disconnect3d commented on #888
I think it was reported previously and maybe that was the intended behavior?

To make it work, one has to pass `xinfo &<symbol>`

[code]

[2021-06-18 11:17] disconnect3d commented on #888
[code]

Note that:
[code]
is wrong, the address is incorrect here.. hm.

[2021-06-18 11:29] disconnect3d commented on #888
Fixed in https://github.com/pwndbg/pwndbg/commit/668e53f5279cfb86b75d852061d3b32b44b69408

[2021-06-18 11:29] #888 closed, assigned to nobody

[2021-06-18 11:31] disconnect3d commented on #927
@WeSeekAfterKnowledge actually, it seems the opposite?

I guess the 0x8048910 has read+execute mode and we may prioritize the display of code faster than strings?

(A string address can be R+X e.g. with PIE/PIC binaries when rip-relative-addressing is used)

[2021-06-18 11:32] disconnect3d commented on #927
Btw interestingly, a string was displayed for the 0x80481ec address along with the asm code. Why wasn't it the case for 0x8048910? Do we have a heuristic that expects string to be `[A-Za-z0-9]+` or something?

[2021-06-18 11:39] disconnect3d commented on #925
Or, implementing some kind of "copy with colors" in your terminal emulator. I did something like this for terminator back then to be able to copy pwndbg output with colors to LaTeX for my master thesis, heh.

[2021-06-18 11:45] disconnect3d commented on #925
Actually, one can modify the `context` command so it overwrites the `print` function and dumps the colored output into a file, or, to pass it directly to `ansifilter` (or sth similar).

I don't think we will implement such feature info Pwndbg, however, its an interesting extension. If you ever work on that @caprinux please dump here a link, so we can include it e.g. in a README.

[2021-06-18 13:52] caprinux commented on #925
Gotcha, thanks!

[2021-06-18 14:57] mrFOXYmr commented on #927
http://challenge01.root-me.org/cracking/ch4/ch4.zip <— this is that binary

[2021-06-19 03:59] Y7n05h commented on #755
I don't think use a blacklist to select headers is a good method .As we all know some headers should not be include directly,such as `seccomp-syscalls.h `.
if include `seccomp-syscalls.h `,will get a error `"do not include seccomp-syscalls.h directly, use seccomp.h instead"`
Filtering out unwanted headers with a blacklist is difficult and endless.

[2021-06-19 04:10] Y7n05h commented on #340
Hi,
 I rebuild glibc and lib32-glibc with debug info in ArchLinux , but the heap command still has some bugs.
When I use heap command,I get the message:
[code]
Maybe rebuild glibc with debug info is not enough.

[2021-06-19 04:22] Y7n05h commented on #340
Based On https://github.com/pwndbg/pwndbg/issues/340#issuecomment-431254792

ArchLinux User can rebuild glibc with debug Info in this way:
1. install asp and devtools `pacman -S asp devtools`
2. use asp checkout glibc `asp checkout glibc`
3. `cd glibc/repos/core-x86_64`
4. edit the `PKGBUILD` add `--enable-debug=yes` in `_configure_flags` and run `sed -i 's#!strip#debug#' PKGBUILD`
5. run `extra-x

[2021-06-20 10:46] disconnect3d commented on #755
Yup, I totally agree. I would be happy to merge a PR that fixes this problem.

[2021-06-22 12:06] disconnect3d commented on #804
Closed `stable`, we don't really use it.

Released current dev to https://github.com/pwndbg/pwndbg/releases/tag/2021.06.22

Closing this for now, please reopen if you think it needs more discussion

[2021-06-22 12:06] #804 closed, assigned to anthraxx, disconnect3d

[2021-06-26 17:19] doctorjei opened #930 "Add support for Akita ARM board"
I have been working with the "akita" ARM profile in QEMU. When I try to boot from a ROM file, A "KeyError: 'iwmmxt' exception occurs. This does not happen with regular gdb-multiarch.

=Expected behavior=
It works. Here's the result in vanilla gdb-multiarch:

    (gdb) tar remote localhost:1234
    Remote debugging using localhost:1234
    warning: No executable has been specified and target does n

[2021-07-15 12:05] 0xlilith opened #932 "ERROR :: Exception occurred: dq: Cannot convert value to long. (<class 'gdb.error'>)"
### Description

ERROR: `Exception occurred: dq: Cannot convert value to long. (<class 'gdb.error'>)`
 i am getting this error while running the `dq` command

### Steps to reproduce
i have a variable named target which has a string value "XXXXXX" and when i try to read its address using the dq command i get the error.

Gdb session history:
vis
dq target
dq target
dq target
dump target
help dump
he

[2021-08-01 05:02] wgf4242 opened #936 "pwndbg stuck after pwntools -- gdb.attach"
sry, I need to run the programme first.

pwngdb works fine without script.

But with pwntools gdb.attach stuck after loading info.

Send `ni` ,but not go to next line.

OS: I've tested Kali 2020.4, 2021.1. 2021.2.
[code]

![20210801125755](https://user-images.githubusercontent.com/3336626/127759810-af0e4600-700a-4233-bc25-84e9df1ae42f.png)

Ctrl+C, exit
[code]

[2021-08-01 05:25] #936 closed, assigned to nobody

[2021-08-04 02:00] disconnect3d commented on #425
A stupid stupid workaround, which is still not a great solution: modify the gdbscript breakpoint command to call the `continue` via python interpreter instead, like this: `pi gdb.execute("continue")`.

With this, we will stop every 3 breakpoints but we will be able to manually continue via gdb interpreter and get another stop after 3 breakpoints.

[2021-08-04 02:08] disconnect3d commented on #425
Another solution: implement the breakpoint via `gdb.Breakpoint` Python API. This way, we can say that the inferior **must not stop on the breakpoint but it will still execute our logic**.

This means, the GDB's stop event and Python stop callback won't be executed at all at the breakpoint.

You can test this out by saving the below script in `bp.py` and using `source bp.py` after attaching to the

[2021-08-04 03:16] disconnect3d commented on #867
The bug with loading pwndbg after attaching is fixed with https://github.com/pwndbg/pwndbg/commit/b9e7bf1a756d82e49c49941904b9e42c278f0f58

[2021-08-04 03:16] #867 closed, assigned to nobody

[2021-08-04 03:18] disconnect3d commented on #867
I can't reproduce the described bug with the fix above; please let me know if it still triggers for you.

[2021-08-04 11:39] disconnect3d commented on #930
I think you would have to add this architecture to pwndbg and describe its register set etc similarly to https://github.com/pwndbg/pwndbg/blob/dev/pwndbg/regs.py#L136-L153

[2021-08-04 11:39] disconnect3d commented on #925
Closing this issue as its unlikely we will add such feature directly to pwndbg

[2021-08-04 11:39] #925 closed, assigned to nobody

[2021-08-04 14:53] umutoztunc opened #937 "Heap inspection without libc debug symbols"
The commands for heap inspection currently requires libc debug symbols. However, when the binary is modified with `patchelf` to use a specific interpreter like this file:

[code]

Then, pwndbg is unable to use heap commands even though `libc6-dbg` and `libc6-dbg:i386` are installed:

[code]

This is also mentioned in #924.

The solution I found is to use `patchelf` to change interpreter. However,

[2021-08-06 22:43] disconnect3d commented on #937
Hey, yeah, it would be awesome to address/fix this. Would you maybe like to try implementing this and sending a PR?

In case you need any help, you can hit me on our Discord server :).

[2021-08-07 04:00] umutoztunc commented on #937
Sure! I will implement it soon.

[2021-08-09 11:53] WeSeekAfterKnowledge opened #938 "Feature: Telescope / argv / envp / string printing for all-ASCII-printable strings"
The `argv` and `envp` commands would be much more useful if their length were extended (by default) when reading strings and ALL of the characters of the string are printable -- not just nonnull.

Here's an example where `argv[0]` and `argv[1]` are truncated, despite them only containing printable, ASCII, non-null characters.  I think we infer from some GDB setting how far to read for strings (sin

[2021-08-09 11:58] WeSeekAfterKnowledge opened #939 "Feature: Support printf-style functions which have varargs"
This is a HUGE stretch goal, but it would be neat.

We already have `functions.py` which specify the arguments to various functions, e.g.:

[code]

It would be pretty neat if the "function argument unroller" that we currently have would recognize some subset of vararg-ish functions, and attempt to interpret the remainder.

This would be helpful both for format-string vulnerabilities, as well as ge

[2021-08-09 18:26] gogo2464 opened #940 "recommend to use virtualenv in the readme"
**Is your feature request related to a problem? Please describe.**
When I installed pwndbg I did not worry on what was in the file setup.sh. Then I did not use virtualenv and I did not know that pip has been used. Pip like that may break the system and is not recommended.

**Describe the solution you'd like**
A recommendation in the readme to use virtualenv or at least a warning about pip.

**Desc

[2021-08-10 15:07] disconnect3d commented on #940
@gogo2464 hey, thanks for the issue; I agree its better to use a virtualenv but then it requires the user to always run in virtualenv when they start GDB (to use Pwndbg). This is fine, but we have to inform on this properly.

Can you maybe send a PR with those things described properly in the README?

[2021-08-10 15:09] gogo2464 commented on #940
Nice assign me to this issue. Or why not even modify the bash script to use virtualenv. I will see.

[2021-08-10 17:41] gogo2464 commented on #940
@disconnect3d I have made 2 prs. choose the one you prefer.

[2021-08-11 08:52] disconnect3d commented on #932
The `dq` command expects an address, not a symbol. Use `dq &target`.

There was a discussion here how it should work: https://github.com/pwndbg/pwndbg/issues/788

[2021-08-11 08:53] disconnect3d commented on #932
Anyway, the error is not nice, I'll think of how to fix that.

[2021-08-11 22:53] gogo2464 opened #943 "uplaod pwndbg to the repo pypi to allow people to do pip install pwndbg"
**Is your feature request related to a problem? Please describe.**
People could be frustruated when installed the file with setup.sh. This is basically a bash file made to install with pip. Trough the issue with virtualenv is now solved, we should also allow more expert dev to easily install from pipy repo with pip. The idea is that an expert in python could know immediately how to install.

**Des

[2021-08-11 23:42] gogo2464 commented on #943
Assign me to this issue please. I have already started.

[2021-08-12 00:57] gogo2464 commented on #943
I did it! I made some change in the code. I will submit the PR!

Just see https://pypi.org/project/pwndbg/0.1/

[2021-08-12 01:45] gogo2464 commented on #943
I have deleted the pwndbg from pipy because you are not the owner. Please could you make an account @zachriggle please?

[2021-08-12 02:46] gogo2464 commented on #916
almost solved : https://github.com/pwndbg/pwndbg/issues/940

[2021-08-12 22:12] disconnect3d commented on #943
Hey, I agree that being able to install pwndbg via pypi is an awesome feature. Let's do that :).

However, I don't think we want to rename pwndbg -> pwndbglib as suggested in the PR. The package isn't going to be used outside of being a GDB plugin and even if, I don't think we want to change the namespace.

[2021-08-13 07:08] bufferflyfly opened #945 "ModuleNotFoundError: No module named 'elftools' AttributeError : module 'pwndbg' has no attribute 'color'"
### Description

### Steps to reproduce

### My setup

[2021-08-13 07:12] bufferflyfly commented on #945
./setup.sh can run normal. However, when I run gdb, this error appeared. I installed elftools by pip, but it was not worked. How I do can solve it? Please help me

[2021-08-13 12:59] gogo2464 commented on #943
I see what you mean. I actually need to do that because a file know as pwndbg must be set at the root of the project.

[2021-08-13 16:39] dan1338 opened #946 "Context fails when a particular value is present in any register"
### Description
If a particular value is present in any register ctx throws
[code]
It seems to happen at 128TB split but curiously only with unaligned addresses that would cause a qword read to cross 128TB,
so 128TB-{1..7} throws but neither does 128TB-8 or 128TB

Full backtrace
[code]
### Steps to reproduce

[code]
[code]

### My setup

Platform: Linux-5.13.9_1-x86_64-with-glibc2.32
Gdb:      10.

[2021-08-15 15:53] 0zing opened #947 "Ghidra not working"
Trying to use the ghidra plugin from pwndbg I get:
radare2 plugin r2ghidra must be installed and available from r2
or
<blank ghidra section>

I went on a long search and finally came close to the issue:

pwndbg> python-interactive

<module 'r2pipe' from '/home/..../.local/lib/python3.8/site-packages/r2pipe/__init__.py'>

<module 'pwndbg' from '/opt/pwndbg/pwndbg/__init__.py'>

<module 'gdb' from '

[2021-08-17 00:28] disconnect3d commented on #946
Hah, nice catch! It seems that when we see if a given value is a pointer, we don't take into account the "end address".

To understand this better (for others) let's see the `vmmap` of a process created from your example:
[code]

For me, the bug triggers for the `rdx` register:
[code]

And this fails bcoz when we try to read a pointer at `0x7fffffffeffa` to enhance the display, reading 8B from it

[2021-08-17 00:51] disconnect3d commented on #946
#948 should have fixed that. Thanks again :)

[2021-08-17 00:51] #946 closed, assigned to nobody

[2021-08-17 15:16] Niebelungen-D commented on #911
I am a beginner and I am experiencing the same problem.
I tried to run gdb with pwndbg and execute `target remote :1234` before starting qemu. after doing this I managed to debug but it still prints error messages :
[code]
Sometimes this method doesn't work and I need to try a few more times.
Hope this solves your problem for now.
Sorry, I don't know much about debugging and my English is terrible

[2021-08-17 16:04] disconnect3d commented on #911
@Niebelungen-D yeah, this error needs to be fixed. We must not try to find ELF base on qemu kernel targets and we must not have this failure on normal binaries (I've seen this may happen on some recent Linuxes for userspace binaries).

For now, please use the kernel patch I linked above if you want to have an improved kernel debugging experience.

[2021-08-20 02:52] disconnect3d commented on #947
Hey, I am not familiar with the Ghidra integration but I'd be happy to merge a fix for this issue.

also cc: @anthraxx did u maybe work with this?

[2021-08-20 02:54] disconnect3d commented on #945
Hey, since there is not much information from your side, I am going to close this issue. Please provide more information so the issue can be reproduced next time (OS, steps you did, etc; it would be neat if this can be easily reproduced e.g. in a standard docker container, but if not, its also ok).

[2021-08-20 02:54] #945 closed, assigned to nobody

[2021-08-20 02:55] disconnect3d commented on #943
Wait, why?

[2021-08-20 09:33] dan1338 opened #950 "Stepping over system()/popen() causes termination and changes gdb target to "command""
### Description

It seems like the system()/popen() libc funcions are not handled correctly.
When trying to 'stepover' or 'stepret' over them the program terminates and gdb target changes to the first argument of aforementioned function.

ldso error when doing 'stepover' system@plt("/bin/ls")
[code]

In the case of 'stepret' /bin/ls is executed but the program terminates and we lose control over e

[2021-08-20 21:18] gogo2464 commented on #943
I mean a folder know as pwndbg must be set at the root of the project. Not a file. This folder will contain some files to generate the file to upload to pypi. See https://medium.com/@joel.barmettler/how-to-upload-your-python-package-to-pypi-65edc5fe9c56

[2021-08-21 02:58] fstmpr commented on #755
any update on this?

[2021-08-21 22:25] disconnect3d commented on #950
Hey, this is not a bug. We do set `follow-fork-mode` GDB setting/parameter to `child` in `pwndbg/__init__.py`, so that when the process forks, we change the debugged process to the children.

You can see this setting's value via:
[code]

And you can change it to follow the parent instead via: `set follow-fork-mode parent`. This way, doing the step over the `system` and similar functions will work

[2021-08-21 22:25] #950 closed, assigned to nobody

[2021-08-21 22:37] disconnect3d commented on #927
Tried to reproduce this with:
[code]

Even though the string is in RWX memory, we display both its instruction and string:
[code]

Works also for the weird formatted text too:
[code]

[code]

Also works fine if we `mprotect` the memory to `PROT_READ|PROT_EXEC`.

[2021-08-21 22:48] disconnect3d commented on #927
I am closing this issue as I can't reproduce it. I also can't download the binary as it requires auth.

@mrFOXYmr if you send me the binary via e-mail (dominik.b.czarnota+pwndbg <at> gmail.com) I can check it out. Otherwise,  I can't help.

[2021-08-21 22:48] #927 closed, assigned to nobody

[2021-08-22 02:04] disconnect3d commented on #846
Done

[2021-08-22 02:04] #846 closed, assigned to nobody

[2021-08-22 09:49] dan1338 commented on #950
Oh right, didn't know about that. Maybe it would have been wiser to have a default setting that's the same as normal gdb to reduce confusion?

[2021-08-22 10:59] disconnect3d commented on #950
@1338-1 Hmm, good question; I am not sure why we did this in the first place, so I will ran this idea over on our Discord.

[2021-08-22 12:35] disconnect3d commented on #891
I am closing this issue as I am not going to support AppImage build myself.

[2021-08-22 12:35] #891 closed, assigned to nobody

[2021-08-23 15:34] WeSeekAfterKnowledge commented on #943
It is not possible for Pwndbg to be installable via `pip`, because we have additional dependencies on system packages that have to be installed via the package manager (apt, yum, etc).

Because of this, Pwndbg will continue to require running `setup.py`.  Feel free to work with package maintainers to get Pwndbg added as a real package.  Arch linux has this already:
https://archlinux.org/packages/c

[2021-08-23 15:34] #943 closed, assigned to nobody

[2021-08-26 19:42] 0xlilith commented on #932
okie thank you <#

[2021-08-28 16:09] cnwangjihe opened #952 "heap command failed on glibc 2.34"
### Description

I try to use pwndbg to inspect heap in the new glibc 2.34 (Ubuntu GLIBC 2.34-0ubuntu1).
But it shows the message below:
[code]

It seems that it's caused by some symbol changes in the new glibc.
Before 2.34, glibc will export `__malloc_initialized` as `__libc_malloc_initialized` in `include/malloc.h`.
[code]
But in glibc 2.34, they've removed it.

The simple solution I've found is

[2021-08-28 16:20] #952 closed, assigned to nobody

[2021-09-02 04:32] justfoxing opened #954 "RecursionError when connecting to qemu target"
### Description

- pwndbg after commit dc0e1f419a569963c76faa6125c2d5b53155255a (including current latest 2bef07faa0be17b639d3f30575e8c7971a492fd9) continuously throws RecursionErrors when connecting to a qemu target (qemu-arm and qemu-x86_64 both show the same behaviour) and doesn't display the pwndbg UI.
- Before commit dc0e1f419a569963c76faa6125c2d5b53155255a, no errors occur. This commit is "e

[2021-09-02 11:30] disconnect3d commented on #954
Hey, thanks for reporting this. I'll try to investigate this issue

[2021-09-03 13:47] forkpetard opened #955 "remote debugging download failing"
### Description

When remote debugging,`checksec` and other commands that rely on reading the target binary seem to fail at downloading it.
Issue #623 seems related, but the accepted fix doesn't seem to work for me.
### Steps to reproduce

On the remote run `gdbserver localhost:1234 $local binary$` $local binary$ being a path to a binary that is not present on the local machine.
Locally, run `gdb`

[2021-09-04 14:38] disconnect3d commented on #954
Interesting, it seems this could be some caching issue, but when we disable memoization/caching with `memoize` command (or by changing pwndbg/memoize.py `caching=False`) this still triggers.

[2021-09-04 14:41] disconnect3d commented on #954
This can maybe be diagnosed/compared by using `set debug-events on` in config.

[2021-09-04 15:34] disconnect3d commented on #954
The issue is that I introduced a cyclic dependency between `pwndbg.vmmap.find` and `get_ehdr` functions in some cases: when `vmmap.find` can't use `proc_pid_maps` (e.g. on qemu-user) it tries to fetch things via AUXV: if it doesn't find it, it will use `pwndbg.vmmap.info_files` function which parses the `info files` command from GDB and may then execute `pwndbg.elf.map` function which then uses `g

[2021-09-05 21:15] disconnect3d commented on #954
@justfoxing this should be fixed with the recent commit.

Although its not ideal: I made it so we just return a Page(0, 0xfffffffff...) which is not quite  correct.

[2021-09-06 02:41] justfoxing commented on #954
Cheers, confirmed working for me, thanks for the quick fix.

[2021-09-06 07:57] Kyle-Kyle commented on #911
with a little fix. I think pwndbg works on Linux kernel now.

[2021-09-06 12:04] #911 closed, assigned to Kyle-Kyle

[2021-09-13 22:13] #955 closed, assigned to nobody

[2021-09-13 22:16] disconnect3d commented on #955
Hey, please see 3e4ad60 - this should fix your issue :). I've looked through all use cases of `pwndbg.proc.exe` and `pwndbg.file.get_file` and some other users of those and it seems the fix made in this commit should work fine for all cases.

Hope that's all; let me know if there are any other issues with it! :)

For the "pwndbg autofetches stuff" issue you mentioned in your PR (which I closed now

[2021-09-13 22:30] disconnect3d commented on #955
Actually, I went ahead and reverted 3e4ad60 and implemented a better approach in 790ba57. Should have done that at start, but oh well :).

[2021-09-13 23:45] disconnect3d commented on #955
@forkpetard actually, do you happen to have a minimal proof of concept for this?
I am also having trouble to understand if we need autofetch or not, but I  may not have the best example to test it.

[2021-09-13 23:49] disconnect3d commented on #890
@martinradev hey, comming back to this - I would be happy to merge a solution where we read /proc/QEMU_PID/mem if the QEMU is hosted locally (well that should be most of cases anyway) to support QEMU kernel vmmap. I think it is also fine to cache it if we inform user appropriately how they can refresh it.

Any chance you could send a PR with this?

[2021-09-14 18:05] forkpetard commented on #955
A proof of concept for triggering the autofetch? My setup was basically using pwntools to remote debug any binary on a vm via an ssh tube argument, although I'm not sure that's what you meant :D. As far as 'necessity' goes: removing most of the autofetch method didn't have any visible side effects and the provided tests still passed.

[2021-09-14 20:20] CptGibbon opened #957 "xinfo command doesn't like anonymous page names"
The naming of anonymous memory pages introduced in 462eb53 is cool but it doesn't play nicely with the `xinfo` command.
The following figure shows `xinfo` behaving correctly when displaying info on a regular mapping, followed by an error when used with an anonymous mapping.

![xinfo](https://user-images.githubusercontent.com/16000770/133327381-c4f9d13b-5d20-4fd3-80b5-01aad51a5387.png)

`xinfo` use

[2021-09-14 20:22] disconnect3d commented on #957
Yeah, I saw a similar code with `'['` check before. I think we should rename anon pages to `[<address>]` instead

[2021-09-14 22:02] #957 closed, assigned to nobody

[2021-09-17 18:38] martinradev commented on #890
I think using /proc/QEMU_PID/mem for searching memory also requires that pwndbg would have information about how guest virtual memory is mapped to guest physical memory. The way I've implemented it in gdb-pt-dump is the following:
1) During PT traversal, each contiguous virtual range keeps the contiguous physical ranges it uses
2) During search: `for A in virtual_ranges; for B in A.physical_ranges

[2021-09-17 20:25] disconnect3d commented on #890
Thanks for the explanation.

Yeah, I guess we can't do much with this limitation on the Pwndbg side. I am working/researching recently how to add support for `info proc mappings` or/and `info mem` from QEMU user emulation into GDB. If that works out I guess we could have a look into QEMU kernel as well and maybe expose some necessary (but lacking) information.

[2021-09-19 04:02] nickylimjj opened #963 "Typo in dd command: dump N dwrods."
### Description

There is typo in the following command:
[code]

### Steps to reproduce

1. Launch pwndbg
2.  Type `pwndbg dump`

### My setup

[code]

[2021-09-19 15:30] #963 closed, assigned to nobody

[2021-09-20 18:20] IdanBanani commented on #764
Why would someone want to install debug symbols for all possible architectures ?
apt-get install -y 'libc6-*-cross' 'libc6-dbg-*-cross'
is it such light-weight?

[2021-09-20 19:38] disconnect3d commented on #764
TL;DR: To make it more convenient for ppl running binaries under qemu-user emulation. It's probably not as much lightweight as installing only the _native_ arch but I don't think people  care that much as long as those packages are official ones?

[2021-09-20 19:38] disconnect3d commented on #764
This being said, debugging via qemu-user is kinda broken for now as we don't determine memory pages well.

[2021-09-21 20:49] IdanBanani commented on #924
What are your thoughts on these kind of "Quick Fixes" ?
(downloading a specific libc version resources with debug symbols)
https://www.buaq.net/go-13408.html
https://bbs.pediy.com/thread-254868-1.htm
https://github.com/matrix1001/glibc-all-in-one
https://github.com/ray-cp/pwn_debug/blob/master/build.sh

[2021-09-29 15:24] disconnect3d opened #967 "Add setrlimit or ulimit command"
TL;DR: It would be nice if we could do `ulimit` or `setrlimit` within Pwndbg to set a limit for the current process.

I think it is fine if we do it by calling the underlying glibc `setrlimit` function.

An example is shown here: https://qa-stack.pl/superuser/404239/setting-ulimit-on-a-running-process  - we just need a more convenient interface then the one below:
[code]

References:
* https://man

[2021-10-04 05:44] stong commented on #954
This is still happening on ARM64

[code]

[2021-10-05 00:29] disconnect3d commented on #954
@stong eh, can you see if this fixed your issue? https://github.com/pwndbg/pwndbg/commit/e239e9c1f69649ac028255206df0e2151416b763

Is this a qemu user mode or qemu kernel?

Can you provide a testcase so I can improve this?

[2021-10-05 00:30] stong commented on #954
Actually this binary is not qemu whatsoever. It is just a normal ELF compiled by clang.

By the way, I forgot to say this but thank you @justfoxing for the accurate issue description with the offending commit hashes. I was able to workaround by checking out commits prior to that

[2021-10-05 00:32] disconnect3d commented on #954
Is this *on ARM64* linux then? Or is it a binfmt misc that actually runs qemu user mode under th hood?

[2021-10-05 00:33] stong commented on #954
Yes, it's running on a Raspberry Pi.

[code]

Something else I might add --- commands like `bins` and `tcache` don't seem to work as these values got optimized out and pwndbg can't find them by symbol -- unfortunate :( But that is a separate issue.

[2021-10-05 00:35] disconnect3d commented on #954
Can you show output of this command?: `gdb --quiet /bin/ls -ex 'set context-sections ""' -ex entry -ex 'info proc mapping' -ex vmmap`

[2021-10-05 00:39] stong commented on #954
Ah, interesting it seems to be an issue specific to core files.

[code]

[2021-10-05 00:47] disconnect3d commented on #954
Wait, why doesn't it trigger now?

EDIT: Btw it may be better to communicate via Discord: we have a Pwndbg server at https://discord.gg/pNhrz52s

[2021-10-05 02:20] stong commented on #954
OK, will do. It seems to happen when I do `gdb a.out core` but indeed doesn't happen with the above command line

[2021-10-09 00:10] thebashpotato commented on #855
I can also confirm that rust-gdb does not work for me either. Has any else figured out a work around?

[2021-10-10 01:54] #932 closed, assigned to nobody

[2021-10-15 12:51] trubbio83 commented on #855
have you found a solution for the problem above?
Thanks to all.

[2021-10-22 08:02] fr0zenrain opened #977 "Debug Qemu Exception occurred: Error: substring not found"
Exception occurred: Error: substring not found (<class 'ValueError'>)
For more info invoke `set exception-verbose on` and rerun the command
or debug it by yourself with `set exception-debugger on`

set exception-verbose on

Traceback (most recent call last):
  File "/home/fr0zenrain/pwndbg/pwndbg/prompt.py", line 30, in prompt_hook
    pwndbg.events.after_reload(start=cur is None)
  File "/home/fr

[2021-10-22 09:50] disconnect3d commented on #977
Can you show the output of: pi print(repr(gdb.execute("monitor info mem")))

[2021-10-22 09:51] disconnect3d commented on #977
It seems like u either have some weird output there, or, an empty string - probably meaning u launch qemu without monitor; you may want to add that for potentially better experience (although monitor info mem maybe slow). We should handle this better too, heh

[2021-10-22 23:21] thebashpotato commented on #855
After posting my comment, I relalized the workaround everyone has been talking about.

### If you make a simple rust project
`cargo new gdbtest`

#### build it
`cd gdbtest && cargo build`

#### open the debug executable with gdb
`gdb target/debug/gdbtest`

#### At your pwndbg prompt you must must manually enter the following
`pwndbg> set language c`

#### Then you can set your break point and run

[2021-10-23 09:38] trubbio83 commented on #855
Yes this true..putting "set language c" after launch gdb <bin> it work correctly. Do you know if there is a way to arrange in a good way the screen information?

[2021-10-25 00:01] ConnorNelson opened #978 "add-symbol-file should not specify a base address"
This happens when connecting to a remote target:
[code]
This double breakpoint results in `\xcc` bytes incorrectly polluting memory, and I've seen this corrupt the GOT and crash my program as a result.

https://github.com/pwndbg/pwndbg/blob/05036defa01d4d47bfad56867f53470a29fcdc89/pwndbg/symbol.py#L261

Why is the base address being specified here? According to the help info for `add-symbol-file`,

[2021-10-25 00:05] ConnorNelson commented on #978
I just realized that this is the same issue as https://github.com/pwndbg/pwndbg/issues/177.

I'm not really understanding why this issue has not yet been resolved? The current behavior is incorrect. Omitting the address fixes the problem.

[2021-10-25 00:16] disconnect3d commented on #978
Because nobody send a PR for that matter! Heh ;)

Some things to consider (or just nice to have things):
1. Is the `add-symbol-file` feature in Pwndbg needed at all? It is invoked automatically via `autofech` function in pwndbg/symbol.py, but when I looked at it recently it seemed to me that things work fine without it. What are the cases when it is indeed required? (Maybe it was added for some ol

[2021-10-27 05:40] eeeeeeeeeeeeeeeea opened #980 "关于升级gdb，然后pwndbg不兼容的问题"
Please make sure you have checked that the issue persists on LATEST pwndbg version.

Below is a template for BUG REPORTS.
Don't include it if this is a FEATURE REQUEST.
-->

### Description：我将ubuntu16的gdb升级到9.1后，再安装pwndbg，即使加上--with-python=/usr/bin/python也不可以

### Steps to reproduce：

### My setup

[2021-10-27 06:32] caprinux commented on #980
问题在哪里呢？ 你可以提供截图吗？
我们需要知道问题在哪里才可以帮助你。：）

[2021-10-27 06:36] eeeeeeeeeeeeeeeea commented on #980
![gdb](https://user-images.githubusercontent.com/82768425/139012468-07f297c7-89f6-4943-b911-0f069fd14a66.jpg)
是这个样子的，好像是pwndbg的配置文件的问题

[2021-10-27 06:41] caprinux commented on #980
你可以在GDB里面执行
`pi import sys; print(sys.version)`
然后拍个照片吗

[2021-10-27 06:43] eeeeeeeeeeeeeeeea commented on #980
![gdb](https://user-images.githubusercontent.com/82768425/139013588-3452fc2f-451a-4a55-a6f6-1ca350ba178d.jpg)

[2021-10-27 06:44] caprinux commented on #980
![image](https://user-images.githubusercontent.com/76640319/139013663-05560695-3f5b-4476-afea-89db7a4f8351.png)

你要一起执行

[2021-10-27 06:46] eeeeeeeeeeeeeeeea commented on #980
![gdb](https://user-images.githubusercontent.com/82768425/139013934-68a6c37a-7d84-4694-a166-7d212d1efd02.jpg)

[2021-10-27 06:47] caprinux commented on #980
你的python应该是python3不是python2.
你在安装GDB的时候要加上
`--with-python=/usr/bin/python3`

[2021-10-27 06:54] eeeeeeeeeeeeeeeea commented on #980
![gdb](https://user-images.githubusercontent.com/82768425/139015140-11ba2b96-f300-4570-baf5-b4f30353caad.jpg)
按理说是python2呀，emmm

[2021-10-27 07:01] caprinux commented on #980
GDB的扩展，比如说pwndbg和gef，都需要python3来运作。
如果你从源头安装的话，GDB会利用 /usr/bin/python， 可是你的/usr/bin/python 是 python2，不适合pwndbg。
所以你安装的时候需要加上 `--with-python=/usr/bin/python3` GDB 才后懂得利用 python3。

_对不起我的华语不怎么好哈哈_

[2021-10-27 07:04] eeeeeeeeeeeeeeeea commented on #980
牛，谢谢谢谢，师傅是台湾的？这环境问题搞了好几天了，麻了，gdb低版本我在调试的时候有时候会没有符号表(比如是call 0x55***********)，而我用ubuntu20，同一个脚本调试，就是call printf，这个问题是gdb版本的问题嘛，

[2021-10-27 07:15] caprinux commented on #980
不是的哈哈，我是新加坡人 :)
我不太清楚你在问的问题，可是听起来，可能是你GDB的版本（请问是什么版本呢？）但也可能是你在debug的应用的问题。
我的个人建议就是用最更新的版本10.2 或 11.1，问题少很多。
你可以在这里找到全部的版本 https://ftp.gnu.org/gnu/gdb/
我不太清楚问题的细节，如果有截图或应用就可以更缜密的解析问题。

[2021-10-27 07:18] eeeeeeeeeeeeeeeea commented on #980
？？？我有个朋友在新加坡高三hhh，我再调一下试试，估计是gdb的问题，我用peda调试有符号表的，师傅能给个联系方式嘛hhhh

[2021-10-27 07:18] eeeeeeeeeeeeeeeea commented on #980
谢谢啦

[2021-10-27 07:24] caprinux commented on #980
没问题！你可以在 Discord 找到我 我的用户名是 @capri#7268，如果你需要联络我就可以在discord上发给我一个简讯。
你也可以加入我们pwndbg的官方的社会！

如果没有别的问题就可关这个议题：）

[2021-10-27 07:38] #980 closed, assigned to nobody

[2021-10-27 17:28] Codadillo commented on #978
As far as 1 goes, I have had a scenario where `add-symbol-file` was useful. It was a while ago so I don't have the exact files that I needed it for, but I ran into some issues where debugging symbol files weren't getting correctly added at the right base. I think I also had an application where I wanted to switch between symbol files.
Both of these might be too niche/something for which I might ha

[2021-10-27 20:35] Sparrrgh commented on #954
I'm getting this same error, in the same parts of the code, but on an amd64 binary. It happens inside of a recursive function, after the first level of recursion

[2021-10-27 20:46] Sparrrgh commented on #954
[code]

Just to make sure it's exactly the same issue

[2021-10-28 02:30] disconnect3d commented on #954
@Sparrrgh can u show how we can reproduce this? e.g. exact binary/setup?

[2021-10-29 04:00] killthatshaman opened #981 "vmmap doesn't work on qemu-arm"
### Description
When using Qemu-Arm and Gdb-multiarch on Ubuntu20.04 to remotely debug the arm-architecture program, the display of vmmap is abnormal, and it can be displayed normally after the version is rolled back to `1.1.0 build: 9250cc5`.

[code]

### Steps to reproduce
[code]
Then open gdb-multiarch and use `target remote: 1234`

### My setup
OS:Ubuntu20.04 x86_64
Qemu-version : 1:4.2-3ubunt

[2021-11-04 23:56] lonnywong commented on #890
try this for searching: https://github.com/pwndbg/pwndbg/pull/982

[2021-11-05 00:04] disconnect3d commented on #890
FWIW for QEMU kernel with linux, please use https://github.com/pwndbg/pwndbg/tree/hack-pt-dump branch but also clone its submodules.

I used the great https://github.com/martinradev/gdb-pt-dump package to grab vmmap info and it works really great.

I only need some time to cleanup this, think if we should really use a git submodule or maybe copy the code or sth else and merge to dev.

[2021-11-07 10:11] martinradev commented on #890
The gdb-pt-dump is "actively" being developed. I usually try to add a feature once I see something useful for solving a ctf kernel pwnable or for some kernel debugging stuff.

[2021-11-07 12:40] cnwangjihe commented on #954
have the same issue when loading coredump.
using `gdb ./test ./core`
[test.tar.gz](https://github.com/pwndbg/pwndbg/files/7492255/test.tar.gz)

[2021-11-07 12:42] disconnect3d commented on #954
@cnwangjihe are u using latest pwndbg? and which version of gdb? for @Sparrrgh it seemed that a gdb or pwndbg update helped..

Can u show output of the `version` command?

[2021-11-07 12:58] cnwangjihe commented on #954
On ubuntu 20.04 LTS
[code]
On arch linux, with gdb 11.1, encounter the same issue
[code]

[2021-11-21 03:01] synap5e commented on #340
I was able to get this working by adding eschwartz's repository (unofficial repo, but arch trusted user)
`/etc/pacman.conf +a`
[code]

then just
[code]

[2021-11-26 14:53] securitylab-repository opened #985 "maximum recursion depth exceeded - gdb -c core_dump"
[core.4408.zip](https://github.com/pwndbg/pwndbg/files/7609626/core.4408.zip)
### Description

We have this error when we analyse a core dump generated after segmentation fault due to the buffer overflow :
Exception occurred: Error: maximum recursion depth exceeded while calling a Python object (<class 'RecursionError'>).
We launch gdb and thus pwndbg with this option : -c

### Steps to reproduce

[2021-11-26 15:07] disconnect3d commented on #985
Can you provide a minimal working example of this so I can fix it once and for all?

[2021-11-26 15:38] securitylab-repository commented on #985
this is the core dump
[core.4408.zip](https://github.com/pwndbg/pwndbg/files/7609641/core.4408.zip)

[2021-11-26 18:37] disconnect3d commented on #985
Thanks, I can reproduce this and I get some workaround which isn't perfect yet but it can be found here in case u want to use it now: https://github.com/disconnect3d/pwndbg/tree/workaround-985

Due how it is made Pwndbg does not resolve proper vmmap, so e.g. legend does not work well. I guess we could maybe parse `info proc mapping` instead of all the thing we do now or we did in the past to grab

[2021-11-26 19:29] securitylab-repository commented on #985
Yes, it works better now.

Thanks.

Le ven. 26 nov. 2021 à 19:37, Disconnect3d ***@***.***> a
écrit :

[2021-11-28 14:41] adamrozycki00 commented on #855
Worked for me. @mattcoding4days Cheers mate!

[2021-12-08 04:43] oneNutW0nder opened #990 "Linting and Auto Format"
Opening this up for discussion on linting and format styles. When browsing through the code `pylint` is not shy about showing all of the linting issues:

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/29211904/145149129-62075d71-d7ba-4bb1-83fb-1be08d538a02.png">

This is just an example from `pwndbg/chain.py`. To be clear, I am not suggesting that we resolve all of th

[2021-12-08 04:52] oneNutW0nder commented on #990
Relevant information about `git blame` issues that may come up: https://stackoverflow.com/questions/53502654/how-do-i-run-a-code-formatter-over-my-source-without-modifying-git-history

There are solutions to this issue below the most up voted comment.

[2021-12-13 07:49] DanielHeEGG opened #992 "Crash when connecting to remote target"
### Description

I'm trying to debug an a binary running in QEMU. When trying to connect to the target in gdb with `target remote localhost:1234`, it crashes and shows `bus error`.

If I disable pwndbg by editing ~/.gdbinit, the target connects without any problems. I also tried connecting to the target first, then running `source /path/to/pwndbg/gdbinit.py` inside gdb, and it crashes immediately

[2021-12-14 15:03] junknet opened #994 "Failed to start"
### Description
Traceback (most recent call last):
  File "/usr/share/pwndbg/gdbinit.py", line 24, in <module>
    import pwndbg # isort:skip
  File "/usr/share/pwndbg/pwndbg/__init__.py", line 7, in <module>
    import pwndbg.android
  File "/usr/share/pwndbg/pwndbg/android.py", line 7, in <module>
    import pwndbg.file
  File "/usr/share/pwndbg/pwndbg/file.py", line 17, in <module>
    import p

[2021-12-14 15:11] disconnect3d commented on #994
Seems that py3.10.x causes this issue...

[2021-12-14 15:51] oneNutW0nder commented on #994
It looks like this piece of code was updated a few months ago:
https://github.com/pwndbg/pwndbg/commit/44394463e04b414b8ce64e794d12514ec8966f3d

Have you tried to update pwndbg?

[2021-12-15 00:45] MaximeFrancoeur commented on #827
the solution of @Pure-T work well on Mac Monterey OS.

[2021-12-27 02:33] D1ag0n-Young opened #995 "Python Exception <class 'gdb.MemoryError'> Cannot access memory at address 0x0"
When debugging a program, I found that many commands are not available after loading, such as heapinfo, etc., prompting the following information:

[code]
Where is this reason? There is a memory area mapped by the mmap function in the program. Does it have anything to do with this?
Attach the program（The environment is libc-2.31.so）
[attachment.zip](https://github.com/pwndbg/pwndbg/files/7778059/a

[2021-12-29 21:59] junknet commented on #994
pwndbg-git version is ok.
Arch community/pwndbg 2021.06.22-2 is out of date.

[2021-12-29 21:59] #994 closed, assigned to nobody

[2022-01-02 13:35] navaneeth-dev opened #997 "Python Exception <class 'gdb.error'> Selected thread is running"
[code]

[code]

Same bug on parrot and kali.

Gdb 10 & gdbserver 10

So how do I fix this error such that I can debug properly?
Thanks in advance

[2022-01-05 11:16] disconnect3d commented on #997
Can you share the binary?

[2022-01-05 11:22] #978 closed, assigned to nobody

[2022-01-05 11:55] navaneeth-dev commented on #997
[PwnShop.zip](https://github.com/pwndbg/pwndbg/files/7814674/PwnShop.zip)

Sure its just PwnShop from HackThebox. Password: `hackthebox`
Also I think this is a problem with GDB not pwndbg, not sure tho. I'll have to do more testing.

[2022-01-14 06:15] krnbhargav opened #1000 "Unable to attach to process by using gdb.attach"
Please can somebody help me , i newly install ubuntu ,came from arch ,in arch i donot have this error

![image](https://user-images.githubusercontent.com/44202642/149460448-d98fbca6-f129-4d3a-bd71-cc3b483420e3.png)
when attaching to process using `gdb.attach()` for breakpoint setting i am getting this error
![image](https://user-images.githubusercontent.com/44202642/149460506-f18830a9-0bb4-4f2c-a6

[2022-01-14 09:38] disconnect3d commented on #1000
It seems your issue is just a misconfiguration and not a bug in Pwndbg or Pwntools (from which the `gdb.attach` API comes from) and it worked in Arch due to having different configuration than Ubuntu.

In your screenshot you can actually see what is the problem:

While the "try again as the root user" should just work, I would rather recommend against it as it is dangerous to do so.

Linux has a [

[2022-01-15 13:35] #1000 closed, assigned to nobody

[2022-01-17 09:40] Jungled opened #1001 "AttributeError: 'NoneType' object has no attribute 'start'"
###  **Description**

this happens when I use the "bin" command to see the chunk...
I have tested on ubuntu 18.04.5 with gdb 8.1 and ubuntu  20.04.1 with gdb 9.2

### Steps to reproduce

1.load binary in gdb in x86-64 pc
2.breakpoint set
3.run
4.bins

[code]

**### My setup**

Platform: ubuntu-18.04.5-desktop-amd64
Gdb: 8.1
Python 3.6.5 (default, Apr  1 2018, 05:46:30)
Pwndbg: Releases 2022.01.05

[2022-01-18 03:02] caprinux commented on #755
just encountered the same issue :> Is there any temporary fix for this?

[2022-01-18 09:50] disconnect3d commented on #755
@caprinux probably finding appropriate symbols by yourself and setting it via GDB's add-symbol-file (which is super clunky as u need to create a .c file, compile it etc).

[2022-01-18 22:48] shellmage commented on #509
same problem here
OS : Linux pc 5.12.1-arch1-1
Gdb:      10.1
Python:   3.9.4 (default, Apr 20 2021, 15:51:38)  [GCC 10.2.0]
Pwndbg:   1.1.0
Capstone: 4.0.1024
Unicorn:  1.0.2

the debugging symbols and the heap commands work fine when i execute pwndbg directly
but this issue (No debugging symbols found in <libc path>) always happens when attaching to pwndbg from pwntools
no matter if using the sy

[2022-01-19 06:29] krnbhargav commented on #1000
i donot know why it is not fixing @disconnect3d,
![image](https://user-images.githubusercontent.com/44202642/150076309-136266db-8a2e-492e-b889-b3de4cefcad0.png)
![image](https://user-images.githubusercontent.com/44202642/150076336-bd189886-d030-434a-962f-eded4f52b4fb.png)

[2022-01-19 07:11] krnbhargav commented on #1000
when using root i am getting this ->
![image](https://user-images.githubusercontent.com/44202642/150081639-06e92281-c3cc-4c04-8c35-d36590331739.png)

[2022-02-11 17:42] kleest commented on #954
This happens when trying to debug a coredump:

[code]

[code]

[code]

### bugreport

Platform: Linux-5.16.8-arch1-1-x86_64-with-glibc2.33
Gdb:      11.2
Python:   3.10.2 (main, Jan 15 2022, 19:56:27) [GCC 11.1.0]
Pwndbg:   1.1.0
Capstone: 4.0.1024
Unicorn:  1.0.3
This GDB was configured as follows:
   configure --host=x86_64-pc-linux-gnu --target=x86_64-pc-linux-gnu
	     --with-auto-load-dir=$de

[2022-02-14 10:12] #667 closed, assigned to nobody

[2022-02-14 10:13] disconnect3d commented on #1001
Interesting. What does `vmmap` return in your case if u execute it instead of `bins`?

[2022-02-19 00:13] gkso opened #1006 "Exception at the beginning of GDB"
### Description

When using pwndbg with an aarch64-linux-gnu-gdb from the ARM toolchain, it throws the following exception at the beginning.

[code]

### Steps to reproduce

1. Install pwndbg.
2. Download the [ARM toolchain](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-a/downloads) from this link: https://developer.arm.com/-/media/Files/downlo

[2022-02-20 15:48] disconnect3d commented on #1006
Hey,

Does other GDB version work? This seems really weird as what is pointed out is not an invalid syntax. It sounds as if GDB maybe used Python 2, but you are saying Python 3.8 is used. Can you double check/confirm Python version by showing us the output of those two commands in your GDB: `pi import sys` and `pi print(sys.version)`?

[2022-02-21 08:55] #619 closed, assigned to nobody

[2022-02-21 08:57] disconnect3d commented on #940
We decided to not use virtualenv or/and the user can choose by themself

[2022-02-21 08:57] #940 closed, assigned to gogo2464

[2022-02-21 08:59] disconnect3d commented on #977
Closing as we do not have enough information to work on it

[2022-02-21 08:59] #977 closed, assigned to nobody

[2022-02-21 09:03] disconnect3d commented on #981
Hey, the main issue here is that QEMU does not provide us enough information to fetch this information normally. I have finally spend some time on that and sent a patch to QEMU to make this happen: https://lists.gnu.org/archive/html/qemu-devel/2022-02/msg04418.html

Ofc this could be worked around by us by e.g. inspecting the qemu process memory maps and filtering them to display the inferior maps

[2022-02-21 14:22] ghsi10 commented on #937
Is there anyone working on it?

[2022-02-21 14:36] disconnect3d commented on #937
@ghsi10 @umutoztunc didn't implement it in the end, so feel free to work on it if you want to :)

[2022-02-22 08:43] ghsi10 commented on #937
It seems a bit complex to me as a first step... But I think it's a really important feature.

[2022-02-26 15:37] umutoztunc commented on #937
We were brainstorming on the discord server about different ways to approach this and their respective pros and cons. I think first having a lookup table for precomputed symbols is a great idea. However, if we use file hashes as keys, people can just modify 1 byte to make it not work. Maybe grepping the version as string from the file is more reliable way of doing this but it can be fooled again.

[2022-03-09 23:55] Nyck opened #1008 "Context Arg - AttributeError: 'NoneType' object has no attribute 'address'"
### Description

Point `RIP` to somewhere "weird" (`0x414141414141`) causes the below nonetype error when trying to run `context arguments` (or if you have `set context-sections "args"` in your `.gdbinit` and run `context` automatically)

[code]

### Steps to reproduce

1. `set $rip=0x414141414141`
2. `context arguments`

### My setup
[code]

[2022-03-14 19:27] Xyhlon opened #1009 "pwndbg fails to work with 64 bit qemu costum kernel devel new issue"
### Description

Basically the same as here #911

### Steps to reproduce
`git-clone git@github.com:IAIK/sweb.git`
`mkdir -p /tmp/sweb; cd /tmp/sweb; cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=1 $PROJECT_PATH; make -j; make qemu`
cancel and run
`make debug; make -j; make qemudbg` to activate the debug info
https://www.iaik.tugraz.at/teaching/materials/os/tutorials/prerequisites-installation/
in other te

[2022-03-20 10:42] zuesbyte opened #1010 "cyclic not working in pwndbg"
pwndbg> version
Gdb:      10.1.90.20210103-git
Python:   3.9.10 (main, Feb 22 2022, 13:54:07)  [GCC 11.2.0]
Pwndbg:   1.1.0 build: 3e31bbe
Capstone: 4.0.1024
Unicorn:  1.0.2
pwndbg> cyclic
Undefined command: "cyclic".  Try "help".
pwndbg>

[2022-03-20 10:43] zuesbyte commented on #1010
do i have to import it if yes how

[2022-03-20 12:33] Mez0ne opened #1011 "Bump unicorn to 1.0.3"

[2022-03-20 19:40] #1010 closed, assigned to nobody

[2022-04-03 14:04] disconnect3d commented on #1009
Hey, @Xyhlon can u show output of `monitor info mem` command?

[2022-04-04 06:47] jasonyu1996 opened #1013 "vmmap with qemu-user doesn't seem to work"
### Description

Hi! Despite the claims in the feature list, I was unable to make vmmap work with qemu-user (qemu-x86_64). All that it shows is this
[code]

My understanding is that for a qemu target, such information is obtained from auxv, so probably the output of auxv would be helpful:
[code]

### Steps to reproduce

* `qemu-x86_64 -g 1234 ./prog`
* Inside qemu: `target remote localhost:1234`
*

[2022-04-11 11:11] disconnect3d commented on #1013
Hey,

Not really, or, not full vmmap information can be obtained this way.

The main problem here is that the QEMU user emulation gdbstub does not provide the information **it could expose to GDB**. For example, QEMU itself has a code that handles the debugged program's syscall and if it reads /proc/self/maps QEMU will read its own maps and remove the ones that belong to QEMU leaving the debugged

[2022-04-11 11:22] mark0519 opened #1014 "Unable to use pwndbg on Ubuntu16"
### Description

I installed pwndbg using ``` ./setup.sh --with-python=usr/bin/python3```

After the installation is complete, when I use the gdb command, it will report an error

[code]

[code]

### My setup

```Linux version 4.15.0-112-generic (buildd@lcy01-amd64-021) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12)) #113~16.04.1-Ubuntu SMP Fri Jul 10 04:37:08 UTC 2020```

[code]

[2022-04-11 12:21] mark0519 commented on #1014
Thanks a lot for the help of my friend @ToBeatElite#4456 on pwndbg discord server, I have solved this problem.
![image](https://user-images.githubusercontent.com/73413552/162737806-574daf9c-32e0-4bbc-b323-0f042660c02b.png)
At first I added "banner = 'top' " before the check "if banner not in ('both', 'top', 'bottom', 'none'):", but strangely the problem persists.
In the end I decided to comment ou

[2022-04-11 12:21] #1014 closed, assigned to nobody

[2022-04-11 12:47] disconnect3d commented on #1014
The issue seems to come up from using f-string literals that were added in Py3.6 and Ubuntu 16.xx uses Py3.5 likely. We should change the f-string literal formatting to '{}'.format() probably.

[2022-04-12 10:07] disconnect3d commented on #1011
Feel free to propose this as a PR ;)

[2022-04-12 10:07] disconnect3d commented on #1009
@Xyhlon ping

[2022-04-12 10:35] Xyhlon commented on #1009
sry for the delayed response @disconnect3d .
[code]
this is the output

[2022-04-12 11:23] disconnect3d commented on #1009
Can you also run pwndbg with `set exception-debugger on` and then do: `print(end, start, size)`?

[2022-04-12 11:28] disconnect3d commented on #1009
omg, for `00007ffffffff000-ffff800000000000 0000000000001000 urw` we are getting:
[code]

Certainly not matching the `0x1000` size...

[code]

[2022-04-12 11:40] Xyhlon commented on #1009
[code]

Sry dude it seems I forgot what the is and isn't mentioned in the website I linked and it would be probably necessary to run `make debug; make -j; make qemudbg`  before you run `make rungdb` in order to activate all the debug info.

[2022-04-12 13:32] disconnect3d commented on #1009
TL;DR: It seems we should remove the assertion...

[2022-04-12 13:40] Xyhlon commented on #1009
ok nice

[2022-04-20 11:29] #1011 closed, assigned to nobody

[2022-04-20 11:29] disconnect3d commented on #1011
[Done ](https://github.com/pwndbg/pwndbg/pull/1015)

[2022-04-30 09:40] Cirn09 opened #1018 "dump memory as code format (like c or python)"
Some time I need dump a short memory and use in my own code. x64dbg has a useful feature can dump memory as some code format (just like below).
![image](https://user-images.githubusercontent.com/25722111/166099826-f8e6faba-4062-411f-a1b1-b06a6d97417b.png)
Not a very complex.

[2022-05-07 10:11] Cirn09 commented on #1018
I write a demo: https://gist.github.com/Cirn09/5ece70e042ef465bc6300261ce85b6f0
But I haven't figured out how to name file and commands.

[2022-05-09 07:46] automatedbugreportingfacility commented on #1006
@disconnect3d: Happens for me as well:

[code]

When I comment out the line, it fails later:
[code]

[2022-05-09 12:30] disconnect3d commented on #1006
@automatedbugreportingfacility you are using GDB compiled with Python 2 which is unsupported by Pwndbg. Please recompile GDB with Python 3.

[2022-05-09 12:30] #1006 closed, assigned to nobody

[2022-05-20 12:19] martinclauss opened #1020 "Omit system call name if not useful for e.g. int3 instruction"
When debugging a program that itself contains an `int3` instruction the following output might be generated:

[code]

in the `[ DISASM ]` section. `SYS_write` does not make any sense and might be confusing since `int3` is just a simple instructions that has no interpretation for `RAX` but this is done here. Maye it is possible to check the type of the `int` instruction (https://www.felixcloutier.c

[2022-05-23 15:17] claflinnate opened #1021 "Pwndbg breaks w/ trace-commands enabled"
### Description
pwndbg breaks with trace-commands enabled, I have a use case where I want to dynamically save user input to a file which trace-commands allows, however this breaks the pwndbg functionality.

[code]

### Steps to reproduce

before running binary, enable trace-commands
[code]

### My setup

+version
Gdb:      9.2
Python:   3.8.10 (default, Mar 15 2022, 12:22:08)  [GCC 9.4.0]
Pwndbg:

[2022-05-23 15:23] disconnect3d commented on #1021
[code]

Heh, we do execute `gdb.execute(..., to_string=True)` in few places and parse the output as GDB doesn't provide good API for everything, and this is where it breaks :/.

[2022-05-23 15:25] claflinnate commented on #1021
So i dug into the error message and hack-fixed it locally which might work fine for me, in strings.py

[code]

adding the try/except there just forces the length to 0 if there's any kind of failure. obviously not a good production fix but i think i can at least make forward progress and haven't seen any bad functionality yet from this

[2022-05-23 15:29] disconnect3d commented on #1021
It seems we should wrap gdb.execute into something that is able to recognize that trace-command was enabled

[2022-06-18 02:15] maskelihileci commented on #844
Ask them why they still use a single core in 2022
I to Waiting for hours for a process
If it hadn't had good support for the plugin, I would have switched to other software.

[2022-06-23 05:28] suletm commented on #30
p2p added in this pull request is similar to "scan": https://github.com/pwndbg/pwndbg/pull/880

[2022-06-24 04:26] mahaloz commented on #844
Hi @maskelihileci (and devs of pwndbg). A while back I looked into doing this, but it actually meant a major refactor of the code. You might be more interested in using this plugin I made for pwndbg/gef/gdb which is updated for 7.0 API and a few other nifty features:
https://github.com/mahaloz/decomp2dbg

At the very least, if you are dead set on doing this and the devs want it in their master bra

[2022-06-28 11:06] wallds opened #1026 "ERROR: GDB exited unexpectedly. Debugging will now abort."
### Description
![image](https://user-images.githubusercontent.com/12907032/176160071-6880e656-07de-4f27-91e2-ef1c09076cd4.png)

I tested the original GDB and GEF, it works fine.
It seems to be a problem with UBUNTU-22.04 LTS, which works fine on UBUNTU-20.04.4 LTS.
### Steps to reproduce

set a breakpoint and run it.

### My setup
[code]
WSL UBUNTU-22.04 LTS

[2022-06-28 11:44] disconnect3d commented on #1026
Huh. Can you maybe try investigate it what it can be? Can you try setting `set debug-events on` or add prints to some functions to see where it comes from?

Do you know if it works out of WSL on that Ubuntu version? I don't have Windows machine nearby to test WSL.

[2022-06-28 11:52] wallds commented on #1026
Thank you for your reply.

[debug_events_log.txt](https://github.com/pwndbg/pwndbg/files/9000688/debug_events_log.txt)

![image](https://user-images.githubusercontent.com/12907032/176171805-8e6df139-57dc-40fb-aa79-3cb35c849121.png)

[2022-06-28 12:15] disconnect3d commented on #1026
Hm... can you try disabling some functionality/commenting out files or adding prints to see if it is about them?

[2022-07-08 21:38] nicolaipre opened #1028 "Add support for bad char/bad bytes comparisons similar to what mona has"
As discussed in the pwndbg Discord server with disconnect3d, I am writing this FR.

It would be nice if there was a bad char comparison function in pwndbg that is equivalent to monas `cmp` command:
[code]
In the example above, the bytearray.bin contain bytes from 0x00-0xff / the payload you send. The cmp command will then compare this byte array with a specific memory address (or better yet, searc

[2022-07-12 01:32] wallds commented on #1026
https://github.com/pwndbg/pwndbg/blob/f2fcc95c64f97f6fa27c0b4d845c806b152ed30b/pwndbg/__init__.py#L140
![1](https://user-images.githubusercontent.com/12907032/178386477-f161593f-cbab-4d9d-bddb-11c96981ac47.gif)

Thanks for your guidance, I found the code that triggered the problem, but it seems to be a problem with `GDB` or `vscode-cpptools`.

[2022-07-12 01:32] #1026 closed, assigned to nobody

[2022-07-15 05:19] another1024 opened #1031 "error on ubuntu 22.04"
i get some error

+ git submodule update --init --recursive
+ gdb -batch -q --nx -ex pi import platform; print(".".join(platform.python_version_tuple()[:2]))
+ PYVER=3.10
+ gdb -batch -q --nx -ex pi import sys; print(sys.executable)
+ PYTHON+=/usr/bin/python
./setup.sh: 142: PYTHON+=/usr/bin/python: not found

could you help me?i have python on /usr/bin/python but it not work